---
order: 719
title: Урок 19
subtitle:
  - Продолжаем изучать звуки абхазского языка (ҽ, ҿ)
  - Работа с лексикой
  - Числительные
---

<p>{% include audio.html file="19-1" %} ҽ, ҿ; ҽ, ҿ</p>

<blockquote>Новые слова и выражения.</blockquote>

<p>
аҽы-\ аҽа- возвратная частица (а́ҵәахра прятать аҽы́ҵәахра прятаться)
азыҟаҵара готовить (к чему-либо) аҽазыҟаҵара готовиться (к чему-либо)<br />
аҽа́ршьцылара упражнение. Ари́ аҽа́ршьцылара цәгьо́уп. Это упражнение трудное.<br />
аҽа́ршьцылара упражняться. Сара́ сҽасы́ршьцылоит. Я упражняюсь.<br />
амҿы́ша воскресенье. Иахьа́ меы́шоуп. Сегодня воскресенье.<br />
ҿаҩраҭага́лан осень. Ҽаҩраҭага́лан а́ҵлақәа рыбҕьы́ каҧсо́ит.
Осенью с деревьев осыпаются листья.<br />
аҽы́ҧсахра изменяться.<br />
аҿа́р молодежь.<br />
аҿаҳәара́ завязывать, связывать.<br />
аҿыҭра́ звать.<br />
аҿы́хра рвать, срывать (о фруктах, ягодах).<br />
аҿы́ц новый. Иахьа́ ашәҟәы́ ҿыц сзаа́рхәеит. Сегодня мне купили новую книгу.<br />
ҿыц снова, заново. Сара́ ҿыц аҽазыҟаҵара са́лагеит. Я снова стал готовиться.<br />
агәы́ла сосед(ка). Ҳара́ ҳгәы́ла илы́хьӡуп На́зи. Нашу соседку зовут Нази.<br />
аба́ҳча сад. Наа́ла ҳба́ҳчаҟны ашәы́р ҿы́лхуеит. Наала рвет фрукты в нашем саду.<br />
аҿы́ в, у.<br />
аҿы́зара заниматься (чем-либо).
</p>

<blockquote>Прочитайте и запомните текст!</blockquote>

<p>
{% include audio.html file="19-2" %}
Ице́ит а́ҧхын. Иааи́т ҿаҩраҭага́лан. Аҿа́р зегьы́ аҵара́ цара́ иаҿуп.
Аӡәы́ ашко́л ахь дце́ит, аӡәы́ ауниверсите́т ахь. Наа́лагьы ауниверсите́т
ахь аҭалара́ лҽазы́ҟалҵон, ашәҟәы́ дры́ҧхьон, аҽа́ршьцыларақәа лыҩуа́н.
Наа́ла лашьа́ Миза́н а́ҧсшәа́ (и)бзиа́ны издырӡо́м, азы́ ргәы́ла На́зи
дазыҟалҵон. Миза́н аҽазыҟаҵара́ иҭахӡа́м. «Миза́н, урҵаҩы́ дааи́т!» -
ҳәа На́зи изҿы́лҭуеит, иара́ ишәҟәқәа́ иҵәахуе́ит, иаргьы́ аба́ҳчаҿы
(&lt; аба́ҳча аҿы́) иеи́ҵәахуеит. Наа́ла «Миза́н, уааи́!» - ҳәа изҿы́лҭуеит,
иара́ ашәыр ҿи́хуеит, дааӡо́м. Наа́ла Миза́н иа́лҳәеит: «Миза́н,
уҽу́ҧсахроуп, ау́сура уҽау́ршьцылароуп»!
<br />
На́зи Миза́н изы́ ашәҟәы́ ҿыц аалге́ит. Миза́н уи́ ашәҟәы́ игәаҧхе́ит,
уи́ҿыц а́ҧсшәа аҵара́ да́лагеит.
</p>

<p>
Прошло (ушло) лето. Пришла осень. Вся молодежь учится (букв. занимаются
учебой). Кто-то пошел в школу, кто-то в университет. И Наала готовилась
поступить в университет: читала книги, писала упражнения. Брат Наалы
Мизан, плохо владеет абхазским языком, поэтому соседка Нази его готовит.
Мизан не желает готовиться. «Мизан, твоя учительница пришла!» – зовет
его Наала, а он прячет свои книги и сам прячется в саду. Наала зовет
«Мизан, иди сюда» а он рвет фрукты и не идет. Наала сказала Мизану:
«Мизан, ты должен измениться, ты должен приучиться к работе (труду)».
Нази принесла для Мизана новую книгу. Мизану эта книга понравилась, он
снова начал изучать абхазский язык.
</p>

<blockquote><b>Числительные</b></blockquote>

<p>
Числительные абхазского языка (как и глаголы) различают класс человека
(одушевленных) и класс неодушевленных. Только здесь нет подкласса
мужчин и подкласса женщин. В этом уроке мы познакомимся с числительными
класса неодушевленных. Система счета в абхазском языке отличается от
известной Вам десятиричной системы. В абхазском двадцатиричная система.
</p>

<p>
Вам необходимо запомнить систему первой двадцатки, в дальнейшем система
повторяется.
</p>

<table border="1" cellpadding="4" cellspacing="0">
<tr><td>акы́</td><td>1</td><td>ҩажәи акы́</td><td>21</td><td>ҩынҩажәи акы</td><td>41</td></tr>
<tr><td>ҩба́</td><td>2</td><td>ҩажәи ҩба́</td><td>22</td><td>ҩынҩажәи ҩба</td><td>42</td></tr>
<tr><td>хҧа</td><td>3</td><td>ҩажәи хҧа́</td><td>23</td><td>ҩынҩажәи хҧа</td><td>43</td></tr>
<tr><td>ҧшьба́</td><td>4</td><td>ҩажәи ҧшьба́</td><td>24</td><td>ҩынҩажәи ҧшьба</td><td>44</td></tr>
<tr><td>хәба́</td><td>5</td><td>ҩажәи хәба́</td><td>25</td><td>ҩынҩажәи хәба</td><td>45</td></tr>
<tr><td>фба́</td><td>6</td><td>ҩажәи фба́</td><td>26</td><td>ҩынҩажәи фба</td><td>46</td></tr>
<tr><td>быжьба́</td><td>7</td><td>ҩажәи быжьба́</td><td>27</td><td>ҩынҩажәи быжьба</td><td>47</td></tr>
<tr><td>ааба́</td><td>8</td><td>ҩажәи ааба́</td><td>28</td><td>ҩынҩажәи ааба</td><td>48</td></tr>
<tr><td>жәба</td><td>9</td><td>ҩажәи жәба</td><td>29</td><td>ҩынҩажәи жәба</td><td>49</td></tr>
<tr><td>жәаба́</td><td>10</td><td>ҩажәижәаба</td><td>30</td><td>ҩынҩажәижәаба</td><td>50</td></tr>
<tr><td>жәеиза́</td><td>11</td><td>ҩажәи жәеиза́</td><td>31</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаҩа</td><td>12</td><td>ҩажәи жәа́ҩа</td><td>32</td><td>и т.д.</td><td>&nbsp;</td></tr>
<tr><td>жәаха́</td><td>13</td><td>ҩажәи жәа́ха</td><td>33</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәиҧшь</td><td>14</td><td>ҩажәи жәи́ҧшь</td><td>34</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәохә</td><td>15</td><td>ҩажәи жәо́хә</td><td>35</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаф</td><td>16</td><td>ҩажәи жәаф</td><td>36</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәибыжь</td><td>17</td><td>ҩажәи жәибыжь</td><td>37</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаа</td><td>18</td><td>ҩажәи жәаа</td><td>38</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>зеи́жә</td><td>19</td><td>ҩажәи зеижә</td><td>39</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>ҩажәа́</td><td>20</td><td>ҩынҩажәа</td><td>40</td><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>

<p>
<b>Упражнение 1</b><br />
Раскройте скобки, употребив глагол в указанной временной форме.
</p>
<p>
1. Аҿар аҵара (аҿызаара). (наст. стат.)<br />
2. Кама Наала (аҳәара): «Наала, ашәҟәы (и)аага!» (прош. сов.)<br />
3. Мизан аҧсшәа бзианы (адырра). (наст. дин.)<br />
4. Наала ашкол ахь ацара (аҽазыҟаҵара). (прошед. несов.)<br />
5. Кама уаҵәы абаҳчахь дцап, аҵәа (аҿыхра). (буд.)<br />
6. Мизан аҧсшәа аҵара (алагара). (прош. сов.)<br />
7. Ҽаҩраҭагалан абҕьыкәа (акаҧсара). (наст. дин.)<br />
<small><a href="answers7#e19-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Перед Вами утвердительные предложения. Внесите соответствующие
изменения так, чтобы они стали отрицательными.
</p>
<p>
Образец: Ахәыҷы ҿиҭәуеит. Ахәыҷы ҿиҭәуам \ ҿиҭӡом.<br />
Ари аҽаршьцылара аҟаҵара (и)цәгьоуп.<br />
Сара саб ашәҟәы игәаҧхеит.<br />
Мизан аҧсшәа бзианы идыруеит.<br />
Дамеи ашкол ахь дцоит.<br />
Сара ауниверситет аҿы аус зуан.<br />
<small><a href="answers7#e19-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
Найдите ошибку и исправьте ее!
</p>
<p>
Наала ауниверситет ахь ацара беазыҟабҵон.<br />
Мизан иан ашәҟәы ҿыц иааигеит.<br />
Сашьа сышәҟәы исҵәахит.<br />
Дара аҧсшәа аҵара ҳаҿуп.<br />
Ахра абаҳчаҿы аҵәақәа (и)ҿырхуеит.<br />
Саҳәшьа аҽаршьцыларақәа рыҩуан.<br />
<small><a href="answers7#e19-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 4</b><br />
Вычеркните в строке слово, не совпадающее, по вашему мнению, с
остальными словами по смыслу.
</p>
<p>
а) адҵа, аҽаршьцылара, ашәҟәы, аҟәара;<br />
б) аҩыза, асы, агәыла, аҵаҩы;<br />
в) абаҳча, аҿар, ацәа, абҕьы;<br />
г) аҩны, ааҧын, аҧхын, Ҽаҩраҭагалан;<br />
гь) аҿыц, ацәгьа, аба, ара.<br />
<small><a href="answers7#e19-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
Что делают люди на рисунках? Воспользуйтесь подсказками под данными
рисунками.
</p>
<p>
1. Аиашьа, аус аура. (Рис. № ...)<br />
2. Ашәҟәы, аагара, Марҭа. (Рис. № ...)<br />
3. Ашәҟәы, аҧхьара, аҵаҩы. (Рис. № ...)<br />
4. Аҩызцәа, аҽазыҟаҵара. (Рис. № ...)<br />
5. Аҿыҭра, агәыла. (Рис. № ...)<br />
</p>

<table>
<tr>
<td><img src="/assets/img/19-1.png" width="327" height="400" border="1" alt="Рис. 1" /><br />Рис. 1</td>
<td><img src="/assets/img/19-2.png" width="248" height="400" border="1" alt="Рис. 2" /><br />Рис. 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/19-3.png" width="936" height="400" border="1" alt="Рис. 3" /><br />Рис. 3</td>
</tr>
<tr>
<td><img src="/assets/img/19-4.png" width="451" height="400" border="1" alt="Рис. 4" /><br />Рис. 4</td>
<td><img src="/assets/img/19-5.png" width="444" height="400" border="1" alt="Рис. 5" /><br />Рис. 5</td>
</tr>
</table>

<p>
<b>Упражнение 6</b><br />
Переведите на абхазский язык.
</p>
<p>
Вся молодежь учится.<br />
Летом Наала читала книги, писала упражнения.<br />
Мизан не владеет абхазским. Мальчик не хочет готовиться. Наала зовет:
«Мизан, иди сюда, пришла твоя учительница!» Ахра хочет выучить
абхазский язык.<br />
«Чем ты занят?» «Готовлюсь поступить в университет: читаю книги, пишу
упражнения».<br />
<small><a href="answers7#e19-6">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 7</b><br />
Составьте диалог: Вы встретили друга, он учится в университете, учит
абхазский язык, поговорите с ним об учебе. Не забудьте поздороваться и
попрощаться!
</p>
