---
order: 515
title: Урок 15
subtitle:
  - Продолжаем изучать звуки абхазского языка (шә, жә)
  - Работа с лексикой
  - Закрепление
---

<blockquote>Новые слова и выражения.</blockquote>

<p>{% include audio.html file="15-1" %}
шәара' вы (II лицо множественного числа), Вы
форма вежливого обращения. (Краткая
форма шә(а)-). Шәара шәабацои? Куда вы
идете?<br />
ашǝахьа' понедельник. Уаҵǝы' шәахьо'уп.
Завтра понедельник.<br />
ашәҟәы' книга. Ари' ашәҟәы' сҩы'за иси'ҭеит. Эту
книгу мне дал мой друг.<br />
а'шәтра цвести (ишәҭуе'ит, ишәҭи'т). А'ҵлақәа
шәҭит. Деревья расцвели.<br />
ашәҭ цветок. Ашәҭ шәҭит. Цветок расцвел.<br />
ашәҵара' одевать, надевать. Наа'ла аҵкы'
ҟаҧшь лшәы'лҵеит. Наала надела красное
платье.<br />
ашәы'хра снять, снимать (одежду). Наа'ла
лыҵкы' ҟаҧшь лшәы'лхит. Наала сняла свое
красное платье.<br />
а'ҧсшәа абхазский язык (синоним а'ҧсуа
бызшәа')<br />
а'ҧсшәа аҳәара' здороваться. А'ҧсшәа сҳәе'ит. Я
поздоровался. А'ҧсшәа иа'ҳҳәеит. Мы
поздоровались с ним. А'ҧсшәа еибы'рҳәеит.
(Они) поздоровались (друг с другом).
А'ҧсшәа еиба'ҳҳәеит. Мы поздоровались.<br />
ашәы'р фрукты. Ашәы'р ҟале'ит. Фрукты
созрели.<br />
а'жәа слово<br />
жәацы' позавчера<br />
а'жера пить. Аҩы' зжәуе'ит. Я пью вино.<br />
ажәра' варить. Акәа'ц (и)зжәйт. Я сварил мясо.<br />
а'аҧын весна. Иаа'ит аа'ҧын. Пришла весна.<br />
аха' но, однако</p>

<p>
  <i class="fas fa-bolt important-material"></i>
  Запомните пословицу!<br />
  <p class="hide-audio">{% include audio.html file="15-2" %}
  <b>Ажәаҭҟьеи – ахыҭҟьеи.</b> Шальное слово (невольно
вырвавшееся, необдуманное слово) - шальная пуля.
</p>

<p>
  <i class="fas fa-bolt important-material"></i>
Перед звонкими согласными показатель
второго лица мн. числа шә(а) переходит в
звонкое жә(а), напр., и<b>жә</b>гоит &lt;ишәгоит
«берете»</p>

<blockquote>
Прочитайте и запомните!
</blockquote>

<p>{% include audio.html file="15-3" %}
Иаа'ит а'аҧын. Аҳа'уа ҧхе'ит. Ишәҭи'т
а'шәҭқәа. Исшәы'з апа'лта ҧха сшәы'схит, аха'
исшәы'сҵара сызды'рам.<br />
Иахьа' шәахьо'уп, ау'сура сца'роуп<br />
Жәацы' сырҵаҩы' дызбе'ит. А'ҧсшәа
еиба'ҳҳәеит. Уи' ашко'л аҟны' а'ҧсуа бызшәа'
(а'ҧсшәа) ҳирҵо'н. Сара' сиа'зҵааит: -
Шәаба'цои? - ҳәа. - Абиблиоте'кахь сцо'ит -
иҳәе'ит. Дырми'т Гәли'а ишәҟәы' сҭаху'п ҳәа
се'иҳәеит. – Уи ашәҟәы' сара' исы'моуп, сара'
ишәы'сҭоит - ҳәа иасҳәеит. Уаҵәы' уи ашәҟәы'
и'сҭоит.</p>

<p>
Пришла весна. Воздух стал теплым.
Цветы расцвели. Я снял теплое пальто,
которое одевал, однако не знаю, что одеть.
Сегодня понедельник, Я должен идти на
работу. Позавчера я видел своего учителя. Мы
поздоровались. Он учил нас в школе
абхазскому языку. Я спросил его «Куда Вы
идете»? Я иду в библиотеку, сказал он. Он
сказал, что мне книга Дмитриа Гулия нужна. Я
ему сказал: «Эта книга есть у меня, я ее Вам
дам». Завтра я отдам ему эту книгу.
</p>

<p>
<b>Упражнение №1</b><br />
Переведите на абхазский язык.
</p>
<p>
1. Я учу абхазский язык.<br />
2. Я люблю абхазский язык.<br />
3. Эту книгу мне дала моя учительница.<br />
4. Сегодня понедельник.<br />
5. Куда вы идете?<br />
6. Мы идем на работу.<br />
7. Астанда учится в нашем классе.<br />
8. Что случилось позавчера?<br />
9. Вчера я видел Ахру.<br />
10. Женщина сварила мясо.<br />
<small><a href="answers5#e15-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №2</b><br />
Вставьте пропущенные буквы.
</p>
<p>
сара и...жәуеит<br />
уара и...жәуеит<br />
бара и...жәуеит<br />
иара и...жәуеит<br />
лара и...жәуеит<br />
иара(кл.неодуш.) и...жәуеит<br />
<small><a href="answers5#e15-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №3</b><br />
Согласуйте слова левой колонки
со словами из правой колонки.
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>yapa</td><td>сабацои?</td></tr>
<tr><td>бара</td><td>бабацои?</td></tr>
<tr><td>иара</td><td>дабацои?</td></tr>
<tr><td>шәара</td><td>уабацои?</td></tr>
<tr><td>ҳара</td><td>ҳабацои?</td></tr>
<tr><td>capa</td><td>шәабацои?</td></tr>
</table>
<small><a href="answers5#e15-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №4</b><br />
Из трех предложенных вариантов
выберите один правильный.
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>ашәахьа</td><td>шәабацои?<br />дҳақьымуп<br />дыццакуеит</td></tr>
<tr><td>аҵәа</td><td>ҵәыҵәуп<br />жәацы<br />дҵәуеит</td></tr>
<tr><td>ашәҟәы</td><td>ҭынчуп<br />бзиоуп<br />ҧхоуп</td></tr>
<tr><td>ашәҭ</td><td>днаскьалгон<br />дылбеит<br />(и)шәҭит</td></tr>
<tr><td>аҵкы</td><td>ицароуп<br />бшәыбҵеит<br />ҵааит</td></tr>
<tr><td>аҧсшәа</td><td>(иа)ҳҵоит<br />сынхоит<br />ҳҵоит</td></tr>
</table>
<small><a href="answers5#e15-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №5</b><br />
Вы любите весну? Опишите это время
года. Используйте лексику урока.
</p>

<p>
<b>Упражнение №6</b><br />
Раскройте скобки.
</p>
<p>
1.Уи ашәҟәы сара (амазаара).<br />
2.Уаҵәы шәахьоуп, аусурахь (ацара)
(долженствование).<br />
3. Кама Ахра аҧсшәа (аҳәара).<br />
4. Наала аҵкы ҟаҧшь (ашәҵара).<br />
5. Ашәҭқәа (ашәҭра).<br />
6. Жәацы сырҵаҩы (абара).<br />
7. Лара ашкол аҟны аҧсшәа (аҵара).<br />
8. Сара аҧсуа бызшәа (бзиа абара).<br />
<small><a href="answers5#e15-6">(Ответы)</a></small>
</p>
