---
title: Урок 10
order: 410
---

<dl>
<dt>Содержание
урока:</dt>
<dd>Продолжаем изучать звуки абхазского языка.
Ҩ</dd>
<dd>Работа с лексикой.</dd>
<dd>Закрепление.</dd>
</dl>

<p>
Новые
слова
и
выражения.
</p>

<p>{% include audio.html file="10-1" %}
аҩны' дом.
Сыҩны'
ана'
игы'лоуп.
Мой
дом
стоит
там.<br />
аҩна'лара
входить
в
помещение;
поселиться.
Наа'ла
аҩны
дыҩна'леит.
Наала
вошла
в
дом.<br />
аҩы'за друг.
Ахра
дҩы'за
бзи'оуп.
Ахра
хороший
друг.<br />
а'мҩа дорога.
Ари'
а'мҩа
сқы'ҭахь
ицо'ит.
Эта
дорога
идет
в
мое
село.<br />
аҩы' вино.
Ари'
агьа'ма
бзи'оуп.
У
этого
вина
хороший
вкус.<br />
аҩра' писать.
Асҭа'нда
дыҩуе'ит.
Астанда
пишет.<br />
а'ҩра бегать.
Даме'и
ды'ҩуеит.
Дамей
бегает.<br />
ауаҩы' человек.
Ари'
ауаҩы'
сара'
дызды'руеит.
Этого
человека
я
знаю.<br />
аҩе'жь желтый.
Абҕьы'
ҩе'жьхеит.
Лист(ья)
пожелтел(и).<br />
аҩа'ша вторник.
Иахьа'
ҩа'шоуп.
Сегодня
вторник.
Аҩа'шазы
саауе'ит.
Я
приеду
(приду)
во
вторник.<br />
уа там.<br />
а'уп (о'уп) есть
(глагол
связка).
Ари'
сҩы'за
А'сҭамыр
ио'уп.
Это
–
(есть)
мой
друг
Астамур.
Ари'
Кама
лоуп.
Это
(есть)
Кама.<br />
-уп суффикс,
со
значением "есть".
Ари'
ҩнуп.
Это
(есть)
дом.<br />
-о'уп суффикс
со
значением
долженствования.
Изга'роуп
Я
должен
взять.
Илба'роуп
Она
должна
(это)
видеть.
Даа'роуп
он(а)
должен
/
должна
при-быть
/
приехать.<br />
ҭага'лан осень.
Ҭага'лан
абҕьы'
ҩе'жьхоит.
Осенью
листья
желтеют.<br />
а'ҧхын лето.
А'ҧхын
амшы'н
ахь
сцало'ит.
Летом
я
хожу
на
море.
</p>

<blockquote>Запомните
эти
выражения.</blockquote>

<p>{% include audio.html file="10-2" %}
Ҭага'лан
абыҕьқәа'
ҩе'жьхоит.
Иара'
дҩы'за
бзи'оуп.
Лара'
аҩра'
бзи'а
илбо'ит.
Сара'
сы'қалақь
бзиа
избо'ит.
Ари'
а'қалақь
сара'
бзи'а
избо'ит.
Ара'
сыҩны'
гы'лоуп.
Сыҩны'
ахьгы'лоу
аҭы'ҧ
бзи'оуп.
Даме'ии
иашьеи'
и'иҩуа
амшы'н
ахь
ице'ит.
Гәди'са
аҩны'
дыҩна'леит.
Ари
аҩы'
ага'ма
бзи'оуп.
Иахьа'
ҩа'шоуп,
сара'
ау'сура
сца'роуп.
А'ҧхын
амшы'н
ахь
сцало'ит.
Ари'
а'мҩала
сыҩнахьы'
уне'иуеит.
Ари'
ақьаа'д
бҕьыц
ҩе'жьуп.
Ауаҩы'
аҩны'
дыҩна'леит.
А'дгәыр
дуаҩы'
ҭы'нчуп.
</p>
<p>
Осенью
листья
желтеют.
Он
хороший
друг.
Она
любит
писать.
Я
люблю
свой
город.
Я
люблю
этот
город.
Здесь
стоит
мой
дом.
Место,
где
стоит
мой
дом
хорошее.
Дамей
и
его
брат
бегом
ушли
на
море.
Гуди'са
вошел
в
дом.
У
этого
вина
хороший
вкус.
Сегодня
вторник,
я
должен
пойти
на
работу.
Летом
я
хожу
на
море.
Этой
дорогой
придешь
к
моему
дому.
Этот
листок
бумаги
–
желтый.
Человек
вошел
в
дом.
Адгур
спокойный
человек.
</p>

<p>
<b>Упражнение 1</b><br />
Раскройте
скобки.
</p>
<p>
1.
Бара
ара
(аанхара)?
2.
Сара
(аҩны,
ана,
агылара).
3.
Уара
(акрыфара).
4.
Асмаҭ
амшын
ахь
(ацара).
5.
Асҭанда
(ианба
+
аара)?
6.
Уара
(иаба
+
аццакра).
7.
Ари
(аҩыза,
Асҭамыр,
ауп).
8.
Иара
(аҧхьара).
9.
Ари
(ақалақь,
+
суффикс
-уп).
10.
Лара
(адырра).
11.
Бара
сашьа
(бзиа
абара).
12.
Ауаҩы
аҩны
(аҩналара).
13.
Лара
амшын
ахь
(ацара,
-оуп
/долженствование/).
14.
Абри
(ақьаад,
сара,
агара,
-оуп
/долженствование/).
15.
Ахра
(аҩыза,
абзиа,
оуп).<br />
<small><a href="answers4#e10-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Переведите
на
абхазский.
</p>
<p>
1.
Он
ест.
2.
Она
должна
пойти
на
море.
3.
Добрый
день.
4.
Я
иду
в
город.
5.
Он
мой
лучший
друг.
6.
Я
его
люблю.
7.
Желтые
листья.
8.
Я
на
него
похож.
9.
Он
ушел?<br />
<small><a href="answers4#e10-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
Переведите
на
русский.
</p>
<p>
1.
Лара
даҧхьоит.
2.
Сара
сыҩны
бзиа
избоит.
3.
Сара
аҩашазы
сцоит.
4.
Уара'
ибзи'аны
уҩуе'ит.
5.
Иара'
ибзи'аны
ды'ҩуеит.
6.
Сара
исҭахуп
абри
аҩны
сыҩналарц.
7.
Абыҕьқәа
ҩежьхеит.
8. Сара
аҩыза
бзиа
дсымоуп.
9.
Иара
абри
дыҩналеит.
10.
Аҩашазы
сашьа
даауеит.
11.
Сла
акәац
амфеит.
12.
А'ҧхын
амшы'н
ахь
сцало'ит.
13.
А'дгәыр
аҩа'шазы
даауе'ит.<br />
<small><a href="answers4#e10-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 4</b><br />
Совместите
начало
и
конец
предложения.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr>
<td>Ари сҩыза<br />
Ари сыҩны<br />
Иахьа ҩашоуп<br />
Сара лара<br />
Лара аҩыза бзиа<br />
Ҭагалан<br />
Ари амҩала<br />
Аҧша</td>
<td>гылоуп<br />
сара
аусурахь
сцароуп<br />
Асҭамыр
иоуп<br />
длымоуп<br />
бзиа
дызбоит<br />
абҕьы
ҩежьхоит<br />
(и)ҕәҕәаны
иасуеит<br />
сыҩнахьы
бнеиуеит</td>
</tr>
</table>
<small><a href="answers4#e10-4">(Ответы)</a></small>

<p>
<b>Упражнение 5</b><br />
Отметьте
услышанное
и
переведите
на
русский
язык.
</p>
<table>
<tr>
<td width="20">{% include audio.html file="10-3" %}</td>
<td width="20">1.</td>
<td>a) Сара
сықалақь
бзиа
избоит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Ари
ақалақь
бзиа
избоит.</td>
</tr>
<tr>
<td> </td>
<td>2.</td>
<td>a) Ари
сыҩны
гылоуп.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Ари
сыҩны
ауп.</td>
</tr>
<tr>
<td> </td>
<td>3.</td>
<td>a) Сара
иара
сиеиҧшуп.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Сара
лара
сиеиҧшуп.</td>
</tr>
<tr>
<td> </td>
<td>4.</td>
<td>a) Аҩашазы
сашьа
даауеит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Аҩашазы
сашьа
дааит.</td>
</tr>
<tr>
<td> </td>
<td>5.</td>
<td>a) Лара
амшын
ахь
дцароуп.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Лара
амшын
ахь
дцоит.</td>
</tr>
<tr>
<td> </td>
<td>6.</td>
<td>a) Иара
Кама
бзиа
дибоит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Иара
Кама
бзиа
дылбоит.</td>
</tr>
<tr>
<td> </td>
<td>7.</td>
<td>a) Ахра
ара
дыҩналеит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Ахра
ара
дыҩноуп.</td>
</tr>
<tr>
<td> </td>
<td>8.</td>
<td>a) Кама
аҩашазы
дцоит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Кама
аҩашазы
дцеит.</td>
</tr>
<tr>
<td> </td>
<td>9.</td>
<td>a) Иахьа
аусурахь
бцома?</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Иахьа
аусурахь
дцама?</td>
</tr>
</table>
<small><a href="answers4#e10-5">(Ответы)</a></small>

<p>
<b>Упражнение 6</b><br />
Перед
Вами
ряд
глаголов.
При
помощи
суффикса
-оуп
Вам
предлагается
придать
им
значение
долженствования.
</p>
<p>
Образец:<br />
ацара (сара)
- сцароуп<br />
агара (уара)<br />
абара (сара)<br />
ацара (иара (кл.
неодуш.))<br />
аара (бара)<br />
акрыфара (сара)<br />
аанхара (уара)<br />
аҧхьара (лара)<br />
алгара (сара)<br />
аццакра (бара)<br />
аҧшра (иара)<br />
<small><a href="answers4#e10-6">(Ответы)</a></small>
</p>
