---
order: 616
title: Урок 16
subtitle:
  - Продолжаем изучать звуки абхазского языка (ӡ, ӡә)
  - Местоимения множественного числа
  - Закрепление
wip: true
---

<p>{% include audio.html file="16-1" %}
ӡ ӡә; ӡ ӡә</p>

<blockquote>Новые слова и выражения.</blockquote>

<p></p>а'ӡҕаб девочка, девушка (синоним аҭыҧҳа' девушка).<br />
а'ӡра терять(ся), и'ӡит потерялось<br />
а'рӡра потерять. Исы'рӡит. Я потерял.<br />
аӡра' жарить. Изӡи'т. Я пожарил.<br />
а'ӡсара плавать. Иара дыӡсо'ит. Он плавает.<br />
а'ӡын зима. Иаа'ит а'ӡын. Пришла зима.<br />
аӡы' вода. Аӡы' хьшәа'шәоуп. Вода холодная.<br />
ахьӡ имя. Ари аӡҕаб лыхьӡ бдыруама? Ты знаешь, как зовут эту девочку?<br />
а'хьӡзаара называть, зваться. Сара' исы'хьӡуп Ахра.
Меня зовут Ахра. Уара' иу'хьӡуи? Как тебя зовут?<br />
ахьӡара' догнать. Сара' Наа'ла слыхьӡе'ит. Я догнал Наалу.<br />
аӡәы' один (класс человека); кто-то. Аӡәы дааит. Кто-то пришел.<br />
а'ӡәӡәара мыть; стирать (сыӡӡәо'ит, сыӡәӡәо'н).<br />
аа'хәара покупать (иаа'схәеит, иаа'схәон). Аҩны аа'схәеит. Я купил дом.<br />
а'хьшәашеа холодный (ихьшәа'шәоуп, ихьшәа'шәан).
Аҳа'уа хышәа'шәоуп. Воздух холодный.<br />
ахьшәа'шәахара становиться холодным. Ихьшәа'шәарахеит. Стало холодно.<br />
асы' снег. Асы' аура' идти, выпадать (о снеге).<br />
Иацы \ иецы асы ауит. Вчера выпал снег.<br />
А'ӡын асы' ауе'ит. Зимой выпадает снег.<br />
а'пшӡа красивый (иҧшӡо'уп, иҧшӡа'н)</p>

<p>{% include audio.html file="16-1" %}
Сара' сы'ӡҕаб иаа'лхәаз акаҳуа' (и)азоу'п. Сара'
изӡи'т уи акаҳуа'.<br />
Ари' аҭылҳа' ҧыӡа ибзи'аны дӡысо'ит.<br />
Ецы' иаа'схәаз ашәҟәы' (и)ы'ӡит.<br />
Ка'ма сышәҟәы' (и)лырӡит.<br />
А'ӡын аҳа'уа хьшәашәахоит.<br />
Сара' аӡы' хьшәа'шәа зжәит.<br />
Наа'ла дыӡәӡәо'ит.<br />
Ахра, уҧши' аӡәы даа'ит.<br />
А'ӡын асы' ауе'ит, аҳа'уа хьшәа'шәоуп.</p>

<p>Кофе, который купила моя дочка, сырой, я пожарил(а) это кофе.<br />
Эта красивая девушка хорошо плавает.<br />
Книга, которую я вчера купил, потерялась.<br />
Кама потеряла мою книгу.<br />
Зимой воздух становится холодным.<br />
Я выпил холодную воду.<br />
Наала стирает.<br />
Ахра смотри, кто-то пришел.<br />
Зимой выпадает снег, воздух холодный.</p>

<p><b>Местоимения множественного числа</b></p>
<p>{% include audio.html file="16-2" %}
Ҳapa мы (краткая форма ҳ(a)
Ҳара ҳаӡәӡәоит. Мы стираем.<br />
шәара вы, Вы (краткая форма шә(а). Шәара
шәӡысоит. Вы плаваете.<br />
дара они (краткая форма д(а); /p(a);/и(а). Дара
(и)аҧхьоит. Они читают.</p>

<p>
<i class="fas fa-bolt important-material"></i>
Напоминаем, что в переходных глаголах показатель
1-го лица множественного числа <b>ҳ</b> переходит в <b>а</b>.<br />
Днаскьа<b>ҳ</b>гоит > днаскьа<u>а</u>гоит.</p>

<p>Сара сцоит я иду<br />
уара уцоит ты (м) идешь<br />
бара бцоит ты (ж) идешь<br />
иара дцоит он (м) идет<br />
лара дцоит она идет<br />
иара (и)цоит это (кл. неод) идет<br />
ҳара ҳцоит мы идем<br />
шәара шәцоит вы идете<br />
дара (и)цоит они идут</p>

<p>сара исшәы'схуеит<br />
уара иушәы'ухуеит<br />
бара ибшәы'бхуеит<br />
иара ишәи'хуеит<br />
лара илшәы'лхуеит<br />
ҳара и<u>аҳ</u>шәа'ҳхуеит<br />
шәара ишәшәы'шәхуеит<br />
дара (и)ршәы'рхуеит</p>

<p>
<i class="fas fa-bolt important-material"></i>
Позиция между согласными и рядом с гласным <b>ы</b>
для звука <b><i>ҳ</i></b> нежелательна, поэтому рядом с ним часто
появляется гласный звук <b><i>а</i></b>.
Ср. акр<u>ыс</u>фоит, но
акр<u>ах</u>фоит.</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Если слово сложное (состоит из двух или более
корней), то показатели лица стоят как перед первым
корнем, так и перед вторым (И-С-шәы-С-хуеит, И-Л-шәы-Л-хуеит, И-аҲ-шәа-Ҳ-хуеит)</p>

<p>
<b>Упражнение №1</b><br />
Попробуйте дать соответствующие формы глагола,
подставив пропущенные буквы.</p>
<p>
<table>
<tr><td>сара и..боит</td><td>capa ..aaуеит</td></tr>
<tr><td>уара и..боит</td><td>yapa ..aaуеит</td></tr>
<tr><td>бара и..боит</td><td>бара ..аауеит</td></tr>
<tr><td>иара и..боит</td><td>иара ..aaуеит</td></tr>
<tr><td>иара (кл.неод и..боит)</td><td>иара (кл.неод.) аауеит</td></tr>
<tr><td>лара и..боит</td><td>лара ..аауеит</td></tr>
<tr><td>ҳара и..боит</td><td>ҳара ..аауеит</td></tr>
<tr><td>шәара и..боит</td><td>шәара ..аауеит</td></tr>
<tr><td>дара и..боит</td><td>дара ..аауеит</td></tr>
</table>
<small><a href="answers6#e16-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №2</b><br />
Подберите подходящий глагол к местоимениям.</p>
<p>
<table>
<tr><td>шәара</td><td>изгоит</td><td>capa</td><td>ишәымоуп</td></tr>
<tr><td>capa</td><td>иргоит</td><td>yapa</td><td>илымоуп</td></tr>
<tr><td>лара</td><td>иугоит</td><td>шәара</td><td>исымоуп</td></tr>
<tr><td>дара</td><td>иаагоит</td><td>дара</td><td>иҳамоуп</td></tr>
<tr><td>yapa</td><td>ибгоит</td><td>лара</td><td>иумоуп</td></tr>
<tr><td>ҳара</td><td>илгсит</td><td>бара</td><td>ибымоуп</td></tr>
<tr><td>бара</td><td>ижәгоит</td><td>ҳара</td><td>ирымоуп</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>иара</td><td>имоуп</td></tr>
</table>
<small><a href="answers6#e16-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №3</b><br />
Раскройте скобки.
</p>
<p>
1. Ҳара ара (анхара).<br />
2. Шәара (ацара)?<br />
3. Дара аҩны (аахәара).<br />
4. Сара сыӡҕаб акаҳуа (аӡpa).<br />
5. Шәара сышәҟәы (арӡра).<br />
6. Дара иахьа (аара).<br />
7. Ҳара ала (амазаара).<br />
8. Ҳара (акрыфара), шәара (аӡәӡәара).<br />
9. Ҳара уацәы ақыҭахь (ацара).<br />
10. Дара ашкол (алгара).<br />
<small><a href="answers6#e16-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №4</b><br />
Из трех вариантов лишь один правильный.<br />
Найдите его!<br />
<table>
<tr>
<td>ҳара</td>
<td>а) иалгоит<br />
б) ҳалгоит<br />
в)шәалгоит</td>
</tr>
<tr>
<td>шәара</td>
<td>а) унхоит<br />
б) инхоит<br />
в) шәынхоит
</td>
</tr>
<tr>
<td>дара</td>
<td>a) (a)крышәфоит<br />
б) (а)краҳфоит<br />
в) (а)крырфоит
</td>
</tr>
<tr>
<td>yapa</td>
<td>а) иуҭахуп<br />
б) ирҭахуп<br />
в) ишәҭахуп
</td>
</tr>
</table>
<small><a href="answers6#e16-4">(Ответы)</a></small>
</p>

---

<p>
<b>Упражнение №5</b><br />
Переведите на русский язык.
1. Азын (и)хьшәашәарахоит. 2. Асы ауеит, аҳа-
ya (и)хьшәашәоуп, аха ицқьоуп. 3. Сара бзиа
избоит азын. Шәара бзиа ижәбома азын? 4.
Иецы Баграт Шьынқәба ишәҟәы аасхәеит, уи
алхьара салагеит. 5. Сара уи ашәҟәы сыман, аха
Адгәыр ирзит. 6. Дара ара аоны аархәеит. 7. Ари авто-
110
бус (и)абацои? 8. Ари автобус Очамчырака ицоит. 9.
Шәара шǝабацои? 10. Алхын Наалеи Камеи амшын
ахь ицалоит. 11. Атыпҳацәа бзиа ирбоит азсара. 12.
Аҟәа зынгыы пхынгьы (ескьынгьы) ипшзоуп. 13. Ари
атыпҳа илыхьзуп Нази. 14. Бара ибыхьзуи? 15. Наала
аусурахь дцон, уи дыццакун, аха сара слыхьзеит.

<p>
<b>Упражнение №6</b><br />
Прослушайте диктора. Какую из двух предло-
женных фраз он произносит и отметье ее (√).
1. а) Азгаб дызсоит
б) Азгаб дызит
2. а) Ашәҟәы (и)ызит
б) Ашәҟәы лырзит
3. а) Азәы дырбеит
б) Азәы даабеит
4. а) Кама илзит
б) Кама илырзит
5. a) Аоны аасхәеит
б) Аоны аархәеит
6. а) Шәара шәызбоит
б) Шәара шәызгоит
7. а) Азы аауеит
б) Азәы даауеит
8. а) Ҳара иаабоит
б) Ҳара иаагоит

<p>
<b>Упражнение №7</b><br />
Вернитесь, пожалуйста, к упражнению №6.
Перед Вами пары предложений. Вам нужно оп-
ределить субъект (лицо) действия.
Например: Азәы дызбеит (Я кого-то увидел).
Действие происходит от меня: «Я увидел».
111
->
Следовательно, пишем: Азәы дызбеит са-
ра. Азеы дырбеит → дара.

<p>
<b>Упражнение №8</b><br />
В каждом из приведенных предложений есть
ошибка. Вам предлагается найти ее и испра-
вить.
1. Хара ашта дҭалоит. 2. Шәара нас хцома? 3. Наала
иецы ацкы ирызәзәеит. 4. Дара ана дыҟоуп. 5. Хара
апара иааргеит. 6. Дамеи, уонал. - Мамоу, дыццак-
уеит. 7. Шәара арашазы уаауама? 8. Ҳара аҳакьым
Дааргеит.

<p>
<b>Упражнение №9</b><br />
А теперь, используя Вашу активную лексику, по-
пробуйте рассказать о Вашем сегодняшнем дне.
Для начала: Сара иахьа шьыжьымҭан сгылеит.
Нас крысфеит... и т.д.
У Вас должно получиться!

<p>
<b>Упражнение №10</b><br />
Составьте предложения из данных слов.
Хара, ача, шәара, аахәара, ацара, дара, ақалақь, ахь,
aapa.
Целенаправленные старания всегда приносят
свои плоды!
Впереди вас ждет Урок №17. Абзиараз!
112
