---
order: 617
title: Урок 17
subtitle:
  - Временные формы глагола
---

<p>
Мы знаем уже три временные формы абхазского языка:<br />
настоящее 1 (статических глаголов) -уп<br />
настоящее II (динамических глаголов) -оит\\-уеит<br />
прошедшее совершенное -ит.
</p>

<p>
Познакомимся и с другими временными фор-
мами.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Прошедшее <i>несовершенное</i></b> время образуется при помощи
суффикса <b><i>–он:</i></b> иҟаиҵ<b>он</b>
он делал, исф<b>он</b> я ел.<br />
<i class="fas fa-check grammar-rule"></i>
В прошедшем совершенном (с суффиксом -ит)
мы имеем совершенное действие, конечный результат.
В прошедшем несовершенном конечный результат отсутствует.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Запомните пословицу!<br />
<span>{% include audio.html file="17-1" %}</span>
«Ан лыҧҳа' дла'бжь<b>он</b>, аҧҳа' а'мҵқәа
лыҧхьаӡ<b>о'н</b>.
Мать свою дочь поучала, а дочь мух считала.
</p>

<p>
<b>Прошедшее <i>неопределенное</i></b> время образуется при помощи суффикса <b><i>-н</i></b><br />
Данная временная форма в предложении самостоятельно почти не используется.
Она употребляется в связи с другой временной формой.
Несамостоятельность ее вытекает из-за незавершенности значения,
которая она придает глаголу.<br />
Ср.: изга'н я брал(а) и...; ибфа'н ты (по)ел(а) и...
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Будущее</b> время образуется при помощи
суффикса <b><i>-п:</i></b> иҟасҵа'<b>п</b> я сделаю;
исфа'<b>п</b> я
съем; изҩы'<b>п</b> напишу, сца'<b>п</b> пойду.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Напоминаем! Если основа глагола заканчивается на <b><i>-а</i></b>
то по правилам фонетики абхазского языка сочетание <b><i>-aya</i></b> (a+суфф.-уа(ит))
дает <b><i>-уо</i></b> или <b><i>–o. (a+ya//ay+a = oy//o).</i></b><br />
Сочетания <b><i>иa, aи, аиа</i></b> дают варианты <b><i>иe, eи, e.</i></b>
</p>

<table width="400">
<tr><th>Таблица временных форм</th></tr>
</table>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<th>Временные формы</th>
<th>суффиксы</th>
<th>примеры</th>
</tr>
<tr>
<td>настоящее стат.</td>
<td>-уп</td>
<td>сгылоуп</td>
</tr>
<tr>
<td>настоящее динам.</td>
<td>-оит, -уеит</td>
<td>бгылоит, быҧшуеит</td>
</tr>
<tr>
<td>прошедшее сов.</td>
<td>-ит</td>
<td>уаҧхьеит, уҧшит</td>
</tr>
<tr>
<td>прошедшее несов.</td>
<td>-он</td>
<td>ибон, ифон</td>
</tr>
<tr>
<td>прошедшее неопр.</td>
<td>-н</td>
<td>илбан, илфан</td>
</tr>
<tr>
<td>будущее</td>
<td>-п</td>
<td>иҟасҵап, исфап</td>
</tr>
</table>

<p>
<b>Упражнение 1</b><br />
Впишите недостающие слова
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>настоящее стат.</td>
<td>сгы'лоуп стою, сио'уп лежу</td>
</tr>
<tr>
<td>настоящее динам.</td>
<td>...</td>
</tr>
<tr>
<td>прошедшее сов.</td>
<td>...</td>
</tr>
<tr>
<td>прошедшее несов.</td>
<td>...</td>
</tr>
<tr>
<td>прошедшее неопр.</td>
<td>...</td>
</tr>
<tr>
<td>будущее</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-1">(Ответы)</a></small>

<p>
<b>Упражнение 2</b><br />
Впишите недостающие слова
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>настоящее дин.</td>
<td>са'пхьоит читаю, сны'ҟәоит хожу, сыҩна'лоит вхожу</td>
</tr>
<tr>
<td>прошедшее сов.</td>
<td>...</td>
</tr>
<tr>
<td>прошедшее несов.</td>
<td>...</td>
</tr>
<tr>
<td>прошедшее неопр.</td>
<td>...</td>
</tr>
<tr>
<td>будущее</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-2">(Ответы)</a></small>

<p>
<b>Упражнение 3</b><br />
Впишите недостающие слова
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>настоящее дин.</td>
<td>исшәы'сҵоит надеваю (одежду), исҵоит учу, (и)иго'ит берет
</td>
</tr>
<tr>
<td>прошедшее сов.</td>
<td>...</td>
</tr>
<tr>
<td>прошедшее несов.</td>
<td>...</td>
</tr>
<tr>
<td>прошедшее неопр.</td>
<td>...</td>
</tr>
<tr>
<td>будущее</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-3">(Ответы)</a></small>

<blockquote>Новые слова и выражения.</blockquote>

<p>{% include audio.html file="17-2" %}
аиара' лежать, сио'уп лежу, биоуп ты (ж) лежишь.<br />
ашәҟәы'ҩҩы писатель.
Ашәҟәы'ҩҩы ашәҟәы' иҩи'т.
Писатель написал книгу.<br />
ауасҭа' мастер. Ауасҭа' иу'с иды'руеит.
Мастер знает свое дело.
</p>

<p>
<b>Упражнение 4</b><br />
Переведите предложения и определите их
временную форму.
</p>
<p>
1. Абиблиоте'каҟны ашәҟәы' зге'ит.<br />
2. Ари' ашәҟәы' са'ҧхьоит, нас абиблиотекахь изгоит.<br />
3. Ари сҩыза бзиа лоуп.<br />
4. Иахьа ауасҭа дызбон.<br />
5. Уи ашәҟәы бзиан.<br />
6. Ари аҩы аҩныҟа изгап.<br />
<small><a href="answers6#e17-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
Определите временную форму следующих глаголов:<br />
(Вам будет полезно еще раз просмотреть
грамматические комментарии к данному уроку).
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>изгал</td>
<td>будущее</td>
<td>дыҧшит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>саҧхьон</td>
<td>...</td>
<td>даауеит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>бгылан</td>
<td>&nbsp;</td>
<td>иҟасҵап</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>иуфал</td>
<td>&nbsp;</td>
<td>илбон</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>ицеит</td>
<td>&nbsp;</td>
<td>ҳцоит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>избап</td>
<td>&nbsp;</td>
<td>ирфеит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>сааит</td>
<td>&nbsp;</td>
<td>сгылоуп</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>дзысон</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
<small><a href="answers6#e17-5">(Ответы)</a></small>

<p>
<b>Упражнение 6</b><br />
Определите субъект (лицо) действия глагола:
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>бгылоит → бара</td>
<td>ирдыруан → ...</td>
</tr>
<tr>
<td>ифон → ...</td>
<td>иҟалҵап → ...</td>
</tr>
<tr>
<td>сиоуп → ...</td>
<td>ишәымоуп → ...</td>
</tr>
<tr>
<td>иргеит → ...</td>
<td>иааргеит → ...</td>
</tr>
<tr>
<td>иаҳҵап → ...</td>
<td>ирҩуан → ...</td>
</tr>
</table>
<small><a href="answers6#e17-6">(Ответы)</a></small>

<p>
<b>Упражнение 7</b><br />
Переведите на абхазский язык.<br />
1. Писатель пишет книгу.<br />
2. Я лягу, ты (ж) поведи Ахру в школу.<br />
3. Я сделаю свое задание потом.<br />
4. Кто-то зашел в дом и забрал деньги.<br />
5. Вчера она была здесь.<br />
6. Она хорошо выучила это задание.<br />
7. Я съем это мясо.<br />
<small><a href="answers6#e17-7">(Ответы)</a></small>
</p>

<p>
Абзиараз!
</p>
