---
title: Урок 14
order: 514
---

<h3>Урок 14</h3>

<dl>
<dt>Содержание
урока:</dt>
<dd>Продолжаем изучать звуки абхазского языка
(ҵ, ҵә)</dd>
<dd>Работа с лексикой</dd>
<dd>Закрепление</dd>
</dl>

<p>{% include audio.html file="14-1" %}
ҵ ҵә; ҵ ҵә</p>

<blockquote>
Новые
слова
и
выражения.
</blockquote>

<p>{% include audio.html file="14-2" %}
адҵа'задание;
приказ.
Адҵа'
сы'рҭеит.
Мне
дали
задание.<br />
аҵаҩы'ученик.
Сара
сҵаҩу'п.
Я
ученик.<br />
арҵаҩы'учитель(ница).
Сырҵаҩы'
адца'
сы'лҭеит.
Моя
учительница
дала
мне
задание.<br />
аҵа'ра
учеба.
Аҵа'ра
лаша'роуп,
аҵарадара
лашьца'роуп.
Ученье
-
свет,
неученье
-
тьма.<br />
аҵара'
учить.
Сара'
аҵа'ра
сҵо'ит.
Я
учусь
(букв.
я
учебу
учу).<br />
а'ҵла
дерево.
Ари'
а'ҵла
ду'уп.
Это
дерево
большое.<br />
аҵа'ара
замерзать.
А'мҩақәа
ҵа'аит.
Дороги
замерзли.<br />
а'ҟаҵара
делать.
Сырҵаҩы'
исы'лҭаз
адҵа'
ҟасҵо'ит.
Я
(с)делаю
задание,
которое
мне
дала
моя
учительница.<br />
аҵкы
платье
(женское).
Аҵкы
ҟаҧшьуп.
Платье
красное.<br />
азҵаа'ра
вопрос.
Аҵаҩы
арҵаҩы
азҵаара
лиҭеит.
Ученик
задал
вопрос
учитель/ю/нице.<br />
а'зҵаара
спросить,
спрашивать.
Аҵаҩы
арҵаҩы
дла'зҵааит.
Ученик
спросил
учительницу.<br />
аҵеа'
яблоко.
Аҵеа'
ҟаҧшьу'п.
Яблоко
-
красное.<br />
а'ҵеахра
прятать.
Сара'
сҵеа
ҟаҧшь
сҵеахи'т.
Я
спрятал
свое
красное
яблоко.<br />
аҵәыҵәы'
кислый.
Ари
аҵеа'
ҵәыҵәу'п.
Это
яблоко
кислое.<br />
аҵәу'ара
плакать.
Ҭа'ли
дҵәу'еит.
Тали
плачет.<br />
а'еҵәа
общий
термин
дня
обозначения
спектров
«синего»
и
«зеленого»
цвета;
звезда.<br />
уаҵәы'
завтра.</p>

<p>{% include audio.html file="14-3" %}
Сара'
сҵаҩу'п,
уаҵәы'
ашко'л
ахь
сца'роуп.
Сара'
азҵаа'ра
сы'моуп.
А'мҩақәа
(и)ҵа'аит.
Арҵаҩы'
аҵаҩы'
диазҵааит.
Алмасха'н
аҵәа
ҵәыҵәқәа'
бзи'а
ибо'ит.
Сыҩны'
а'ҧхьа
а'ҵла
гы'лоуп.
Уи'
а'ҵла
абҕьы'
каҧсе'ит.
Аҵаҩцәа'
рырҵаҩы'
днаскьа'ргон.
Гәы'нда
ҳакла'сс
аҟны'
аҵара'
лҵо'ит.
Асҭа'нда
дса'зҵааит:
«Уара'
уанба'аи?».
Аҵәа'
иаҵәа'
ҵәыҵәу'п.
Са'ндра
иаҳәшьа'
Шьазина'
лы'мпыл
иҵәахи'т.
Шьазина'
дҵәы'уеит.
Иҵа'ауеит.
Асҭанда
Ахра
иҵәа
(и)лфеит.
Наала
лыҵкы
ҟаҧшьуп.</p>

<p>
Я
ученик,
завтра
должен
пойти
в
школу.
У
меня
есть
(я
имею)
вопрос.
Дороги
замерзли.
Учитель(ница)
спросил(а)
ученика.
Алмасхан
любит
кислые
яблоки.
Перед
моим
домом
стоит
дерево.
У
этого
дерева
опали
листья.
Ученики
провожали
свою
учительницу
(своего
учителя).
Гунда
учится
в
нашем
классе.
Астанда
спросила
меня:
«когда
ты
пришел?»
Зеленое
яблоко
кислое.
Сандра,
брат
Шязины,
спрятал
ее
мяч.
Шязина
плачет.
Морозит.
Астанда
съела
яблоко
Ахры.
Платье
Наалы
красное.</p>

<p>
<i class="fas fa-bolt important-material"></i>
Запомните
пословицу.<br />
<p>{% include audio.html file="14-4" %}
<b>Ҵәа
баа'к
шә-ҵәак
арбаауе'ит.</b>
(букв.
Одно
гнилое
яблоко
сто
яблок
сгноит
/
испортит).
Ср.
русскую
пословицу
Ложка
дегтя
в
бочке
меда
//
Бочка
меду
да
капля
дегтя.</p>

<p>
<b>Упражнение
№1</b><br />
Вставьте
пропущенные
буквы.<br />
Образец: сара
и...ҵәахит
-
сара
исҵәахит<br />
уара
и...ҵәахит<br />
бара
и...ҵәахит<br />
иара
и...ҵәахит<br />
лара
и...ҵәахит<br />
иара (кл.неодуш.) и...ҵәахит<br />
<small><a href="answers5#e14-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение
№2</b><br />
Переведите
на
абхазский
язык.</p>
<p>
1.
Моя
сестра
Кама
-
учительница.
2.
Гунда
-
жена
моего
товарища.
3.
Я
хорошо
учусь.
4.
Это
яблоко
кислое.
5.
Я
прячу
яблоки.
6.
Я
спрятал
яблоки.
7.
Учительница
дала
мне
задание.
8.
Сандра
любит
школу,
он
хорошо
учится.
9.
Это
яблоко
красное,
это
зеленое.
10.
Я
люблю
кислые
яблоки.
11.
Я
озябла,
зайдем
в
дом.
12.
У
меня
есть
вопрос.
13.
Я
задаю
вопрос
учительнице.
14.
Сандра
сказал,
что
уходит.
15.
Сухум
-
столица
Абхазии.<br />
<small><a href="answers5#e14-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение
№З</b><br />
Раскройте
скобки.</p>
<p>
1.
Сара
(аҵаҩы).
2.
Сыҩны
aҧхьa
аҵла
(агылара).
3.
Сандра
Кама
лымпыл
(аҵәахра).
4.
Сара
иаҵы
арҵаҩы
(азҵаара).
5.
Ҳара
иҳарҭаз
адҵа
(аҟаҵара).
6.
Аҵәа
(аҟаҧшь).
7.
Ҭали
лаҳәшьа
(аҵәуара).
8.
Амҩақәа
(аҵаара).
9.
Ари
аҳаблаҟны
сҩыза
(анхара).
10.
(Аҵаҩы)
рырҵаҩы
днаскьаргеит.
11.
Саҳәшьа
(ауаҩы
ҳалал).<br />
<small><a href="answers5#e14-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение
№4</b><br />
Совместите
начало
и
конец
предложения.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr>
<td>Сыҩны аҧхьа</td>
<td>адҵа ҳалҭеит.</td>
</tr>
<tr>
<td>Сара иахьа</td>
<td>иҧҳәыс лоуп.</td>
</tr>
<tr>
<td>Кама сашьа</td>
<td>(и)ҵааит.</td>
</tr>
<tr>
<td>Амҩақәа</td>
<td>ашкол ахь сҵароуп.</td>
</tr>
<tr>
<td>Аҵәа иаҵәа</td>
<td>амашьына гылоуп.</td>
</tr>
<tr>
<td>Ҳарҵаҩы</td>
<td>ҵәыҵәуп.</td>
</tr>
</table>
<small><a href="answers5#e14-4">(Ответы)</a></small>

<p>
<b>Упражнение
№5</b><br />
Совместите
рисунок
с
подходящим
предложением.<br />
1. Наала
азҵаара
лымоуп. (Рис.
№ ).<br />
2. Сыҩны
аҧхьа
аҵла
гылоуп. (Рис.
№ ).<br />
3. Уи
аҵла
абҕьы
каҧсеит. (Рис.
№ ).<br />
4. Саҳәшьа
дҳақьымуп. (Рис.
№ ).<br />
5. Сырҵаҩы
исылҭаз
адҵа
ҟасҵеит. (Рис.
№ ).<br />
<small><a href="answers5#e14-5">(Ответы)</a></small>
<table>
<tr>
<td><img src="/assets/img/14-1.gif" width="295" height="351" border="1" alt="Рис. 1" /><br />Рис. 1</td>
<td><img src="/assets/img/14-2.gif" width="252" height="349" border="1" alt="Рис. 2" /><br />Рис. 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/14-3.gif" width="585" height="534" border="1" alt="Рис. 3" /><br />Рис. 3</td>
</tr>
<tr>
<td><img src="/assets/img/14-4.gif" width="330" height="361" border="1" alt="Рис. 4" /><br />Рис. 4</td>
<td><img src="/assets/img/14-5.gif" width="288" height="387" border="1" alt="Рис. 5" /><br />Рис. 5</td>
</tr>
</table>
