---
order: 101
title: Урок 1
subtitle:
- Знакомство с алфавитом абхазского языка.
- Работа с лексикой.
---

<p>
<i>Прежде
всего,
научимся
здороваться!</i>
</p>

<p>
{% include audio.html file="1-001" %}
Мшыбзи'а!
Добрый
день!
Здравствуй!
букв.
День
добрый!
<br />
{% include audio.html file="1-002" %}
Бзи'а(ра) уба'аит!
Ответное
приветствие
(адресуемое
мужчине)
букв.
Да
увидеть
тебе
добро!<br />
{% include audio.html file="1-003" %}
Бзи'а(ра) бба'аит!
Ответное
приветствие
(адресуемое
женщине)
букв.
Да
увидеть
тебе
добро!
</p>

<p>
(Скобки
указывают
на
необязательность
элемента
в
нем
находящегося,
т.е.,
в
данном
случае
мы
можем
прочесть
и
как
<b>бзиара убааит</b>,
и
как
<b>бзиа убааит</b>).
</p>

<p>
А
теперь
познакомимся
с
алфавитом
абхазского
языка.
</p>

<p>
В
абхазском
языке
<b>6</b>
гласных
и
<b>56</b>
согласных
звуков.
Итого
–
<b>62</b>.
Из
них
все
буквы
русского
алфавита,
за
исключением
ё,
й,
щ,
ю,
я,
э,
ъ,
входят
в
абхазский
алфавит.
</p>

<table width="700">
<tr align="center"><td colspan="10">
<b>
АҦСУА
 
АЛФАВИТ<br />
АЛФАВИТ
 
АБХАЗСКОГО
 
ЯЗЫКА
</b>
</td></tr>
<tr>
<td>{% include audio.html file="1-1" %}
А</td>
<td>{% include audio.html file="1-7" %}
Ҕ</td>
<td>{% include audio.html file="1-13" %}
Ж</td>
<td>{% include audio.html file="1-19" %}
И</td>
<td>{% include audio.html file="1-25" %}
ҚӘ</td>
<td>{% include audio.html file="1-31" %}
Н</td>
<td>{% include audio.html file="1-37" %}
Т</td>
<td>{% include audio.html file="1-43" %}
Х</td>
<td>{% include audio.html file="1-49" %}
ЦӘ</td>
<td>{% include audio.html file="1-55" %}
Ҿ</td>
<td>{% include audio.html file="1-61" %}
Џ</td>
</tr>
<tr>
<td>{% include audio.html file="1-2" %}
Б</td>
<td>{% include audio.html file="1-8" %}
ҔЬ</td>
<td>{% include audio.html file="1-14" %}
ЖЬ</td>
<td>{% include audio.html file="1-20" %}
К</td>
<td>{% include audio.html file="1-26" %}
Ҟ</td>
<td>{% include audio.html file="1-32" %}
О</td>
<td>{% include audio.html file="1-38" %}
ТӘ</td>
<td>{% include audio.html file="1-44" %}
ХЬ</td>
<td>{% include audio.html file="1-50" %}
Ҵ</td>
<td>{% include audio.html file="1-56" %}
Ш</td>
<td>{% include audio.html file="1-62" %}
ЏЬ</td>
</tr>
<tr>
<td>{% include audio.html file="1-3" %}
В</td>
<td>{% include audio.html file="1-9" %}
ҔӘ</td>
<td>{% include audio.html file="1-15" %}
ЖӘ</td>
<td>{% include audio.html file="1-21" %}
КЬ</td>
<td>{% include audio.html file="1-27" %}
ҞЬ</td>
<td>{% include audio.html file="1-33" %}
П</td>
<td>{% include audio.html file="1-39" %}
Ҭ</td>
<td>{% include audio.html file="1-45" %}
ХӘ</td>
<td>{% include audio.html file="1-51" %}
ҴӘ</td>
<td>{% include audio.html file="1-57" %}
ШЬ</td>
<td>Ь</td>
</tr>
<tr>
<td>{% include audio.html file="1-4" %}
Г</td>
<td>{% include audio.html file="1-10" %}
Д</td>
<td>{% include audio.html file="1-16" %}
З</td>
<td>{% include audio.html file="1-22" %}
КӘ</td>
<td>{% include audio.html file="1-28" %}
ҞӘ</td>
<td>{% include audio.html file="1-34" %}
Ҧ</td>
<td>{% include audio.html file="1-40" %}
ҬӘ</td>
<td>{% include audio.html file="1-46" %}
Ҳ</td>
<td>{% include audio.html file="1-52" %}
Ч</td>
<td>{% include audio.html file="1-58" %}
ШӘ</td>
<td>Ә</td>
</tr>
<tr>
<td>{% include audio.html file="1-5" %}
ГЬ</td>
<td>{% include audio.html file="1-11" %}
ДӘ</td>
<td>{% include audio.html file="1-17" %}
Ӡ</td>
<td>{% include audio.html file="1-22" %}
Қ</td>
<td>{% include audio.html file="1-29" %}
Л</td>
<td>{% include audio.html file="1-35" %}
Р</td>
<td>{% include audio.html file="1-41" %}
У</td>
<td>{% include audio.html file="1-47" %}
ҲӘ</td>
<td>{% include audio.html file="1-53" %}
Ҷ</td>
<td>{% include audio.html file="1-59" %}
Ы</td>
</tr>
<tr>
<td>{% include audio.html file="1-6" %}
ГӘ</td>
<td>{% include audio.html file="1-12" %}
Е</td>
<td>{% include audio.html file="1-18" %}
ӠӘ</td>
<td>{% include audio.html file="1-23" %}
ҚЬ</td>
<td>{% include audio.html file="1-30" %}
М</td>
<td>{% include audio.html file="1-36" %}
С</td>
<td>{% include audio.html file="1-42" %}
Ф</td>
<td>{% include audio.html file="1-48" %}
Ц</td>
<td>{% include audio.html file="1-54" %}
Ҽ</td>
<td>{% include audio.html file="1-60" %}
Ҩ</td>
</tr>
</table>

<p>
Итак,
Вам
известны
26
букв
абхазского
алфавита!
В
том
числе
все
гласные
абхазского
языка
–
<b>а, е, и, у, о, ы</b>.
Используя
эти
Ваши
знания
можно
выучить
немало
слов
и
выражений.
Например:
</p>

<p>
{% include audio.html file="1-102" %}
абзи'а - хороший<br />
{% include audio.html file="1-103" %}
агы'лара - стоять;
встать<br />
{% include audio.html file="1-104" %}
ацара' - идти;
отправляться<br />
{% include audio.html file="1-105" %}
сара' - я<br />
{% include audio.html file="1-106" %}
абара' - видеть<br />
{% include audio.html file="1-107" %}
бзи'а
абара' - любить<br />
{% include audio.html file="1-108" %}
ача' - хлеб<br />
{% include audio.html file="1-109" %}
аб - отец<br />
{% include audio.html file="1-110" %}
ан - мать<br />
{% include audio.html file="1-111" %}
а'мра - солнце<br />
{% include audio.html file="1-112" %}
аа'хәара - покупать<br />
{% include audio.html file="1-113" %}
амш - день;
погода<br />
{% include audio.html file="1-114" %}
амшы'н - море<br />
{% include audio.html file="1-115" %}
ашко'л - школа
</p>

<p>
Выучим
несколько
употребительных
фраз.
</p>

<p>
{% include audio.html file="1-201" %}
Сара'
сцо'ит
- я
иду,
ухожу,
отправляюсь<br />
{% include audio.html file="1-202" %}
Сара'
сгы'лоуп
- я
стою<br />
{% include audio.html file="1-203" %}
Сара'
избо'ит
- я
вижу<br />
{% include audio.html file="1-204" %}
Сара'
бзи'а
избо'ит
са'ни
са'би
- я
люблю
свою
мать
и
своего
отца<br />
{% include audio.html file="1-205" %}
Сар'а
иаа'схәоит
ача'
- я
покупаю
хлеб
</p>

<p>
В
самом
конце
алфавита
стоят
две
буквы -
<b>Ь</b> (мягкий
знак)
и
<b>Ә</b> (знак
огубления).
Эти
знаки
не
имеют
своего
звука,
но
в
сочетании
с
другими
буквами
образуют
новые
звуки.<br />
Сравните:
</p>

<p>
{% include audio.html file="1-301" %}
к - кь - кә<br />
{% include audio.html file="1-302" %}
г - гь - гә<br />
{% include audio.html file="1-303" %}
х - хь - хә
</p>

<p>
Мягкие
согласные
в
абхазском
(за
исключением
ч, ҷ)
сопровождаются
мягким
знаком.
</p>

<p>
Звуки
кь, гь, хь
произносятся
<i>приблизительно</i> 
так
же,
как
и
русские
согласные
к, г, х
+ гласный
звук
и.
Например:
абхазский
гь
- русское
сочетание
ги
(гиря);
абхазский
кь
- русское
ки
(кино, кисть);
абхазский
хь
- русское
хи
(хитрый, хилый).
</p>

<p>
Прибавляем
к
букве
<b>к</b>
мягкий
знак
<b>ь</b>
и
получаем
букву
{% include audio.html file="1-401" %}
<b>кь</b>.<br />
Примеры:<br />
{% include audio.html file="1-402" %}
а'н<b>кь</b>а
- раньше;
когда-то<br />
{% include audio.html file="1-403" %}
ма<b>кь</b>а'на
- пока
еще
</p>

<p>
Прибавляем
к
букве
<b>к</b>
знак
огубления
(<b>ә</b>)
и
получаем
букву
{% include audio.html file="1-501" %}
<b>кә</b>.<br />
В
отличие
от
русского
сочетания
<b>ку</b>,
данный
звук
произносится
слитно
<b>кә</b>.<br />
{% include audio.html file="1-502" %}
а<b>кә</b>а'ц
- мясо<br />
{% include audio.html file="1-503" %}
а'<b>кә</b>ашара
- танцевать
</p>

<p>
Итак:
{% include audio.html file="1-301" %}
к
-
кь
-
кә
</p>

<p>
То
же
происходит
и
с
другими
буквами.
Например:
</p>

<p>
{% include audio.html file="1-302" %}
г
-
гь
-
гә<br />
{% include audio.html file="1-602" %}
а<b>г</b>ара'
- брать;
взять;
унести<br />
{% include audio.html file="1-603" %}
а<b>гь</b>а'ма
- вкус<br />
{% include audio.html file="1-604" %}
а<b>гә</b>ы'
- сердце
</p>

<p>
{% include audio.html file="1-303" %}
х
-
хь
-
хә<br />
{% include audio.html file="1-702" %}
а<b>х</b>ы'
- голова<br />
{% include audio.html file="1-703" %}
иа<b>хь</b>а'
- сегодня<br />
{% include audio.html file="1-704" %}
а<b>хь</b>
- в (послелог)<br />
{% include audio.html file="1-705" %}
а<b>хә</b>
- цена
</p>

<p>
(Если
послелог
ахь
стоит
после
слова,
заканчиваегося
гласным
(а,ы),
то
ахь
пишется
слитно
со
словом.
Ср.
ашкол
ахь,
но
аусурахь
«на
работу»
(аусура
+
ахь)).
</p>

<p>
Прочитайте
эти
предложения
вслед
за
диктором:
</p>

<p>
{% include audio.html file="1-801" %}
Сара'
кьы'лак
акәа'ц
аа'схәоит
- я
покупаю
килограмм
мяса<br />
Сара'
иахьа'
ашко'л
ахь
сцо'ит
- я
сегодня
иду
в
школу<br />
Акәа'ц
агьа'ма
бзи'оуп
- у
мяса
хороший
вкус
(мясо
вкусное)<br />
Иахьа'
амш
бзи'оуп
- сегодня
хорошая
погода<br />
Сара'
сцо'ит
- я иду /
ухожу /
отправляюсь<br />
Сара'
сгы'лоуп
- я
стою<br />
Сара'
избо'ит
- я
вижу<br />
Сара'
бзи'а
избо'ит
са'ни
са'би
- я
люблю
свою
мать
и
своего
отца<br />
Сара'
иаа'схәоит
ача'
- я
покупаю
хлеб<br />
Лара'
амшы'н
ахь
дцо'ит
- она
идет
на
море
</p>

<p>
Итак,
мы
освоили
новые
звуки
абхазского
алфавита,
вспомните,
как
они
звучат.<br />
{% include audio.html file="1-802" %}
<b>кь</b><br />
а'нкьа
- раньше,
когда-то<br />
макьа'на
- пока
еще<br />
акьы'ла
- килограмм<br />
<b>кә</b><br />
акәа'ц
- мясо<br />
<b>гь</b><br />
агьа'ма
- вкус<br />
<b>гә</b><br />
агәы'
- сердце<br />
<b>хь</b><br />
иахьа'
- сегодня<br />
<b>хә</b><br />
ахә
- цена
</p>

<p>
<b>Упражнение 1</b><br />
Переведите
эти
фразы
и
предложения.
</p>

<ol>
<li>Иахьа'
амш
бзи'оуп.</li>
<li>Макьа'на
амш
бзи'оуп.</li>
<li>Ача'
агьа'ма
бзи'оуп.</li>
<li>Сара'
акәа'ц
аа'схәоит.</li>
<li>Сара'
сцо'ит.</li>
<li>Сара'
са'ни
са'би
бзи'а
избо'ит.</li>
<li>Сара'
сгы'лоуп.</li>
<li>Сара'
избо'ит.</li>
<li>Сара'
амшы'н
бзи'а
избо'ит.</li>
</ol>
<small><a href="answers1#e1-1">(Ответы)</a></small>

<p>
Абзи'араз!
Всего
хорошего!
До
свидания!

</p>
