---
order: 616
title: Урок 16
subtitle:
  - Продолжаем изучать звуки абхазского языка (ӡ, ӡә)
  - Местоимения множественного числа
  - Закрепление
---

<p>{% include audio.html file="16-1" %}
ӡ ӡә; ӡ ӡә</p>

<blockquote>Новые слова и выражения.</blockquote>

<p></p>а'ӡҕаб девочка, девушка (синоним аҭыҧҳа' девушка).<br />
а'ӡра терять(ся), и'ӡит потерялось<br />
а'рӡра потерять. Исы'рӡит. Я потерял.<br />
аӡра' жарить. Изӡи'т. Я пожарил.<br />
а'ӡсара плавать. Иара дыӡсо'ит. Он плавает.<br />
а'ӡын зима. Иаа'ит а'ӡын. Пришла зима.<br />
аӡы' вода. Аӡы' хьшәа'шәоуп. Вода холодная.<br />
ахьӡ имя. Ари аӡҕаб лыхьӡ бдыруама? Ты знаешь, как зовут эту девочку?<br />
а'хьӡзаара называть, зваться. Сара' исы'хьӡуп Ахра.
Меня зовут Ахра. Уара' иу'хьӡуи? Как тебя зовут?<br />
ахьӡара' догнать. Сара' Наа'ла слыхьӡе'ит. Я догнал Наалу.<br />
аӡәы' один (класс человека); кто-то. Аӡәы дааит. Кто-то пришел.<br />
а'ӡәӡәара мыть; стирать (сыӡӡәо'ит, сыӡәӡәо'н).<br />
аа'хәара покупать (иаа'схәеит, иаа'схәон). Аҩны аа'схәеит. Я купил дом.<br />
а'хьшәашеа холодный (ихьшәа'шәоуп, ихьшәа'шәан).
Аҳа'уа хышәа'шәоуп. Воздух холодный.<br />
ахьшәа'шәахара становиться холодным. Ихьшәа'шәарахеит. Стало холодно.<br />
асы' снег. Асы' аура' идти, выпадать (о снеге).<br />
Иацы \ иецы асы ауит. Вчера выпал снег.<br />
А'ӡын асы' ауе'ит. Зимой выпадает снег.<br />
а'пшӡа красивый (иҧшӡо'уп, иҧшӡа'н)</p>

<p>{% include audio.html file="16-2" %}
Сара' сы'ӡҕаб иаа'лхәаз акаҳуа' (и)азоу'п. Сара'
изӡи'т уи акаҳуа'.<br />
Ари' аҭылҳа' ҧыӡа ибзи'аны дӡысо'ит.<br />
Ецы' иаа'схәаз ашәҟәы' (и)ы'ӡит.<br />
Ка'ма сышәҟәы' (и)лырӡит.<br />
А'ӡын аҳа'уа хьшәашәахоит.<br />
Сара' аӡы' хьшәа'шәа зжәит.<br />
Наа'ла дыӡәӡәо'ит.<br />
Ахра, уҧши' аӡәы даа'ит.<br />
А'ӡын асы' ауе'ит, аҳа'уа хьшәа'шәоуп.</p>

<p>Кофе, который купила моя дочка, сырой, я пожарил(а) это кофе.<br />
Эта красивая девушка хорошо плавает.<br />
Книга, которую я вчера купил, потерялась.<br />
Кама потеряла мою книгу.<br />
Зимой воздух становится холодным.<br />
Я выпил холодную воду.<br />
Наала стирает.<br />
Ахра смотри, кто-то пришел.<br />
Зимой выпадает снег, воздух холодный.</p>

<p><b>Местоимения множественного числа</b></p>
<p>{% include audio.html file="16-3" %}
Ҳapa мы (краткая форма ҳ(a)
Ҳара ҳаӡәӡәоит. Мы стираем.<br />
шәара вы, Вы (краткая форма шә(а). Шәара
шәӡысоит. Вы плаваете.<br />
дара они (краткая форма д(а); /p(a);/и(а). Дара
(и)аҧхьоит. Они читают.</p>

<p>
<i class="fas fa-bolt important-material"></i>
Напоминаем, что в переходных глаголах показатель
1-го лица множественного числа <b>ҳ</b> переходит в <b>а</b>.<br />
Днаскьа<b>ҳ</b>гоит > днаскьа<u>а</u>гоит.</p>

<p>Сара сцоит я иду<br />
уара уцоит ты (м) идешь<br />
бара бцоит ты (ж) идешь<br />
иара дцоит он (м) идет<br />
лара дцоит она идет<br />
иара (и)цоит это (кл. неод) идет<br />
ҳара ҳцоит мы идем<br />
шәара шәцоит вы идете<br />
дара (и)цоит они идут</p>

<p>сара исшәы'схуеит<br />
уара иушәы'ухуеит<br />
бара ибшәы'бхуеит<br />
иара ишәи'хуеит<br />
лара илшәы'лхуеит<br />
ҳара и<u>аҳ</u>шәа'ҳхуеит<br />
шәара ишәшәы'шәхуеит<br />
дара (и)ршәы'рхуеит</p>

<p>
<i class="fas fa-bolt important-material"></i>
Позиция между согласными и рядом с гласным <b>ы</b>
для звука <b><i>ҳ</i></b> нежелательна, поэтому рядом с ним часто
появляется гласный звук <b><i>а</i></b>.
Ср. акр<u>ыс</u>фоит, но
акр<u>ах</u>фоит.</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Если слово сложное (состоит из двух или более
корней), то показатели лица стоят как перед первым
корнем, так и перед вторым (И-С-шәы-С-хуеит, И-Л-шәы-Л-хуеит, И-аҲ-шәа-Ҳ-хуеит)</p>

<p>
<b>Упражнение №1</b><br />
Попробуйте дать соответствующие формы глагола,
подставив пропущенные буквы.</p>
<p>
<table>
<tr><td>сара и..боит</td><td>capa ..aaуеит</td></tr>
<tr><td>уара и..боит</td><td>yapa ..aaуеит</td></tr>
<tr><td>бара и..боит</td><td>бара ..аауеит</td></tr>
<tr><td>иара и..боит</td><td>иара ..aaуеит</td></tr>
<tr><td>иара (кл.неод) и..боит</td><td>иара (кл.неод.) аауеит</td></tr>
<tr><td>лара и..боит</td><td>лара ..аауеит</td></tr>
<tr><td>ҳара и..боит</td><td>ҳара ..аауеит</td></tr>
<tr><td>шәара и..боит</td><td>шәара ..аауеит</td></tr>
<tr><td>дара и..боит</td><td>дара ..аауеит</td></tr>
</table>
<small><a href="answers6#e16-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №2</b><br />
Подберите подходящий глагол к местоимениям.</p>
<p>
<table>
<tr><td>шәара</td><td>изгоит</td><td>capa</td><td>ишәымоуп</td></tr>
<tr><td>capa</td><td>иргоит</td><td>yapa</td><td>илымоуп</td></tr>
<tr><td>лара</td><td>иугоит</td><td>шәара</td><td>исымоуп</td></tr>
<tr><td>дара</td><td>иаагоит</td><td>дара</td><td>иҳамоуп</td></tr>
<tr><td>yapa</td><td>ибгоит</td><td>лара</td><td>иумоуп</td></tr>
<tr><td>ҳара</td><td>илгсит</td><td>бара</td><td>ибымоуп</td></tr>
<tr><td>бара</td><td>ижәгоит</td><td>ҳара</td><td>ирымоуп</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>иара</td><td>имоуп</td></tr>
</table>
<small><a href="answers6#e16-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №3</b><br />
Раскройте скобки.
</p>
<p>
1. Ҳара ара (анхара).<br />
2. Шәара (ацара)?<br />
3. Дара аҩны (аахәара).<br />
4. Сара сыӡҕаб акаҳуа (аӡpa).<br />
5. Шәара сышәҟәы (арӡра).<br />
6. Дара иахьа (аара).<br />
7. Ҳара ала (амазаара).<br />
8. Ҳара (акрыфара), шәара (аӡәӡәара).<br />
9. Ҳара уацәы ақыҭахь (ацара).<br />
10. Дара ашкол (алгара).<br />
<small><a href="answers6#e16-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №4</b><br />
Из трех вариантов лишь один правильный.<br />
Найдите его!<br />
<table>
<tr>
<td>ҳара</td>
<td>а) иалгоит<br />
б) ҳалгоит<br />
в)шәалгоит</td>
</tr>
<tr>
<td>шәара</td>
<td>а) унхоит<br />
б) инхоит<br />
в) шәынхоит
</td>
</tr>
<tr>
<td>дара</td>
<td>a) (a)крышәфоит<br />
б) (а)краҳфоит<br />
в) (а)крырфоит
</td>
</tr>
<tr>
<td>yapa</td>
<td>а) иуҭахуп<br />
б) ирҭахуп<br />
в) ишәҭахуп
</td>
</tr>
</table>
<small><a href="answers6#e16-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №5</b><br />
Переведите на русский язык.
</p>
<p>
1. Аӡын (и)хьшәашәарахоит.
2. Асы ауеит, аҳаya (и)хьшәашәоуп, аха ицқьоуп.
3. Сара бзиа избоит аӡын. Шәара бзиа ижәбома аӡын?
4. Иецы Баграт Шьынқәба ишәҟәы аасхәеит, уи аҧхьара салагеит.
5. Сара уи ашәҟәы сыман, аха Адгәыр ирӡит.
6. Дара ара аҩны аархәеит.
7. Ари автобус (и)абацои?
8. Ари автобус Очамчыраҟа ицоит.
9. Шәара шǝабацои?
10. Аҧхын Наалеи Камеи амшын ахь ицалоит.
11. Аҭыҧҳацәа бзиа ирбоит аӡсара.
12. Аҟәа ӡынгыы ҧхынгьы (есқьынгьы) иҧшӡоуп.
13. Ари аҭыҧҳа илыхьӡуп Нази.
14. Бара ибыхьӡуи?
15. Наала аусурахь дцон, уи дыццакун, аха сара слыхьӡеит.<br />
<small><a href="answers6#e16-5">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №6</b><br />
Прослушайте диктора.
Какую из двух предложенных фраз он произносит и отметье ее (√).
</p>
<p>{% include audio.html file="16-4" %}</p>
<p>
<table>
<tr><td>1.</td>
<td>а) Аӡгаб дыӡсо'ит<br />
б) Аӡгаб ды'ӡит</td></tr>
<tr><td>2.</td>
<td>а) Ашәҟәы (и')ыӡит<br />
б) Ашәҟәы лы'рӡит</td></tr>
<tr><td>3.</td>
<td>а) Аӡәы дырбеит<br />
б) Аӡәы даабеит</td></tr>
<tr><td>4.</td>
<td>а) Кама илӡи'т<br />
б) Кама илырӡит</td></tr>
<tr><td>5.</td>
<td>а) Аҩны аасхәеит<br />
б) Аҩны аархәеит</td></tr>
<tr><td>6.</td>
<td>а) Шәара шәызбоит<br />
б) Шәара шәызгоит</td></tr>
<tr><td>7.</td>
<td>а) Аӡы аауеит<br />
б) Аӡәы даауеит</td></tr>
<tr><td>8.</td>
<td>а) Ҳара иаабоит<br />
б) Ҳара иаагоит</td></tr>
</table>
<small><a href="answers6#e16-6">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №7</b><br />
Вернитесь, пожалуйста, к упражнению №6.
Перед Вами пары предложений.
Вам нужно определить субъект (лицо) действия.<br />
Например: Аӡәы дызбеит (Я кого-то увидел).<br />
Действие происходит от меня: «Я увидел».<br />
Следовательно, пишем:<br />
Аӡәы дызбеит → сара.<br />
Аӡеы дырбеит → дара.<br />
<small><a href="answers6#e16-7">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №8</b><br />
В каждом из приведенных предложений есть ошибка.
Вам предлагается найти ее и исправить.</p>
<p>
1. Хара ашҭа дҭалоит.
2. Шәара нас ҳцома?
3. Наала иеҵы ацкы ирыӡәӡәеит.
4. Дара ана дыҟоуп.
5. Ҳара аҧара иааргеит.
6. Дамеи, уҩнал. - Мамоу, дыццакуеит.
7. Шәара арашазы уаауама?
8. Ҳара аҳақьым дааргеит.<br />
<small><a href="answers6#e16-8">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №9</b><br />
А теперь, используя Вашу активную лексику,
попробуйте рассказать о Вашем сегодняшнем дне.<br />
Для начала: Сара иахьа шьыжьымҭан сгылеит.
Нас крысфеит... и т.д.<br />
У Вас должно получиться!<br />
<small><a href="answers6#e16-9">(Ответы)</a></small>
</p>

<p>
<b>Упражнение №10</b><br />
Составьте предложения из данных слов.</p>
<p>Хара, ача, шәара, аахәара, ацара, дара, ақалақь, ахь, aapa.</p>
<p>Целенаправленные старания всегда приносят свои плоды!</p>
<p>Впереди вас ждет Урок №17. Абзиараз!</p>
