---
order: 722
title: Урок 22
subtitle:
  - Продолжаем изучать звуки абхазского языка (џ, џь)
  - Работа с лексикой
---

<p>{% include audio.html file="22-1" %} џ џь; џ џь</p>

<p>
<b>Новые слова и выражения</b><br />
џьара́ где-то; куда-то. Џьара́ и́ҟоуп. Где-то есть. Џьара́ и́цеит. Куда-то пошли.<br />
аџьы́ка соль. Сан аџьы́ка аа́лхәеит. Моя мать купила соль.<br />
аџьымшьы́ лук<br />
ҩы́џьа двое (только по отношению к классу одушевленных) Ҩы́џьа а́ишьцәа. Двое братьев.<br />
аха́рџь расходы. Аха́рџь ду ҟасҵе́ит. У меня большие расходы.<br />
апе́нџьыр окно. Апенџьыр аартуп. Окно открыта. Иаарты апенџьыр! Открой окно!<br />
аџьармы́кьа рынок; ярмарка<br />
аџьра́ жарить. Акәа́ц лџьит. Она пожарила мясо.<br />
аџьы́ба карман. Сџьы́ба аҧара ҭоуп. У меня в кармане деньги (находятся).<br />
а́џьашьара удивляться. Сара́ иџьа́сшьеит. Я удивился.<br />
Звук џ малоупотребителен в абхазском языке. Џыр Джыр (имя собственное)<br />
аџы́ш чеснок<br />
акры́фарҭа столовая. Акры́фарҭаҿы акрысфе́ит. Я поел в столовой.<br />
акака́лкра перекусить. Кака́лк скит. Я перекусил.
</p>

<p>
{% include audio.html file="22-2" %}
Ҩы́џьа а́ишьцәа Џы́ри Џьгәаҭа́ни а́шьыжь аџьармы́кьахь ице́ит. Ара́ Џыр аџьы́ка аа́ихәеит. Џьгәаҭа́н иаа́ихәуеит кьы́лак аџы́ши ҩ-кьы́лак аџьымшьи́. «Ҳус ҟаҳҵе́ит», — иҳәе́ит Џьгәаҭа́н, — «џьара́ кака́лк ҳкып». «Ара́ апе́нџьыр аҟы́нтәи избо́ит, ана́ акры́фарҭаҿы акәа́ц рзуе́ит, уаала́?» — иҳәеит Џыр. «Уаала́!», — иҳәе́ит Џьгәаҭа́н.<br />
Џыр иџьы́ба иҭа́н ҩажәа́ маа́ҭ, Џьгәаҭа́н и́ман ҩажәи́ хәба маа́ҭ. Ине́ит акры́фарҭаҿы. А́хәқәа иры́хәаҧшын, иџьа́ршьеит. «–Уа́хәаҧши, уара́, уа́хәаҧши арҭ ры́хәқәа шаҟа́ иду́у!» — иҳәе́ит Џьгәаҭа́н. «Уаала́, сашьа́, уаала!» — иҳәе́ит Џыр, — «аҩны́ краҳфа́п, ара́ҟа ҳха́рџьқәа ду́хоит». А́ишьцәа акры́фарҭа идәы́лҵны аҩны́ҟа ице́ит.
</p>

<p>
Двое братьев Джыр и Джгуатан, утром отправились на рынок. Здесь Джыр купил соль. Джгуатан купил килограмм чеснока и два килограмма лука. «Свою работу мы сделали,» — сказал Джгуатан, «где-нибудь перекусим»? «Отсюда, из окна я вижу, там, в столовой жарят мясо, пошли?» — сказал Джыр. «Пошли!» — сказал Джгуатан.<br />
В кармане у Джыра было двадцать рубей, Джгуатан имел двадцать пять рублей. Пришли в столовую. Посмотрели на цены и удивились. Ты посмотри, какие у них высокие (большие) цены!» — сказал Джгуатан. «Пойдем, брат, пойдем! — сказал Джыр, — «дома поедим, здесь у нас будут большие расходы». Братья, выйдя из столовой, пошли домой.
</p>

<blockquote>Формы прощания</blockquote>

<p>
Бзиала!<br />
Абзиаразы! До свидания!
</p>

<p>
Абзиара шәзыҟалааит (узыҟалааит, бзыҟалааит)!<br />
Всего вам (Вам / тебе) хорошего!
</p>

<p>
Аҵх алыҧха шәоуааит (уоуааит, боуааит)!<br />
Цәамҭхаа шәоуааит (уоуааит, боуааит)!<br />
Спокойной ночи! Приятных сновидений!
</p>

<p>
Амҩа бзиа!<br />
Мҩамш (шәықәлааит)! Счастливого пути!
</p>

<p>
<b>Упражнение 1</b><br />
Прослушайте предложения. Отметьте (√) какое из двух представленных предложений произносит диктор?
</p>
<p>{% include audio.html file="22-3" %}</p>
<p>
<table>
<tr><td>1.</td>
<td>а) Џьара избеит.<br />
б) Џьара изгеит.</td></tr>
<tr><td>2.</td>
<td>а) Ахарџь ду ҟасҵеит.<br />
б) Ахарџь ду ҟаҳҵеит.</td></tr>
<tr><td>3.</td>
<td>а) Ҩажәи хәба мааҭ сыман.<br />
б) Ҩажәи хҧа мааҭ сыман.</td></tr>
<tr><td>4.</td>
<td>а) Сџьыба аҧара ҭан.<br />
б) Сџьыба аҧара (и)ҭам.</td></tr>
<tr><td>5.</td>
<td>а) Абзиара шәзыҟалааит!<br />
б) Абзиара бзыҟалааит!</td></tr>
<tr><td>6.</td>
<td>а) Аҩны краҳфап.<br />
б) Аҩны крысфап</td></tr>
<tr><td>7.</td>
<td>а) Сан аџьыш аалхәоит.<br />
б) Сан аџьыш аалхәеит.</td></tr>
<tr><td>8.</td>
<td>а) Ҩыџьа аишьцәа сымоуп.<br />
б) Ҩыџьа аиҳәшьцәа сымоуп.</td></tr>
</table>
</p>

<p>
<b>Упражнение 2</b><br />
Определите порядок действий; Поставьте к каждому предложению соответствующую цифру.
</p>
<p>
Ҩыџьа аишьцәа аџьармыкьахь ицеит. (№…)<br />
Џьгәаҭан иааихәеит аџыши аџьымшьи. (№…)<br />
«Џьара какалк ҳкып», — иҳәеит Џьгәаҭан. (№…)<br />
Ахәқәа ирыхәаҧшын, иџьаршьеит. (№…)<br />
Аишьцәа акрыфарҭа идәылҵны, аҩныҟа ицеит. (№…)<br />
Џыр аџьыка ааихәеит. (№…)<br />
Инеит акрыфарҭаҿы. (№…)
<small><a href="answers7#e22-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
Раскройте скобки, употребив глагол в прошедшей совершенной форме.
</p>
<p>
Например: Сара ача (аахәара) &gt; Сара ача аасхәеит.
</p>
<p>
Аишьцәа аџьармыкьахь (ацара).<br />
Џыр аџьыка (аахәара).<br />
Ҳус (аҟаҵара).<br />
Аишьцәа акрыфарҭаҿы (анеира).<br />
Ахәқәа ирыхәаҧшын, (аџьашьара).<br />
Акрыфарҭа идәылҵны аҩныҟа (ацара).
<small><a href="answers7#e22-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 4</b><br />
Вы выучили текст Урока. Сможете ответить на вопросы?
</p>
<p>
Иабацеи ҩыџьа аишьцәа?<br />
Иаархәеи аишьцәа аџьармыкьаҿы?<br />
Акрыфарҭаҿы аишьцәа крырфама?<br />
Крызырымфеи?<br />
Акрыфарҭа идәылҵны аишьцәа (и)абацеи?
</p>

<p>
<b>Упражнение 5</b><br />
Вставьте недостающие слова, или выберите подходящие:
</p>
<p>
Сара исыхьӡуп ...<br />
Сара ... шықәса схыҵуеит.<br />
Сара сынхоит ...<br />
Сара аҵара сҵоит \ аус зуеит ...<br />
Сара дсымоуп аиешьа \ аиеҳәшьа.<br />
Сашьа \ саҳәшьа ихьӡуп \ илыхьӡуп ...<br />
Сашьа \ саҳәшьа ... шықәса ихыҵуеит \ (и)лхыҵуеит.
</p>
