---
order: 721
title: Урок 21
subtitle:
  - Продолжаем изучать звуки абхазского языка (тә, ҭә)
  - Работа с лексикой
  - Название месяцев
---

<p>{% include audio.html file="21-1" %} ҭә ҭә; тә ҭә</p>

<p>
<b>Новые слова и выражения</b><br />
аҭаҭәара́ наливать; разливать.<br />
а́маҭәа одежда.<br />
атәара́ сидеть. Стәоуп сижу, стәоит сажусь.<br />
атәра́ \\ атәы́заара принадлежать. Ари́ ашәҟәы́ бара́ ибтәу́п. Эта книга принадлежит тебе.<br />
атәы́ла страна. Ҳара́ ҳтәы́ла иа́хьзуп Аҧсны́. Наша страна называется Абхазия.<br />
-тәы- суфф. вместе с именными аффиксами образующий притяжательное местоимение стәы мой, моя, мое; утәы твой, твоя, твое.<br />
арҭ это, эти.<br />
урҭ то, те.<br />
аны́ҳәа праздник. Иахьа́ ны́ҳәоуп. Сегодня праздник.<br />
аны́ҳәамш праздничный день. Иахьа́ ны́ҳәамшуп. Сегодня праздничный день.<br />
аиаа́ира победа; аиаа́ира агара́ одержать победу, победить.<br />
а́ишәа стол; а́ишәа архиара́ накрывать стол; аи́шәа ахатәара́ садиться за стол.<br />
азгәа́ҭара отмечать. Ҳара́ ари аны́ҳәа азгәа́ҳҭоит. Мы отмечаем этот праздник.<br />
аиҳабы́ старший. Сашьа́ еиҳабы́ и́хьӡуп Даме́и. Моего старшего брата зовут Дамей.<br />
ахы́ голова.<br />
ахаҟны́ во главе.<br />
-нтәи суффикс, придающий именам значение <b>из</b> (чего-то); аҩны дом, аҩны́нт<b>әи</b> из дома.
</p>

<blockquote>Прочитайте и запомните</blockquote>

<p>
{% include audio.html file="21-2" %}
Иахьа́ ны́ҳәоуп. Ҳтәы́ла аиаа́ира агара́ аны́ҳәа амш ауп. Ҳара́ ари́ аны́ҳәа есқьынгьы́ иазгәа́ҳҭоит. Иахьа́ ҳаҩны́ҟа а́сасцәа аауе́ит. Урҭ са́ни са́би рҩы́зцәа ро́уп.<br />
Арҭ а́маҭәа ҿы́цқәа сара́ истәу́п, урҭ сан исзаа́лхәеит. Ари́ аны́ҳәазы сан есқьынгьы́ а́маҭәа ҿы́цқәа сзаа́лхәоит.<br />
Сара́ сан слы́цхраауеит, а́ишәа ҳархи́оит. Сашьа́ еиҳабы́ аҩқәа́ ҭа́иҭәоит.<br />
Аба́р иаа́ит а́сасцәагьы. Зегьы́ а́ишәа иахатәе́ит. Ахаҟны́ дтәо́уп саб. Сара́ бзи́а избо́ит ҳаҩны́ а́сасцәа анаауа́.
</p>

<p>
Сегодня праздник. Праздник дня победы нашей страны. Этот праздник мы всегда отмечаем. Сегодня к нам придут гости. Это друзья моих родителей (моей матери и моего отца).<br />
Эти новые вещи мои, мне их купила мать. К этому празднику она всегда покупает мне новые вещи. Я помогаю матери накрывать стол. Мой старший брат разливает вина. Вот и гости пришли. Все сели за стол. Во главе сидит мой отец. Я люблю, когда к нам приходят гости.
</p>

<blockquote>Название месяцев</blockquote>

<p>
В абхазском языке имеются два варианта названий месяцев — исконные и интернациональные. Интернациональные названия взяты из русского языка, и поэтому, в основном, совпадают с ним.
</p>

<p style="text-align: center;"><b>Амза́р<br />Календарь</b></p>

<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Русские</td><td>Абхазские<br />Исконные</td><td>Абхазские<br />интернац.</td></tr>
<tr><td>январь</td><td>ажьырны́ҳәа(мза)</td><td>ианвар</td></tr>
<tr><td>февраль</td><td>жәабра́н(мза)</td><td>февраль</td></tr>
<tr><td>март</td><td>хәажәкы́ра(мза)</td><td>март</td></tr>
<tr><td>апрель</td><td>мшаҧы́(мза)</td><td>апрель</td></tr>
<tr><td>май</td><td>лаҵара́(мза)</td><td>маи</td></tr>
<tr><td>июнь</td><td>рашәара́(мза)</td><td>иун</td></tr>
<tr><td>июль</td><td>ҧхынгәы́(мза)</td><td>иуль</td></tr>
<tr><td>август</td><td>на́нҳәа(мза)</td><td>август</td></tr>
<tr><td>сентябрь</td><td>цәыббра́(мза)</td><td>сентиабр</td></tr>
<tr><td>октябрь</td><td>жьҭаара́(мза)</td><td>оқтиабр</td></tr>
<tr><td>ноябрь</td><td>абҵара́(мза)</td><td>ноиабр</td></tr>
<tr><td>декабрь</td><td>ҧхынчкәы́н(мза)</td><td>декабр</td></tr>
</table>

<p>
<i class="fas fa-check grammar-rule"></i>
Исконные названия могут употребляться и без второй части основы <b>-мза</b> «месяц».
</p>

<p>
<b>Упражнение 1</b><br />
Если изменить форму глагола, можно получить вопросительное предложение. Сделайте это!
</p>
<p>
Образец: Уара ара утәоуп. Уара ара утәоума?
</p>
<p>
Иахьа ҳаҩныҟа асасцәа аауеит.<br />
Дара ран илыцхраауеит.<br />
Аишәа ахаҟны саб дтәоуп.<br />
Бан есқьынгьы амаҭәа ҿыцқәа бзаалхәоит.<br />
Сан афатә лырхиоит.<br />
Кама лан длыцхраауеит.<br />
Иашьа еиҳабы ихьӡуп Дамеи.<br />
Ари ашәҟәы бара ибтәуп.
<small><a href="answers7#e21-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Переведите данные глаголы в отрицательные формы.
</p>
<p>
Образец: сгылоуп, сгылам, сгылазам.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Стәоуп</td><td>Саҧхьеит</td></tr>
<tr><td>Сыцәоуп</td><td>Иҿысхит</td></tr>
<tr><td>Исҭахуп</td><td>Сдәылҵит</td></tr>
<tr><td>Сбаазоуп</td><td>Сагхеит</td></tr>
<tr><td>Саҿуп</td><td>Изҩит</td></tr>
<tr><td>Бзиа избоит</td><td>Избон</td></tr>
<tr><td>Сныҟәоит</td><td>Изгон</td></tr>
<tr><td>Изгоит</td><td>Исҳәон</td></tr>
<tr><td>Исфоит</td><td>Илҵон</td></tr>
<tr><td>Дыҩналоит</td><td>Изҩуан</td></tr>
</table>
<p><small><a href="answers7#e21-2">(Ответы)</a></small></p>

<p>
<b>Упражнение 3</b><br />
Соедините начало предложений из левой колонки с окончанием из правой.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Иахьа ҳтәыла аиааира агара</td><td>есқьынгьы иазгәаҳҭоит.</td></tr>
<tr><td>Арҭ ашәҟәқәа</td><td>аишәа иахатәеит.</td></tr>
<tr><td>Ҳара ари аныҳәа</td><td>аныҳәа амш ауп.</td></tr>
<tr><td>Асасцәа зегьы</td><td>сара истәуп.</td></tr>
<tr><td>Ҳара ҳтәыла</td><td>амаҭәа ҿыцқәа сзаалхәоит.</td></tr>
<tr><td>Сееиласҳәан,</td><td>иахьзуп Аҧсны.</td></tr>
<tr><td>Сан есқьынгьы</td><td>аҩны сдәылҵит.</td></tr>
<tr><td>Ақәа ауан,</td><td>ҳара ҳбаазеит.</td></tr>
</table>
<p><small><a href="answers7#e21-3">(Ответы)</a></small></p>

<p>
<b>Упражнение 4</b><br />
Раскройте скобки, используя глагол в настоящем времени.
</p>
<p>
Ари аҩны дара (атәызаара).<br />
Ҳара аиааира (агара).<br />
Зегьы аныҳәа (азгәаҭара).<br />
Саҳәшьа хәыҷы Кама (ахьӡзаара).<br />
Сан аишәа (архиара).<br />
Саҳәшьеи сареи ҳан (ацхраара).<br />
Сара (бзиа абара) ҳаҩны асасцәа анаауа.
<small><a href="answers7#e21-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
Составьте предложения, используя следующие слова:
</p>
<p>
асас, аара, ҳара, ахь;<br />
азгәаҭара, ҳара, аныҳәа, есқьынгьы, ари;<br />
аныҳәазы, амаҭәа, ан, аҿыц, аахәара, ари, есқьынгьы;<br />
агхара, ҳара, маҷк, аусура, ахь.
<small><a href="answers7#e21-5">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 6</b><br />
Прокомментируйте! Что делают эти люди, изображенные на рисунках? Используйте следующие слова:
</p>
<p>
Марҭа лан, ацхраара. (Рис. №...)<br />
Аҧҳәыс, амаҭәа, аахәара. (Рис. №...)<br />
Аишәа архиара. (Рис. №...)<br />
Асасцәа ааит. (Рис. №...)<br />
Асасцәа (и)цоит. (Рис. №...)
<small><a href="answers7#e21-6">(Ответы)</a></small>
</p>

<table>
<tr>
<td><img src="/assets/img/21-1.png" width="527" height="400" border="1" alt="Рис. 1" /><br />Рис. 1</td>
<td><img src="/assets/img/21-2.png" width="341" height="400" border="1" alt="Рис. 2" /><br />Рис. 2</td>
</tr>
<tr>
<td><img src="/assets/img/21-3.png" width="320" height="400" border="1" alt="Рис. 3" /><br />Рис. 3</td>
<td><img src="/assets/img/21-4.png" width="348" height="400" border="1" alt="Рис. 4" /><br />Рис. 4</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/21-5.png" width="536" height="500" border="1" alt="Рис. 5" /><br />Рис. 5</td>
</tr>
</table>

<p>
<b>Упражнение 7</b><br />
Что за чем произошло? Обозначьте действие цифрами.
</p>
<p>
Аишәа ахаҟны саб дтәоуп (№…)<br />
Ҳара аишәа ҳархиоит. (№…)<br />
Урҭ сани саби рҩызцәа роуп. (№…)<br />
Иахьа ныҳәоуп. (№…)<br />
Асасцәа ааит. (№…)<br />
Иахьа ҳаҩныҟа асасцәа аауеит. (№…)<br />
Ҳтәыла аиааира агара аныҳәамш ауп. (№…)<br />
Бзиа избоит ҳаҩны асасцәа анаауа. (№…)
<small><a href="answers7#e21-7">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 8</b><br />
Переведите данные глаголы в вопросительную форму.
</p>
<p>
Например: сцоит, сцома? исфоит, исфома?
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>дтәоуп,</td><td>шәагхоит,</td></tr>
<tr><td>илымоуп,</td><td>иргоит,</td></tr>
<tr><td>иҟаҳҵоит,</td><td>баҧхьеит,</td></tr>
<tr><td>иаасхәоит,</td><td>дыҟоуп,</td></tr>
<tr><td>сыҧшуеит,</td><td>дыҩуеит,</td></tr>
<tr><td>иаҳгоит,</td><td>уагхоит,</td></tr>
<tr><td>ирымоуп,</td><td>иахҵоит,</td></tr>
</table>
<p><small><a href="answers7#e21-8">(Ответы)</a></small></p>
