---
order: 720
title: Урок 20
subtitle:
  - Продолжаем изучать звуки абхазского языка (ҷ, дә)
  - Работа с лексикой
  - Дни недели
---

<p>{% include audio.html file="20-1" %} ҷ, дә; ҷ дә</p>

<p>
<b>Новые слова и выражения</b><br />
а'ҷкәын мальчик. Ари' а'ҷкәын и'хьӡуп Даме'и. Этого мальчика зовут Дамей.<br />
ахәыҷы' ребенок; маленький, мн. число ахәыҷқәа'.<br />
Ахәыҷқәа' аба'ҳчаҿы ихәма'руеит. Дети играют в саду. Ари' аҩны' хәыҷу'п. Это дом маленький.<br />
хәыҷы'к немного (синоним — маҷк немного).<br />
маҷк немного. Иахьа' маҷк сыццаку'еит, нас ҳаицәа'жәап. Сегодня я немного спешу, потом поговорим.<br />
адәы' поле. Ари' адәы' ду'уп, ииаҵәоуп. Это поле большое, зеленое.<br />
адәахьы' во двор, во дворе, наружу.<br />
адәқьа'н магазин. Ҳаҩны' а'ҧхьа адәқьа'н гы'лоуп. Перед нашим домом находится (стоит) магазин.<br />
адәы'ҕба поезд. Адәы'ҕба ааи'т. Поезд прибыл.<br />
адәы'қәлара отправляться. Адәы'ҕба дәы'қәлоит. Поезд отправляется.<br />
адәы'лҵра выходить (из помещения).<br />
а'гхара опаздывать; задерживаться. Сара са'гхеит. Я опоздал.<br />
а'хәмарра играть(ся). Ахәыҷқәа' адәаҿы' ихәма'руеит. Дети играют в поле (на дворе).<br />
ҳа'мҭак недолго, немного времени. Ҳа'мҭак а'шьҭахь. Немного погодя / чуть позже.
</p>

<blockquote>Прочитайте и запомните!</blockquote>

<p>
{% include audio.html file="20-2" %}
Аҷкәын хәыҷы Мизан иан илеихҳәеит «Адәахьы сдәылцуеит, хәыҷык сыхәмаруеит» ҳәа. «Уца, — лҳәеит иан, — ахәыҷқәа зегьы ана абаҳчаҿы ихәмаруеит, аха ирлас уааи, шьыбжьхьа архиара саҿуп, уагымхан!» Ҳамҭак ашьҭахь ахәыҷы иан изҿылҭит, аха аҷкәын абаҳчаҿы дыкамызт. Ахәыҷқәа адәаҿы ихәмаруан. Лара лхәыҷгьы уа дыкан. Иан изҿылҭит «уааи» ҳәа. Ахәыҷы дааит. Иан аҧара илҭан адәқьан ахь длышьҭит, ача аахә ҳәа.
</p>

<p>
Маленький мальчик Мизан сказал своей матери: «Я выйду (наружу), немного поиграю». «Иди, — сказала мать, — все дети играют там, в саду, однако быстро возвращайся, я готовлю обед, не опоздай!» Через некоторое время мать позвала ребенка, однако мальчика в саду не было. Дети играли в поле (на дворе). И ее ребенок был там. Мать позвала его «иди сюда». Ребенок пришел. (Его) мать дала ему деньги и послала в магазин, чтобы он купил хлеба.
</p>

<blockquote>Дни недели</blockquote>

<p>{% include audio.html file="20-3" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>понедельник</td><td>ашәахьа'</td></tr>
<tr><td>вторник</td><td>аҩа'ша</td></tr>
<tr><td>среда</td><td>аха'ша</td></tr>
<tr><td>четверг</td><td>аҧшьа'ша</td></tr>
<tr><td>пятница</td><td>ахәа'ша</td></tr>
<tr><td>суббота</td><td>аса'бша</td></tr>
<tr><td>воскресенье</td><td>амҽы'ша</td></tr>
</table>

<blockquote>Формы приветствия</blockquote>

<p>{% include audio.html file="20-4" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Шьыжьыбзи'а(қәа)!</td><td>Доброе утро!</td></tr>
<tr><td>Мшыбзи'а(қәа)!</td><td>Добрый день!</td></tr>
<tr><td>Хәлыбзи'а(қәа)!</td><td>Добрый вечер!</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>Бзи'ара жәба'аит (уба'аит, бба'аит)!</td><td>(ответное приветствие)</td></tr>
<tr><td>Бзи'ала шәаабе'ит (уаабе'ит, баабе'ит)!</td><td>Добро пожаловать!</td></tr>
</table>

<p>
<b>Упражнение 1</b><br />
Определите порядок действий, обозначив их цифрами.
</p>
<p>
Шьыбжьышьҭахь сыдҵақәа ҟасҵеит. (№…)<br />
Автобусла ашкол ахь сцеит. (№…)<br />
Акрысфеит, нас аҩны сдәылҵит. (№…)<br />
Сеысыӡәӡәан, сееиласҳәеит. (№…)<br />
Аҩныҟа сааин, акрысфеит. (№…)<br />
Ашьыжьымҭан сгылеит. (№…)<br />
Маҷк ашкол сагхеит. (№…)<br />
Ашкол аҟны ашәҟәқәа ҳрыҧхьон, аеаршьцыларақәа ҳаҩуан. (№…)
<small><a href="answers7#e20-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Составьте предложения из предлагаемых слов.
</p>
<p>
а) аҷкәын, адәылҵра, шьыжьымҭан, аҩны;<br />
б) аццакра, агхара, аусура, маҷк;<br />
в) адәықәлара, ҳамҭак ашьҭахь, адәыҕба;<br />
г) аӡҕаб, ахәмарра, адәахьы;<br />
гь) абаҳчаҿы, зегьы, ахәмарра, ахәыҷқәа;<br />
гә) ан, аҷкәын, аҭара, аҧара;<br />
ҕ) аҵара, аҧсшәа, сара, аҿызаара.
<small><a href="answers7#e20-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
К началу предложения из левой колонки подберите подходящее окончание из правой колонки.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Ари аҷкәын</td><td>хәыҷуп.</td></tr>
<tr><td>Ҳаҩны аҧхьа</td><td>адәыҕба дәықәлоит.</td></tr>
<tr><td>Ҳамҭак ашьҭахь</td><td>адәаҿы ихәмаруан.</td></tr>
<tr><td>Ҳара иахьа</td><td>ихьӡуп Дамеи.</td></tr>
<tr><td>Уца,</td><td>адәқьан гылоуп.</td></tr>
<tr><td>Ари аҩны</td><td>ашкол ҳагхеит.</td></tr>
<tr><td>Ача аахә ҳәа</td><td>хәыҷык сыхәмаруеит.</td></tr>
<tr><td>Сара адәахьы сдәылҵуеит</td><td>аҧара илҭеит.</td></tr>
<tr><td>Ахәыҷқәа</td><td>аха ирлас уааи.</td></tr>
</table>
<p><small><a href="answers7#e20-3">(Ответы)</a></small></p>

<p>
<b>Упражнение 4</b><br />
Раскройте скобки.
</p>
<p>
Мизан дхәыҷуп абаҳчаҿы (ахәмарра). (наст. дин.)<br />
Жәаха уҩыза адәқьан аҿы (абара). (прош. сов.)<br />
Адәыҕба маҷк (агхара). (прош. несов.)<br />
Ҳамҭак ашьҭахь ахәыҷы иан (азҿытра). (прош. сов.)<br />
Сҩыза иаб ана (атәара). (наст. стат.)
<small><a href="answers7#e20-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
Согласуйте подлежащее с соответствующим глаголом в настоящем времени.
</p>
<p>
Ахәыҷқәа (ахәмарра).<br />
Ҳара асабша дәыҕбала (аара).<br />
Ҳаҩны аҧхьа адәқьан (агылара).<br />
Ҳамҭак ашьҭахь адәыҕба (адәықәлара).<br />
Арҵаҩы акласс (адәылцра).<br />
Ахәыҷы адәаҿы (аҟазаара).<br />
Аҷкәын иан «Уааи!» ҳәа (аҿытра).
<small><a href="answers7#e20-5">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 6</b><br />
Переведите на абхазский язык.
</p>
<p>
1. Сегодня понедельник, я иду на работу.<br />
2. Дети идут в школу.<br />
3. Я немного спешу, опаздываю на работу.<br />
4. Дети играют во дворе.<br />
5. Мой ребенок тоже играет там.<br />
6. Немного погодя, он пришел домой.<br />
7. Утром мы выходим из дома, на автобусе едем в город.<br />
8. Я не люблю вставать утром, люблю поспать.<br />
9. Моя мать говорит мне: «Вставай, опоздаешь в школу!»<br />
10. Завтра суббота, мой отец не идет на работу, и мы не идем в школу.
<small><a href="answers7#e20-6">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 7</b><br />
Вспомните Урок 18 и определите временную форму следующих глаголов:
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>сыцәам ( &nbsp; &nbsp; )</td><td>саҧхьом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сыцәамызт ( &nbsp; &nbsp; )</td><td>саҧхьазом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сымцап ( &nbsp; &nbsp; )</td><td>исфом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сцом ( &nbsp; &nbsp; )</td><td>исфазом ( &nbsp; &nbsp; )</td></tr>
<tr><td>иаасымхәеит ( &nbsp; &nbsp; )</td><td>исымфап ( &nbsp; &nbsp; )</td></tr>
<tr><td>иаасхәап ( &nbsp; &nbsp; )</td><td>дгылом ( &nbsp; &nbsp; )</td></tr>
<tr><td>ҿысҭӡом ( &nbsp; &nbsp; )</td><td>иҟам ( &nbsp; &nbsp; )</td></tr>
<tr><td>ҿысҭуамызт ( &nbsp; &nbsp; )</td><td>иҟоуп ( &nbsp; &nbsp; )</td></tr>
</table>
<small><a href="answers7#e20-7">(Ответы)</a></small>
</p>
