---
order: 720
title: Урок 20
subtitle:
  - Продолжаем изучать звуки абхазского языка (ҷ, дә)
  - Работа с лексикой
  - Дни недели
---

<p>{% include audio.html file="20-1" %} Ҷ, дә; ҷ дә</p>

<p>
<b>Новые слова и выражения</b><br />
аҷкәын мальчик. Ари аҷкәын ихьӡуп Дамеи. Этого мальчика зовут Дамей.<br />
ахәыҷы ребенок; маленький, мн. число ахәыҷқәа. Ахәыҷқәа абаҳчаҕы ихәмаруеит. Дети играют в саду. Ари аҩны хәыҷуп. Это дом маленький.<br />
хәыҷык немного (синоним — маҷк немного).<br />
маҷк немного. Иахьа маҷк сыццакуеит, нас ҳаицәажәап. Сегодня я немного спешу, потом поговорим.<br />
адәы поле. Ари адәы дуп, ииацәоуп. Это поле большое, зеленое.<br />
адәахьы во двор, во дворе, наружу.<br />
адәқьан магазин. Ҳаҩны апхьа адәқьан гылоуп. Перед нашим домом находится (стоит) магазин.<br />
адәыҕба поезд. Адәыҕба ааит. Поезд прибыл.<br />
адәықәлара отправляться. Адәыҕба дәықәлоит. Поезд отправляется.<br />
адәылцра выходить (из помещения).<br />
агхара опаздывать; задерживаться. Сара сагхеит. Я опоздал.<br />
ахәмарра играть(ся). Ахәыҷқәа адәаҕы ихәмаруеит. Дети играют в поле (на дворе).<br />
ҳамҭак недолго, немного времени. Ҳамҭак ашьҭахь. Немного погодя / чуть позже.
</p>

<blockquote>Прочитайте и запомните!</blockquote>

<p>
{% include audio.html file="20-2" %}
Аҷкәын хәыҷы Мизан иан илеихҳәеит «Адәахьы сдәылцуеит, хәыҷык сыхәмаруеит» ҳәа. «Уца, — лҳәеит иан, — ахәыҷқәа зегьы ана абаҳчаҕы ихәмаруеит, аха ирлас уааи, шьыбжьхьа архиара саҕуп, уагымхан!» Ҳамҭак ашьҭахь ахәыҷы иан изҕылҭит, аха аҷкәын абаҳчаҕы дыкамызт. Ахәыҷқәа адәаҕы ихәмаруан. Лара лхәыҷгьы уа дыкан. Иан изҕылҭит «уааи» ҳәа. Ахәыҷы дааит. Иан аҧара илҭан адәқьан ахь длышьҭит, ача аахә ҳәа.
</p>

<p>
Маленький мальчик Мизан сказал своей матери: «Я выйду (наружу), немного поиграю». «Иди, — сказала мать, — все дети играют там, в саду, однако быстро возвращайся, я готовлю обед, не опоздай!» Через некоторое время мать позвала ребенка, однако мальчика в саду не было. Дети играли в поле (на дворе). И ее ребенок был там. Мать позвала его «иди сюда». Ребенок пришел. (Его) мать дала ему деньги и послала в магазин, чтобы он купил хлеба.
</p>

<blockquote>Дни недели</blockquote>

<p>{% include audio.html file="20-3" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>понедельник</td><td>ашәахьа</td></tr>
<tr><td>вторник</td><td>аҩаша</td></tr>
<tr><td>среда</td><td>ахаша</td></tr>
<tr><td>четверг</td><td>аҧшьаша</td></tr>
<tr><td>пятница</td><td>ахәаша</td></tr>
<tr><td>суббота</td><td>асабша</td></tr>
<tr><td>воскресенье</td><td>амҽыша</td></tr>
</table>

<blockquote>Формы приветствия</blockquote>

<p>{% include audio.html file="20-4" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Шьыжьыбзиа(қәа)!<br />Мшыбзиа(қәа)!<br />Хәлыбзиа(қәа)!</td><td>Доброе утро!<br />Добрый день!<br />Добрый вечер!</td></tr>
<tr><td>Бзиара жәбаит (убаит, ббаит)!</td><td>(ответное приветствие)</td></tr>
<tr><td>Бзиала шәаабеит (уаабеит, баабеит)!</td><td>Добро пожаловать!</td></tr>
</table>

<p>
<b>Упражнение 1</b><br />
Определите порядок действий, обозначив их цифрами.
</p>
<p>
Шьыбжьышьҭахь сыдцақәа ҟасцеит. (№…)<br />
Автобусла ашкол ахь сцеит. (№…)<br />
Акрысфеит, нас аҩны сдәылцит. (№…)<br />
Сеысызәзәан, сееиласҳәеит. (№…)<br />
Аҩныҟа сааин, акрысфеит. (№…)<br />
Ашьыжьымҭан сгылеит. (№…)<br />
Маҷк ашкол сагхеит. (№…)<br />
Ашкол аҟны ашәҟәқәа ҳрыҧхьон, аеаршьцыларақәа ҳаҩуан. (№…)
<small><a href="answers7#e20-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Составьте предложения из предлагаемых слов.
</p>
<p>
а) аҷкәын, адәылцра, шьыжьымҭан, аҩны;<br />
б) аццакра, агхара, аусура, маҷк;<br />
в) адәықәлара, ҳамҭак ашьҭахь, адәыҕба;<br />
г) азҕаб, ахәмарра, адәахьы;<br />
гь) абаҳчаҕы, зегьы, ахәмарра, ахәыҷқәа;<br />
гә) ан, аҷкәын, аҭара, аҧара;<br />
ҕ) ацара, аҧсшәа, сара, аҕызаара.
<small><a href="answers7#e20-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
К началу предложения из левой колонки подберите подходящее окончание из правой колонки.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Ари аҷкәын</td><td>хәыҷуп.</td></tr>
<tr><td>Ҳаҩны апхьа</td><td>адәыҕба дәықәлоит.</td></tr>
<tr><td>Ҳамҭак ашьҭахь</td><td>адәаҕы ихәмаруан.</td></tr>
<tr><td>Ҳара иахьа</td><td>ихьӡуп Дамеи.</td></tr>
<tr><td>Уца,</td><td>адәқьан гылоуп.</td></tr>
<tr><td>Ари аҩны</td><td>ашкол ҳагхеит.</td></tr>
<tr><td>Ача аахә ҳәа</td><td>хәыҷык сыхәмаруеит.</td></tr>
<tr><td>Сара адәахьы сдәылҵуеит</td><td>аҧара илҭеит.</td></tr>
<tr><td>Ахәыҷқәа</td><td>аха ирлас уааи.</td></tr>
</table>
<p><small><a href="answers7#e20-3">(Ответы)</a></small></p>

<p>
<b>Упражнение 4</b><br />
Раскройте скобки.
</p>
<p>
Мизан дхәыҷуп абаҳчаҕы (ахәмарра). (наст. дин.)<br />
Жәаха уҩыза адәқьан аҕы (азбара). (прош. сов.)<br />
Адәыҕба маҷк (агхара). (прош. несов.)<br />
Ҳамҭак ашьҭахь ахәыҷы иан (азҕытра). (прош. сов.)<br />
Сҩыза иаб ана (атәара). (наст. стат.)
<small><a href="answers7#e20-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
Согласуйте подлежащее с соответствующим глаголом в настоящем времени.
</p>
<p>
Ахәыҷқәа (ахәмарра).<br />
Ҳара асабша дәыҕбала (аара).<br />
Ҳаҩны апхьа адәқьан (агылара).<br />
Ҳамҭак ашьҭахь адәыҕба (адәықәлара).<br />
Арцаҩы акласс (адәылцра).<br />
Ахәыҷы адәаҕы (аҟазаара).<br />
Аҷкәын иан «Уааи!» ҳәа (аҕытра).
<small><a href="answers7#e20-5">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 6</b><br />
Переведите на абхазский язык.
</p>
<p>
1. Сегодня понедельник, я иду на работу.<br />
2. Дети идут в школу.<br />
3. Я немного спешу, опаздываю на работу.<br />
4. Дети играют во дворе.<br />
5. Мой ребенок тоже играет там.<br />
6. Немного погодя, он пришел домой.<br />
7. Утром мы выходим из дома, на автобусе едем в город.<br />
8. Я не люблю вставать утром, люблю поспать.<br />
9. Моя мать говорит мне: «Вставай, опоздаешь в школу!»<br />
10. Завтра суббота, мой отец не идет на работу, и мы не идем в школу.
<small><a href="answers7#e20-6">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 7</b><br />
Вспомните Урок 18 и определите временную форму следующих глаголов:
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>сыцәам ( )</td><td>сапхьом ( )</td></tr>
<tr><td>сыцәамызт ( )</td><td>сапхьазом ( )</td></tr>
<tr><td>сымцап ( )</td><td>исфом ( )</td></tr>
<tr><td>сцом ( )</td><td>исфазом ( )</td></tr>
<tr><td>иаасымхәеит ( )</td><td>исымфап ( )</td></tr>
<tr><td>иаасхәап ( )</td><td>дгылом ( )</td></tr>
<tr><td>ҕысҭзом ( )</td><td>иҟам ( )</td></tr>
<tr><td>ҕысҭуамызт ( )</td><td>иҟоуп ( )</td></tr>
</table>
<small><a href="answers7#e20-7">(Ответы)</a></small>
</p>
