---
order: 203
title: Урок 3
subtitle:
- Грамматика. Спряжение глагола.
- Работа с лексикой.
---

<p>
<i class="fas fa-bolt important-material"></i>
Обратите
внимание
на
то,
как
спрягается
глагол
<b>ацара'</b>
«идти».<br />
Сара' сцо'ит
- Я
иду<br />
Бара' бцо'ит
- Ты
(жен)
идешь<br />
Уара' уцо'ит
- Ты
(муж)
идешь<br />
Иара' дцо'ит
- Он
идет<br />
Лара' дцо'ит
- Она
идет
</p>

<p>
<b>Упражнение 1</b><br />
Проспрягайте
глаголы
<b>анхара'</b>
«жить»,
<b>аара'</b>
приходить»
вставляя
«прийти,
пропущенные
буквы.<br />
Сара' ... ихои'т
- я
живу<br />
Уара' ... ихои'т
- ты
(муж)
живешь<br />
Бара' ... ихои'т
- ты
(жен)
живешь<br />
Иара' ... ихои'т
- он
живет<br />
Лара' ... ихои'т
- она
живет<br />

Сара' ... аауе'ит
- я
прихожу<br />
Уара' ... аауе'ит
- ты
(муж)
приходишь<br />
Бара' ... аауе'ит
- ты
(жен)
приходишь<br />
Иара' ... аауе'ит
- он
приходит<br />
Лара' ... аауе'ит
- она
приходит<br />
<small><a href="answers2#e3-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Восстановите
правильную
связь:
у
каждого
примера
из
левой
колонки
есть
соответствующий
ему
русский
перевод
в
правой.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>
абара'<br />
<b>с</b>ара и<b>з</b>боит<br />
<b>б</b>ара и<b>б</b>бо'ит<br />
<b>у</b>ара и<b>у</b>бо'ит<br />
<b>и</b>ара (и)<b>и</b>бо'ит<br />
<b>л</b>ара и<b>л</b>бо'ит<br />
</td>
<td>
видеть<br />
он
видит<br />
ты
(жен)
видишь<br />
она
видит<br />
я
вижу<br />
ты
(муж)
видишь
</td>
</tr>
<tr>
<td>
агара'<br />
<b>и</b>ара' (и)<b>и</b>го'ит<br />
<b>б</b>ара' и<b>б</b>го'ит<br />
<b>с</b>ара' и<b>з</b>го'ит<br />
<b>у</b>ара' и<b>у</b>го'ит<br />
<b>л</b>ара' и<b>л</b>го'ит
</td>
<td>
брать,
взят;
(у)вести;
унести<br />
я
беру<br />
он
берет,
возьмет<br />
она
берет,
возьмет<br />
ты
(жен)
берешь,
возьмешь<br />
ты
(муж)
берешь,
возьмешь
</td>
</tr>
</table>
<small><a href="answers2#e3-2">(Ответы)</a></small>

<p>
Вас
ждут
новые
слова
и
выражения!
</p>

<p>
{% include audio.html file="3-1" %}
ала' - собака.
А'хра ила'
- Собака
Ахры.<br />
а'аи (аие'и) - да.
А'аи,
сара'
сцо'ит - Да,
я
иду.<br />
мап (мамо'у) - нет.
Мап, сара' сцом
- Нет,
я
не
иду.<br />
ады'рра - знать.
Сара'
Ка'ма
дызды'руеит
- Я
знаю
Каму.<br />
ау'с - дело.
Сара'
сус
ибзи'аны
изды'руеит
- Я
знаю
свою
работу
хорошо.
Ари'
сара'
ису'сым!
- Это
не
мое
дело!<br />
ау'сура (ау'с аура')
- работать.
Ка'ма ау'с лу'еит.<br />
а'мазаара*
- иметь.
Сара' ала' сы'моуп
- У
меня
есть
собака.
Сара' сла бзи'а избо'ит
- Я
люблю
свою
собаку.
</p>

<p>
* Примечание.
В
слове
<i>а'мазаара</i>
корнем
является
<i>-ма</i>,
<i>-заара</i>
–
суффикс.
</p>

<p>
Запомните
эти
выражения!
</p>

<p>
{% include audio.html file="3-2" %}
Амш
бзи'оуп. -
День
хороший.<br />
Ара'
анхара'
бзи'оуп. -
Здесь
хорошо
жить.<br />
Лара'
бзи'а
илбо'ит
ара'
анхара'. -
Она
любит
(ей
нравится)
здесь
жить.<br />
Сара'
бзи'а
бызбо'ит. -
Я
люблю
тебя
(жен).<br />
Сара'
бзи'а
узбо'ит. -
Я
люблю
тебя
(муж).<br />
Лара'
дыбзи'оуп. -
Она
хорошая.<br />
Иара'
бзи'а
ибо'ит
амшы'н. -
Он
любит
море.<br />
Сара'
сус
ибзи'аны
изды'руеит. - 
Я
хорошо
знаю
свою
работу
(свое
дело).<br />
Ари'
сара'
ису'сым! -
Это
не
мое
дело!<br />
Ка'ма
ау'с
лу'еит. -
Кама
работает.<br />
Сара'
ала'
сы'моуп. -
У
меня
есть
собака.<br />
Сара'
сла
бзи'а
избо'ит. -
Я
люблю
свою
собаку.
</p>

<p>
{% include audio.html file="3-3" %}
Бара'
амшы'н
бзи'а
иббо'ма? -
Ты
(жен)
любишь
море?<br />
А'аи,
сара'
амшы'н
бзи'а
избо'ит. -
Да,
я
люблю
море.<br />
Иахьа'
амшы'н
бзи'оуп. -
Сегодня
море
хорошее.
</p>

<p>
{% include audio.html file="3-4" %}
Сара'
изды'руеит. -
Я
знаю.<br />
Уара'
иуды'руама?
Ты
(муж)
знаешь?
</p>

<p>
{% include audio.html file="3-5" %}
Сара'
амшы'н
ахь
сцо'ит. -
Я
иду
на
море
(к
морю).<br />
Бара'
А'хра
иа'хь
бца. -
Ты
(жен)
иди
к
Ахре.<br />
Уара'
Даме'и
иахь
уца'. -
Ты
(муж)
иди
к
Дамею.
</p>

<p>
{% include audio.html file="3-6" %}
Иара'
ау'с
иу'еит. -
Он
работает.<br />
Бара'
ау'с
бу'ама?
Ты
(жен)
работаешь?<br />
Сар'а
су'с
ибзи'аны
изды'руеит. -
Я
хорошо
знаю
свое
дело
(работу).<br />
Бара'
бу'с
бзи'а
иббо'ма? -
Ты
(жен)
любишь
свою
работу?
</p>

<p>
<b>Упражнение 3</b><br />
Раскройте
скобки.<br />
Образец:
Иара (агара)
- Иара (и)игоит.
</p>

<p>
Сара (ацара).
Уара (аара).
Иара ара (анхара).
Лара (аус
бзиа абара).
Иара (адырра).
Ашкол (ахь, ацара).
Аусура (ахь, ацара).<br />
<small><a href="answers2#e3-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 4</b><br />
Переведите
на
абхазский
язык.
</p>

<p>
Она
уходит.
Я
прихожу.
Он
берет.
Я
вижу
море.
Море
хорошее.
Ты
(муж.)
видишь.
Ты
(жен.)
уходишь.
Ты
(жен)
любишь
море?
Да,
я
люблю
море.
Он
здесь
живет.
Ты
(ж)
здесь
живешь?
Да,
я
живу
здесь.<br />
<small><a href="answers2#e3-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
А
теперь
переведите
на
русский
язык.
Это
намного
легче,
не
так
ли?
</p>

<p>
Бара
баауеит.
Иара
дцоит.
Бара
аус
буама?
Сара
саауеит.
Сара
сцоит.
Иара
аус
иуеит.
Амшын
бзиоуп.
Иара
(и)игоит.
Уара
иугоит.
Бара
амшын
бзиа
иббомо?
Ааи,
сара
амшын
бзиа
избоит.
Уара
аус
ууама?
Ааи,
сара
аус
зуеит.
Уара
ибзианы
аус
ууама?
Сара
сус
ибзианы
издыруеит.
Бара
бус
бзиа
иббома?
Сара
лара
лусурахь
сцоит.<br />
<small><a href="answers2#e3-5">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 6</b><br />
Перед
Вами
несколько
рисунков.
Попробуйте
подобрать
каждому
рисунку
подходящее
предложение.
</p>

<p>
Амш бзи'оуп.
(Рис. № ...)<br />
Иара дцоит.
(Рис. № ...)<br />
Сара' амшы'н ахь сцо'ит.
(Рис. № ...)<br />
Иара' ау'с иуе'ит.
(Рис. № ...)
</p>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td><img src="/assets/img/3-1.gif" width="418" height="245" border="1" alt="Picture 1" /><br />Рис. 1</td>
<td><img src="/assets/img/3-3.gif" width="215" height="298" border="1" alt="Picture 3" /><br />Рис. 3</td>
</tr>
<tr>
<td><img src="/assets/img/3-2.gif" width="411" height="282" border="1" alt="Picture 2" /><br />Рис. 2</td>
<td align="right"><img src="/assets/img/3-4.gif" width="164" height="330" border="1" alt="Picture 4" /><br />Рис. 4</td>
</tr>
</table>
<br />
<small><a href="answers2#e3-6">(Ответы)</a></small>

<p>
<b>Упражнение 7</b><br />
Из
этих
слов
и
выражений
можно,
если
постараться,
составить
небольшой
диалог.<br />
Вы
с
этим
справитесь!
Попробуйте
поговорить
с
кем-нибудь!
</p>

<p>
Мшыбзи'а!<br />
Бзи'ара
уба'ат
(бба'ат)!<br />
Абзи'араз!<br />
Уара'
(бара')
уаба'цои
(баба'цои)?<br />
Уара'
(бара')
уаба'нхои
(баба'нхои)?<br />
Сара'
ара'
(ана')
сы'нхоит.<br />
Сара'
ашко'л
(ау'сура)
ахь
сцо'ит.<br />
Сара'
ау'с
зуе'ит.<br />
Сара'
сус
бзи'а
избо'ит.<br />
Сара'
су'сура
бзи'аны
изды'руеит.<br />
Уара'
(бара')
ау'с
ууа'ма
(буа'ма)?<br />
Уара'
(бара')
уу'с
(бу'с)
бзи'а
иубо'ма
(иббо'ма)?<br />
<small><a href="answers2#e3-7">(Ответы)</a></small>
</p>

<p>
До
следующей
встречи!<br />
Абзиараз!
</p>
