---
title: Урок 4
order: 204
---

<h3>Урок 4</h3>

<dl>
<dt>Содержание
урока:</dt>
<dd>Спряжение
глагола:
Настоящее
и
прошедшее
время
глагола.</dd>
<dd>Продолжаем
изучать
абхазский
алфавит.
Новые
буквы
и
звуки.
(ҧ, ҭ)</dd>
<dd>Работа с лексикой.</dd>
<dd>Грамматика.
Временные
формы.</dd>
</dl>

<p>
В
абхазском
языке
имеются
известные
Вам
из
русского
алфавита
звуки
и
буквы
<b>п</b>
и
<b>т</b>.
Но
наряду
с
ними
есть
и
их
придыхательные
варианты
<b>ҧ</b>
и
<b>ҭ</b>.<br>
Произносите
их
вслед
за
диктором!
У
Вас
это
обязательно
получится!
</p>

<p>
{% include audio.html file="4-1" %}
пҧ; пҧ<br />
ҧа, ҧы, ҧи, ҧе,
ҧу<br />
тҭ; тҭ<br />
ҭа, ҭе, ҭи, ҭо, ҭу, ҭы
</p>

<p>
Новые
слова
и
выражения.
</p>

<p>
{% include audio.html file="4-2" %}
а'иҧшра (е'иҧшра)
- быть
похожим.
Сара'
дсе'иҧшуп.
- Похож
на
меня.
Наа'ла
дле'иҧшуп
- Похож
на
Наалу.
Иара
диеиҧшуп
- Похож
на
него.<br />
аҧша' а'сра
- дуть
(о
ветре).
Ара'
аҧша'
а'суеит
- Здесь
дует
ветер.<br />
а'ҧсуа
- абхаз.
Сара'
саҧсу'оуп*
- Я
абхаз.<br />
Аҧсны'
- Абхазия.
Сара'
саҧсу'оуп,
Аҧсны
сынхо'ит
- Я
абхаз,
живу
в
Абхазии.<br />
аҧшра'
- смотреть.
Сара'
сыҧшуе'ит
- Я
смотрю.
Иара'
дыҧшуе'ит
- Он
смотрит.
Лара'
дыҧшуе'ит
- Она
смотрит.
Лара'
иара'
иахь
дыҧшуе'ит
- Она
смотрит
на
него
(в
его
сторону).<br />
аҧха'
- теплый.
Иахьа
амш
ҧхо'уп
- Сегодня
теплый
день.<br />
а'ҧхьара
- читать.
Сара'
са'ҧхьоит.
Иара'
да'ҧхьоит.
Иара'
агазе'ҭ
да'ҧхьоит.<br />
уи
- он,
она,
тот,
та
(указательное
местоимение).
Уи
амшы'н
ахь
дыҧшу'еит
- Он(а)
смотрит
на
море.<br />
а'ҭара
- давать.
Иу'сҭоит
- Я
тебе
(муж)
даю.
Ибы'сҭоит
- Я
тебе
(жен)
даю.
Исы'лҭоит
- Она
мне
дает.
Иу'иҭоит
- Он
тебе
дает.
Иҭ!
- Отдай
ему!<br />
аҧа'ра
- деньги.
Ка'ма,
А'хра
аҧа'ра
иҭ!
- Кама,
дай
деньги
Ахре!<br />
аҭахра'
- хотеть,
желать.
Сара'
исҭаху'п
- Я
желаю,
хочу.
Бара'
ибҭаху'ма?
- Ты
(жен)
желаешь?
Иара
(и)иҭаху'ма
- Он
хочет,
желает?<br />
иҭабу'п
- спасибо.<br />
а'ццакра
- спешить.
Наа'ла
дыццакуе'ит
- Наа'ла
спешит.
Уара'
уццакуа'ма
 - Ты
(муж)
спешишь?<br />
 абри' (ари')
 - этот,
это,
эта.<br />
аҭы'ҧ
- место.
Ари'
аҭы'ҧ
бзи'оуп
- Это
место
хорошее.<br />
а'ҧхьа
- впереди,
спереди;
сначала;
в
начале.
Сара'
са'ҧхьа
- Передо
мной.
</p>

<p>
*
Примечание.
В
слове
саҧсу'оуп
мы
имеем
в
действительности
форму
саҧсы'уоуп,
однако,
по
существующему
правилу,
<b><i>ы</i></b>
в
соседстве
со
звуками
<b><i>у</i></b>,
<b><i>ы</i></b>
не
пишется.
</p>

<p>
<b>Упражнение 1</b><br />
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Было
бы
полезно
выучить
все
тексты
наизусть!<br />
А
пока
прочитайте
и
переведите
данный
текст
на
русский
язык.
</p>

<p>
{% include audio.html file="4-3" %}
Мшыбзи'а
Ка'ма!<br />
Бзи'а
бба'аит
Наа'ла!<br />
Ка'ма
А'хра
ау'сура
дца'ма?<br />
Мап!
Дыбба'р
бҭаху'ма?
Баа'и!
А'хра
ана'
ау'с
иу'еит.
Уи'
бзи'а
ибо'ит
ара'
ау'сура.<br />
Иҭабу'п
Ка'ма,
А'хра
ана'
дызбо'ит.
А'хра
иа'н
дле'иҧшуп.<br />
Баа'и
Наа'ла!<br />
Мап,
Ка'ма,
сара'
сыццакуе'ит,
абри'
аҧа'ра
А'хра
иҭ.<br />
Ибзи'оуп
Наа'ла!<br />
Иҭабу'п
Ка'ма!
Абзи'араз!<br />
Абзи'араз
Наа'ла!<br />
<small><a href="answers2#e4-1">(Ответы)</a></small>
</p>

<p>
А
теперь
немного
грамматики.
</p>

<p>
Познакомимся
с
наиболее
употребительными
временными
формами
абхазского
языка.
</p>

<p>
Настоящее
время
в
динамических
и
статических
глаголах
образуется
по-разному:
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Настоящее
время
<i>(статических
глаголов)</i></b>
образуется
при
помощи
суффикса
<b><i>-уп</i></b>.
</p>

<p>
Сгы'ло<b>уп</b>
- стою,
бгы'ло<b>уп</b>
- ты
(ж)
стоишь,
угы'ло<b>уп</b>
- ты
(м)
стоишь
и
т.д.<br />
Исы'мо<b>уп</b>
- (я)
имею,
ибы'мо<b>уп</b>
- ты
(ж)
имеешь,
иу'мо<b>уп</b>
- ты
(м)
имеешь.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Если
корень
слова
заканчивается
на
гласный
звук
<b><i>а</i></b>,
то
<b><i>а+уп=оуп</i></b>,
если
же
на
согласный
или
на
гласный
<b><i>ы</i></b>
то
<b><i>о</i></b>
отсутствует.<br />
ара
сгылоуп
(сгыла+ауп)
- я
здесь
(нахожусь);
сара
исҭаху'п
(исҭах+уп)
- я
хочу.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Настоящее
время
<i>(динамических
гл-голов)</i></b>
образуется
при
помощи
суффикса
<b><i>-оит</i></b> // <b><i>-уеит</i></b>.
</p>

<p>
Изг<b>о'ит</b>
- беру,
ибг<b>о'ит</b>
- ты
(ж)
берешь,
иуг<b>о'ит</b>
- ты
(м)
берешь;
Сара
аус
зу<b>еит</b>
- Я
работаю.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Данная
временная
форма
может
использоваться
(как
и
в
русском
языке)
для
передачи
значения
будущего
времени.<br />
Иахьа'
изг<b>о'ит</b>
- сегодня
возьму,
заберу.
Нас
изг<b>о'ит</b>
- потом
возьму,
заберу.
</p>

<p>
Как
определить
какую
форму
глагола
настоящего
времени
использовать?
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Если
в
значении
глагола
нет
значения
процесса
или
движения,
то
глагол
статичен
и
мы
используем
суффикс
<b>-уп</b>.<br />
сгы'лоуп
- стою;
исҭаху'п
- я
хочу;
 ибы'моуп
- ты
(ж)
имеешь.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Если
же
в
значении
глагола
имеется
процесс
или
движение,
то
мы
имеем
динами-ческий
глагол,
и
используем
суффикс
<b>-оит</b> // <b>-уеит</b>.<br />
иугоит
- ты
(м)
берешь;
Иара аус иуеит
- Он
работает.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Прошедшее
<i>совершенное</i></b>
время
образуется
при
помощи
суффикса
<b><i>-ит</i></b>.
Изге<b>ит</b>
- я
взял.
Исфе'<b>ит</b>
- я
съел.
</p>

<p>
Если
корень
глагола
заканчивается
на
гласную
<b><i>а</i></b>,
то
<b><i>а</i> +</b>
суффикс
прошедшего
совершенного
времени
<b><i>-ит</i></b>
дает
<b><i>-еит</i></b>.<br />
<i class="fas fa-bolt important-material"></i>
Не
спутайте
с
суффиксом
настоящего
времени
<b>-уеит//-оит!</b>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Сочетания
<b><i>аи</i></b> и <b><i>иа</i></b>
в
абхазском
часто
переходят
в
сочетания
<b><i>еи</i></b>, <b><i>ие</i></b>
или
в
звук
<b><i>е</i></b>.
Например,
<b>аи</b>ҧшра
- быть
похожим,
но
дл<b>еи</b>ҧшуп
- похож(а)
на
нее.
Ахр<b>еи</b>
Наал<b>еи</b>
(Ахр<b>аи</b>
Наал<b>аи</b>)
- Ахра
и
Наала.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Сочетание
<b><i>ау</i></b>, <b><i>уа</i></b> и <b><i>ауа</i></b>
часто
переходят
в
сочетания
<b><i>уо</i></b>, <b><i>оу</i></b>
или
же
гласную
<b><i>о</i></b>.
Изг<b>о</b>ит <
изг<b>ауа</b>ит
- беру.
</p>

<table width="400">
<tr><th>Таблица
временных
форм</th></tr>
</table>
<table width="400" border="1" cellspacing="0" cellpadding="4">
<tr>
<td>Настоящее
время
статич.
глаголов</td>
<td><b>-уп</b></td>
</tr>
<tr>
<td>Настоящее
время
дин.
глаголов</td>
<td><b>-оит, -уеит</b></td>
</tr>
<tr>
<td>Прошешее
совершенное
время</td>
<td><b>-ит</b></td>
</tr>
</table>

<p>
Теперь
Вы
знакомы
с
тремя
формами
времени
абхазского
глагола.
Попробуйте
применить
Ваши
знания
в
данном
упражнении.
</p>

<p>
<b>Упражнение 2</b><br />
Переведите
на
русский
язык.
</p>

<p>
Сара
сыҧшуе'т
амшы'н
ахь.
Сара
амшы'н
ахь
сыҧши'т.
Иахьа'
(и)хьҭо'уп,
аҧша'
а'суеит.
Наа'ла
иахьа
даауеит.
Сара
иара
аҧара
исҭеит.
Ахра
иара
иахь
дыҧшуеит.
Сара
агазеҭ
саҧхьоит.
Сара
агазеҭ
саҧхьеит.
Наала
ахьҭа
дакит.
Ала
аҭыҧ
ахь
ицеит.<br />
<small><a href="answers2#e4-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
Составьте
предложения
из
этих
слов
в
настоящем
и
прошедшем
времени.
</p>

<p>
1. Сара;
ахь;
ацара;
амшын.
2. Абри;
аҭара;
Ахра;
аҧара.
3. Ала;
аҧшра;
ахь;
сара.
4. Ара;
аҧша
асра.
5. Сара;
аус;
бзиа
абара.
6. Лара;
аццакра.
7. Уи
ана
анхара.
8. Дамеи;
аҧара;
аагара.<br />
<small><a href="answers2#e4-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 4</b><br />
Переведите
на
абхазский
язык.
</p>

<p>
Дует
ветер.
Он
читает
газету.
Наала
дает
деньги
Ахре.
Я
сцоит.
Сегодня
холодно.
Я
работаю.
Тали
похожа
на
Ахру.<br />
<small><a href="answers2#e4-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
Восстановите
правильную
связь.
Аналогичные
задания
Вы
уже
делали.
</p>

<table width="200" border="1" cellspacing="0" cellpadding="4">
<tr><td>
сара<br />
уара<br />
иара<br />
лара<br />
бара
</td><td>
быҧшуеит<br />
дыҧшуеит<br />
дыҧшуеит<br />
уҧшуеит<br />
сыҧшуеит
</td></tr>
</table>
<small><a href="answers2#e4-5">(Ответы)</a></small>

<p>
<b>Упражнение 6</b><br />
Отметьте
предложение,
которое
произносит
диктор.
</p>

<table width="300" border="1" cellspacing="0" cellpadding="4">
<tr><td>
{% include audio.html file="4-4" %}
лара
длеиҧшуп<br />
лара
дыҧшуеит<br /><br />
иусҭоит
аҧара<br />
илысҭоит
аҧара<br /><br />
лара
даҧхьоит<br />
иара
даҧхьоит
</td><td>
сара
сцоит<br />
сара
сцеит<br /><br />
аҧша
асуеит<br />
аҧша
асит<br /><br />
агазеҭ
саҧхьоит<br />
агазеҭ
саҧхьеит
</td></tr>
</table>

<p>
<b>Упражнение 7</b><br />
Вставьте
пропущенные
буквы.<br />
<i class="fas fa-bolt important-material"></i>
Умение
правильно
поставить
показатели
личных
местоимений
в
глаголе
будет
свидетельствовать
о
том,
что
Вы
усвоили
пройденный
материал!
</p>

<p>
Образец:
Сара
и..згоит
-
Сара
изгоит.<br />
Сара
и..ҭахуп
\ ..аҧхьоит<br />
Уара
и..ҭахуп
\ ..аҧхьоит<br />
Бара
и..ҭахуп
\ ..аҧхьоит<br />
Иара
и..ҭахуп
\ ..аҧхьоит<br />
Лара
и..ҭахуп
\ ..аҧхьоит
<br />
<small><a href="answers2#e4-7">(Ответы)</a></small>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Полезные
выражения,
запомните
их!<br />
- Иахьа
амш
бзиоуп.<br />
- Ааи,
иахьа
амш
бзиоуп,
иҧхарроуп.<br />
- Сегодня
хорошая
погода.<br />
- Да,
сегодня
хорошая
погода,
тепло.<br />
- Иахьа
(и)хьҭоуп,
аҧша
асуеит.<br />
- Ааи,
ихьҭоуп,
сара
ахьҭа
сакит.<br />
- Сегодня
холодно,
дует
ветер.<br />
- Да,
холодно,
я
озяб(ла).
</p>

<p>
Абзиараз!
</p>
