---
order: 205
title: Урок 5
subtitle:
- Продолжаем изучать абхазский алфавит. Новые буквы и звуки (жь, шь)
- "Грамматика: Повелительная форма глагола. Вопросительная форма глагола."
- Работа с лексикой.
---

<p>
Звуки
<b>шь</b> и <b>шь</b>
аналогов
в
русском
языке
не
имеют.
Они
значительно
мягче
чем
русские
сочетания
ши, шё и жи, жё.<br />
Прослушайте
произношение
диктором
звуков
<b>шь, шь</b>.
</p>

<p>
Повторите
вслед
за
диктором<br />
{% include audio.html file="5-1" %}
ж жь<!--; ж жь--><br />
жь,
жьа,
жьы,
жьу,
жьи,
жьо,<br />
ш шь<!--; ш шь--><br />
шь,
шьа,
шьы,
шьу,
шьи,
шьо
</p>

<p>
Слова
и
выражения
</p>

<p>
{% include audio.html file="5-2" %}
(а)аны'жьра
- оставлять;
оставить.
Ины'жь
- Оставь.
Ара' ины'жь
- Оставь
здесь.<br />
а'шьыжь
- утро;
утром.
Даме'и
а'шьыжь
даауе'ит
- Дамей
придет
утром.<br />
шьыжьла
- по
утрам.
Шьыжьла
амшын
ахь
сцоит
- По
утрам
я
хожу
на
море.<br />
акры'фара,
а'фара
- есть,
поесть.<br />
амашьы'на
- автомобиль,
машина.<br />
машьы'нала
- на
автомобиле.<br />
шьыбжьо'н
- в
обед.
Гәди'са
машьы'нала
шьыбжьо'н
даа'ит
- Гудиса
в
обед
приехал
(прибыл)
на
машине.<br />
шьыбжьы'шьҭахь
- после
обеда.
Шьыбжьы'шьҭахь
ара'
аҧша'
а'суеит
- После
обеда
здесь
дует
ветер.<br />
а'шьҭахь
- после,
потом;
сзади,
позади.<br />
шьыжьхьа'
- завтрак.
Шьыжьхьа'
а'шьҭахь
Наа'ла
Гәди'са
ашко'л
ахь
дылге'ит
- После
завтрака
Наала
повела
Гудису
в
школу.<br />
аиашьа /
а'(иа)шьа /
а(и)ешьба
- брат.<br />
а'мазаара
- иметь.<br />
ихьҭоуп
- холодно.<br />
а'хьҭакра
(а'хьҭа
акра')
- мерзнуть,
зябнуть.
А'хьҭа
саки'т
- Я
озяб.
</p>

<p>
{% include audio.html file="5-3" %}
Сашьа'
амашьы'на
а'ҧхьа
дгы'лоуп
- Мой
брат
стоит
перед
машиной.<br />
Сашьа'
амашьы'на
и'моуп
- Мой
брат
имеет
машину
(автомобиль).
(У
моего
брата
есть
машина).
</p>

<p>
{% include audio.html file="5-4" %}
Уи
имашьы'на
ара'
ини'жьуеит
- Он
оставляет
свою
машину
здесь.<br />
Уара'
умашьы'на
ана'
ины'жь
- Ты
(муж.)
оставь
свою
машину
там.<br />
Сашьа'
а'шьыжь
ау'сура
дцоит
- Мой
брат
утром
идет
на
работу.<br />
Ахра
шьыбжьо'н
даа'ит
- Ахра
пришел
в
обед.<br />
Шьыбжьы'шьҭахь
Наа'ла
даа'ит
- После
обеда
пришла
Наа'ла.<br />
Даме'ии
Гәди'сеи
а'шьыжь
амшы'н
ахь
ице'ит
- Дамеи
и
Гудиса
утром
пошли
на
море.<br />
Наа'ла
лашьа'
шьыбжьо'н
ара'
крифе'ит
- Брат
Наалы
в
обед
поел
здесь.<br />
Сашьа'
а'шьыжь
акрифо'ит,
уи'
а'шьҭахь
ау'сурахь
дцо'ит
- Мой
брат
утром
ест,
после
этого
идет
на
работу.
</p>

<p>
<b>Упражнение 1</b><br />
Переведите
на
русский
язык.
</p>

<p>
1.&nbsp;Сара' исы'моуп амашьы'на.
2.&nbsp;А'шьыжь, шьыжьхьа' а'шьҭахь, машьы'нала ау'сура сцо'ит.
3.&nbsp;Шьыбжьон Наа'ла лахь сцо'ит.
4.&nbsp;Ка'ма лашьа' а'шьыжь даауе'ит.
5.&nbsp;Ула' сара' сла' е'иҧшуп.
6.&nbsp;Сашьа' а'шьыжь амшы'н ахь сиго'ит.
7.&nbsp;Гәди'сеи Наа'леи абра' инхо'ит
<br />
<small><a href="answers2#e5-1">(Ответы)</a></small>
</p>

<p>
А
теперь
немного
грамматики.
Повелительная
и
вопросительная
формы
Вам
уже
встречались.
Приведем
эти
Ваши
знания
в
систему.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Повелительная
форма</b>
образуется
чистой
основой
глагола
(без
суффиксов).
</p>

<p>
Бца!
Иди!
(ты,
жен)
от
глагола
а-ца-ра
идти.<br />
Ира!
(Ты)
возьми
(от
глагола
а-га-ра
брать.<br />
Ины'жь!
Оставь!
Ара'
ины'жь!
Оставь
здесь!<br />
Ана бгыл!
Стань
там!
Ара бааи!
Иди
сюда!
Уцакы!
Поспеши!
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Вопросительные
формы</b>
глагола
образуются
суффиксами
-ма, -и.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
С
суффиксом
<b>-ма</b><br />
Ари
бара
ибга<b>ма</b>?
Это
ты
взяла?
(ага-ра
+ вопросит.
суффикс
-ма).<br />
Сара
саҧхьа
даа<b>ма</b>?
Он(а)
пришел
/
пришла
раньше
меня?<br />
Уара
уца<b>ма</b>?
Ты
пошел?<br />
Наала
даа<b>ма</b>?
Наала
пришла?<br />
Бара
ара
баанхо<b>ма</b>?
Ты
(жен)
здесь
остаешься?<br />
Лара
бара
былба<b>ма</b>?
Она
увидела
тебя?
</p>

<p>
<i class="fas fa-bolt important-material"></i>
С
суффиксом
<b>-да</b>,
когда
необходимо
поставить
вопросы
кто?
кого?
кому?
(по
отношению
к
классу
одушевленных).<br />
Ари
агазеҭ
иаҧхьада?
Кто
прочитал
эту
газету?<br />
Ана'
иббода?
Кого
ты
(ж)
там
видишь?<br />
Аҧара
зыбҭада?
Кому
ты
(ж)
дала
деньги?
</p>

<p>
<b>Упражнение 2</b><br />
Переведите
следующие
предложения
из
положительной
формы
в
вопросительную.
Вам
нетрудно
это
будет
сделать.
Если
же
будет
некоторые
сложности,
то
можете
использовать
ключ
в
качестве
подсказки.
</p>

<p>
Образец:<br />
Уара
иахьа
уцоит.
Уара
иахьа
уцома?<br />
Камеи
Ахреи
ашкол
ахь
ицеит.
Ашкол
ахь
ицада?
</p>

<p>
Иара
ашкол
ахь
дцоит.<br />
Ахреи
Дамеии
ааит.<br />
Лара
аус
луеит.<br />
Уи
агазеҭ
даҧхьоит.<br />
Аҧша
асуеит.<br />
Бара
ара
бынхоит.<br />
Иара
ашкол
ахь
дцеит.<br />
<small><a href="answers2#e5-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
Сможете
образовать
повелительную
форму
от
данных
глаголов?
Вам
они
уже
встречались.<br />
Образец.
ацара
(бара) >
бца!
</p>
<ol>
<li>а'фара
(бара;
уара);</li>
<li>абара'
(уара);</li>
<li>а'ҧхьара
(бара);</li>
<li>аҧшра'
(уара);</li>
<li>ацара'
(уара);</li>
<li>а'ццакра
(уара);</li>
<li>аагара'
(бара);</li>
<li>агы'лара
(бара;
уара);</li>
<li>агара'
(бара;
уара);</li>
<li>ааны'жьра
(бара;
уара);</li>
</ol>
<small><a href="answers2#e5-3">(Ответы)</a></small>

<p>
<b>Упражнение 4</b><br />
Вставьте
соответствующее
местоимение
или
имя
собственное.
</p>

<table>
<tr>
<td width="200">... аусура бцоит</td>
<td>... аусура уцоит</td>
</tr>
<tr>
<td>... аусура дцоит</td>
<td>... аусура бцома?</td>
</tr>
<tr>
<td>... аусура уцома?</td>
<td>... аусура уца!</td>
</tr>
<tr>
<td>... аусура бца!</td>
</tr>
</table>
<small><a href="answers2#e5-4">(Ответы)</a></small>

<p>
<b>Упражнение 5</b><br />
Переведите
на
русский
язык.
</p>

<p>
1. Иара
ашьыжь
даауеит.
2. Иара
ашьыжь
даауама?
3. Ашьыжь
уааи!
4. Иара
сашьа
амашьына
ииҭеит.
5. Иара
сашьа
амашьына
ииҭама?
6. Сашьа
амашьына
иҭ.
7. Иара
шьыбжьон
машьынала
дааит.
8. Иара
шьыбжьон
машьынала
даама?
9. Шьыбжьон
машьынала
уаа!<br />
<small><a href="answers2#e5-5">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 6</b><br />
Свяжите
местоимения
с
соответствующими
глаголами.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td width="100" align="center">
уара<br />
иара<br />
бара<br />
лара<br />
сара
</td>
<td width="150" align="center">
(а)крысфоит<br />
(а)крифоит<br />
(а)крылфоит<br />
(а)крыбфоит<br />
(а)круфоит
</td>
</tr>
<tr>
<td width="100" align="center">
уара<br />
иара<br />
бара<br />
лара<br />
сара
</td>
<td width="150" align="center">
ибымоуп<br />
иумоуп<br />
илымоуп<br />
исымоуп<br />
(и)имоуп
</td>
</tr>
</table>
<small><a href="answers2#e5-6">(Ответы)</a></small>

<p>
<b>Упражнение 7</b><br />
Совместите
данные
предложения
с
соответствующими
рисунками.<br />
Алхас
крифоит.
(Рис. № ...)<br />
Дамеи
крифеит.
(Рис. № ...)<br />
Сара
машьынала
аусурахь
сцоит.
(Рис. № ...)
</p>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
<img src="/assets/img/5-1.gif" width="260" height="300" border="1" alt="Рис.  1" /><br />Рис. 1<br />
<img src="/assets/img/5-2.gif" width="250" height="313" border="1" alt="Рис.  2" /><br />Рис. 2<br />
<br />
<br />
<br />
<small><a href="answers2#e5-7">(Ответы)</a></small>
</td>
<td>
<img src="/assets/img/5-3.gif" width="500" height="313" border="1" alt="Рис.  3" /><br />Рис. 3<br />
<img src="/assets/img/5-4.gif" width="500" height="475" border="1" alt="Рис.  4" /><br />Рис. 4
</td>
</tr>
</table>
