---
order: 206
title: Урок 6
subtitle:
- Продолжаем изучать абхазский алфавит. Новые буквы и звуки (қ, қь, қә)
- Работа с лексикой.
- "Грамматика: глагол; спряжение."
- Закрепление.
---

<p>
Наряду
с
известными
нам
уже
буквами
<b>к, кь, кә</b>,
в
абхазском
имеются
и
их
придыхательные
варианты
<b>қ, қь, қә</b>.
</p>

<p>
{% include audio.html file="6-1" %}
қ қь қә<br />
к қ, кь қь, кә қә
</p>

<p>
{% include audio.html file="6-2" %}
ақы'ҭа
село,
деревня.
Сара
сқыҭа
дууп
Мое
село
большое.<br />
а'қалақь
город<br />
ақьаа'д
бумага.
Ақьаа'д
иану'п
Написано
на
бумаге.<br />
есқьынгьы'
всегда,
постоянно.<br />
а'цқьа
чистый.
Ақьаад
цқьоуп
Бумага
чистая.<br />
ары'цқьара
чистить,
почистить.
Исрыцқьоит
Я
чищу.
Ибрыцқьоит
Ты
(ж)
чистишь.<br />
а'шықәс
год.<br />
а'лгара
заканчивать.
Алха'с
агазе'ҭ
а'ҧхьара
да'лгеит
Алхас
закончил
читать
газету.<br />
азы'
для,
ради.
Сара
сзы
ари
ашықәс
бзиан
Для
меня
этот
год
был
хорошим.<br />
аагара'
принести,
приносить
(сюда),
иаага'
принеси<br />
қәа
суффикс
множественного
числа;
а'қалақьқәа
города,
ақыҭақәа
деревни.
</p>

<p>
* Примечание.
Если
за
существительным
стоит
прилагательное,
то
суффикс
множественного
числа
-қәа
переходит
к
прилагательному.<br />
Ақьаа'д
цқьа<b>қәа</b>.
Чистые
бумаги.
Ақь'та
бзи'ақәа.
Хорошие
села.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Постарайтесь
предлагаемые
в
уроках
тексты
и
выражения
учить
наизусть.
Это
обогатит
Ваш
словарный
запас.
</p>

<p>
{% include audio.html file="6-3" %}
Наа'ла
иахьа'
ақы'ҭахь
дцо'ит.
А'хра
агазеҭ
даҧхьеит.
Даме'и
даа'ит,
уи
Е'сма
ақы'ҭахь
диго'ит.
Ари'
ақьаа'д
цқьо'уп.
Даме'ии
А'хреи
есқьынгьы'
шьыжьла'
а'қалақь
ахь
ицо'ит.
А'мшқәа
цоит.
Лара'
ақьаа'дқәа
лы'моуп.
Даме'и
агазе'ҭ
азы'
ақьаад
ааиге'ит.
Ка'ма,
ига'
сара'
сзы
ақьаад
бҕьыц
цқьақәа'.
</p>

<p>
Наала
сегодня
едет
в
село.
Ахра
прочитал
газету.
Дамай
пришел,
он
Есму
заберет
в
деревню.
Эта
бумага
чистая.
Дамей
и
Ахра
по
утрам
всегда
(постоянно)
идут
(ходят,
ездят)
в
город.
Дни
идут.
Она
имеет
бумаги.
Дамай
принес
(привез)
бумагу
для
газеты.
Кама
возьми
для
меня
чистые
листы
бумаги.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Вы
уже
знаете,
как
в
глаголах
отражаются
лица.
Сара <u>с</u>цоит,
<u>у</u>ара <u>у</u>цоит,
<u>б</u>ара <u>б</u>аауеит,
уца!
и
т.д.
Это
были
одноличные
глаголы,
т.е.
глаголы,
в
которых
отражалось
лишь
одно
лицо.
Абхазский
глагол
может
отражать
четыре
лица.<br />
Возьмем
известный
вам
глагол
<b>абара</b>
«видеть»
и
отразим
в
нем
два
лица.<br />
узбоит
"тебя
(мужчину)
я
вижу"
[уара+сара+абара];<br />
субоит
"ты
(муж)
меня
видишь"
[сара+уара+абара];<br />
бызбоит
"тебя
(женщину)
я
вижу"
[бара+сара+абара]
(здесь
<i>ы</i>
после
<i>б</i>
появилась
чтобы
избежать
стечения
трех
согласных);<br />
сыббоит
"ты
(жен)
меня
видишь",
буквально:
меня
ты
видишь
[сара+бара+абара].
</p>

<p>
<b>Упражнение 1</b><br />
Переведите
текст
на
русский
язык.
</p>

<p>
1. Ари
ашықәс
сара
сзы
ибзиан.
2. Сара
ашкол
салгеит.
3. Аҧхын
есқьынгьы
ақыҭахь
сцоит.
4. Иахьа
сара
ақалақь.
5. Сара
ақыҭа
бзиа
избоит.
6. Ашьыжь
сашьа
машьынала
даауеит,
ақыҭахь
сигоит.<br />
<small><a href="answers2#e6-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Переведите
текст
на
абхазский
язык.
</p>

<p>
1.
Ты
(жен)
любишь
море?
2.
Да,
я
люблю
море.
3.
Я
здесь
живу.
4.
Она
смотрит
на
меня
(в
мою
сторону).
5.
Утром,
после
завтрака,
я
поеду
на
работу
на
машине.
6.
Сегодня
холодно,
я
озяб.
7.
После
обеда
она
едет
в
село.
8.
Здесь
море
чистое.
9.
Кто
взял
мою
газету?<br />
<small><a href="answers2#e6-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
Переведите
на
абхазский
язык.
</p>

<p>
1.
Я
вижу.
2.
Я
вижу
тебя
(м).
3.
Наала
едет
в
деревню.
4.
Ахра
закончил
школу.
5.
У
него
есть
(он
имеет)
чистая
бумага.
6.
Эта
деревня
хорошая.
7.
Она
любит
море.
8.
Я
сегодня
увижу
ее.<br />
<small><a href="answers2#e6-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 4</b><br />
Составьте
предложения,
используя
данные
слова.
</p>

<ol>
<li>Есқьынгьы,
дызбоит,
иара,
ара.</li>
<li>Ақалақь,
шьыжьла,
ахь,
Ахра,
дцоит.</li>
<li>Есма,
иахьа,
дигоит,
ақыҭахь,
сашьа.</li>
<li>Иахьа,
избоит,
амш,
сара,
ибзиоуп.</li>
</ol>
<small><a href="answers2#e6-4">(Ответы)</a></small>

<p>
<b>Упражнение 5</b><br />
Составьте
диалог,
взяв
за
основу
предложения
из
упражнений
№№ 3, 4.
</p>

<p>
Получилось?
Поздравляем!
Вы
уже
можете
строит
предложения!
</p>

<p>
<b>Упражнение 6</b><br />
Вставьте
соответствующее
местоимение.<br />
Вы,
наверное,
заметили,
что
мы
часто
даем
упржнения
на
согласование
местоимения
с
глаголом.
Это
необходимо,
чтобы
довести
Ваши
знания
до
автоматизма.<br />
Упржнение
не
должно
составить
Вам
труда.
</p>

<table>
<tr>
<td width="200">... саҧхьоит</td>
<td>... баҧхьоит</td>
</tr>
<tr>
<td>... уаҧхьоит</td>
<td>... даҧхьоит</td>
</tr>
<tr>
<td>... даҧхьоит</td>
</tr>
</table>
<small><a href="answers2#e6-6">(Ответы)</a></small>

<p>
<b>Упражнение 7</b><br />
В
каждом
предложении
есть
ошибка.
Найдите
и
исправьте
ее.
Вы
уже
делали
подобные
упражнения!
</p>

<p>
Дамеи
ақыҭахь
ицоит.<br />
Сара
бара
дызбоит.<br />
Ахра
Есма
ақыҭахь
уигоит.<br />
Амшқәа
уцоит.<br />
Лара
ақьаадқәа
бымоуп.<br />
Дамеи
аҧара
аалгеит.<br />
Сара
ахьҭа
уакит.<br />
Лара
уара
уахь
уҧшуеит.<br />
<small><a href="answers2#e6-7">(Ответы)</a></small>
</p>

<p>
Абзиараз!
</p>
