---
title: Урок 8
order: 308
---

<dl>
<dt>Содержание
урока:</dt>
<dd>Вопросительные
местоимения.</dd>
<dd>Закрепление.</dd>
</dl>

<dl>
<dt>ианба?
когда?
(вопросительнное
местоимение)</dt>
<dd>Сара
аусурахь
сцоит.
Я
иду
на
работу.</dd>
<dd>Ианба?
Когда?
Иахьа.
Сегодня</dd>
</dl>

<p>
<i class="fas fa-check grammar-rule"></i>
Вопросительнное
местоимение
<b>ианба</b>?
<b>когда</b>?,
соединняясь
с
глаголами,
образует
новые
слова.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Например:
ианба?
когда?
+
ацара
идти
=
санбацеи?
когда
я
пошел?
(сара+ианба+ацара+
<b><i>и</i></b>
вопросительная
частица.
</p>

<p>
Уанбацеи?
Когда
ты
пошел?
(<b>Уа</b>ра
+
и<b>анба</b>
+
а<b>ца</b>ра
+
<b><i>и</i></b>);<br />
Банбацеи?
Когда
ты
пошла?
(<b>Ба</b>ра
+
и<b>анба</b>
+
а<b>ца</b>ра
+
<b><i>и</i></b>);<br />
Данбацеи?
Когда
он(а)
пошел
/
пошла?
</p>

<p>
Если
логика
построения
Вам
ясна,
попробуем
проделать
то
же
с
известными
глаголами.
</p>

<p>
<u>у</u>анба<u>и</u>геи?
Когда
он
тебя
забрал?
<i><b>уа</b>ра</i>
ты (м)
+
<i><b>анба</b></i>
+
<i><b>и</b>ара</i>
он
+
<i>а<b>га</b>ра</i>
брать
+
<i><b>и</b></i>
вопросительная
частица.<br />
<u>у</u>анбааи?
Когда
ты
пришел?
<u>б</u>анбааи?
Когда
ты
пришла?<br />
абара
«видеть,
увидеть»
<u>И</u>анбазбеи?
Когда
я
увидел?<br />
По
данной
модели
можно
образовать
слова
и
от
других
вопросительных
местоимений.
Например:
<b>иаба</b>?
где?
</p>

<p>
Ахра,
сла
убама?
Ахра,
ты
видел
мою
собаку?<br />
Ааи,
избеит.
Да,
вилел.<br />
<b>Иаба</b>?
Где?
/
(Иабаубеи?)
Где + ты (муж) + ее + видел?<br />
Ула
сашьа
имоуп.
Твоя
собака
у
моего
брата.
</p>

<p>
Саба'убеи?
Где
ты
меня
(у)видел?
(Здесь
два
лица
-
ты
и
меня,
переводится
буквально
меня (с)
+
где (и)аба
+
ты  (у)
+
увидел (ба >бе)
+
и
вопросительная
частица).<br />
Даба'убеи?
Где
ты
его/ее
увидел?
(буквально
его/ее
ты
увидел?)</p>

<p>
ацара
идти
даба'цеи?
куда
он(а)
пошел/пошла?<br />
агара
брать,
взять
<u>у</u>аба'<u>и</u>геи?
куда
он
тебя
(муж)
забрал?;
<u>и</u>аба'<u>у</u>геи
куда
ты
забрал
(это)?<br />
аара
приходить
<u>у</u>аба'аи?
куда
ты
пришел?
<u>С</u>аба'аи?
куда
я
пришел?<br />
абара
видеть
<u>И</u>аба'<u>з</u>беи?
Где
я
увидел?
(букв.
это
где
я
увидел).
</p>


<p>
<b>Упражнение 1</b><br />
Попробуйте
составить
диалог,
используя
вопросительные
местоимения.
Например:
</p>
<p>
Ахра,
иахьа
Кама
дубама?
Ааи, дызбеит.
Дабаубеи?
Кама
ана
аус
луеит...
</p>

<p>
<b>Упражнение 2</b><br />
Прочтите
и
укажите
на
правильный
перевод.
</p>
<table>
<tr>
<td style="background-image:url(images/150x1.gif)" width="151">
Бара
ианба'ббеи?
</td>
<td>
Когда
я
возьму?<br />
Куда
ты
(муж.)
идешь?<br />
Когда
она
придет?<br />
Когда
ты
(жен.)
увидела?<br />
Куда
ты
(муж.)
уходишь?
</td>
</tr>
<tr><td> </td></tr>
<tr>
<td style="background-image:url(images/150x1.gif)" width="101">
Сара
ианба'згои?
</td>
<td>
Когда
я
возьму?<br />
Куда
ты
(муж.)
идешь?<br />
Когда
она
возьмет?<br />
Когда
он
увидит?<br />
Когда
ты
(муж.)
придешь?
</td>
</tr>
<tr><td> </td></tr>
<tr>
<td style="background-image:url(images/150x1.gif)" width="101">
Уара
иаба'убеи?
</td>
<td>
Когда
он
увидел?<br />
Куда
ты
(муж.)
идешь?<br />
Куда
ты
смотришь?<br />
Где
ты
видел?<br />
Где
она
взяла?
</td>
</tr>
</table>
<small><a href="answers3#e8-2">(Ответы)</a></small>

<p>
<b>Упражнение 3</b><br />
Переведите
эти
слова.
</p>
<ol>
<li>санба'цеи?</li>
<li>банба'аи?</li>
<li>ианба'лгои?</li>
<li>ианбазгои?</li>
<li>санба'убеи?</li>
<li>уаба'цеи?</li>
<li>саба'аи?</li>
<li>иаба'згои?</li>
<li>даба'ауеи?</li>
<li>даба'ҧшуеи?</li>
<li>даба'ццакуеи?</li>
<li>даба'убеи?</li>
</ol>
<small><a href="answers3#e8-3">(Ответы)</a></small>

<p>
<b>Упражнение 4</b><br />
Раскройте
скобки
и
переведите
эти
выражения
на
абхазский
язык.
</p>
<p>
Образец:
Уара
(иаба+агара)
-
Уара
иабаугеи?<br />
Сара
(иаба+ацара)?
Лара
(ианба+ацара)?
Уара
(ианба+агара)?
Иара
(иаба+агара)?
Лара
(ианба+аара)?
Иара
(иаба+аара)?
Бара
(ианба+абара)?
Сара
(ианба+абара)?<br />
<small><a href="answers3#e8-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
Переведите
на
абхазский
язык.
</p>
<p>
1. Когда
ты
(муж.)
пойдешь,
уходишь?
2. Когда
она
придет?
3. Когда
ты
(жен.)
увидела?
4. Где
ты
(жен.)
увидела?
5. Куда
(он,
она,
он
-
класс
неодушевленных)
пошел
/
пошла
/
пошло?<br />
<small><a href="answers3#e8-5">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 6</b><br />
Переведите
на
русский
язык.
</p>
<p>
1. Уабацои?
2. Лара
данбаауеи?
3. Бара
иабаббеи?
4. Бара
ианббаббеи?
5. Уара
уанбацои?
6. Ала
(и)анбацеи?
7. Лара
дабаццакуеи?<br />
<small><a href="answers3#e8-6">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 7</b><br />
Заполните
диалог,
используя
лексику
предыдущих
уроков.</p>
<ul>
<li>Мшыбзиа,
Кама!</li>
<li>...</li>
<li>Бабацои?</li>
<li>...</li>
<li>Кама,
Ахра
дыббама?</li>
<li>...</li>
<li>Данбаббеи?</li>
<li>...</li>
<li>Бара
быццакуама?</li>
<li>...</li>
<li>Бааи,
машьынала
бызгоит.</li>
<li>...</li>
</ul>
<small><a href="answers3#e8-7">(Ответы)</a></small>

<p>
<b>Упражнение 8</b><br />
Соедините
слова
левой
колонки
с
правой
и
получите
известные
Вам
словосочетания.
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>Кама<br />
сара<br />
иара<br />
сашьа<br />
лара<br />
сара</td>
<td>сабаубеи<br />
дабаубеи<br />
данбааи<br />
дабаццакуеи<br />
иабазгои<br />
ианбабгеи</td>
</tr>
</table>
<small><a href="answers3#e8-8">(Ответы)</a></small>

<p>
<b>Упражнение 9</b><br />
Отметьте
(<i class="fas fa-check grammar-rule"></i>)
услышанное.
</p>
<table cellspacing="0" cellpadding="0">
<tr>
<td width="100">{% include audio.html file="8-1" %}
Дабацеи?</td>
<td>Иабеигеи?</td>
</tr>
<tr>
<td>Данбацеи?</td>
<td>Ианбеигеи?</td>
</tr>
<tr>
<td>Уанбазгои?</td>
<td>Ианбаббеи?</td>
</tr>
<tr>
<td>Ианбазгои?</td>
<td>Иабаббеи?</td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Санбаубеи?</td>
<td>Дабаццакуеи?</td>
</tr>
<tr>
<td>Сабаубеи?</td>
<td>Иабаццакуеи?</td>
</tr>
<tr>
<td>Данбаауеи?</td>
<td>Иабазго?</td>
</tr>
<tr>
<td>Дабаауеи?</td>
<td>Ианбазгои?</td>
</tr>
</table>

<p>
<i class="fas fa-check grammar-rule"></i>
Напоминаем,
что
сочетание
аи / иа
дают
в
абхазском
ие / еи / е.
Поэтому
корень
<b>ба</b> (абара)
<b>+ и = беи</b>,
корень
<b>га</b> (агара)
<b>+
и
=
геи</b>.
Иабеигеи?
Ианбе'игеи?
</p>

<p>
Новые
слова
</p>

<p>
{% include audio.html file="8-2" %}
иаба'? где?<br />
ианба'? когда?
</p>
