---
title: Урок 9
order: 309
---

<dl>
<dt>Содержание
урока:</dt>
<dd>Продолжаем изучать звуки абхазского языка
Ҕ ҔЬ ҔӘ</dd>
<dd>Работа с лексикой.</dd>
<dd>Закрепление.</dd>
</dl>

<p>
Звук Ҕ
немного
напоминает
южнорусское Г.
Мягкий
вариант
его
звучит
как ҔЬ,
а
огубленный
как ҔӘ.
</p>

<p>{% include audio.html file="9-1" %}
ҕ ҕь ҕә
</p>

<p>Запомните
эти
слова
и
выражения!</p>

<p>{% include audio.html file="9-2" %}
аҕба корабль.
А'ҕба
(и)аа'ит.
Корабль
пришел.<br />
а'иҕьра
(е'иҕьра) лучше.
Ари'
е'иҕьуп.
Это
лучше.<br />
а'иҕьхара
(е'иҕьхара)
становиться
лучше.
Ари'
е'иҕьхеит.
Это
стало
лучше.<br />
абҕьы' лист<br />
абҕьы'ц
листок.<br />
а'ҕәҕәа сильный.
Иара'
дыҕәҕәо'уп.
Он
сильный.<br />
иҕәҕәаны сильно.
Аҧша'
(и)ҕәҕәаны'
(и)а'суеит.
Ветер
сильно
дует.<br />
аҭы'нч тихий,
спокойный.
Амшы'н
иахьа'
иҭы'нчуп.
Море
сегодня
спокойное.<br />
аба'р вот.
Аба'р
амшы'н
Вот
море.<br />
агәабзи'ара здоровье<br />
иацы' / ецы' вчера
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Напоминаем,
что
показатель
класса
неодушевленных
и(а)
в
некоторых
позициях
отпадает.
В
подобных
случаях
мы
будем
давать
его
как
необязательный
элемент
в
скобках.
Напр.:
(и)ааит;
(и)ҕәҕәаны;
(и)асуеит.
</p>

<blockquote>
Прочитайте
текст.
</blockquote>

<p>
Рекомендуем
все
тексты
и
выражения
учить
наизусть.
Это
поможет
Вам
быстро
набрать
необходимое
число
готовых
выражений
для
активной
лексики.</p>

<p>{% include audio.html file="9-3" %}
- Сара'
иахьа'
Ҕәа'да
сцо'ит.
Уара'
уаба'цои?<br />
- Сара'
Ҧсо'у
сца'роуп.
Асҭа'нда
Абҕархы'қә
дцо'ит.<br />
- Уара'
уанба'цои?<br />
- Иахьа'
сца'роуп.
Иацы'
аҧша
ҕәҕәа
а'суан.
Иахьа'
амшы'н
ҭы'нчуп,
ҕбала'
сцо'ит.<br />
- Аба'р,
у'ҕба
аа'ит,
уццакы'!</p>

<p>
- Я
сегодня
еду
в
Гваду.
А
ты
(м)
куда
едешь
(идешь)?<br />
- Я
должен
поехать
на
Псоу.
Астанда
едет
в
Абгархыку.<br />
- Ты
когда
едешь?<br />
- Я
должен
поехать
сегодня.
Вчера
дул
сильный
ветер.
Сегодня
море
спокойное,
я
поплыву
на
корабле.<br />
- Вот,
твой
корабль
прибыл,
поспеши!</p>

<p>
<b>Упражнение 1</b><br />
Переведите
на
русский
язык.
</p>
<p>
1. Сара
иахьа
ақалақь
ахь
сцоит.<br />
2. Кама
ақыҭахь
дцароуп.<br />
3. Бабаццакуеи?<br />
4. Амашьына
аауеит,
сашьа
ашкол
ахь
сигоит.<br />
5. Иара
дыҕәҕәоуп.<br />
6. Иахьа
амш
бзиоуп.<br />
7. Амшын
ҭынчуп.<br />
8. Ахра
данбацеи?<br />
9. Иахьа,
ҕбала
дцеит.<br />
10. Аҧша
ҕәҕәаны
иасуеит,
ахьҭа
сакит.<br />
11. Наала,
исыҭ
абҕьыц
цқьақәа.<br />
<small><a href="answers3#e9-1">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 2</b><br />
Переведите
на
абхазский
язык.
</p>
<p>
1. Сегодня
прибыл
корабль.<br />
2. Когда
ты
едешь
в
город?<br />
3. Я
сегодня
должен
поехать.<br />
4. Вчера
дул
сильный
ветер.<br />
5. Сегодня
море
спокойное.<br />
6. Куда
спешит
Наала?<br />
7. Она
спешит
на
работу.<br />
8. Когда
ты
приехала?<br />
9. Вчера.
Я
приехала
на
корабле.<br />
<small><a href="answers3#e9-2">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 3</b><br />
Составтье
предложения
из
следующих
слов.
В
случае
затруднения,
Вы
всегда
можете
обратиться
к
Ключам!
</p>
<p>
1. уара,
ацара,
ианба.<br />
2. лара,
аусура,
ахь,
аццакра.<br />
3. Кама,
сла,
агара,
иацы.<br />
4. иаба,
абара,
сашьа,
уара.<br />
5. ацара,
ианба,
уара,
амшын ахь.<br />
6. амашьына,
аара,
иахьа.<br />
7. машьынала,
сашьа,
иацы,
аара.<br />
8. асра,
аҧша,
иахьа,
аҕәҕәа.<br />
<small><a href="answers3#e9-3">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 4</b><br />
В
этом
уроке
много
полезных
слов
и
выражений.
Сможете
составить
диалог(и),
используя
их?<br />
Вам
могут
пригодиться
некоторые
идеи:
</p>
<p>
1. Сегодня
хороший
день.
Вчера
дул
ветер.<br />
2. Вы
спешите.
Приедет
Ваш
брат,
повезет
в
школу
или
на
работу.<br />
<small><a href="answers3#e9-4">(Ответы)</a></small>
</p>

<p>
<b>Упражнение 5</b><br />
К
предложенным
основам
подберите
одно
или
не-сколько
слово,
чтобы
получилось
словосочетание.
</p>
<p>
Образец: аҕба...
->
аҕба
ааит;
абар...
->
абар
аҕба;
ацара...
->
ҕбала
сцоит.
</p>
<table cellpadding="0" cellspacing="0">
<tr>
<td width="150">аҕәҕәа-></td>
<td>аҭынч-></td>
</tr>
<tr>
<td>иацы-></td>
<td>ацара-></td>
</tr>
<tr>
<td>абар-></td>
<td>аҧша-></td>
</tr>
<tr>
<td>ақыҭа-></td>
<td>аццакра-></td>
</tr>
<tr>
<td>амш-></td>
<td>агара-></td>
</tr>
</table>
<small><a href="answers3#e9-5">(Ответы)</a></small>
