---
order: 719
title: Ders 19
subtitle:
  - Abhaz dilinin seslerini öğrenmeye devam ediyoruz (ҽ, ҿ)
  - Kelime bilgisi üzerinde çalışma
  - Sayılar
---

<p>{% include audio.html file="19-1" %} ҽ, ҿ; ҽ, ҿ</p>

<blockquote>Yeni kelimeler ve ifadeler.</blockquote>

<p>
аҽы-\ аҽа- dönüşlü parçacık (а́ҵәахра saklamak (bir şeyi), аҽы́ҵәахра saklanmak)<br />
азы́ҟаҵара hazırlamak (bir şeyi, bir şey için), аҽазы́ҟаҵара hazırlanmak (kendini bir şeye hazırlamak)<br />
аҽа́ршьцылара alıştırma. Ари́ аҽа́ршьцылара цәгьо́уп. Bu alıştırma zor.<br />
аҽа́ршьцылара alıştırma yapmak. Сара́ сҽасы́ршьцылоит. Alıştırma yapıyorum.<br />
амҽы́ша pazar (günü). Иахьа́ мҽы́шоуп. Bugün pazar.<br />
ҽаҩраҭага́лан sonbahar. Ҽаҩраҭага́лан а́ҵлақәа рыбҕьы́ каҧсо́ит.
Sonbaharda ağaçlardan yapraklar dökülür.<br />
аҽы́ҧсахра değişmek (kendini).<br />
аҿа́р gençlik, gençler.<br />
аҿаҳәара́ bağlamak.<br />
аҿыҭра́ çağırmak.<br />
аҿы́хра koparmak, toplamak (meyveler, yemişler için).<br />
аҿы́ц yeni. Иахьа́ ашәҟәы́ ҿыц сзаа́рхәеит. Bugün bana yeni bir kitap aldılar.<br />
ҿыц yeniden, tekrar. Сара́ ҿыц аҽазы́ҟаҵара са́лагеит. Yeniden hazırlanmaya başladım.<br />
агәы́ла komşu. Ҳара́ ҳгәы́ла илы́хьӡуп На́зи. Komşumuzun adı Nazi.<br />
аба́ҳча bahçe. Наа́ла ҳба́ҳчаҟны ашәы́р ҿы́лхуеит. Naala bahçemizde meyve topluyor.<br />
аҿы́ -de, -da, içinde.<br />
аҿы́зара (bir şeyle) meşgul olmak.
</p>

<blockquote>Metni okuyun ve hatırlayın!</blockquote>

<p>
{% include audio.html file="19-2" %}
Ице́ит а́ҧхын. Иаа́ит ҽаҩраҭага́лан. Аҿа́р зегьы́ аҵа́ра цара́ иаҿу́п.
Аӡәы́ ашко́л ахь дце́ит, аӡәы́ ауниверсите́т ахь. Наа́лагьы ауниверсите́т
ахь аҭалара́ лҽазы́ҟалҵон, ашәҟәқәа́ дры́ҧхьон, аҽа́ршьцыларақәа лыҩуа́н.
Наа́ла лашьа́ Миза́н а́ҧсшәа (и)бзи́аны изды́рӡом, азы́ ргәы́ла На́зи
дазы́ҟалҵон. Миза́н аҽазы́ҟаҵара иҭахӡа́м. «Миза́н, урҵаҩы́ даа́ит!» -
ҳәа На́зи изҿы́лҭуеит, иара́ ишәҟәқәа́ иҵәахуе́ит, иаргьы́ аба́ҳчаҿы
(&lt; аба́ҳча аҿы́) иеи́ҵәахуеит. Наа́ла «Миза́н, уааи́!» - ҳәа изҿы́лҭуеит,
иара́ ашәы́р ҿи́хуеит, дааӡо́м. Наа́ла Миза́н иа́лҳәеит: «Миза́н,
уҽу́ҧсахроуп, ау́сура уҽау́ршьцылароуп»!
<br />
На́зи Миза́н изы́ ашәҟәы́ ҿыц аалге́ит. Миза́н уи ашәҟәы́ игәаҧхе́ит,
уи́ ҿыц а́ҧсшәа аҵара́ да́лагеит.
</p>

<p>
Yaz geçti. Sonbahar geldi. Bütün gençler öğrenimle meşgul (öğrenmekle
uğraşıyorlar). Biri okula gitti, biri üniversiteye. Naala da
üniversiteye girmeye hazırlanıyordu: kitap okuyor, alıştırma
yazıyordu. Naala'nın kardeşi Mizan Abhazcayı iyi bilmiyor, bu yüzden
komşuları Nazi ona ders veriyor. Mizan hazırlanmak istemiyor.
"Mizan, öğretmenin geldi!" diye Naala onu çağırıyor, ama o
kitaplarını saklıyor ve kendisi de bahçede saklanıyor. Naala
"Mizan, buraya gel!" diye çağırıyor, ama o meyve topluyor ve
gelmiyor. Naala Mizan'a dedi: "Mizan, değişmelisin, çalışmaya
alışmalısın!" Nazi Mizan için yeni bir kitap getirdi. Mizan bu
kitabı beğendi, yeniden Abhazca öğrenmeye başladı.
</p>

<blockquote><b>Sayılar</b></blockquote>

<p>
Abhaz dilinde sayılar da (fiiller gibi) insan (canlı) sınıfını
cansız sınıftan ayırır. Sadece burada erkek alt sınıfı ve kadın alt
sınıfı yoktur. Bu derste cansız sınıfın sayılarını öğreneceğiz.
Abhaz dilinin sayma sistemi, sizin bildiğiniz onluk sistemden
farklıdır. Abhazcada yirmilik (20 tabanlı) sistem vardır.
</p>

<p>
İlk yirminin sistemini ezberlemeniz gerekiyor; bundan sonra sistem
tekrar eder.
</p>

<table border="1" cellpadding="4" cellspacing="0">
<tr><td>акы́</td><td>1</td><td>ҩажәи акы́</td><td>21</td><td>ҩынҩажәи акы</td><td>41</td></tr>
<tr><td>ҩба́</td><td>2</td><td>ҩажәи ҩба́</td><td>22</td><td>ҩынҩажәи ҩба</td><td>42</td></tr>
<tr><td>хҧа</td><td>3</td><td>ҩажәи хҧа́</td><td>23</td><td>ҩынҩажәи хҧа</td><td>43</td></tr>
<tr><td>ҧшьба́</td><td>4</td><td>ҩажәи ҧшьба́</td><td>24</td><td>ҩынҩажәи ҧшьба</td><td>44</td></tr>
<tr><td>хәба́</td><td>5</td><td>ҩажәи хәба́</td><td>25</td><td>ҩынҩажәи хәба</td><td>45</td></tr>
<tr><td>фба́</td><td>6</td><td>ҩажәи фба́</td><td>26</td><td>ҩынҩажәи фба</td><td>46</td></tr>
<tr><td>быжьба́</td><td>7</td><td>ҩажәи быжьба́</td><td>27</td><td>ҩынҩажәи быжьба</td><td>47</td></tr>
<tr><td>ааба́</td><td>8</td><td>ҩажәи ааба́</td><td>28</td><td>ҩынҩажәи ааба</td><td>48</td></tr>
<tr><td>жәба</td><td>9</td><td>ҩажәи жәба</td><td>29</td><td>ҩынҩажәи жәба</td><td>49</td></tr>
<tr><td>жәаба́</td><td>10</td><td>ҩажәижәаба</td><td>30</td><td>ҩынҩажәижәаба</td><td>50</td></tr>
<tr><td>жәе́иза</td><td>11</td><td>ҩажәи жәе́иза</td><td>31</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаҩа</td><td>12</td><td>ҩажәи жәа́ҩа</td><td>32</td><td>v.b.</td><td>&nbsp;</td></tr>
<tr><td>жәаха</td><td>13</td><td>ҩажәи жәаха</td><td>33</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәиҧшь</td><td>14</td><td>ҩажәи жәи́ҧшь</td><td>34</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәохә</td><td>15</td><td>ҩажәи жәо́хә</td><td>35</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаф</td><td>16</td><td>ҩажәи жәа́ф</td><td>36</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәибыжь</td><td>17</td><td>ҩажәи жәибжь</td><td>37</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаа</td><td>18</td><td>ҩажәи жәаа</td><td>38</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>зеи́жә</td><td>19</td><td>ҩажәи зеижә</td><td>39</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>ҩажәа́</td><td>20</td><td>ҩынҩажәа</td><td>40</td><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>

<p>
<b>Alıştırma 1</b><br />
Parantezleri açın, fiili belirtilen zaman formunda kullanarak.
</p>
<p>
1. Аҿар аҵара (аҿызаара). (şimdiki zaman statik)<br />
2. Кама Наала (аҳәара): «Наала, ашәҟәы (и)аага!» (geçmiş zaman tamamlanmış)<br />
3. Мизан аҧсшәа бзианы (адырра). (şimdiki zaman dinamik)<br />
4. Наала ашкол ахь ацара (аҽазыҟаҵара). (geçmiş zaman tamamlanmamış)<br />
5. Кама уаҵәы абаҳчахь дцап, аҵәа (аҿыхра). (gelecek zaman)<br />
6. Мизан аҧсшәа аҵара (алагара). (geçmiş zaman tamamlanmış)<br />
7. Ҽаҩраҭагалан абыҕьқәа (акаҧсара). (şimdiki zaman dinamik)<br />
<small><a href="answers7#e19-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 2</b><br />
Önünüzde olumlu cümleler var. Bunları olumsuz hale getirmek için
gerekli değişiklikleri yapın.
</p>
<p>
Örnek: Ахәыҷы ҿиҭуеит. Ахәыҷы ҿиҭуам \ ҿиҭӡом.<br />
Ари аҽаршьцылара аҟаҵара (и)цәгьоуп.<br />
Сара саб ашәҟәы игәаҧхеит.<br />
Мизан аҧсшәа бзианы идыруеит.<br />
Дамеи ашкол ахь дцоит.<br />
Сара ауниверситет аҿы аус зуан.<br />
<small><a href="answers7#e19-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Hatayı bulun ve düzeltin!
</p>
<p>
Наала ауниверситет ахь ацара беазыҟабҵон.<br />
Мизан иан ашәҟәы ҿыц иааигеит.<br />
Сашьа сышәҟәы исҵәахит.<br />
Дара аҧсшәа аҵара ҳаҿуп.<br />
Ахра абаҳчаҿы аҵәақәа (и)ҿырхуеит.<br />
Саҳәшьа аҽаршьцыларақәа рыҩуан.<br />
<small><a href="answers7#e19-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Sizce anlam bakımından diğer kelimelerle uyuşmayan kelimeyi her
satırda bulun ve çizin.
</p>
<p>
а) адҵа, аҽаршьцылара, ашәҟәы, аҟәара;<br />
б) аҩыза, асы, агәыла, аҵаҩы;<br />
в) абаҳча, аҿар, аҵәа, абҕьы;<br />
г) аҩны, ааҧын, аҧхын, ҽаҩраҭагалан;<br />
гь) аҿыц, ацәгьа, аба, ара.<br />
<small><a href="answers7#e19-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Resimlerdeki insanlar ne yapıyor? Resimlerin altındaki ipuçlarını
kullanın.
</p>
<p>
1. Аиашьа, аус аура. (Resim №...)<br />
2. Ашәҟәы, аагара, Марҭа. (Resim №...)<br />
3. Ашәҟәы, аҧхьара, аҵаҩы. (Resim №...)<br />
4. Аҩызцәа, аҽазыҟаҵара. (Resim №...)<br />
5. Аҿыҭра, агәыла. (Resim №...)<br />
</p>

<table>
<tr>
<td><img src="/assets/img/19-1.png" width="327" height="400" border="1" alt="Resim 1" /><br />Resim 1</td>
<td><img src="/assets/img/19-2.png" width="248" height="400" border="1" alt="Resim 2" /><br />Resim 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/19-3.png" width="936" height="400" border="1" alt="Resim 3" /><br />Resim 3</td>
</tr>
<tr>
<td><img src="/assets/img/19-4.png" width="451" height="400" border="1" alt="Resim 4" /><br />Resim 4</td>
<td><img src="/assets/img/19-5.png" width="444" height="400" border="1" alt="Resim 5" /><br />Resim 5</td>
</tr>
</table>

<p>
<b>Alıştırma 6</b><br />
Abhaz diline çevirin.
</p>
<p>
Bütün gençler okuyor.<br />
Yazın Naala kitap okuyor, alıştırma yazıyordu.<br />
Mizan Abhazca bilmiyor. Çocuk hazırlanmak istemiyor. Naala
çağırıyor: "Mizan, buraya gel, öğretmenin geldi!" Ahra Abhazca
öğrenmek istiyor.<br />
"Ne ile meşgulsün?" "Üniversiteye girmeye hazırlanıyorum: kitap
okuyorum, alıştırma yazıyorum."<br />
<small><a href="answers7#e19-6">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 7</b><br />
Bir diyalog kurun: Bir arkadaşınızla karşılaştınız, o üniversitede
okuyor, Abhazca öğreniyor; onunla öğrenimi hakkında konuşun.
Selamlaşmayı ve vedalaşmayı unutmayın!
</p>
