---
title: Ders 10
order: 410
---

<dl>
<dt>İçindekiler:</dt>
<dd>Alfabeyi tanımaya devam: yeni harfler ve sesler
Ҩ</dd>
<dd>Sözcüklerle
çalışma</dd>
<dd>Pekiştirme</dd>
</dl>

<p>
Yeni
sözcük
ve
cümleler.
</p>

<p>{% include audio.html file="10-1" %}
аҩны' ev.
Сыҩны'
ана'
игы'лоуп.
Benim evim orada.<br />
аҩна'лара
içeri gitmek;
birini
evde
yalnız
bırakmak.
Наа'ла
аҩны
дыҩна'леит.
Naala
içeri
gitti.<br />
аҩы'за arkadaş.
Ахра
дҩы'за
бзи'оуп.
Akhra
iyi
bir
arkadaştır.<br />
а'мҩа yol.
Ари'
а'мҩа
сқы'ҭахь
ицо'ит.
Bu
yol
benim
köyüme
gider.<br />
аҩы' şarap.
Ари'
агьа'ма
бзи'оуп.
Bu
şarabın
tadı
güzel.<br />
аҩра' yazı
yazmak.
Асҭа'нда
дыҩуе'ит.
Astanda
yazı
yazıyor
(yazar).<br />
а'ҩра koşmak,
kaçmak.
Даме'и
ды'ҩуеит.
Damai
koşuyor,
kaçıyor.<br />
ауаҩы' kişi.
Ари'
ауаҩы'
сара'
дызды'руеит.
Bu
kişiyi
tanıyorum,
biliyorum.<br />
аҩе'жь sarı.
Абҕьы'
ҩе'жьхеит.
Yapraklar
sarıya
döndü,
sarardı.<br />
аҩа'ша Salı.
Иахьа'
ҩа'шоуп.
Bugün
Salı.
Аҩа'шазы
саауе'ит.
Salı
günü
geleceğim.<br />
уа orada.<br />
а'уп (о'уп) olmak (fiil son eki).
Ари'
сҩы'за
А'сҭамыр
ио'уп.
Bu
benim
arkadaşım
Astamur’dur.
Ари'
Кама
лоуп.
Bu
Kama’dır.<br />
-уп
son
eki,
"olmak"
anlamı
taşır.
Ари'
ҩнуп.
O
bir
evdir.<br />
-о'уп son
eki
zorunluluk,
ihtiyaç
anlamı
taşır.
Изга'роуп
Ben
onu
almalıyım.
Илба'роуп
O
bayan
onu
görmelidir.
Даа'роуп
O bay/bayan gelmelidir.<br />
ҭага'лан sonbahar
(güz).
Ҭага'лан
абҕьы'
ҩе'жьхоит.
Sonbaharda
yapraklar
sarıya
dönüşür.<br />
а'ҧхын yaz.
А'ҧхын
амшы'н
ахь
сцало'ит.
Yazın
denize
giderim.
</p>

<blockquote>Şu
cümleleri
ezberleyin.</blockquote>

<p>{% include audio.html file="10-2" %}
Ҭага'лан
абыҕьқәа'
ҩе'жьхоит.
Иара'
дҩы'за
бзи'оуп.
Лара'
аҩра'
бзи'а
илбо'ит.
Сара'
сы'қалақь
бзиа
избо'ит.
Ари'
а'қалақь
сара'
бзи'а
избо'ит.
Ара'
сыҩны'
гы'лоуп.
Сыҩны'
ахьгы'лоу
аҭы'ҧ
бзи'оуп.
Даме'ии
иашьеи'
и'иҩуа
амшы'н
ахь
ице'ит.
Гәди'са
аҩны'
дыҩна'леит.
Ари
аҩы'
ага'ма
бзи'оуп.
Иахьа'
ҩа'шоуп,
сара'
ау'сура
сца'роуп.
А'ҧхын
амшы'н
ахь
сцало'ит.
Ари'
а'мҩала
сыҩнахьы'
уне'иуеит.
Ари'
ақьаа'д
бҕьыц
ҩе'жьуп.
Ауаҩы'
аҩны'
дыҩна'леит.
А'дгәыр
дуаҩы'
ҭы'нчуп.
</p>
<p>
Sonbaharda
yapraklar
sarıya
dönüşür.
O
iyi
bir
arkadaştır.
O
bayan
yazmayı
sever.
Kasabamı
seviyorum.
Bu
kasabayı
seviyorum.
İşte
benim
evim.
Benim
evimin
bulunduğu
yer
güzeldir.
Damai
ve
erkek
kardeşi
denize
koştular.
Gudisa
eve
girdi.
Bu
şarabın
tadı
güzel.
Bugün
Salı,
işe
gitmek
zorundayım.
Yazın
denize
giderim.
Benim
evime
bu
yoldan
geleceksin.
Bu
kağıt
parçası
sarıdır.
Kişi
eve
girdi.
Adgur
sakin-soğukkanlı
bir
kişidir.
</p>

<p>
<b>Alıştırma 1</b><br />
Parantezleri
açın
ve
cümleyi
doğru
oluşturun.
</p>
<p>
1.
Бара
ара
(аанхара)?
2.
Сара
(аҩны,
ана,
агылара).
3.
Уара
(акрыфара).
4.
Асмаҭ
амшын
ахь
(ацара).
5.
Асҭанда
(ианба
+
аара)?
6.
Уара
(иаба
+
аццакра).
7.
Ари
(аҩыза,
Асҭамыр,
ауп).
8.
Иара
(аҧхьара).
9.
Ари
(ақалақь,
+
suffix
-уп).
10.
Лара
(адырра).
11.
Бара
сашьа
(бзиа
абара).
12.
Ауаҩы
аҩны
(аҩналара).
13.
Лара
амшын
ахь
(ацара,
-оуп
/gerek-ihtiyaç/).
14.
Абри
(ақьаад,
сара,
агара,
-оуп
/gerek-ihtiyaç/).
15.
Ахра
(аҩыза,
абзиа,
оуп).<br />
<small><a href="answers4#e10-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 2</b><br />
Aşağıdaki
cümleleri
Abhazca’ya
çevirin.
</p>
<p>
1.
O
(erkek)’dur.
2.
O
bayan
denize
gitmeli.
3.
İyi
günler.
4.
Kasabaya
gidiyorum.
5.
O
erkek
benim
en
iyi
arkadaşımdır.
6.
O
erkeği
seviyorum.
7.
Sarı
yapraklar.
8.
Ben
o
erkeğe
benzerim.
9.
O
erkek
ayrıldı
mı?<br />
<small><a href="answers4#e10-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Aşağıdaki
cümleleri
Türkçe’ye
çevirin.
</p>
<p>
1.
Лара
даҧхьоит.
2.
Сара
сыҩны
бзиа
избоит.
3.
Сара
аҩашазы
сцоит.
4.
Уара'
ибзи'аны
уҩуе'ит.
5.
Иара'
ибзи'аны
ды'ҩуеит.
6.
Сара
исҭахуп
абри
аҩны
сыҩналарц.
7.
Абыҕьқәа
ҩежьхеит.
8. Сара
аҩыза
бзиа
дсымоуп.
9.
Иара
абри
дыҩналеит.
10.
Аҩашазы
сашьа
даауеит.
11.
Сла
акәац
амфеит.
12.
А'ҧхын
амшы'н
ахь
сцало'ит.
13.
А'дгәыр
аҩа'шазы
даауе'ит.<br />
<small><a href="answers4#e10-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Cümlelerin
başı
ile
sonunu
birleştirin
(Sağ
ve
sol
sütündaki
ifadelerden
anlamlı
cümleler
oluşturun).
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr>
<td>Ари сҩыза<br />
Ари сыҩны<br />
Иахьа ҩашоуп<br />
Сара лара<br />
Лара аҩыза бзиа<br />
Ҭагалан<br />
Ари амҩала<br />
Аҧша</td>
<td>гылоуп<br />
сара
аусурахь
сцароуп<br />
Асҭамыр
иоуп<br />
длымоуп<br />
бзиа
дызбоит<br />
абҕьы
ҩежьхоит<br />
(и)ҕәҕәаны
иасуеит<br />
сыҩнахьы
бнеиуеит</td>
</tr>
</table>
<small><a href="answers4#e10-4">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 5</b><br />
Dinlerken
işaretleyin
ve
Türkçe’ye
çevirin.
</p>
<table>
<tr>
<td width="20">{% include audio.html file="10-3" %}</td>
<td width="20">1.</td>
<td>a) Сара
сықалақь
бзиа
избоит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Ари
ақалақь
бзиа
избоит.</td>
</tr>
<tr>
<td> </td>
<td>2.</td>
<td>a) Ари
сыҩны
гылоуп.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Ари
сыҩны
ауп.</td>
</tr>
<tr>
<td> </td>
<td>3.</td>
<td>a) Сара
иара
сиеиҧшуп.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Сара
лара
сиеиҧшуп.</td>
</tr>
<tr>
<td> </td>
<td>4.</td>
<td>a) Аҩашазы
сашьа
даауеит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Аҩашазы
сашьа
дааит.</td>
</tr>
<tr>
<td> </td>
<td>5.</td>
<td>a) Лара
амшын
ахь
дцароуп.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Лара
амшын
ахь
дцоит.</td>
</tr>
<tr>
<td> </td>
<td>6.</td>
<td>a) Иара
Кама
бзиа
дибоит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Иара
Кама
бзиа
дылбоит.</td>
</tr>
<tr>
<td> </td>
<td>7.</td>
<td>a) Ахра
ара
дыҩналеит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Ахра
ара
дыҩноуп.</td>
</tr>
<tr>
<td> </td>
<td>8.</td>
<td>a) Кама
аҩашазы
дцоит.</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Кама
аҩашазы
дцеит.</td>
</tr>
<tr>
<td> </td>
<td>9.</td>
<td>a) Иахьа
аусурахь
бцома?</td>
</tr>
<tr>
<td> </td>
<td> </td>
<td>b) Иахьа
аусурахь
дцама?</td>
</tr>
</table>
<small><a href="answers4#e10-5">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 6</b><br />
Aşağıda
fiiller
listesi
görüyorsunuz.
-оуп
son
ekini
kullanarak
zorunluluk
anlamı
verdiriniz.</p>
<p>
Örnek:<br />
ацара (сара)
- сцароуп<br />
агара (уара)<br />
абара (сара)<br />
ацара (иара (cansız
sınıf))<br />
аара (бара)<br />
акрыфара (сара)<br />
аанхара (уара)<br />
аҧхьара (лара)<br />
алгара (сара)<br />
аццакра (бара)<br />
аҧшра (иара)<br />
<small><a href="answers4#e10-6">(Yanıtlar)</a></small>
</p>
