---
order: 617
title: Ders 17
subtitle:
  - Fiilin zaman formları
---

<p>
Abhaz dilinin üç zaman formunu zaten biliyoruz:<br />
şimdiki zaman 1 (statik fiiller) -уп<br />
şimdiki zaman II (dinamik fiiller) -оит\\-уеит<br />
geçmiş zaman tamamlanmış -ит.
</p>

<p>
Diğer zaman formlarıyla da tanışalım.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Geçmiş <i>tamamlanmamış</i></b> zaman, <b><i>–он:</i></b> eki ile oluşturulur: иҟаиҵ<b>он</b>
yapıyordu, исф<b>он</b> yiyordum.<br />
<i class="fas fa-check grammar-rule"></i>
Geçmiş tamamlanmış zamanda (-ит eki ile)
tamamlanmış eylem, nihai sonuç vardır.
Geçmiş tamamlanmamış zamanda nihai sonuç yoktur.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Bu atasözünü hatırlayın!<br />
<span>{% include audio.html file="17-1" %}</span>
«Ан лыҧҳа' дла'бжь<b>он</b>, аҧҳа' а'мҵқәа
лыҧхьаӡ<b>о'н</b>.
Anne kızına öğüt veriyordu, kız ise sinekleri sayıyordu.
</p>

<p>
<b>Geçmiş <i>belirsiz</i></b> zaman <b><i>-н</i></b> eki ile oluşturulur<br />
Bu zaman formu cümlede bağımsız olarak neredeyse hiç kullanılmaz.
Başka bir zaman formu ile bağlantılı olarak kullanılır.
Bağımsız olmaması, fiile verdiği tamamlanmamış anlamdan kaynaklanır.<br />
Karş.: изга'н aldım ve...; ибфа'н yedin ve...
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Gelecek</b> zaman <b><i>-п:</i></b> eki ile oluşturulur: иҟасҵа'<b>п</b> yapacağım;
исфа'<b>п</b> yiyeceğim; изҩы'<b>п</b> yazacağım, сца'<b>п</b> gideceğim.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Hatırlatalım! Eğer fiilin kökü <b><i>-а</i></b> ile bitiyorsa
Abhaz dilinin fonetik kurallarına göre <b><i>-aya</i></b> (a+ek-уа(ит)) birleşimi
<b><i>-уо</i></b> veya <b><i>–o. (a+ya//ay+a = oy//o) verir.</i></b><br />
<b><i>иa, aи, аиа</i></b> birleşimleri <b><i>иe, eи, e</i></b> varyantlarını verir.
</p>

<table width="400">
<tr><th>Zaman formları tablosu</th></tr>
</table>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<th>Zaman formları</th>
<th>ekler</th>
<th>örnekler</th>
</tr>
<tr>
<td>şimdiki zaman statik</td>
<td>-уп</td>
<td>сгылоуп</td>
</tr>
<tr>
<td>şimdiki zaman dinamik</td>
<td>-оит, -уеит</td>
<td>бгылоит, быҧшуеит</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmış</td>
<td>-ит</td>
<td>уаҧхьеит, уҧшит</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmamış</td>
<td>-он</td>
<td>ибон, ифон</td>
</tr>
<tr>
<td>geçmiş zaman belirsiz</td>
<td>-н</td>
<td>илбан, илфан</td>
</tr>
<tr>
<td>gelecek zaman</td>
<td>-п</td>
<td>иҟасҵап, исфап</td>
</tr>
</table>

<p>
<b>Alıştırma 1</b><br />
Eksik kelimeleri doldurun
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>şimdiki zaman statik</td>
<td>сгы'лоуп duruyorum, сио'уп yatıyorum</td>
</tr>
<tr>
<td>şimdiki zaman dinamik</td>
<td>...</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmış</td>
<td>...</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmamış</td>
<td>...</td>
</tr>
<tr>
<td>geçmiş zaman belirsiz</td>
<td>...</td>
</tr>
<tr>
<td>gelecek zaman</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-1">(Cevaplar)</a></small>

<p>
<b>Alıştırma 2</b><br />
Eksik kelimeleri doldurun
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>şimdiki zaman dinamik</td>
<td>са'пхьоит okuyorum, сны'ҟәоит yürüyorum, сыҩна'лоит giriyorum</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmış</td>
<td>...</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmamış</td>
<td>...</td>
</tr>
<tr>
<td>geçmiş zaman belirsiz</td>
<td>...</td>
</tr>
<tr>
<td>gelecek zaman</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-2">(Cevaplar)</a></small>

<p>
<b>Alıştırma 3</b><br />
Eksik kelimeleri doldurun
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>şimdiki zaman dinamik</td>
<td>исшәы'сҵоит (kıyafet) giyiyorum, исҵоит öğretiyorum, (и)иго'ит alıyor
</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmış</td>
<td>...</td>
</tr>
<tr>
<td>geçmiş zaman tamamlanmamış</td>
<td>...</td>
</tr>
<tr>
<td>geçmiş zaman belirsiz</td>
<td>...</td>
</tr>
<tr>
<td>gelecek zaman</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-3">(Cevaplar)</a></small>

<blockquote>Yeni kelimeler ve ifadeler.</blockquote>

<p>{% include audio.html file="17-2" %}
аиара' yatmak, сио'уп yatıyorum, биоуп sen (k) yatıyorsun.<br />
ашәҟәы'ҩҩы yazar.
Ашәҟәы'ҩҩы ашәҟәы' иҩи'т.
Yazar kitap yazdı.<br />
ауасҭа' usta. Ауасҭа' иу'с иды'руеит.
Usta işini bilir.
</p>

<p>
<b>Alıştırma 4</b><br />
Cümleleri çevirin ve zaman formlarını belirleyin.
</p>
<p>
1. Абиблиоте'каҟны ашәҟәы' зге'ит.<br />
2. Ари' ашәҟәы' са'ҧхьоит, нас абиблиотекахь изгоит.<br />
3. Ари сҩыза бзиа лоуп.<br />
4. Иахьа ауасҭа дызбон.<br />
5. Уи ашәҟәы бзиан.<br />
6. Ари аҩы аҩныҟа изгап.<br />
<small><a href="answers6#e17-4">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Aşağıdaki fiillerin zaman formlarını belirleyin:<br />
(Bu derse ilişkin gramer yorumlarını bir kez daha gözden geçirmeniz faydalı olacaktır).
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>изгал</td>
<td>gelecek zaman</td>
<td>дыҧшит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>саҧхьон</td>
<td>...</td>
<td>даауеит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>бгылан</td>
<td>&nbsp;</td>
<td>иҟасҵап</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>иуфал</td>
<td>&nbsp;</td>
<td>илбон</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>ицеит</td>
<td>&nbsp;</td>
<td>ҳцоит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>избап</td>
<td>&nbsp;</td>
<td>ирфеит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>сааит</td>
<td>&nbsp;</td>
<td>сгылоуп</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>дзысон</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
<small><a href="answers6#e17-5">(Cevaplar)</a></small>

<p>
<b>Alıştırma 6</b><br />
Fiilin öznesi (kişi) belirleyin:
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>бгылоит → бара</td>
<td>ирдыруан → ...</td>
</tr>
<tr>
<td>ифон → ...</td>
<td>иҟалҵап → ...</td>
</tr>
<tr>
<td>сиоуп → ...</td>
<td>ишәымоуп → ...</td>
</tr>
<tr>
<td>иргеит → ...</td>
<td>иааргеит → ...</td>
</tr>
<tr>
<td>иаҳҵап → ...</td>
<td>ирҩуан → ...</td>
</tr>
</table>
<small><a href="answers6#e17-6">(Cevaplar)</a></small>

<p>
<b>Alıştırma 7</b><br />
Abhaz diline çevirin.<br />
1. Yazar kitap yazıyor.<br />
2. Ben yatacağım, sen (k) Akhra'yı okula götür.<br />
3. Ödevimi sonra yapacağım.<br />
4. Birisi eve girdi ve parayı aldı.<br />
5. Dün o buradaydı.<br />
6. Bu ödevi iyi öğrendi.<br />
7. Bu eti yiyeceğim.<br />
<small><a href="answers6#e17-7">(Cevaplar)</a></small>
</p>

<p>
Абзиараз!
</p>
