---
order: 101
title: Ders 1
subtitle:
- Alfabeye Giriş
- Sözcüklerle çalışma
---

<p>
<i>Öncelikle
selamlaşmayı
öğreneleim!</i>
</p>

<p>
{% include audio.html file="1-001" %}
Мшыбзи'а!
Merhaba!
İyi
günler!<br />
{% include audio.html file="1-002" %}
Бзи'а(ра) уба'аит!
Selama
karşılık
(erkeğe).<br />
{% include audio.html file="1-003" %}
Бзи'а(ра) бба'аит!
Selama
karşılık
(bayana).
</p>

<p>
(Parantez
içindeki
ifadeler
isteğe
bağlıdır,
yani
her
zaman
için
<b>бзиара убааит</b>
yerine
<b>бзиа убааит</b>
ifadesi
kullanılabilir).
</p>

<p>
Şimdi
de
Abhaz
Alfabesini
tanıyalım.
</p>

<p>
Abhaz
alfabesinde
<b>6</b>
sesli
ve
<b>56</b>
sessiz
olmak
üzere
<b>62</b>
harf
bulunmaktadır.
Bunlardan
<b>26</b>
tanesi
Rus
Alfabesi
harfleriyle
aynıdır.
Rus
alfabesinde
olup
da
Abhaz
alfabesinde
kullanılmayan
harfler
şunlardır
:
ё, й, щ, ю, я, э, ъ.
</p>

<table width="700">
<tr align="center"><td colspan="10">
<b>
АҦСУА
 
АЛФАВИТ<br />
ABHAZ
 
ALFABESİ
</b>
</td></tr>
<tr>
<td>{% include audio.html file="1-1" %}
А</td>
<td>{% include audio.html file="1-7" %}
Ҕ</td>
<td>{% include audio.html file="1-13" %}
Ж</td>
<td>{% include audio.html file="1-19" %}
И</td>
<td>{% include audio.html file="1-25" %}
ҚӘ</td>
<td>{% include audio.html file="1-31" %}
Н</td>
<td>{% include audio.html file="1-37" %}
Т</td>
<td>{% include audio.html file="1-43" %}
Х</td>
<td>{% include audio.html file="1-49" %}
ЦӘ</td>
<td>{% include audio.html file="1-55" %}
Ҿ</td>
<td>{% include audio.html file="1-61" %}
Џ</td>
</tr>
<tr>
<td>{% include audio.html file="1-2" %}
Б</td>
<td>{% include audio.html file="1-8" %}
ҔЬ</td>
<td>{% include audio.html file="1-14" %}
ЖЬ</td>
<td>{% include audio.html file="1-20" %}
К</td>
<td>{% include audio.html file="1-26" %}
Ҟ</td>
<td>{% include audio.html file="1-32" %}
О</td>
<td>{% include audio.html file="1-38" %}
ТӘ</td>
<td>{% include audio.html file="1-44" %}
ХЬ</td>
<td>{% include audio.html file="1-50" %}
Ҵ</td>
<td>{% include audio.html file="1-56" %}
Ш</td>
<td>{% include audio.html file="1-62" %}
ЏЬ</td>
</tr>
<tr>
<td>{% include audio.html file="1-3" %}
В</td>
<td>{% include audio.html file="1-9" %}
ҔӘ</td>
<td>{% include audio.html file="1-15" %}
ЖӘ</td>
<td>{% include audio.html file="1-21" %}
КЬ</td>
<td>{% include audio.html file="1-27" %}
ҞЬ</td>
<td>{% include audio.html file="1-33" %}
П</td>
<td>{% include audio.html file="1-39" %}
Ҭ</td>
<td>{% include audio.html file="1-45" %}
ХӘ</td>
<td>{% include audio.html file="1-51" %}
ҴӘ</td>
<td>{% include audio.html file="1-57" %}
ШЬ</td>
<td>Ь</td>
</tr>
<tr>
<td>{% include audio.html file="1-4" %}
Г</td>
<td>{% include audio.html file="1-10" %}
Д</td>
<td>{% include audio.html file="1-16" %}
З</td>
<td>{% include audio.html file="1-22" %}
КӘ</td>
<td>{% include audio.html file="1-28" %}
ҞӘ</td>
<td>{% include audio.html file="1-34" %}
Ҧ</td>
<td>{% include audio.html file="1-40" %}
ҬӘ</td>
<td>{% include audio.html file="1-46" %}
Ҳ</td>
<td>{% include audio.html file="1-52" %}
Ч</td>
<td>{% include audio.html file="1-58" %}
ШӘ</td>
<td>Ә</td>
</tr>
<tr>
<td>{% include audio.html file="1-5" %}
ГЬ</td>
<td>{% include audio.html file="1-11" %}
ДӘ</td>
<td>{% include audio.html file="1-17" %}
Ӡ</td>
<td>{% include audio.html file="1-22" %}
Қ</td>
<td>{% include audio.html file="1-29" %}
Л</td>
<td>{% include audio.html file="1-35" %}
Р</td>
<td>{% include audio.html file="1-41" %}
У</td>
<td>{% include audio.html file="1-47" %}
ҲӘ</td>
<td>{% include audio.html file="1-53" %}
Ҷ</td>
<td>{% include audio.html file="1-59" %}
Ы</td>
</tr>
<tr>
<td>{% include audio.html file="1-6" %}
ГӘ</td>
<td>{% include audio.html file="1-12" %}
Е</td>
<td>{% include audio.html file="1-18" %}
ӠӘ</td>
<td>{% include audio.html file="1-23" %}
ҚЬ</td>
<td>{% include audio.html file="1-30" %}
М</td>
<td>{% include audio.html file="1-36" %}
С</td>
<td>{% include audio.html file="1-42" %}
Ф</td>
<td>{% include audio.html file="1-48" %}
Ц</td>
<td>{% include audio.html file="1-54" %}
Ҽ</td>
<td>{% include audio.html file="1-60" %}
Ҩ</td>
</tr>
</table>

<p>
Evet
artık
Abhaz
alfabesini
öprendiniz.
Bunlardan -
<b>а, е, и, у, о, ы</b>
sesli
olanlardır.
Şu
ana
kadar
öğrendikleriniz
ile
haydi
aşağıdakileri
okuyalım:
</p>

<p>
{% include audio.html file="1-102" %}
абзи'а - iyi<br />
{% include audio.html file="1-103" %}
агы'лара - ayağa
kalkmak<br />
{% include audio.html file="1-104" %}
ацара' - gitmek;
ayrılmak<br />
{% include audio.html file="1-105" %}
сара' - Ben<br />
{% include audio.html file="1-106" %}
абара' - görmek<br />
{% include audio.html file="1-107" %}
бзи'а
абара' - sevmek<br />
{% include audio.html file="1-108" %}
ача' - ekmek<br />
{% include audio.html file="1-109" %}
аб - baba<br />
{% include audio.html file="1-110" %}
ан - anne<br />
{% include audio.html file="1-111" %}
а'мра - güneş<br />
{% include audio.html file="1-112" %}
аа'хәара - satın
almak<br />
{% include audio.html file="1-113" %}
амш - gün,
hava<br />
{% include audio.html file="1-114" %}
амшы'н - deniz<br />
{% include audio.html file="1-115" %}
ашко'л - okul
</p>

<p>
Şimdi
birkaç
basit
cümle
öğrenelim.
</p>

<p>
{% include audio.html file="1-201" %}
Сара'
сцо'ит
- Ben
gidiyorum,
Ben
ayrılıyorum<br />
{% include audio.html file="1-202" %}
Сара'
сгы'лоуп
- Ben
ayağa
kalkıyorum<br />
{% include audio.html file="1-203" %}
Сара'
избо'ит
- Ben
görüyorum,
anlıyorum<br />
{% include audio.html file="1-204" %}
Сара'
бзи'а
избо'ит
са'ни
са'би
- Anne
ve
babamı
seviyorum<br />
{% include audio.html file="1-205" %}
Сар'а
иаа'схәоит
ача'
- Ekmek
satın
alıyorum
</p>

<p>
Alfabedeki
en
son
iki
harf
şunlardır -
<b>Ь</b>
(yumuşatma
işareti)
ve
<b>Ә</b>
(yuvarlama
işareti).
Bu
harfler
tek
başına
ses
vermezler,
başka
harflerle
bir
araya
geldiklerinde
ancak
ses
oluştururlar.
Karşılaştırın:
</p>

<p>
{% include audio.html file="1-301" %}
к - кь - кә<br />
{% include audio.html file="1-302" %}
г - гь - гә<br />
{% include audio.html file="1-303" %}
х - хь - хә
</p>

<p>
Abazacadaki
(ч
ve
ҷ
dışındaki
)
yumuşak
sessiz
harfler
yumuşatma
işareti
ile
biterler.
</p>

<p>
Abazacadaki
кь,
гь,
хь
aynen
Rusçadaki
sessiz
harfler
к,
г,
х
+
sesli
harf
и
gibi
telaffuz
edilir.
Örneğin
Abazacadaki
гь
–
Rusçadaki
ги
(гиря);
Abazacadaki
кь
–
Rusçadaki
ки
(кино);
Abazacadaki
хь
–
Rusçadaki
хи
(хитрый)
gibi
telaffuz
edilirler.
</p>

<p>
<b>к</b>
harfine
yumuşatma
işareti
<b>ь</b>
eklenmesi
ile
{% include audio.html file="1-401" %}
<b>кь</b>
harfi
oluşur.<br />
Örneğin:<br />
{% include audio.html file="1-402" %}
а'н<b>кь</b>а
- önce
(eskiden)
(uzun
zaman
önce)<br />
{% include audio.html file="1-403" %}
ма<b>кь</b>а'на
- hala
(şimdi,
şu
anda)
</p>

<p>
<b>ә</b>
harfine
yumuşatma
işareti
<b>к</b>
eklenmesi
ile
{% include audio.html file="1-501" %}
<b>кә</b>
harfi
oluşur.<br />
Rusçadaki
<b>ку</b>
harfinin
telaffuzu
,
Abazacadaki
<b>кә</b>
gösterimi
ile
aynıdır.<br />
{% include audio.html file="1-502" %}
а<b>кә</b>а'ц
- et<br />
{% include audio.html file="1-503" %}
а'<b>кә</b>ашара
- dans etmek
</p>

<p>
ve
böyle:
{% include audio.html file="1-301" %}
к
-
кь
-
кә
</p>

<p>
Tabii
ki
diğer
harfler
için
de
aynısı
geçerlidir.
Örneğin:
</p>

<p>
{% include audio.html file="1-302" %}
г
-
гь
-
гә<br />
{% include audio.html file="1-602" %}
а<b>г</b>ара'
- almak,
götürmek<br />
{% include audio.html file="1-603" %}
а<b>гь</b>а'ма
- tatmak<br />
{% include audio.html file="1-604" %}
а<b>гә</b>ы'
- kalp
</p>

<p>
{% include audio.html file="1-303" %}
х
-
хь
-
хә<br />
{% include audio.html file="1-702" %}
а<b>х</b>ы'
- baş,
kafa<br />
{% include audio.html file="1-703" %}
иа<b>хь</b>а'
- bugün<br />
{% include audio.html file="1-704" %}
а<b>хь</b>
- masdar eki (son ek)<br />
{% include audio.html file="1-705" %}
а<b>хә</b>
- fiyat
</p>

<p>
(Eğer
ахь
son
eki
sesli
harfle
biten
bir
kelimeden
(а,ы)
sonra
gelirse
,
o
zaman
kendisinden
önce
gelen
kelime
ile
bitişik
yazılırlar.
Karşılaştırın
:
ашкол
ахь,
аусурахь
"çalışmaya
gitmek"
(аусура
+
ахь)).
</p>

<p>
Dinledikten
sonra
cümleleri
okuyun:
</p>

<p>
{% include audio.html file="1-801" %}
Сара'
кьы'лак
акәа'ц
аа'схәоит
- Bir
kilo
et
satın
alıyorum<br />
Сара'
иахьа'
ашко'л
ахь
сцо'ит
- Bugün
okula
gidiyorum<br />
Акәа'ц
агьа'ма
бзи'оуп
- etin
tadı
güzel<br />
Иахьа'
амш
бзи'оуп
- bugün
hava
güzel<br />
Сара'
сцо'ит
- Gidiyorum
/
ayrılıyorum<br />
Сара'
сгы'лоуп
- Ayağa
kalkıyorum<br />
Сара'
избо'ит
- Görüyorum,
biliyorum<br />
Сара'
бзи'а
избо'ит
са'ни
са'би
- Anne
ve
babamı
seviyorum<br />
Сара'
иаа'схәоит
ача'
- Ekmek
satın
alıyorum<br />
Лара'
амшы'н
ахь
дцо'ит
- O bayan denize gidiyor
</p>

<p>
Evet
Abhaz
alfabesinin
yeni
seslerini
tanıdık.
Aşağıdakilerin
nasıl
seslendirildiğini
hatırlayın.<br />
{% include audio.html file="1-802" %}
<b>кь</b><br />
а'нкьа
- önce
(eskiden)<br />
макьа'на
- hala
(şimdi)<br />
акьы'ла
- kilogram<br />
<b>кә</b><br />
акәа'ц
- et<br />
<b>гь</b><br />
агьа'ма
- tat<br />
<b>гә</b><br />
агәы'
- kalp<br />
<b>хь</b><br />
иахьа'
- bugün<br />
<b>хә</b><br />
ахә
- fiyat
</p>

<p>
<b>Alıştırma 1</b><br />
Aşağıdaki
cümleleri
Türkçe’ye
çevirin.
</p>

<ol>
<li>Иахьа'
амш
бзи'оуп.</li>
<li>Макьа'на
амш
бзи'оуп.</li>
<li>Ача'
агьа'ма
бзи'оуп.</li>
<li>Сара'
акәа'ц
аа'схәоит.</li>
<li>Сара'
сцо'ит.</li>
<li>Сара'
са'ни
са'би
бзи'а
избо'ит.</li>
<li>Сара'
сгы'лоуп.</li>
<li>Сара'
избо'ит.</li>
<li>Сара'
амшы'н
бзи'а
избо'ит.</li>
</ol>
<small><a href="answers1#e1-1">(Yanıtlar)</a></small>

<p>
Абзи'араз!
İyi
günler!
Allahaısmarladık!
</p>
