---
order: 412
title: Ders 12
subtitle:
- Abhaz dilinin ҟ, ҟь, ҟә seslerini öğrenmeye devam ediyoruz
- Kelime bilgisi üzerinde çalışma
- Pekiştirme
---

<p>{% include audio.html file="12-1" %}
ҟ, ҟь, ҟә;
</p>

<blockquote>
Yeni
kelimeler
ve
ifadeler.
</blockquote>

<p>
<p>{% include audio.html file="12-2" %}
аҟны' -de,
-da,
-te,
-ta
("nerede?"
sorusuna
cevap).
Ашко'л
аҟны'. Okulda.
Амҩаҟны.
Yolda.<br />
аҟазшьа'
karakter,
mizaç.
Наа'ла
лҟазшьа'
бзи'оуп.
Naala'nın
iyi
bir
mizacı
/
karakteri
var.<br />
а'ҟаҧшь kırmızı,
абҕьы
(и)ҟаҧшьу'п
yaprak
kırmızı.<br />
аҟалара
olmak,
meydana
gelmek;
olgunlaşmak.
И'ҟалазеи?
И'ҟалеи?
Ne
oldu?<br />
ҟа'и hayır.
Ҟаи,
уи
сара'
исызды'рам.
Hayır,
bunu
bilmiyorum. (<b>мап</b> hayır kelimesinin eşanlamlısı).<br />
А'ҟәа Sohum.
Сара'
А'ҟәа
сынхо'ит.
Ben
Sohum'da
yaşıyorum.<br />
аҟәара' sahil.
Амшы'н
аҟәара'
Deniz
sahili.<br />
аҟәы'ш akıllı.
Ма'рҭа
дҟәы'шуп.
Marta
akıllı.<br />
аҟәа'нда sıcak.
Иахьа'
амшы'н
ҟәа'ндоуп.
Bugün
deniz
sıcak.<br />
аны'ҟәара
yürümek,
hareket
etmek.
Сны'ҟәоит.
Ben
yürüyorum.<br />
а'ҟазаара
olmak,
bulunmak.
Ара'
и'ҟоуп.
Burada
var
/
bulunuyor.
<i class="fas fa-bolt important-material"></i>
Sözlük
biçiminde
statik
fiiller
-заара
ekini
alır.
Burada
kök
ҟа-'dır.
Ара
сыҟоуп
Ben
buradayım
(bulunuyorum).
Аҩны
дыҟоуп
O
evde
(bulunuyor).
</p>

<p>
<p>{% include audio.html file="12-3" %}
-ҟа
soneki,
"(yönünde)
-e/-a"
anlamını
taşır,
аҩны' ev,
аҩны'ҟа eve.<br />
(аи)ц-
birliktelik
anlamı
taşıyan
önek<br />
нас
sonra,
ardından<br />
алеиҩе'ира
gezmek,
yürüyüşe
çıkmak.
Шьыжьла'
слеиҩе'иуеит.
Sabahları
geziyorum.<br />
аҭа'лара
girmek,
içeri
girmek
(bir
şeye).
А'шҭа
сҭа'лоит.
Avluya
giriyorum.
Авто'бус
дҭа'леит.
O
otobüse
bindi.
Амшы'н
дҭа'леит.
O
denizde
yüzdü
(kelimenin
tam
anlamıyla
denize
girdi).<br />
а'наскьагара
uğurlamak.
Сара
сҩыза
днаскьа'згоит.
Ben
arkadaşımı
uğurluyorum.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Eğer
аҟны'
soneki
sesli
harfle
biten
bir
kelimenin
arkasında
geliyorsa,
o
zaman
kelimeyle
bitişik
yazılır.
Bu
durumda
bir
sesli
harf
düşer.
Karş.:
ашкол
аҟны
okulda,
ama
аусу'раҟны
(ау'сура
+ аҟны')
işte.
</p>

<blockquote>
Bu
ifadeleri
ezberleyin!
</blockquote>

<p>{% include audio.html file="12-4" %}
А'хра,
и'ҟалеи?
Ара'
узгы'лои?
Сара'
сыҧшу'п.
Сҩы'за
машьы'нала
даа'ироуп.
Амашьына
аномер
иамоу
(и)удыруама?
Ҟаи,
аномер
(и)сыздырам.
Аҧшра'ла
(аҧшра
ала)
издыруеит,
уи
имашьына
ҟаҧшьуп.
Уабацои?
Сҩы'за
Наа'ла
Тҟәарча'лҟа
дызга'роуп.
Наа'ла
Тҟәарча'л
а'қалақь
аҟны'
дынхо'ит.
Иацы'
уи'
А'ҟәа
дызбе'ит.
Амшы'н
аҟәараҟны'
длеиҩе'иуан.
Саргьы'
Наа'ла
дызды'руеит.
Уи
дҟәы'шуп,
дҭынчуп.
Ааи,
уи
лҟазшьа'
бзи'оуп.
Сара'
уи
бзи'а
дызбо'ит.
Аҟәараҟны'
аҧша'
ҟәа'нда
а'суан.
Амшы'н
ҭы'нчын.
Амшы'н
ҳаицҭа'леит.
А'шьҭахь
лара'
лҩы'за
лахь
дцон,
сара'
днаскьа'згеит.
Иахьа'
аҩны'ҟа
дца'роуп.
Сара'
дызго'ит.
Лара'
уа
Тҟәарча'л
ашко'л
аҟны'
ау'с
луе'ит.
А'мҩа
бзи'а!
Иҭабу'п!
Абзи'араз!
Абзи'араз!
</p>

<p>
Akhra,
ne
oldu?
Neden
burada
duruyorsun?
Ben
bekliyorum.
Arkadaşım
arabayla
gelmeli.
Arabanın<br />
numarası
ne
biliyor
musun?
Hayır,
numarasını
bilmiyorum,
onu
görünüşünden
tanıyorum,
onun
arabası
kırmızı
renkte.
Nereye
gidiyorsun?
Arkadaşım
Naala'yı
Tkvarchal'a
götürmeliyim.
Naala
Tkvarchal
şehrinde
yaşıyor.
Dün
onu
Sohum'da
gördüm.
O
deniz
sahilinde
yürüyordu.
Ben
de
Naala'yı
tanıyorum.
O
akıllı,
sakin.
Evet,
onun
iyi
bir
karakteri
var.
Ben
onu
seviyorum.
Sahilde
sıcak
bir
rüzgar
esiyordu.
Deniz
sakindi.
Biz
onunla
birlikte
denizde
yüzdük.
Sonra
o
arkadaşının
yanına
gitti,
ben
onu
uğurladım.
Bugün
o
eve
gitmelidir.
Ben
onu
götüreceğim.
O
orada
Tkvarchal'da
bir
okulda
çalışıyor.
İyi
yolculuklar!
Teşekkürler!
Hoşça
kalın!
Hoşça
kalın!
</p>


<p>
<b>Alıştırma 1</b><br />
Abhazca'ya
çevirin.
</p>
<p>
1.
Bunu
(cansız
sınıf)
bana
sen
(kadın)
gösteriyorsun.
2.
Ben
onu
görüyorum.
3.
O
denize
gitmelidir.
4.
Sen
(kadın)
burada
kalacak
mısın?
5.
Hayır,
bunu
ben
bilmiyorum.
6.
Kama
ne
zaman
gelecek?
7.
Bugün
sıcak
bir
gün.
8.
Naala
deniz
sahilinde
geziyordu.
9.
Ben
onu
seviyorum.
10.
Benim
gitmem
gerekiyor,
arkadaşım
arabayla
geldi.
11.
O
sana
arabayı
veriyor
mu?
12.
Ne
oldu?
13.
Ben
bilmiyorum.
14.
Naala
bugün
Sohum'a
gidiyor.
15.
O
otobüse
biniyor.
16.
O
acele
ediyor
(koşuyor).<br/>
<small><a href="answers4#e12-1">(Cevaplar)</a></small>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Abhazca'da
kişi
zamirleri
bazen
düşürülür.
Bu
durumda
cümlenin
veya
ifadenin
anlamı
değişmez,
çünkü
bu
düşürülen
zamirler
fiilde
yansıtılır.<br />
Karş.:
<u>Сара</u>
<u>бара</u>
бзиа
<u>б</u>ы<u>з</u>боит.
Ben
seni
seviyorum.<br />
Бзиа
<u>б</u>ы<u>з</u>боит.
Ben
seni
seviyorum
(kelimenin
tam
anlamıyla
Seviyorum
seni).<br />
Karş.
Rusça
люблю
тебя,
burada
я
zamiri
yok,
ancak
fiilin
biçimi
(люблю,
не
лю'бит,
veya
любишь)
birinci
tekil
şahsı
gösterir.
</p>

<p>
<b>Alıştırma 2</b><br />
Bu
cümleleri
Rusça'ya
çevirin.
</p>
<p>
1.
Иацы
амш
бзиан.
2.
Аҧша
ҟәанда
асуан.
3.
Амшын
ҭынчын.
4.
Ҳара
амшын
ҳҭалеит.
5.
Наала
сҩыза
лоуп.
6.
Уи
лҟазшьа
бзиоуп.
7.
Лара
дҟәышуп.
8.
Сара
уи
бзиа
дызбоит.
9.
Сара
Аҟәа
ақалақь
аҟны
сынхоит.
10.
Сара
ашкол
аҟны
аус
зуеит.
11.
Иахьа
ашкол
ахь
сцароуп.
12.
Сҩыза
машьынала
даауеит,
ашкол
ахь
сигоит.
13.
Ана
сҩыза
дызбоит,
ашҭа
дҭалоит.
14.
Сара
сцароуп,
абзиараз!<br/>
<small><a href="answers4#e12-2">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Parantezleri
açın.
Zaman
biçimini
kendi
takdirinize
göre
seçebilirsiniz.
</p>
<p>
1.
Иара
Аҟәа
(анхара).
2.
Сара
аусурахь
(аццакра).
3.
Шьыжьла
аҟәараҟны
(алеиҩеира).
4.
Марҭа
(аҭынч).
5.
Ахра
иахьа
аҩны
(аҟазаара).
6.
Кама
есқьынгьы
амшын
аҟәараҟны
сара
(абара).
7.
Бааи,
Наала,
сыҩны
(абрара).
8.
Иацы
аҧша
ҟәанда
(асра).
9.
Наала
лҟазшьа
(абзиара).
10.
Ахра
имшьына
(аҟаҧшь).<br/>
<small><a href="answers4#e12-3">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Resmi
uygun
cümle
ile
eşleştirin.
</p>
<ol>
<li>
Ана
аҵла
гылоуп.
(Resim № ...)
</li>
<li>
Сара
ашкол
ахь
сцоит.
(Resim № ...)
</li>
<li>
Адгәыр
шьыжьла
длеиҩеиуеит.
(Resim № ...)
</li>
</ol>
<small><a href="answers4#e12-4">(Cevaplar)</a></small>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td><img src="/assets/img/12-1.gif" width="328" height="450" border="1" alt="Resim 1" /><br />Resim 1</td>
<td><img src="/assets/img/12-2.gif" width="292" height="450" border="1" alt="Resim 2" /><br />Resim 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/12-3.gif" width="500" height="463" border="1" alt="Resim 3" /><br />Resim 3</td>
</tr>
</table>

<p>
<b>Alıştırma 5</b><br />
Eksik
harfi
doldurun.
</p>
<p>
сара ...ҭалоит<br />
уара ...ҭалоит<br />
бара ...ҭалоит<br />
иара ...ҭалоит<br />
лара ...ҭалоит<br />
иара (cansız
sınıf)
....(и)ҭалоит<br/>
<small><a href="answers4#e12-5">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 6</b><br />
Diyalogda
eksik
repli kleri
doldurun:
</p>
<p>
- Ахра
ара
узгылои?<br />
- ...<br />
- Наала
саргьы
дыздыруеит.
Уи
лҟазшьа
бзиоуп.<br />
- ...<br />
- Наала
аус
луама?<br />
- ...<br />
- Саргьы
иахьа
Тҟәарчал
сцоит,
сыццакуеит.<br />
- ...<br />
- Иҭабуп,
абзиараз!<br />
- ...
</p>

<p>
<b>Alıştırma 7</b><br />
Arkadaşınız
Naala
hakkında
anlatın.
(Nasıl
biri,
nerede
yaşıyor,
ne
yapıyor).
</p>
<p>Mini-diyalog.</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>
<p>{% include audio.html file="12-5" %}
Наала,
бааи
сыҩны
бсырбоит.
Иҭабуп,
сыццакуеит,
нас
исбырбап.
</td>
</tr>
</table>
