---
order: 514
title: Ders 14
subtitle:
- Abhaz dilinin ҵ, ҵә seslerini öğrenmeye devam ediyoruz
- Kelime bilgisi üzerinde çalışma
- Pekiştirme
---

<p>{% include audio.html file="14-1" %}
ҵ ҵә; ҵ ҵә</p>

<blockquote>
Yeni
kelimeler
ve
ifadeler.
</blockquote>

<p>{% include audio.html file="14-2" %}
адҵа' görev;
emir.
Адҵа'
сы'рҭеит.
Bana
görev
verdiler.<br />
аҵаҩы' öğrenci.
Сара
сҵаҩу'п.
Ben
öğrenciyim.<br />
арҵаҩы' öğretmen.
Сырҵаҩы'
адца'
сы'лҭеит.
Öğretmenim
bana
görev
verdi.<br />
аҵа'ра
öğrenim.
Аҵа'ра
лаша'роуп,
аҵарадара
лашьца'роуп.
Öğrenim
ışıktır,
cehalet
karanlıktır.<br />
аҵара'
öğrenmek.
Сара'
аҵа'ра
сҵо'ит.
Ben
öğreniyorum
(tam
anlamıyla
öğrenimi
öğreniyorum).<br />
а'ҵла
ağaç.
Ари'
а'ҵла
ду'уп.
Bu
ağaç
büyük.<br />
аҵа'ара
donmak.
А'мҩақәа
ҵа'аит.
Yollar
dondu.<br />
а'ҟаҵара
yapmak.
Сырҵаҩы'
исы'лҭаз
адҵа'
ҟасҵо'ит.
Öğretmenimin
bana
verdiği
görevi
yapıyorum.<br />
аҵкы
elbise
(kadın).
Аҵкы
ҟаҧшьуп.
Elbise
kırmızı.<br />
азҵаа'ра
soru.
Аҵаҩы
арҵаҩы
азҵаара
лиҭеит.
Öğrenci
öğretmene
soru
sordu.<br />
а'зҵаара
sormak,
soru
sormak.
Аҵаҩы
арҵаҩы
дла'зҵааит.
Öğrenci
öğretmene
sordu.<br />
аҵеа'
elma.
Аҵеа'
ҟаҧшьу'п.
Elma
kırmızı.<br />
а'ҵеахра
saklamak.
Сара'
сҵеа
ҟаҧшь
сҵеахи'т.
Kırmızı
elmamı
sakladım.<br />
аҵәыҵәы'
ekşi.
Ари
аҵеа'
ҵәыҵәу'п.
Bu
elma
ekşi.<br />
аҵәу'ара
ağlamak.
Ҭа'ли
дҵәу'еит.
Tali
ağlıyor.<br />
а'еҵәа
mavi
ve
yeşil
renklerin
genel
terimi;
yıldız.<br />
уаҵәы'
yarın.</p>

<p>{% include audio.html file="14-3" %}
Сара'
сҵаҩу'п,
уаҵәы'
ашко'л
ахь
сца'роуп.
Сара'
азҵаа'ра
сы'моуп.
А'мҩақәа
(и)ҵа'аит.
Арҵаҩы'
аҵаҩы'
диазҵааит.
Алмасха'н
аҵәа
ҵәыҵәқәа'
бзи'а
ибо'ит.
Сыҩны'
а'ҧхьа
а'ҵла
гы'лоуп.
Уи'
а'ҵла
абҕьы'
каҧсе'ит.
Аҵаҩцәа'
рырҵаҩы'
днаскьа'ргон.
Гәы'нда
ҳакла'сс
аҟны'
аҵара'
лҵо'ит.
Асҭа'нда
дса'зҵааит:
«Уара'
уанба'аи?».
Аҵәа'
иаҵәа'
ҵәыҵәу'п.
Са'ндра
иаҳәшьа'
Шьазина'
лы'мпыл
иҵәахи'т.
Шьазина'
дҵәы'уеит.
Иҵа'ауеит.
Асҭанда
Ахра
иҵәа
(и)лфеит.
Наала
лыҵкы
ҟаҧшьуп.</p>

<p>
Ben
öğrenciyim,
yarın
okula
gitmeliyim.
Bir
sorum
var.
Yollar
dondu.
Öğretmen
öğrenciye
sordu.
Almasxan
ekşi
elmaları
seviyor.
Evimin
önünde
bir
ağaç
var.
Bu
ağacın
yaprakları
döküldü.
Öğrenciler
öğretmenlerini
uğurladılar.
Gunda
sınıfımızda
öğreniyor.
Astanda
bana
sordu:
«Ne
zaman
geldin?»
Yeşil
elma
ekşi.
Sandra,
Şyazina'nın
kardeşi,
onun
topunu
sakladı.
Şyazina
ağlıyor.
Dondurucu
soğuk.
Astanda
Akhra'nın
elmasını
yedi.
Naala'nın
elbisesi
kırmızı.</p>

<p>
<i class="fas fa-bolt important-material"></i>
Bu
atasözünü
ezberleyin.<br />
<p>{% include audio.html file="14-4" %}
<b>Ҵәа
баа'к
шә-ҵәак
арбаауе'ит.</b>
(tam
anlamıyla
Bir
çürük
elma
yüz
elmayı
çürütür).
Karş.
Türkçe
atasözü
Bir
çürük
elma
bütün
sepeti
bozar.</p>

<p>
<b>Alıştırma
№1</b><br />
Eksik
harfleri
doldurun.<br />
Örnek: сара
и...ҵәахит
-
сара
исҵәахит<br />
уара
и...ҵәахит<br />
бара
и...ҵәахит<br />
иара
и...ҵәахит<br />
лара
и...ҵәахит<br />
иара (cansız sınıf) и...ҵәахит<br />
<small><a href="answers5#e14-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma
№2</b><br />
Abhazca'ya
çevirin.</p>
<p>
1.
Kız
kardeşim
Kama
öğretmen.
2.
Gunda
arkadaşımın
eşi.
3.
Ben
iyi
öğreniyorum.
4.
Bu
elma
ekşi.
5.
Ben
elmaları
saklıyorum.
6.
Ben
elmaları
sakladım.
7.
Öğretmen
bana
görev
verdi.
8.
Sandra
okulu
seviyor,
o
iyi
öğreniyor.
9.
Bu
elma
kırmızı,
bu
yeşil.
10.
Ben
ekşi
elmaları
seviyorum.
11.
Ben
üşüdüm,
eve
girelim.
12.
Bir
sorum
var.
13.
Ben
öğretmene
soru
soruyorum.
14.
Sandra
gideceğini
söyledi.
15.
Sohum
Abhazya'nın
başkenti.<br />
<small><a href="answers5#e14-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma
№3</b><br />
Parantezleri
açın.</p>
<p>
1.
Сара
(аҵаҩы).
2.
Сыҩны
aҧхьa
аҵла
(агылара).
3.
Сандра
Кама
лымпыл
(аҵәахра).
4.
Сара
иаҵы
арҵаҩы
(азҵаара).
5.
Ҳара
иҳарҭаз
адҵа
(аҟаҵара).
6.
Аҵәа
(аҟаҧшь).
7.
Ҭали
лаҳәшьа
(аҵәуара).
8.
Амҩақәа
(аҵаара).
9.
Ари
аҳаблаҟны
сҩыза
(анхара).
10.
(Аҵаҩы)
рырҵаҩы
днаскьаргеит.
11.
Саҳәшьа
(ауаҩы
ҳалал).<br />
<small><a href="answers5#e14-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma
№4</b><br />
Cümlenin
başını
ve
sonunu
eşleştirin.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr>
<td>Сыҩны аҧхьа</td>
<td>адҵа ҳалҭеит.</td>
</tr>
<tr>
<td>Сара иахьа</td>
<td>иҧҳәыс лоуп.</td>
</tr>
<tr>
<td>Кама сашьа</td>
<td>(и)ҵааит.</td>
</tr>
<tr>
<td>Амҩақәа</td>
<td>ашкол ахь сҵароуп.</td>
</tr>
<tr>
<td>Аҵәа иаҵәа</td>
<td>амашьына гылоуп.</td>
</tr>
<tr>
<td>Ҳарҵаҩы</td>
<td>ҵәыҵәуп.</td>
</tr>
</table>
<small><a href="answers5#e14-4">(Yanıtlar)</a></small>

<p>
<b>Alıştırma
№5</b><br />
Resmi
uygun
cümle
ile
eşleştirin.<br />
1. Наала
азҵаара
лымоуп. (Resim
№ ).<br />
2. Сыҩны
аҧхьа
аҵла
гылоуп. (Resim
№ ).<br />
3. Уи
аҵла
абҕьы
каҧсеит. (Resim
№ ).<br />
4. Саҳәшьа
дҳақьымуп. (Resim
№ ).<br />
5. Сырҵаҩы
исылҭаз
адҵа
ҟасҵеит. (Resim
№ ).<br />
<small><a href="answers5#e14-5">(Yanıtlar)</a></small>
<table>
<tr>
<td><img src="/assets/img/14-1.gif" width="295" height="351" border="1" alt="Resim 1" /><br />Resim 1</td>
<td><img src="/assets/img/14-2.gif" width="252" height="349" border="1" alt="Resim 2" /><br />Resim 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/14-3.gif" width="585" height="534" border="1" alt="Resim 3" /><br />Resim 3</td>
</tr>
<tr>
<td><img src="/assets/img/14-4.gif" width="330" height="361" border="1" alt="Resim 4" /><br />Resim 4</td>
<td><img src="/assets/img/14-5.gif" width="288" height="387" border="1" alt="Resim 5" /><br />Resim 5</td>
</tr>
</table>
