---
order: 616
title: Ders 16
subtitle:
  - Abhaz dilinin seslerini öğrenmeye devam ediyoruz (ӡ, ӡә)
  - Çoğul zamirleri
  - Pekiştirme
---

<p>{% include audio.html file="16-1" %}
ӡ ӡә; ӡ ӡә</p>

<blockquote>Yeni kelimeler ve ifadeler.</blockquote>

<p>а'ӡҕаб kız, genç kız (eşanlamlı аҭыҧҳа' genç kız).<br />
а'ӡра kaybolmak, и'ӡит kayboldu<br />
а'рӡра kaybetmek. Исы'рӡит. Kaybettim.<br />
аӡра' kızartmak. Изӡи'т. Kızarttım.<br />
а'ӡсара yüzmek. Иара дыӡсо'ит. O yüzüyor.<br />
а'ӡын kış. Иаа'ит а'ӡын. Kış geldi.<br />
аӡы' su. Аӡы' хьшәа'шәоуп. Su soğuk.<br />
ахьӡ isim. Ари аӡҕаб лыхьӡ бдыруама? Bu kızın ismini biliyor musun?<br />
а'хьӡзаара adlandırmak, çağırmak. Сара' исы'хьӡуп Ахра.
Benim adım Akhra. Уара' иу'хьӡуи? Senin adın ne?<br />
ахьӡара' yakalamak. Сара' Наа'ла слыхьӡе'ит. Naala'yı yakaladım.<br />
аӡәы' biri (insan sınıfı); birisi. Аӡәы дааит. Birisi geldi.<br />
а'ӡәӡәара yıkamak; çamaşır yıkamak (сыӡӡәо'ит, сыӡәӡәо'н).<br />
аа'хәара satın almak (иаа'схәеит, иаа'схәон). Аҩны аа'схәеит. Bir ev satın aldım.<br />
а'хьшәашеа soğuk (ихьшәа'шәоуп, ихьшәа'шәан).
Аҳа'уа хышәа'шәоуп. Hava soğuk.<br />
ахьшәа'шәахара soğumak. Ихьшәа'шәарахеит. Soğudu.<br />
асы' kar. Асы' аура' yağmak, düşmek (kar hakkında).<br />
Иацы \ иецы асы ауит. Dün kar yağdı.<br />
А'ӡын асы' ауе'ит. Kışın kar yağar.<br />
а'ҧшӡа güzel (иҧшӡо'уп, иҧшӡа'н)</p>

<p>{% include audio.html file="16-2" %}
Сара' сы'ӡҕаб иаа'лхәаз акаҳуа' (и)азоу'п. Сара'
изӡи'т уи акаҳуа'.<br />
Ари' аҭылҳа' ҧыӡа ибзи'аны дӡысо'ит.<br />
Ецы' иаа'схәаз ашәҟәы' (и)ы'ӡит.<br />
Ка'ма сышәҟәы' (и)лырӡит.<br />
А'ӡын аҳа'уа хьшәашәахоит.<br />
Сара' аӡы' хьшәа'шәа зжәит.<br />
Наа'ла дыӡәӡәо'ит.<br />
Ахра, уҧши' аӡәы даа'ит.<br />
А'ӡын асы' ауе'ит, аҳа'уа хьшәа'шәоуп.</p>

<p>Kızımın satın aldığı kahve çiğ, bu kahveyi kızarttım.<br />
Bu güzel genç kız iyi yüzüyor.<br />
Dün satın aldığım kitap kayboldu.<br />
Kama kitabımı kaybetti.<br />
Kışın hava soğur.<br />
Soğuk su içtim.<br />
Naala çamaşır yıkıyor.<br />
Akhra bak, birisi geldi.<br />
Kışın kar yağar, hava soğuk.</p>

<p><b>Çoğul zamirleri</b></p>
<p>{% include audio.html file="16-3" %}
Ҳapa biz (kısa form ҳ(a)
Ҳара ҳаӡәӡәоит. Biz yıkıyoruz.<br />
шәара siz, Siz (kısa form шә(а). Шәара
шәӡысоит. Siz yüzüyorsunuz.<br />
дара onlar (kısa form д(а); /p(a);/и(а). Дара
(и)аҧхьоит. Onlar okuyorlar.</p>

<p>
<i class="fas fa-bolt important-material"></i>
Hatırlatalım ki, geçişli fiillerde
1. çoğul şahıs göstergesi <b>ҳ</b>, <b>а</b>'ya dönüşür.<br />
Днаскьа<b>ҳ</b>гоит > днаскьа<u>а</u>гоит.</p>

<p>Сара сцоит ben gidiyorum<br />
уара уцоит sen (e) gidiyorsun<br />
бара бцоит sen (k) gidiyorsun<br />
иара дцоит o (e) gidiyor<br />
лара дцоит o (k) gidiyor<br />
иара (и)цоит bu (nesneler sınıfı) gidiyor<br />
ҳара ҳцоит biz gidiyoruz<br />
шәара шәцоит siz gidiyorsunuz<br />
дара (и)цоит onlar gidiyorlar</p>

<p>сара исшәы'схуеит<br />
уара иушәы'ухуеит<br />
бара ибшәы'бхуеит<br />
иара ишәи'хуеит<br />
лара илшәы'лхуеит<br />
ҳара и<u>аҳ</u>шәа'ҳхуеит<br />
шәара ишәшәы'шәхуеит<br />
дара (и)ршәы'рхуеит</p>

<p>
<i class="fas fa-bolt important-material"></i>
Ünsüzler arasındaki konum ve sesli harf <b>ы</b> yanında
<b><i>ҳ</i></b> sesi için istenmez, bu nedenle yanında sıklıkla
<b><i>а</i></b> sesli harfi görünür.
Karş. акр<u>ыс</u>фоит, ama
акр<u>ах</u>фоит.</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Eğer kelime karmaşıksa (iki veya daha fazla
kökten oluşur), o zaman şahıs göstergeleri hem birinci
kökün önünde hem de ikinci kökün önünde bulunur (И-С-шәы-С-хуеит, И-Л-шәы-Л-хуеит, И-аҲ-шәа-Ҳ-хуеит)</p>

<p>
<b>Alıştırma №1</b><br />
Eksik harfleri tamamlayarak fiilin uygun formlarını vermeyi deneyin.</p>
<p>
<table>
<tr><td>сара и..боит</td><td>capa ..aaуеит</td></tr>
<tr><td>уара и..боит</td><td>yapa ..aaуеит</td></tr>
<tr><td>бара и..боит</td><td>бара ..аауеит</td></tr>
<tr><td>иара и..боит</td><td>иара ..aaуеит</td></tr>
<tr><td>иара (nesneler sınıfı) и..боит</td><td>иара (nesneler sınıfı) аауеит</td></tr>
<tr><td>лара и..боит</td><td>лара ..аауеит</td></tr>
<tr><td>ҳара и..боит</td><td>ҳара ..аауеит</td></tr>
<tr><td>шәара и..боит</td><td>шәара ..аауеит</td></tr>
<tr><td>дара и..боит</td><td>дара ..аауеит</td></tr>
</table>
<small><a href="answers6#e16-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma №2</b><br />
Zamirlere uygun fiili eşleştirin.</p>
<p>
<table>
<tr><td>шәара</td><td>изгоит</td><td>capa</td><td>ишәымоуп</td></tr>
<tr><td>capa</td><td>иргоит</td><td>yapa</td><td>илымоуп</td></tr>
<tr><td>лара</td><td>иугоит</td><td>шәара</td><td>исымоуп</td></tr>
<tr><td>дара</td><td>иаагоит</td><td>дара</td><td>иҳамоуп</td></tr>
<tr><td>yapa</td><td>ибгоит</td><td>лара</td><td>иумоуп</td></tr>
<tr><td>ҳара</td><td>илгоит</td><td>бара</td><td>ибымоуп</td></tr>
<tr><td>бара</td><td>ижәгоит</td><td>ҳара</td><td>ирымоуп</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>иара</td><td>имоуп</td></tr>
</table>
<small><a href="answers6#e16-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma №3</b><br />
Parantezleri açın.
</p>
<p>
1. Ҳара ара (анхара).<br />
2. Шәара (ацара)?<br />
3. Дара аҩны (аахәара).<br />
4. Сара сыӡҕаб акаҳуа (аӡpa).<br />
5. Шәара сышәҟәы (арӡра).<br />
6. Дара иахьа (аара).<br />
7. Ҳара ала (амазаара).<br />
8. Ҳара (акрыфара), шәара (аӡәӡәара).<br />
9. Ҳара уацәы ақыҭахь (ацара).<br />
10. Дара ашкол (алгара).<br />
<small><a href="answers6#e16-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma №4</b><br />
Üç seçenekten sadece biri doğru.<br />
Onu bulun!<br />
<table>
<tr>
<td>ҳара</td>
<td>а) иалгоит<br />
б) ҳалгоит<br />
в)шәалгоит</td>
</tr>
<tr>
<td>шәара</td>
<td>а) унхоит<br />
б) инхоит<br />
в) шәынхоит
</td>
</tr>
<tr>
<td>дара</td>
<td>a) (a)крышәфоит<br />
б) (а)краҳфоит<br />
в) (а)крырфоит
</td>
</tr>
<tr>
<td>yapa</td>
<td>а) иуҭахуп<br />
б) ирҭахуп<br />
в) ишәҭахуп
</td>
</tr>
</table>
<small><a href="answers6#e16-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma №5</b><br />
Türkçe'ye çevirin.
</p>
<p>
1. Аӡын (и)хьшәашәарахоит.
2. Асы ауеит, аҳаya (и)хьшәашәоуп, аха ицқьоуп.
3. Сара бзиа избоит аӡын. Шәара бзиа ижәбома аӡын?
4. Иецы Баграт Шьынқәба ишәҟәы аасхәеит, уи аҧхьара салагеит.
5. Сара уи ашәҟәы сыман, аха Адгәыр ирӡит.
6. Дара ара аҩны аархәеит.
7. Ари автобус (и)абацои?
8. Ари автобус Очамчыраҟа ицоит.
9. Шәара шǝабацои?
10. Аҧхын Наалеи Камеи амшын ахь ицалоит.
11. Аҭыҧҳацәа бзиа ирбоит аӡсара.
12. Аҟәа ӡынгыы ҧхынгьы (есқьынгьы) иҧшӡоуп.
13. Ари аҭыҧҳа илыхьӡуп Нази.
14. Бара ибыхьӡуи?
15. Наала аусурахь дцон, уи дыццакун, аха сара слыхьӡеит.<br />
<small><a href="answers6#e16-5">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma №6</b><br />
Konuşmacıyı dinleyin.
İki teklif edilen cümleden hangisini söylüyor ve işaretleyin (√).
</p>
<p>{% include audio.html file="16-4" %}</p>
<p>
<table>
<tr><td>1.</td>
<td>а) Аӡгаб дыӡсо'ит<br />
б) Аӡгаб ды'ӡит</td></tr>
<tr><td>2.</td>
<td>а) Ашәҟәы (и')ыӡит<br />
б) Ашәҟәы лы'рӡит</td></tr>
<tr><td>3.</td>
<td>а) Аӡәы дырбеит<br />
б) Аӡәы даабеит</td></tr>
<tr><td>4.</td>
<td>а) Кама илӡи'т<br />
б) Кама илырӡит</td></tr>
<tr><td>5.</td>
<td>а) Аҩны аасхәеит<br />
б) Аҩны аархәеит</td></tr>
<tr><td>6.</td>
<td>а) Шәара шәызбоит<br />
б) Шәара шәызгоит</td></tr>
<tr><td>7.</td>
<td>а) Аӡы аауеит<br />
б) Аӡәы даауеит</td></tr>
<tr><td>8.</td>
<td>а) Ҳара иаабоит<br />
б) Ҳара иаагоит</td></tr>
</table>
</p>

<p>
<b>Alıştırma №7</b><br />
Lütfen alıştırma №6'ya geri dönün.
Önünüzde cümle çiftleri var.
Eylemin öznesi (kişi) belirlemeniz gerekiyor.<br />
Örneğin: Аӡәы дызбеит (Birini gördüm).<br />
Eylem benden kaynaklanıyor: "Gördüm".<br />
Dolayısıyla yazıyoruz:<br />
Аӡәы дызбеит → сара.<br />
Аӡеы дырбеит → дара.<br />
<small><a href="answers6#e16-7">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma №8</b><br />
Verilen cümlelerin her birinde bir hata var.
Onu bulmanız ve düzeltmeniz isteniyor.</p>
<p>
1. Хара ашҭа дҭалоит.
2. Шәара нас ҳцома?
3. Наала иеҵы ацкы ирыӡәӡәеит.
4. Дара ана дыҟоуп.
5. Ҳара аҧара иааргеит.
6. Дамеи, уҩнал. - Мамоу, дыццакуеит.
7. Шәара арашазы уаауама?
8. Ҳара аҳақьым дааргеит.<br />
<small><a href="answers6#e16-8">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma №9</b><br />
Şimdi aktif kelime dağarcığınızı kullanarak
bugünkü gününüzü anlatmayı deneyin.<br />
Başlangıç için: Сара иахьа шьыжьымҭан сгылеит.
Нас крысфеит... vb.<br />
Başaracaksınız!
</p>

<p>
<b>Alıştırma №10</b><br />
Verilen kelimelerden cümleler oluşturun.</p>
<p>Хара, ача, шәара, аахәара, ацара, дара, ақалақь, ахь, aapa.</p>
<p>Hedefli çabalar her zaman meyvesini verir!</p>
<p>İleride sizi Ders №17 bekliyor. Абзиараз!</p>
