---
order: 618
title: Ders 18
subtitle:
  - Abhaz dilinin seslerini öğrenmeye devam ediyoruz цә
  - Kelime bilgisi üzerinde çalışma.
  - Gramer. Olumsuz formlar.
---

<p>{% include audio.html file="18-1" %} Цә, Цә</p>
<p>
-цаа insan sınıfının çoğul eki.<br />
аҩы'за arkadaş, аҩы'зцәа arkadaşlar.<br />
ацәа' deri; kabuk; kapak.<br />
ацәа'жәара konuşmak, sohbet etmek.
Ҳара' ҳцәа'жәоит. Biz konuşuyoruz, sohbet ediyoruz.
Алха'с А́'мра дла'цәажәоит.
Alkhas Amra ile konuşuyor.<br />
а'ицәажәара (birbirleriyle) konuşmak; anlaşmak.
Ҳаицәажәеит. Biz konuştuk.<br />
а'цәара uyumak; sönmek. Ауаҩы' дыцәоуп.
İnsan uyuyor. Алашара (и)ы'цәеит. Işık söndü.<br />
а'цәгьа zor. Абызшәа' аҵара' цәгьо'уп.
Dil öğrenmek zor.<br />
а'цагьахара kötüleşmek, bozulmak.
Амш цәгьахе'ит. Hava bozuldu.<br />
ацәқәырҧа' dalga. Ацәқәырҧақәа' ду'хеит.
Dalgalar büyüdü.<br />
ацәқәырҧара' dalgalanmak (deniz hakkında).
Амшы'н цәқәырҧо'ит. Deniz dalgalanıyor.<br />
а'рацәа çokluk, рацәаҩны' çok (insan sınıfı için).
Рацәаҩны аҩызцәа имоуп. Onun çok arkadaşı var.<br />
абааӡара' ıslanmak.<br />
акахуа' kahve<br />
аба' kuru (ıslak şeyler hakkında)<br />
абара' kurumak (ıslak şeyler hakkında)
</p>

<blockquote>
Metni okuyun ve hatırlayın!
</blockquote>
<p>
{% include audio.html file="18-2" %}
Ице'ит аа'ҧын. Иаа'ит а'ҧхын. Сара' ауниверсите'т
сҭа'леит. Apa' сара' аҩы'зцәа рацәаны' исы'моуп. Жәацы'
Ка'ма лашьа' Даме'и дызбо'н. Даме'и ҳара' ҳауниверсите'т
аҟны' ацара' ицо'ит. Иаре'и саре'и авто'бус ҳайцҭа'леит.
А'ҧсшәа еиба'ҳҳәеит. Сара' сиа'зцааит: - Ицәгьо'ума
ауниверсите'т аҟны' аҵа'ра аҵара'? «Аа'и, ицәго'уп -
иҳәе'ит уи. Ирацәаны' ау'с уу'роуп».
<br />
Иацы' иаре'и саре'и амшы'н аҟәараҟны' ҳлеиҩе'иуан,
акахуа' ҳжәуа'н, ҳаицәа'жәон.
<br />
Амш бзи'ан, аха' аҧша' а'суан, амшы'н цәқәырҧо'н.
«Амш цәгьахо'ит» - иҳәе'ит Даме'и. Ацәқәырҧақәа'
ду'хеит, ақәа' аура' (и)а'лагеит. Ҳара' ҳаццаки'т аҩныҟа.
Даме'и ии'кыз ашәҟәы' ацәа' бааӡе'ит. Сара' са'хь аҩны'ҟа
ҳнеит. Ибааӡа'з ҳшәа'ҳхит, иба'з ҳшәа'ҳцеит.
Нас ибааӡа'з ҳарбеит.
Даме'и ара' уаангы'л ҳәа иа'сҳәеит. -
«Иҭабу'п, аҩны'ҟа сцалароуп» иҳәе'ит Дамеи.
Абзи'араз еиба'ҳҳәеит, нас уи аҩны'ка дцеит.
</p>

<p>
İlkbahar geçti. Yaz geldi. Üniversiteye girdim.
Burada çok arkadaşım var. Evvelsi gün Kama'nın
kardeşi Damey'i gördüm. Damey bizim üniversitede okuyor.
Birlikte otobüse bindik. Selamlaştık.
Ona sordum: "Üniversitede okumak zor mu?"
"Evet zor" dedi o. "Çok çalışmak gerekir".
Dün akşam birlikte deniz kıyısında yürüdük,
kahve içtik, sohbet ettik. Güzel bir gündü,
ancak rüzgar esiyordu ve deniz dalgalanıyordu. "Hava bozuluyor", -
dedi Damey.
<br />
Dalgalar büyüdü, yağmur başladı. Eve acele ettik.
Damey'in tuttuğu kitabın kapağı ıslandı. Benim evime geldik. Islak olanı çıkardık
ve kuru olanı giydik. Sonra ıslak olanları kuruttuk. Ben
Damey'e dedim - "Burada kal". Damey dedi: -
"Teşekkürler, eve gitmem gerek". Vedalaştık (kelime anlamıyla.
Birbirimize hoşça kal dedik) ve o eve gitti.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Fiilin olumsuz formları</b> Abhaz dilinde
<b>-м</b> eki ile oluşturulur. Buna
pekiştirme edatı <b>-ӡа*</b> eklenebilir. Olumsuzluk
ekinin konumu kullanılan zaman formuna bağlıdır.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Olumsuz formlarda geçmiş tamamlanmamış
ve geçmiş belirsiz formlar sonlarını değiştirirler.
</p>

<blockquote>
<b>Abhaz dilinde fiilin olumsuz formlarının
oluşturulması tablosu</b>
</blockquote>

<p>şimdiki zaman statik <b>(-уп)</b> сыҟоуп; сыҟа<u><b>м</b></u>,
сыҟа<u><b>ӡам</b></u><br />
şimdiki zaman dinamik <b>(-оит, уеит)</b> бгылоит быҧшуеит;
бгыло<u><b>м</b></u>, бгыла<u><b>ӡом</b></u> быпшуа<u><b>м</b></u>,
быпш<u><b>ӡом</b></u>
</p>

<p>
geçmiş zaman tamamlanmış <b>(-ит)</b>, уаҧхьеит, уҧшит; уа<u><b>м</b></u>ыҧхьеит,
уа<u><b>м</b></u>ыҧхьа<u><b>ӡе</b></u>ит, у<u><b>м</b></u>ҧшит,
у<u><b>м</b></u>ҧш<u><b>ӡе</b></u>ит<br />
geçmiş zaman tamamlanmamış <b>(-он)</b> ибон, ибо<u><b>м</b></u>ызт,
иба<u><b>ӡом</b></u>ызт<br />
geçmiş zaman belirsiz <b>(-н)</b> иҟан; иҟа<u><b>м</b></u>ызт,
иҟа<u><b>ӡам</b></u>ызт<br />
gelecek zaman <b>(-п)</b> сгылап; сы<u><b>м</b></u>гылап
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Olumsuzluk ekinin şu veya bu zaman formundaki konumunu
hemen hatırlayamıyorsanız, üzülmeyin, bu
pratikle gelir. Kelimeleri olumsuz formda ezberlediğinizde,
sistemi de otomatik olarak ezberlemiş olursunuz. Tam olarak böyle
gramer kuralları hakkında hiçbir fikri olmayan çocuklar
konuşmayı öğrenirler.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Eskiden -ӡа edatı Rusça'da "tamamen" olarak aktarılabilirdi
(дымцеит gitmedi, дымцаӡеит
hiç gitmedi), modern Abhaz dilinde
bu edattaki pekiştirme anlamı oldukça
zayıflamıştır ve bu nedenle çeviride "tamamen" kelimesi
atlanır.
</p>

<p>
<b>Alıştırma 1</b><br />
Üç seçenekten biri
-
doğru. Seçmeyi deneyin.
</p>

<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>&nbsp;</td><td>а) дбааӡеит</td></tr>
<tr><td>ашәҟәы</td><td>б) (и)бааӡеит</td></tr>
<tr><td>&nbsp;</td><td>в) ҳбааӡеит</td></tr>

<tr><td>&nbsp;</td><td>а) ҳцәажәоит</td></tr>
<tr><td>ҳара</td><td>б) шәцәажәоит</td></tr>
<tr><td>&nbsp;</td><td>в) ицәажәоит</td></tr>

<tr><td>&nbsp;</td><td>а) сҵоит</td></tr>
<tr><td>абызшәа</td><td>б) сцоит</td></tr>
<tr><td>&nbsp;</td><td>в) згоит</td></tr>

<tr><td>&nbsp;</td><td>а) иццакит</td></tr>
<tr><td>дара</td><td>б) быццакит</td></tr>
<tr><td>&nbsp;</td><td>в) сыццакит</td></tr>

<tr><td>&nbsp;</td><td>а) ҳацǝоуп</td></tr>
<tr><td>capa</td><td>б) быцǝоуп</td></tr>
<tr><td>&nbsp;</td><td>в) сыцǝоуп</td></tr>

<tr><td>&nbsp;</td><td>а) афара</td></tr>
<tr><td>акахуа</td><td>б) ажәра'</td></tr>
<tr><td>&nbsp;</td><td>в) а'жәра</td></tr>
</table>
<small><a href="answers6#e18-1">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 2</b><br />
Bu olumlu cümleleri soru haline getirin.
Başarabilirsiniz!
</p>
<p>
Örnek: Сара сбааӡеит. Сара сбааӡама?<br />
1. Иара дааит.<br />
2. Ауаҩы дыцәоуп.<br />
3. Иара ауниверситет дҭалеит.<br />
4. Амш цәгьахоит.<br />
5. Аҧша асуеит.<br />
6. Ҳара аҵара ҳҵоит.<br />
7. Дара акахуа ржәуеит.<br />
8. Лара аҩызцәа рацәаҩны илымоуп.<br />
9. Дамеи аҩныҟа дцеит.<br />
<small><a href="answers6#e18-2">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Şimdi olumlu cümleleri olumsuz yapın.
İpucu olarak zaman formları tablosunu kullanabilirsiniz.
</p>
<p>
Örnek: Сара стәоуп. Сара стәам.<br />
Сара сыцǝоуп.<br />
Иара дгылоуп.<br />
Сҩызцǝа акаҳуа ржәуеит.<br />
Ашәҟәы ҳаҧхьеит.<br />
Ахра дыццакуеит.<br />
Абызшәа аҵара цәгьоуп.<br />
Дара (и)цәажәон.<br />
Иахьа аҩныҟа сцап.<br />
Шьыжьымҭан сгылап.<br />
<small><a href="answers6#e18-3">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Aşağıda verilen kelimeler belirli tematik
gruplara ayrılmıştır. Her sırada bir kelime
fazladır. Onu bulun ve çizin.
</p>
<p>
а) амшын, ацәқәырҧа, аҟәара, ашәҵара, аҕба;<br />
б) ан, аб, ауаҩы, ала, аиашьа, аҭыҧҳа<br />
в) аҵла, абаҳча, абҕьыц, ашәҭра, аҵәа, аныҟәара<br />
г) акаҳуа, ача, аӡын, акрыфара, ашәыр.<br />
<small><a href="answers6#e18-4">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Cümlelerin başlangıcını (A) ve sonunu (B) birleştirin.
</p>

<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>A</td><td>Б</td></tr>
<tr><td>Абзиараз еибаҳҳәан</td><td>еибаҳҳәеит.</td></tr>
<tr><td>Сара аҩызцәа</td><td>бааӡеит.</td></tr>
<tr><td>Аҧсшәа</td><td>ҳаицҭалеит.</td></tr>
<tr><td>Дамеи иикыз ашәҟәы</td><td>(и)рацәаны исымоуп.</td></tr>
<tr><td>Иареи сареи ауниверситет</td><td>нас Дамеи аҩныҟа дцеит.</td></tr>
</table>
<small><a href="answers6#e18-5">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 6</b><br />
Abhaz diline çevirin.
</p>
<p>
1. Benim çok arkadaşım var.
2. Biz üniversitede okuyoruz.
3. Biz diller öğreniyoruz.
4. Dil öğrenmek zor.
5. Dün Kama ile deniz kıyısında yürüdük.
6. Gün güzeldi, ancak rüzgar esiyordu.
7. Deniz dalgalanıyordu.
8. Kahve içtik, sohbet ettik.
9. Sonra Kama'yı uğurladım.<br />
<small><a href="answers6#e18-6">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 7</b><br />
Artık oldukça geniş bir kelime dağarcığınız var.
Size iki görev sunuyoruz:
</p>
<p>
1. Bugün güzel bir gün. Onu tanımlayın.<br />
2. Kış. Soğuk. Kış gününü tanımlayın.
</p>
