---
order: 513
title: Ders 13
subtitle:
- Abhaz dilinin ҳ, ҳә seslerini öğrenmeye devam ediyoruz
- Kelime bilgisi üzerinde çalışma
- Pekiştirme
---

<p>{% include audio.html file="13-1" %}
ҳ ҳә; ҳ ҳә
</p>

<p>ҳ
h
gibi
okunur,
onun
yuvarlak
varyantı
ҳә
</p>

<blockquote>
Yeni
kelimeler
ve
ifadeler.
</blockquote>

<p>{% include audio.html file="13-2" %}
Ҳара'
biz
(1.
çoğul
şahıs
zamiri),
kısa
form ҳ(а)-)
уара ҳара
и<i><u>ҳа'у</u></i>ҭеит
bunu
(cansız
sınıf)
sen
(erkek)
bize
verdin;
А'дгәыр
и<i><u>ҳа'и</u></i>ҭеит
Adgur
bunu
(cansız
sınıf)
bize
verdi.
Ҳара' ҳцеит.
Biz
gittik.
Ҳара'
иааҳге'ит.
Bunu
(cansız
sınıf)
biz
getirdik.<br />
аҳара'
duymak,
işitmek.
Сара'
исаҳауе'ит.
Duyuyorum.
Сара'
исаҳа'ит.
Duydum.<br />
аҳа'уа
hava;
iklim.
Ара'
аҳа'уа
бзи'оуп.
Burada
hava
iyi
(iklim).<br />
аҳа'бла
köy.
Ари'
аҳа'блаҟны
сҩы'за
дынхо'ит.
Bu
köyde
arkadaşım
yaşıyor.<br />
аҳақьы'м
doktor.
Сашьа'
дҳақьы'муп.
Erkek
kardeşim
doktor.<br />
аҳала'л iyi
kalpli.
Ка'ма
дҳала'луп.
Kama
iyi
kalpli.<br />
аҳҭны'қалақь
başkent.
Аҧсны'
аҳҭны'
қалақь
А'ҟәа
а'уп.
Abhazya'nın
başkenti
Sohum.<br />
аҳәара'
konuşmak,
söylemek.
Сара'
исҳәо'ит.
Söyleyeceğim.
Сара'
иба'сҳәоит.
Sana
(bayan)
söyleyeceğim.<br />
а'ҳәара
istemek.
Сара'
Алха'с
си'ҳәеит.
Alhaz'dan
istedim.<br />
ҳәа
başka
birinin
sözünü
cümleye
ekleyen
edat
(≈
ki).
Дце'ит ҳәа
са'лҳәеит.
O
bayan
söyledi
ki
o
gitti.<br />
аҧҳәы'с
kadın;
eş;
а'ҳәса
kadınların.<br />
а(иа)ҳәшьа
а'(и)еҳәшьа
kız
kardeş.
Ка'ма
саҳәшьа'
ло'уп
Kama
benim
kız
kardeşim
(var).
Кама
дсаҳәшьо'уп.
Kama
bana
kız
kardeş.<br />
аҳәынҭқа'рра
devlet.
Ҳара'
ҳҳәынҭқа'рра
Аҧсны'
а'уп.
Bizim
devletimiz
Abhazya.
</p>
<p>{% include audio.html file="13-3" %}
Ҳара
А'ҟәа
ҳанхоит.
А'ҟәа
Аҧсны
аҳәынҭқарра
аҳҭнықалақь
ауп.
Сара
сынхоит
Аҳабла
ҿыц
аҟны.
Ара
аҳауа
бзиоуп.
Шьыжьла
амшын
ахь
сцалоит.
Аҟалаҟь
агәаҟны
саҳәшьа
дынхоит.
Уи
дҳақьымуп.
Зегьы
ирҳәоит,
саҳәшьа
дуаҩы
ҳалалуп ҳәа.
</p>
<p>Biz
Sohum'da
yaşıyoruz.
Sohum
–
Abhazya
Cumhuriyeti'nin
başkenti.
Ben
Yeni
köyde
yaşıyorum.
Burada
hava
iyi
(iklim).
Sabahları
denize
giderim.
Şehir
merkezinde
kız
kardeşim
yaşıyor.
O
doktor.
Herkes
söylüyor
ki
kız
kardeşim
iyi
kalpli
bir
insan.
</p>
<p>
<i class="fas fa-bolt important-material"></i>
Аҧсны
аҳәынҭқарра
harfi
harfine
«Abhazya
Devleti»
anlamına
gelir.
</p>

<p>
<b>Alıştırma
№ 1</b><br />
аҳара'
duymak
ve
аҳәара'
konuşmak
fiillerinin
uygun
formunu
seçin.
</p>

<blockquote>Şimdiki
zaman</blockquote>
<table border="1" cellpadding="4" cellspacing="0">
<tr>
<td>сара
исаҳауе'ит</td>
<td>сара
исҳәо'ит</td>
</tr>
<tr>
<td>уара ...</td>
<td>уара ...</td>
</tr>
<tr>
<td>бара ...</td>
<td>бара ...</td>
</tr>
<tr>
<td>иара ...</td>
<td>иара ...</td>
</tr>
<tr>
<td>лара ...</td>
<td>лара ...</td>
</tr>
<tr>
<td>иара (cansız sınıf) ...</td>
<td>иара (cansız sınıf) ...</td>
</tr>
</table>

<blockquote>Geçmiş
tamamlanmış
zaman</blockquote>
<table border="1" cellpadding="4" cellspacing="0">
<tr>
<td>сара
исаҳа'ит</td>
<td>сара
исҳәе'ит</td>
</tr>
<tr>
<td>уара ...</td>
<td>уара ...</td>
</tr>
<tr>
<td>бара ...</td>
<td>бара ...</td>
</tr>
<tr>
<td>иара ...</td>
<td>иара ...</td>
</tr>
<tr>
<td>лара ...</td>
<td>лара ...</td>
</tr>
<tr>
<td>иара (cansız sınıf) ...</td>
<td>иара (cansız sınıf) ...</td>
</tr>
</table>
<small><a href="answers5#e13-1">(Cevaplar)</a></small>

<p>
<b>Alıştırma
№ 2</b><br />
Abhazca'ya
çevirin.</p>
<p>1.
Biz
denize
gittik.
2.
Ben
ve
kız
kardeşim
Naala
denizi
seviyoruz.
3.
Sabahları
biz
deniz
kıyısında
yürümeyi
severiz.
4.
Burada
her
zaman
hava
iyi.
5.
Dün
rüzgar
esti,
deniz
sakindi,
biz
birlikte
yüzdük.
6.
Kız
kardeşim
akıllı,
iyi
kalpli,
sakin.
7.
Kız
kardeşim
doktor.
8.
Herkes
söylüyor
ki
onun
iyi
bir
karakteri
var.
9.
O
Sohum'da
yaşıyor.
10.
Bugün
o
eve
gitmeli.
11.
Ben
onu
arabayla
götüreceğim.<br />
<small><a href="answers5#e13-2">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma
№ 3</b><br />
Bir
diyalog
oluşturun.<br />
Bir
arkadaşınızla
karşılaşıyorsunuz.
O
Tkvarchal'da
yaşıyor.
Arkadaşınız
araba
bekliyor.
Arabanın
numarasını
bilmiyor,
ama
sarı
renkte.
Sizin
Naala
adında
bir
arkadaşınız
var
vb.
Vedalaşmayı
unutmayın!
</p>

<p>
<b>Alıştırma
№ 4</b><br />
Üç
seçenekten
birini
doğru
olanı
seçin.</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>лара</td>
<td>1) дҳалалуп</td>
<td>2) иҳалалуп</td>
<td>3) бҳалалуп</td>
</tr>
<tr>
<td>иаҳәшьа</td>
<td>1) илҳәоит</td>
<td>2) иуҳәоит</td>
<td>3) исҳәоит</td>
</tr>
<tr>
<td>аҳақьым</td>
<td>1) исҳәеит</td>
<td>2) илҳәеит</td>
<td>3) ибҳәеит</td>
</tr>
<tr>
<td>ҳара</td>
<td>1) ицеит</td>
<td>2) ҳцеит</td>
<td>3) дцеит</td>
</tr>
<tr>
<td>Адгәыр</td>
<td>1) иҳалҭеит</td>
<td>2) иҳабҭеит</td>
<td>3) иҳаиҭеит</td>
</tr>
<tr>
<td>зегьы ара</td>
<td>1) ҳанхоит</td>
<td>2) дынхоит</td>
<td>3) бынхоит</td>
</tr>
</table>
<small><a href="answers5#e13-4">(Cevaplar)</a></small>

<p>
<b>Alıştırma
№ 5</b><br />
Cümlelerin
başını
ve
sonunu
eşleştirin.</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>
Ари
аҳаблаҟны<br />
Аҧсны
аҳҭнықалақь<br />
Ҳара
ҳцеит<br />
Сашьа
иҟазшьа<br />
Кама,
арахь
бааи<br />
Сареи
саҳәшьеи
</td>
<td>Аҟәа ауп.<br />
бзиоуп.<br />
Кама
днаскьаагеит.*<br />
сыҩны
(и)бсырбоит.<br />
амшын ахь.<br />
саҳәшьа
дынхоит.
</td>
</tr>
</table>
<p>
* Geçişli
fiillerde
1.
çoğul
şahıs
göstergesi <b>ҳ-</b>
<b>а-</b>'ya
dönüşür.
Днаскьа<u>ҳ</u>гоит
> днаскьа<u>а</u>гоит;
иа<u>ҳ</u>боит
> иа<u>а</u>боит.<br />
<small><a href="answers5#e13-5">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma
№ 6</b><br />
Bu
cümlelerin
her
birinde
bir
hata
var.<br />
Düzeltin.</p>
<p>
1.
Ҳара
иааигеит
акәац.
2.
Кама
акәац
ала
илҭоит.
3.
Сара
дыҧшуп.
4.
Иацы
сара
Ахра
Аҟәа
уибеит.
5.
Лара
ашкол
аҟны
аус
буеит.
6.
Ҳара
шьыжьла
амшын
ахь
сцалоит.
7.
Наала
имашьына
ҟаҧшьуп.
8.
Кама
ара
узгылои?
9.
Зегьы
иуҳәоит,
ара
аҳауа
бзиоуп
ҳәа.
10.
Адгәыр
иҳабҭеит
ақьаад
бҕьыц.<br />
<small><a href="answers5#e13-6">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma
№ 7</b><br />
Verilen
kelimeleri
kullanarak
cümleler
oluşturun.<br />
Bu
tür
alıştırmaları
daha
önce
yaptınız,
bu
yüzden
bu
sizin
için
alışılmış
bir
şey!</p>

<p>
1. Аҧсны,
аҳҭны6ала6ь,
ауп,
Аҟәа.<br />
2. Сара,
днаскьазгеит,
иацы,
Кама.<br />
3. Бааи,
Дамеи,
(и)бирбоит,
Кама,
аҩны.<br />
4. Сыҟоуп,
сара,
аҩны,
иахьа.<br />
5. Уи,
зегьы,
лҟазшьа,
ирҳәоит,
ҳәа,
бзиоуп.<br />
6. Саҳәшьа
Наалеи,
амшын,
иаабоит,
бзиа,
сареи.<br />
7. Ақалаҟь,
сцароуп,
ахь,
машьынала.<br />
8. Ақьаад,
бҕьыц,
Ахра,
Дамеи
(и)ҳаиҭароуп,
уааи.<br />
9. Сцалоит,
шьыжьла,
ахь,
сара,
амшын.<br />
<small><a href="answers5#e13-7">(Cevaplar)</a></small>
</p>
