---
order: 412
title: Ders 12
subtitle:
- "Alfabenin devamı: yeni harfler ve sesler ҟ, ҟь, ҟә"
- Kelime çalışması
- Pekiştirme
---

<p>{% include audio.html file="12-1" %}
ҟ, ҟь, ҟә;
</p>

<blockquote>
Yeni kelimeler ve ifadeler.
</blockquote>

<p>
<p>{% include audio.html file="12-2" %}
аҟны' içinde, -de/-da<!-- "nerede" sorusuna cevap -->.
Ашко'л
аҟны'. Okulda.
Амҩаҟны. Şehirde.<br />
аҟазшьа' karakter, mizaç.
Наа'ла
лҟазшьа'
бзи'оуп.
Naala'nın iyi bir karakteri var.<br />
а'ҟаҧшь kırmızı,
абҕьы
(и)ҟаҧшьу'п
yaprak kırmızı.<br />
аҟалара
olmak.
И'ҟалазеи?
И'ҟалеи?
Ne oldu?<br />
ҟа'и hayır.
Ҟаи,
уи
сара'
исызды'рам.
Hayır, bilmiyorum. (<b>мап</b> hayır kelimesinin eşanlamlısı).<br />
А'ҟәа Sohum.
Сара'
А'ҟәа
сынхо'ит.
Sohum'da yaşıyorum.<br />
аҟәара' sahil.
Амшы'н
аҟәара'
Deniz sahili.<br />
аҟәы'ш akıllı.
Ма'рҭа
дҟәы'шуп.
Marta akıllı.<br />
аҟәа'нда sıcak.
Иахьа'
амшы'н
ҟәа'ндоуп.
Bugün deniz sıcak.<br />
аны'ҟәара yürümek, hareket etmek.
Сны'ҟәоит.
Yürüyorum.<br />
а'ҟазаара olmak, bulunmak.
Ара'
и'ҟоуп.
İşte burada.
<i class="fas fa-bolt important-material"></i>
Statik fiilin sözlük biçimi
-заара
eki alır.
Burada kök
ҟа-'dır.
Ара
сыҟоуп
Buradayım.
Аҩны
дыҟоуп
Evde.
</p>

<p>
<p>{% include audio.html file="12-3" %}
-ҟа
sonek olarak "(yönünde) -e/-a" anlamını gösterir,
аҩны' ev,
аҩны'ҟа eve gitmek.<br />
(аи)ц- uyumluluk anlamı taşıyan önek<br />
нас sonra; ardından<br />
алеиҩе'ира yürüyüşe çıkmak.
Шьыжьла'
слеиҩе'иуеит.
Sabahları yürüyüşe çıkıyorum.<br />
аҭа'лара
çıkmak, bir yere dışarı çıkmak.
А'шҭа
сҭа'лоит.
Avluya çıkıyorum.
Авто'бус
дҭа'леит.
Otobüsten indi.
Амшы'н
дҭа'леит.
Denizde yüzmeye gitti
(kelimenin tam anlamıyla denize çıktı).<br />
а'наскьагара
eşlik etmek.
Сара
сҩыза
днаскьа'згоит.
Arkadaşıma eşlik ediyorum.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Eğer аҟны' soneki sesli harfle biten
bir kelimenin sonundaysa,
o zaman tek kelime olarak birlikte yazılır.
Bu durumda bir sesli harf düşer.
Karşılaştırın:
ашкол
аҟны
okula, ama
аусу'раҟны
(ау'сура
+ аҟны')
işe.
</p>

<blockquote>
Bu ifadeleri hatırlayın!
</blockquote>

<p>{% include audio.html file="12-4" %}
А'хра,
и'ҟалеи?
Ара'
узгы'лои?
Сара'
сыҧшу'п.
Сҩы'за
машьы'нала
даа'ироуп.
Амашьына
аномер
иамоу
(и)удыруама?
Ҟаи,
аномер
(и)сыздырам.
Аҧшра'ла
(аҧшра
ала)
издыруеит,
уи
имашьына
ҟаҧшьуп.
Уабацои?
Сҩы'за
Наа'ла
Тҟәарча'лҟа
дызга'роуп.
Наа'ла
Тҟәарча'л
а'қалақь
аҟны'
дынхо'ит.
Иацы'
уи'
А'ҟәа
дызбе'ит.
Амшы'н
аҟәараҟны'
длеиҩе'иуан.
Саргьы'
Наа'ла
дызды'руеит.
Уи
дҟәы'шуп,
дҭынчуп.
Ааи,
уи
лҟазшьа'
бзи'оуп.
Сара'
уи
бзи'а
дызбо'ит.
Аҟәараҟны'
аҧша'
ҟәа'нда
а'суан.
Амшы'н
ҭы'нчын.
Амшы'н
ҳаицҭа'леит.
А'шьҭахь
лара'
лҩы'за
лахь
дцон,
сара'
днаскьа'згеит.
Иахьа'
аҩны'ҟа
дца'роуп.
Сара'
дызго'ит.
Лара'
уа
Тҟәарча'л
ашко'л
аҟны'
ау'с
луе'ит.
А'мҩа
бзи'а!
Иҭабу'п!
Абзи'араз!
Абзи'араз!
</p>

<p>
Akhra, ne oldu?
Neden burada duruyorsun?
Bekliyorum.
Arkadaşım arabayla gelmeli.
Arabanın numarası nedir, biliyor musun?
Hayır, numarayı bilmiyorum, görünüşünden tanırım, arabası kırmızı.
Nereye gidiyorsunuz?
Arkadaşım Naala'yı Tkvarchal'a götürmeliyim.
Naala, Tkvarchal şehrinde yaşıyor.
Dün onu Sohum'da gördüm.
Deniz sahilinde yürüyordu.
Ben de Naala'yı tanıyorum.
Akıllı, sakin biri.
Evet, iyi bir karakteri var.
Onu seviyorum.
Sahilde sıcak bir rüzgar esiyordu.
Deniz sakindi.
Onunla birlikte denizde yüzdük.
Sonra arkadaşının yanına gitti, ona eşlik ettim.
Bugün eve gitmelidir.
Onu götüreceğim.
Orada Tkvarchal'da bir okulda çalışıyor.
İyi yolculuklar!
Teşekkür ederim.
Hoşça kalın!
Hoşça kalın!
</p>


<p>
<b>Alıştırma 1</b><br />
Abhazca'ya çevirin.
</p>
<p>
1. Sen (bir kadın) bana onu (cansız sınıf) gösteriyorsun.
2. Onu görüyorum.
3. O denize gitmelidir.
4. Sen (bir kadın) burada mı kalıyorsun?
5. Hayır, onu bilmiyorum.
6. Kama ne zaman geliyor?
7. Bugün sıcak bir gün.
8. Naala deniz sahilinde yürüyüşe çıktı.
9. Onu seviyorum.
10. Gitmeliyim, arkadaşım arabayla geldi.
11. Size arabayı verecek mi?
12. Ne oldu?
13. Bilmiyorum.
14. Naala bugün Sohum'a gidiyor.
15. Otobüse biniyor.
16. Acele ediyor.<br/>
<small><a href="answers4#e12-1">(Cevaplar)</a></small>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Abhazca'da, kişi zamirleri bazen düşürülür.
Bu durumda cümlelerin anlamı değişmez,
çünkü eksik zamir fiilde yansıtılır.<br />
Karşılaştırın:
<u>Сара</u>
<u>бара</u>
бзиа
<u>б</u>ы<u>з</u>боит.
Seni seviyorum.<br />
Бзиа
<u>б</u>ы<u>з</u>боит.
Seni seviyorum (kelimenin tam anlamıyla: seviyorum seni).<br />
Rusça ile karşılaştırın
люблю тебя,
burada я zamiri yok,
ancak fiilin biçimi
(люблю,
не
любит,
любишь)
bunun birinci tekil şahıs olduğunu gösterir.
</p>

<p>
<b>Alıştırma 2</b><br />
Bu cümleleri Türkçe'ye çevirin.
</p>
<p>
1.
Иацы
амш
бзиан.
2.
Аҧша
ҟәанда
асуан.
3.
Амшын
ҭынчын.
4.
Ҳара
амшын
ҳҭалеит.
5.
Наала
сҩыза
лоуп.
6.
Уи
лҟазшьа
бзиоуп.
7.
Лара
дҟәышуп.
8.
Сара
уи
бзиа
дызбоит.
9.
Сара
Аҟәа
ақалақь
аҟны
сынхоит.
10.
Сара
ашкол
аҟны
аус
зуеит.
11.
Иахьа
ашкол
ахь
сцароуп.
12.
Сҩыза
машьынала
даауеит,
ашкол
ахь
сигоит.
13.
Ана
сҩыза
дызбоит,
ашҭа
дҭалоит.
14.
Сара
сцароуп,
абзиараз!<br/>
<small><a href="answers4#e12-2">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Parantezleri genişletin.
Zaman formunu istediğiniz gibi seçebilirsiniz.
</p>
<p>
1.
Иара
Аҟәа
(анхара).
2.
Сара
аусурахь
(аццакра).
3.
Шьыжьла
аҟәараҟны
(алеиҩеира).
4.
Марҭа
(аҭынч).
5.
Ахра
иахьа
аҩны
(аҟазаара).
6.
Кама
есқьынгьы
амшын
аҟәараҟны
сара
(абара).
7.
Бааи,
Наала,
сыҩны
(абрара).
8.
Иацы
аҧша
ҟәанда
(асра).
9.
Наала
лҟазшьа
(абзиара).
10.
Ахра
имшьына
(аҟаҧшь).<br/>
<small><a href="answers4#e12-3">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Resmi uygun cümle ile eşleştirin.
</p>
<ol>
<li>
Ана
аҵла
гылоуп.
(Resim № ...)
</li>
<li>
Сара
ашкол
ахь
сцоит.
(Resim № ...)
</li>
<li>
Адгәыр
шьыжьла
длеиҩеиуеит.
(Resim № ...)
</li>
</ol>
<small><a href="answers4#e12-4">(Cevaplar)</a></small>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td><img src="/assets/img/12-1.gif" width="328" height="450" border="1" alt="Resim 1" /><br />Resim 1</td>
<td><img src="/assets/img/12-2.gif" width="292" height="450" border="1" alt="Resim 2" /><br />Resim 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/12-3.gif" width="500" height="463" border="1" alt="Resim 3" /><br />Resim 3</td>
</tr>
</table>

<p>
<b>Alıştırma 5</b><br />
Eksik harfi doldurun.
</p>
<p>
сара ...ҭалоит<br />
уара ...ҭалоит<br />
бара ...ҭалоит<br />
иара ...ҭалоит<br />
лара ...ҭалоит<br />
иара (cansız sınıf)
....(и)ҭалоит<br/>
<small><a href="answers4#e12-5">(Cevaplar)</a></small>
</p>

<p>
<b>Alıştırma 6</b><br />
Diyalogda eksik cevapları doldurun.
</p>
<p>
- Ахра
ара
узгылои?<br />
- ...<br />
- Наала
саргьы
дыздыруеит.
Уи
лҟазшьа
бзиоуп.<br />
- ...<br />
- Наала
аус
луама?<br />
- ...<br />
- Саргьы
иахьа
Тҟәарчал
сцоит,
сыццакуеит.<br />
- ...<br />
- Иҭабуп,
абзиараз!<br />
- ...
</p>

<p>
<b>Alıştırma 7</b><br />
Arkadaşınız Naala hakkında konuşun.
(Nasıl biri olduğu, nerede yaşadığı, ne yaptığı).
</p>
<p>Mini-diyalog.</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>
<p>{% include audio.html file="12-5" %}
Наала,
бааи
сыҩны
бсырбоит.
Иҭабуп,
сыццакуеит,
нас
исбырбап.
</td>
</tr>
</table>
