---
order: 515
title: Ders 15
subtitle:
  - Abhaz dilinin шә, жә seslerini öğrenmeye devam ediyoruz
  - Kelime bilgisi üzerinde çalışma
  - Pekiştirme
---

<blockquote>Yeni kelimeler ve ifadeler.</blockquote>

<p>{% include audio.html file="15-1" %}
шәара' siz (2. çoğul şahıs zamiri), Siz -
saygılı hitap şekli. (Kısa
form шә(а)-). Шәара шәабацои? Nereye
gidiyorsunuz?<br />
ашǝахьа' pazartesi. Уаҵǝы' шәахьо'уп.
Yarın pazartesi.<br />
ашәҟәы' kitap. Ари' ашәҟәы' сҩы'за иси'ҭеит. Bu
kitabı bana arkadaşım verdi.<br />
а'шәтра çiçek açmak (ишәҭуе'ит, ишәҭи'т). А'ҵлақәа
шәҭит. Ağaçlar çiçek açtı.<br />
ашәҭ çiçek. Ашәҭ шәҭит. Çiçek açtı.<br />
ашәҵара' giydirmek, giymek. Наа'ла аҵкы'
ҟаҧшь лшәы'лҵеит. Naala kırmızı
elbise giydi.<br />
ашәы'хра çıkarmak (giysi). Наа'ла
лыҵкы' ҟаҧшь лшәы'лхит. Naala kırmızı
elbisesini çıkardı.<br />
а'ҧсшәа Abhaz dili (а'ҧсуа
бызшәа'nın eşanlamlısı)<br />
а'ҧсшәа аҳәара' selamlaşmak. А'ҧсшәа сҳәе'ит. Ben
selamlaştım. А'ҧсшәа иа'ҳҳәеит. Biz
onunla selamlaştık. А'ҧсшәа еибы'рҳәеит.
(Onlar) selamlaştılar (birbirleriyle).
А'ҧсшәа еиба'ҳҳәеит. Biz selamlaştık.<br />
ашәы'р meyveler. Ашәы'р ҟале'ит. Meyveler
olgunlaştı.<br />
а'жәа kelime<br />
жәацы' evvelsi gün<br />
а'жера içmek. Аҩы' зжәуе'ит. Ben şarap içiyorum.<br />
ажәра' pişirmek. Акәа'ц (и)зжәйт. Ben eti pişirdim.<br />
а'аҧын ilkbahar. Иаа'ит аа'ҧын. İlkbahar geldi.<br />
аха' ama, ancak</p>

<p>
<i class="fas fa-bolt important-material"></i>
Bu atasözünü ezberleyin!<br />
<span class="hide-audio">{% include audio.html file="15-2" %}</span>
<b>Ажәаҭҟьеи – ахыҭҟьеи.</b> Kontrolsüz söz
(istemeden çıkan, düşünmeden söylenen söz) - kontrolsüz kurşun.
</p>

<p>
  <i class="fas fa-bolt important-material"></i>
Sesli ünsüzlerden önce 2. çoğul şahıs
göstergesi шә(а) sesli жә(а)'ya
dönüşür, örn., и<b>жә</b>гоит &lt;ишәгоит
«alıyorsunuz»</p>

<blockquote>
Okuyun ve ezberleyin!
</blockquote>

<p>{% include audio.html file="15-3" %}
Иаа'ит а'аҧын. Аҳа'уа ҧхе'ит. Ишәҭи'т
а'шәҭқәа. Исшәы'з апа'лта ҧха сшәы'схит, аха'
исшәы'сҵара сызды'рам.<br />
Иахьа' шәахьо'уп, ау'сура сца'роуп.<br />
Жәацы' сырҵаҩы' дызбе'ит. А'ҧсшәа
еиба'ҳҳәеит. Уи' ашко'л аҟны' а'ҧсуа бызшәа'
(а'ҧсшәа) ҳирҵо'н. Сара' сиа'зҵааит: -
Шәаба'цои? - ҳәа. - Абиблиоте'кахь сцо'ит -
иҳәе'ит. Дырми'т Гәли'а ишәҟәы' сҭаху'п ҳәа
се'иҳәеит. – Уи ашәҟәы' сара' исы'моуп, сара'
ишәы'сҭоит - ҳәа иасҳәеит. Уаҵәы' уи ашәҟәы'
и'сҭоит.</p>

<p>
İlkbahar geldi. Hava ısındı.
Çiçekler açtı. Giydiğim sıcak paltoyu
çıkardım, ama ne giyeceğimi
bilmiyorum.<br />
Bugün pazartesi, İşe gitmeliyim.<br />
Evvelsi gün öğretmenimi gördüm. Biz
selamlaştık. O bize okulda
Abhaz dilini öğretti. Ben ona
«Nereye gidiyorsunuz?» diye sordum. Kütüphaneye
gidiyorum, dedi. O
Dmitri Gulia'nın kitabının bana gerekli olduğunu
söyledi. Ben
ona dedim ki: «Bu kitap bende var, size
vereceğim». Yarın ona bu kitabı
vereceğim.
</p>

<p>
<b>Alıştırma 1</b><br />
Abhazca'ya çevirin.
</p>
<p>
1. Ben Abhaz dilini öğreniyorum.<br />
2. Ben Abhaz dilini seviyorum.<br />
3. Bu kitabı bana öğretmenim verdi.<br />
4. Bugün pazartesi.<br />
5. Nereye gidiyorsunuz?<br />
6. Biz işe gidiyoruz.<br />
7. Astanda bizim sınıfta öğreniyor.<br />
8. Evvelsi gün ne oldu?<br />
9. Dün Akhra'yı gördüm.<br />
10. Kadın eti pişirdi.<br />
<small><a href="answers5#e15-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 2</b><br />
Eksik harfleri doldurun.
</p>
<p>
сара и...жәуеит<br />
уара и...жәуеит<br />
бара и...жәуеит<br />
иара и...жәуеит<br />
лара и...жәуеит<br />
иара (cansız sınıf) и...жәуеит<br />
<small><a href="answers5#e15-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Sol sütundaki kelimeleri
sağ sütundaki kelimelerle eşleştirin.
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>yapa</td><td>сабацои?</td></tr>
<tr><td>бара</td><td>бабацои?</td></tr>
<tr><td>иара</td><td>дабацои?</td></tr>
<tr><td>шәара</td><td>уабацои?</td></tr>
<tr><td>ҳара</td><td>ҳабацои?</td></tr>
<tr><td>capa</td><td>шәабацои?</td></tr>
</table>
<small><a href="answers5#e15-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Üç seçenekten
birini doğru olanı seçin.
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>ашәахьа</td><td>шәабацои?<br />дҳақьымуп<br />дыццакуеит</td></tr>
<tr><td>аҵәа</td><td>ҵәыҵәуп<br />жәацы<br />дҵәуеит</td></tr>
<tr><td>ашәҟәы</td><td>ҭынчуп<br />бзиоуп<br />ҧхоуп</td></tr>
<tr><td>ашәҭ</td><td>днаскьалгон<br />дылбеит<br />(и)шәҭит</td></tr>
<tr><td>аҵкы</td><td>ицароуп<br />бшәыбҵеит<br />ҵааит</td></tr>
<tr><td>аҧсшәа</td><td>(иа)ҳҵоит<br />сынхоит<br />ҳҵоит</td></tr>
</table>
<small><a href="answers5#e15-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
İlkbaharı seviyor musunuz? Bu mevsimi
tarif edin. Dersin kelimelerini kullanın.
</p>

<p>
<b>Alıştırma 6</b><br />
Parantezleri açın.
</p>
<p>
1. Уи ашәҟәы сара (амазаара).<br />
2. Уаҵәы шәахьоуп, аусурахь (ацара)
(zorunluluk).<br />
3. Кама Ахра аҧсшәа (аҳәара).<br />
4. Наала аҵкы ҟаҧшь (ашәҵара).<br />
5. Ашәҭқәа (ашәҭра).<br />
6. Жәацы сырҵаҩы (абара).<br />
7. Лара ашкол аҟны аҧсшәа (аҵара).<br />
8. Сара аҧсуа бызшәа (бзиа абара).<br />
<small><a href="answers5#e15-6">(Yanıtlar)</a></small>
</p>
