---
order: 722
title: Ders 22
subtitle:
  - Abhaz dilinin seslerini öğrenmeye devam ediyoruz (џ, џь)
  - Kelime bilgisi üzerinde çalışma
---

<p>{% include audio.html file="22-1" %} џ џь; џ џь</p>

<p>
<b>Yeni kelimeler ve ifadeler</b><br />
џьара́ bir yerde; bir yere. Џьара́ и́ҟоуп. Bir yerde var. Џьара́
и́цеит. Bir yere gittiler.<br />
аџьы́ка tuz. Сан аџьы́ка аа́лхәеит. Annem tuz aldı.<br />
аџьымшьы́ soğan<br />
ҩы́џьа iki (yalnızca insan/canlı sınıfı için) Ҩы́џьа
а́ишьцәа. İki kardeş.<br />
аха́рџь masraf, gider. Аха́рџь ду ҟасҵе́ит. Büyük masraflarım oldu.<br />
апе́нџьыр pencere. Апенџьыр аартуп. Pencere açık. Иаарты
апенџьыр! Pencereyi aç!<br />
аџьармы́кьа pazar; panayır<br />
аџьра́ kızartmak. Акәа́ц лџьит. Eti kızarttı.<br />
аџьы́ба cep. Сџьы́ба аҧара ҭоуп. Cebimde para var.<br />
а́џьашьара şaşırmak. Сара́ иџьа́сшьеит. Şaşırdım.<br />
Abhaz dilinde џ sesi az kullanılır. Џыр Jır (özel isim)<br />
аџы́ш sarımsak<br />
акры́фарҭа yemekhane, lokanta. Акры́фарҭаҿы акрысфе́ит. Lokantada
yemek yedim.<br />
акака́лкра atıştırmak. Кака́лк скит. Bir şeyler atıştırdım.
</p>

<p>
{% include audio.html file="22-2" %}
Ҩы́џьа а́ишьцәа Џы́ри Џьгәаҭа́ни а́шьыжь аџьармы́кьахь ице́ит. Ара́ Џыр аџьы́ка аа́ихәеит. Џьгәаҭа́н иаа́ихәуеит кьы́лак аџы́ши ҩ-кьы́лак аџьымшьи́. «Ҳус ҟаҳҵе́ит», — иҳәе́ит Џьгәаҭа́н, — «џьара́ кака́лк ҳкып». «Ара́ апе́нџьыр аҟы́нтәи избо́ит, ана́ акры́фарҭаҿы акәа́ц рзуе́ит, уаала́?» — иҳәеит Џыр. «Уаала́!», — иҳәе́ит Џьгәаҭа́н.<br />
Џыр иџьы́ба иҭа́н ҩажәа́ маа́ҭ, Џьгәаҭа́н и́ман ҩажәи́ хәба маа́ҭ. Ине́ит акры́фарҭаҿы. А́хәқәа иры́хәаҧшын, иџьа́ршьеит. «–Уа́хәаҧши, уара́, уа́хәаҧши арҭ ры́хәқәа шаҟа́ иду́у!» — иҳәе́ит Џьгәаҭа́н. «Уаала́, сашьа́, уаала!» — иҳәе́ит Џыр, — «аҩны́ краҳфа́п, ара́ҟа ҳха́рџьқәа ду́хоит». А́ишьцәа акры́фарҭа идәы́лҵны аҩны́ҟа ице́ит.
</p>

<p>
İki kardeş, Jır ve Jguatan, sabah pazara gittiler. Orada Jır tuz
aldı. Jguatan bir kilo sarımsak ve iki kilo soğan aldı. "İşimizi
hallettik," dedi Jguatan, "bir yerde bir şeyler atıştıralım mı?"
"Buradan, pencereden görüyorum, orada, lokantada et kızartıyorlar,
gidelim mi?" dedi Jır. "Gidelim!" dedi Jguatan.<br />
Jır'ın cebinde yirmi ruble vardı, Jguatan'ın yirmi beş rublesi
vardı. Lokantaya geldiler. Fiyatlara baktılar ve şaşırdılar. "Şuna
bak, fiyatları ne kadar yüksekmiş!" dedi Jguatan. "Gidelim,
kardeşim, gidelim!" dedi Jır, "evde yeriz, burada masraflarımız
çok olur." Kardeşler lokantadan çıkıp eve gittiler.
</p>

<blockquote>Vedalaşma biçimleri</blockquote>

<p>
Бзиала!<br />
Hoşça kal!
</p>

<p>
Абзиара шәзыҟалааит (узыҟалааит, бзыҟалааит)!<br />
Size (sana) iyi dileklerimle!
</p>

<p>
Аҵх алыҧха шәоуааит (уоуааит, боуааит)!<br />
Цәамҭхаа шәоуааит (уоуааит, боуааит)!<br />
İyi geceler! Tatlı rüyalar!
</p>

<p>
Амҩа бзиа!<br />
Мҩамш (шәықәлааит)! İyi yolculuklar!
</p>

<p>
<b>Alıştırma 1</b><br />
Cümleleri dinleyin. Sunulan iki cümleden hangisini spikerin
söylediğini işaretleyin (√).
</p>
<p>{% include audio.html file="22-3" %}</p>
<p>
<table>
<tr><td>1.</td>
<td>а) Џьара избеит.<br />
б) Џьара изгеит.</td></tr>
<tr><td>2.</td>
<td>а) Ахарџь ду ҟасҵеит.<br />
б) Ахарџь ду ҟаҳҵеит.</td></tr>
<tr><td>3.</td>
<td>а) Ҩажәи хәба мааҭ сыман.<br />
б) Ҩажәи хҧа мааҭ сыман.</td></tr>
<tr><td>4.</td>
<td>а) Сџьыба аҧара ҭан.<br />
б) Сџьыба аҧара (и)ҭам.</td></tr>
<tr><td>5.</td>
<td>а) Абзиара шәзыҟалааит!<br />
б) Абзиара бзыҟалааит!</td></tr>
<tr><td>6.</td>
<td>а) Аҩны краҳфап.<br />
б) Аҩны крысфап</td></tr>
<tr><td>7.</td>
<td>а) Сан аџьыш аалхәоит.<br />
б) Сан аџьыш аалхәеит.</td></tr>
<tr><td>8.</td>
<td>а) Ҩыџьа аишьцәа сымоуп.<br />
б) Ҩыџьа аиҳәшьцәа сымоуп.</td></tr>
</table>
</p>

<p>
<b>Alıştırma 2</b><br />
Eylemlerin sırasını belirleyin; her cümleye uygun rakamı verin.
</p>
<p>
Ҩыџьа аишьцәа аџьармыкьахь ицеит. (№…)<br />
Џьгәаҭан иааихәеит аџыши аџьымшьи. (№…)<br />
«Џьара какалк ҳкып», — иҳәеит Џьгәаҭан. (№…)<br />
Ахәқәа ирыхәаҧшын, иџьаршьеит. (№…)<br />
Аишьцәа акрыфарҭа идәылҵны, аҩныҟа ицеит. (№…)<br />
Џыр аџьыка ааихәеит. (№…)<br />
Инеит акрыфарҭаҿы. (№…)
<small><a href="answers7#e22-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Parantezleri açın, fiili geçmiş zaman tamamlanmış formunda
kullanarak.
</p>
<p>
Örneğin: Сара ача (аахәара) &gt; Сара ача аасхәеит.
</p>
<p>
Аишьцәа аџьармыкьахь (ацара).<br />
Џыр аџьыка (аахәара).<br />
Ҳус (аҟаҵара).<br />
Аишьцәа акрыфарҭаҿы (анеира).<br />
Ахәқәа ирыхәаҧшын, (аџьашьара).<br />
Акрыфарҭа идәылҵны аҩныҟа (ацара).
<small><a href="answers7#e22-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Dersin metnini öğrendiniz. Sorulara cevap verebilir misiniz?
</p>
<p>
Иабацеи ҩыџьа аишьцәа?<br />
Иаархәеи аишьцәа аџьармыкьаҿы?<br />
Акрыфарҭаҿы аишьцәа крырфама?<br />
Крызырымфеи?<br />
Акрыфарҭа идәылҵны аишьцәа (и)абацеи?
</p>

<p>
<b>Alıştırma 5</b><br />
Eksik kelimeleri tamamlayın, ya da uygun olanları seçin:
</p>
<p>
Сара исыхьӡуп ...<br />
Сара ... шықәса схыҵуеит.<br />
Сара сынхоит ...<br />
Сара аҵара сҵоит \ аус зуеит ...<br />
Сара дсымоуп аиешьа \ аиеҳәшьа.<br />
Сашьа \ саҳәшьа ихьӡуп \ илыхьӡуп ...<br />
Сашьа \ саҳәшьа ... шықәса ихыҵуеит \ (и)лхыҵуеит.
</p>
