---
order: 720
title: Ders 20
subtitle:
  - Abhaz dilinin seslerini öğrenmeye devam ediyoruz (ҷ, дә)
  - Kelime bilgisi üzerinde çalışma
  - Haftanın günleri
---

<p>{% include audio.html file="20-1" %} ҷ, дә; ҷ дә</p>

<p>
<b>Yeni kelimeler ve ifadeler</b><br />
а́ҷкәын erkek çocuk. Ари́ а́ҷкәын и́хьӡуп Даме́и. Bu çocuğun adı Damey.<br />
ахәыҷы́ çocuk; küçük, çoğulu ахәыҷқәа́.
Ахәыҷқәа́ аба́ҳчаҿы ихәма́руеит. Çocuklar bahçede oynuyor.
Ари́ аҩны́ хәыҷу́п. Bu ev küçük.<br />
хәыҷы́к biraz (eş anlamlısı — маҷк biraz).<br />
маҷк biraz. Иахьа́ маҷк сыццаку́еит, нас ҳаицәа́жәап. Bugün biraz acelem var, sonra konuşuruz.<br />
адәы́ tarla. Ари́ адәы́ ду́уп, ииаҵәоуп. Bu tarla büyük, yeşil.<br />
адәахьы́ dışarı(ya), avluya, avluda.<br />
адәқьа́н dükkan. Ҳаҩны́ а́ҧхьа адәқьа́н гы́лоуп. Evimizin önünde bir dükkan var.<br />
адәы́ҕба tren. Адәы́ҕба аа́ит. Tren geldi.<br />
адәы́қәлара hareket etmek, kalkmak (tren için). Адәы́ҕба дәы́қәлоит. Tren kalkıyor.<br />
адәы́лҵра çıkmak (bir binadan).<br />
а́гхара geç kalmak; gecikmek. Сара са́гхеит. Geç kaldım.<br />
а́хәмарра oynamak. Ахәыҷқәа́ адәаҿы́ ихәма́руеит. Çocuklar avluda oynuyor.<br />
ҳа́мҭак kısa bir süre, biraz zaman. Ҳа́мҭак а́шьҭахь. Biraz sonra.
</p>

<blockquote>Okuyun ve hatırlayın!</blockquote>

<p>
{% include audio.html file="20-2" %}
Аҷкәын хәыҷы Мизан иан илеиҳәеит «Адәахьы сдәылҵуеит, хәыҷык сыхәмаруеит» ҳәа. «Уца, — лҳәеит иан, — ахәыҷқәа зегьы ана абаҳчаҿы ихәмаруеит, аха ирлас уааи, шьыбжьхьа архиара саҿуп, уагымхан!» Ҳамҭак ашьҭахь ахәыҷы иан изҿылҭит, аха аҷкәын абаҳчаҿы дыҟамызт. Ахәыҷқәа адәаҿы ихәмаруан. Лара лхәыҷгьы уа дыҟан. Иан изҿылҭит «уааи» ҳәа. Ахәыҷы дааит. Иан аҧара илҭан адәқьан ахь длышьҭит, ача аахә ҳәа.
</p>

<p>
Küçük çocuk Mizan annesine dedi: "Dışarı çıkacağım, biraz
oynayacağım." "Git," dedi annesi, "bütün çocuklar orada, bahçede
oynuyor, ama çabuk dön, öğle yemeği hazırlıyorum, geç kalma!"
Biraz sonra anne çocuğu çağırdı, ama oğlan bahçede değildi.
Çocuklar avluda oynuyordu. Onun çocuğu da oradaydı. Anne ona
"buraya gel" diye seslendi. Çocuk geldi. (Onun) annesi ona para
verdi ve ekmek almak için dükkana gönderdi.
</p>

<blockquote>Haftanın günleri</blockquote>

<p>{% include audio.html file="20-3" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Pazartesi</td><td>ашәахьа́</td></tr>
<tr><td>Salı</td><td>аҩа́ша</td></tr>
<tr><td>Çarşamba</td><td>аха́ша</td></tr>
<tr><td>Perşembe</td><td>аҧшьа́ша</td></tr>
<tr><td>Cuma</td><td>ахәа́ша</td></tr>
<tr><td>Cumartesi</td><td>аса́бша</td></tr>
<tr><td>Pazar</td><td>амҽы́ша</td></tr>
</table>

<blockquote>Selamlaşma biçimleri</blockquote>

<p>{% include audio.html file="20-4" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Шьыжьыбзи́а(қәа)!</td><td>Günaydın!</td></tr>
<tr><td>Мшыбзи́а(қәа)!</td><td>İyi günler!</td></tr>
<tr><td>Хәлыбзи́а(қәа)!</td><td>İyi akşamlar!</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>Бзи́ара жәба́аит (уба́аит, бба́аит)!</td><td>(cevap selamı)</td></tr>
<tr><td>Бзи́ала шәаабе́ит (уаабе́ит, баабе́ит)!</td><td>Hoş geldiniz!</td></tr>
</table>

<p>
<b>Alıştırma 1</b><br />
Eylemlerin sırasını belirleyin, onları rakamlarla numaralandırın.
</p>
<p>
Шьыбжьышьҭахь сыдҵақәа ҟасҵеит. (№…)<br />
Автобусла ашкол ахь сцеит. (№…)<br />
Акрысфеит, нас аҩны сдәылҵит. (№…)<br />
Сҽысыӡәӡәан, сҽеиласҳәеит. (№…)<br />
Аҩныҟа сааин, акрысфеит. (№…)<br />
Ашьыжьымҭан сгылеит. (№…)<br />
Маҷк ашкол сагхеит. (№…)<br />
Ашкол аҟны ашәҟәқәа ҳрыҧхьон, аҽаршьцыларақәа ҳаҩуан. (№…)
<small><a href="answers7#e20-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 2</b><br />
Verilen kelimelerden cümleler oluşturun.
</p>
<p>
а) аҷкәын, адәылҵра, шьыжьымҭан, аҩны;<br />
б) аццакра, агхара, аусура, маҷк;<br />
в) адәықәлара, ҳамҭак ашьҭахь, адәыҕба;<br />
г) аӡҕаб, ахәмарра, адәахьы;<br />
гь) абаҳчаҿы, зегьы, ахәмарра, ахәыҷқәа;<br />
гә) ан, аҷкәын, аҭара, аҧара;<br />
ҕ) аҵара, аҧсшәа, сара, аҿызаара.
<small><a href="answers7#e20-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Sol sütundaki cümlenin başlangıcına sağ sütundan uygun sonu seçin.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Ари аҷкәын</td><td>хәыҷуп.</td></tr>
<tr><td>Ҳаҩны аҧхьа</td><td>адәыҕба дәықәлоит.</td></tr>
<tr><td>Ҳамҭак ашьҭахь</td><td>адәаҿы ихәмаруан.</td></tr>
<tr><td>Ҳара иахьа</td><td>ихьӡуп Дамеи.</td></tr>
<tr><td>Уца,</td><td>адәқьан гылоуп.</td></tr>
<tr><td>Ари аҩны</td><td>ашкол ҳагхеит.</td></tr>
<tr><td>Ача аахә ҳәа</td><td>хәыҷык сыхәмаруеит.</td></tr>
<tr><td>Сара адәахьы сдәылҵуеит</td><td>аҧара илҭеит.</td></tr>
<tr><td>Ахәыҷқәа</td><td>аха ирлас уааи.</td></tr>
</table>
<p><small><a href="answers7#e20-3">(Yanıtlar)</a></small></p>

<p>
<b>Alıştırma 4</b><br />
Parantezleri açın.
</p>
<p>
Мизан дхәыҷуп абаҳчаҿы (ахәмарра). (şimdiki zaman dinamik)<br />
Жәаха уҩыза адәқьан аҿы (абара). (geçmiş zaman tamamlanmış)<br />
Адәыҕба маҷк (агхара). (geçmiş zaman tamamlanmamış)<br />
Ҳамҭак ашьҭахь ахәыҷы иан (азҿыҭра). (geçmiş zaman tamamlanmış)<br />
Сҩыза иаб ана (атәара). (şimdiki zaman statik)
<small><a href="answers7#e20-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Özneyi şimdiki zamanda uygun fiille uyumlu hale getirin.
</p>
<p>
Ахәыҷқәа (ахәмарра).<br />
Ҳара асабша дәыҕбала (аара).<br />
Ҳаҩны аҧхьа адәқьан (агылара).<br />
Ҳамҭак ашьҭахь адәыҕба (адәықәлара).<br />
Арҵаҩы акласс (адәылҵра).<br />
Ахәыҷы адәаҿы (аҟазаара).<br />
Аҷкәын иан «Уааи!» ҳәа (аҿыҭра).
<small><a href="answers7#e20-5">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 6</b><br />
Abhaz diline çevirin.
</p>
<p>
1. Bugün pazartesi, işe gidiyorum.<br />
2. Çocuklar okula gidiyor.<br />
3. Biraz acelem var, işe geç kalıyorum.<br />
4. Çocuklar avluda oynuyor.<br />
5. Benim çocuğum da orada oynuyor.<br />
6. Biraz sonra o eve geldi.<br />
7. Sabah evden çıkıyoruz, otobüsle şehre gidiyoruz.<br />
8. Sabah kalkmayı sevmiyorum, uyumayı seviyorum.<br />
9. Annem bana diyor: "Kalk, okula geç kalacaksın!"<br />
10. Yarın cumartesi, babam işe gitmiyor, ve biz de okula gitmiyoruz.
<small><a href="answers7#e20-6">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 7</b><br />
18. Dersi hatırlayın ve aşağıdaki fiillerin zaman formunu belirleyin:
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>сыцәам ( &nbsp; &nbsp; )</td><td>саҧхьом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сыцәамызт ( &nbsp; &nbsp; )</td><td>саҧхьазом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сымцап ( &nbsp; &nbsp; )</td><td>исфом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сцом ( &nbsp; &nbsp; )</td><td>исфазом ( &nbsp; &nbsp; )</td></tr>
<tr><td>иаасымхәеит ( &nbsp; &nbsp; )</td><td>исымфап ( &nbsp; &nbsp; )</td></tr>
<tr><td>иаасхәап ( &nbsp; &nbsp; )</td><td>дгылом ( &nbsp; &nbsp; )</td></tr>
<tr><td>ҿысҭӡом ( &nbsp; &nbsp; )</td><td>иҟам ( &nbsp; &nbsp; )</td></tr>
<tr><td>ҿысҭуамызт ( &nbsp; &nbsp; )</td><td>иҟоуп ( &nbsp; &nbsp; )</td></tr>
</table>
<small><a href="answers7#e20-7">(Yanıtlar)</a></small>
</p>
