---
order: 102
title: Ders 2
subtitle:
- Kişisel Zamirler; Tekil
- Sözcüklerle çalışma
---

<p>
{% include audio.html file="2-1" %}
Мшыбзи'а!
Merhaba!<br />
İkinci
derse
başlıyoruz.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Abhaz
dilinde
isimlerin
cinsiyeti
yoktur,
fakat
bunun
yerine
isimler
canlı
ve
cansız
olmak
üzere
iki
sınıfa
ayrılırlar.
Canlılar
sınıfı
sadece
insanlar
için
kullanılır.
Bunun
dışında
olan
herşey
cansızlar
sınıfına
girer.
Canlılar
sınıfı
erkek
ve
dişi
olmak
üzere
iki
alt
gruba
ayrılır.
Abazacada
kişisel
zamirlerin
bir
uzun
ve
bir
de
kısa
şekli
vardır.
</p>

<p>
<b>Tekil,
canlı
kişisel
zamirler</b>
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>Birinci
tekil
şahıs</td>
<td>
<b>сара'</b>
- kısa
şekli
<b>с(а)</b>
- Ben
</td>
</tr>
<tr>
<td>İkinci
tekil
şahıs</td>
<td>
<b>уара'</b>
- kısa
şekli
<b>у(а)</b>
- sen (erkek)<br />
<b>бара'</b>
- kısa
şekli
<b>б(а)</b>
- sen (dişi)
</td>
</tr>
<tr>
<td>Üçüncü
tekil
şahıs</td>
<td>
<b>иара'</b>
- kısa
şekli
<b>и(а), д(а)</b>
- o erkek<br />
<b>лара'</b>
- kısa
şekli
<b>л(а), д(а)</b>
- o bayan
</td>
</tr>
</table>

<p>
<i class="fas fa-bolt important-material"></i>
Parantez
içindeki
ifadelerin
opsiyonel
olarak
kullanıldığını
unutmayın.
</p>

<blockquote>Yeni
sözcükler
ve
ifadeler
(ve
fiil
çekimleri).</blockquote>

<p>
Çalışın
ve
ezberleyin!
</p>

<p>
ацара'
(fiilin
mastar
formu)
gitmek;
ayrılmak.
</p>

<p>
Fiil
çekimi
kurallarını
ezberlemenizi
kolaylaştırmak
için
Abhazca
fiillerin
yapısına
bakacağız.
</p>

<p>
<b>а-ца-ра</b>
-
<b>а-</b>
genel
bir
sözcük
ön
eki,
<b>ца-</b>
kök,
<b>-ра</b>
- son ek.
Fiilin
çekimini
yaparken
<b>а-</b>
ön
eki
ve
<b>-ра</b>
son
eki
ayrılırlar.
</p>

<p>
<b>Сара
сцоит</b>
- Ben
gidiyorum.
Bu
cümlede
<b>сцо'ит</b>
fiili
<b>с(а)</b>
- Ben,
<b>ц(а)</b>
- "gitmek"
fiilinin
mastar
kökü,
<b>-оит</b>
- şimdiki
zaman
son
eki
kısımlarına
ayrılırlar.
</p>

<p>
{% include audio.html file="2-2" %}
сара'
сцо'ит
- Ben gidiyorum<br />
бара'
бцо'ит
- Sen (bayan) gidiyorsun<br />
уара'
уцо'ит
- Sen (erkek) gidiyorsun<br />
иара'
дцо'ит
- O erkek gidiyor<br />
лара'
дцо'ит
- O bayan gidiyor
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Aşağıdaki
fiillerin
özneyi
nasıl
yansıttığına
dikkat
edin:<br />
<b><u>с</u></b>ара'
<b><u>с</u></b>цо'ит,

<b><u>у</u></b>ара'
<b><u>у</u></b>цо'ит,

<b><u>б</u></b>ара'
<b><u>б</u></b>цо'ит.
</p>

<p>
Çekimli
fiil
içersine
öznenin
bir
göstergesini
alır.
</p>

<p>
{% include audio.html file="2-3" %}
<b>абара'</b>
- görmek<br />
<b>с</b>ара'
и<b>з</b>бо'ит
- Ben
görüyorum<br />
<b>б</b>ара'
и<b>б</b>бо'ит
- Sen
(bayan)
görüyorsun<br />
<b>у</b>ара'
и<b>у</b>бо'ит
- Sen
(erkek)
görüyorsun<br />
<b>и</b>ара'
(и)<b>и</b>бо'ит
- O
erkek
görüyor<br />
<b>л</b>ара'
и<b>л</b>бо'ит
- O
bayan
görüyor
</p>

<p>
{% include audio.html file="2-4" %}
<b>агара'</b>
- almak<br />
<b>с</b>ара'
и<b>з</b>го'ит
- Ben
alıyorum<br />
<b>б</b>ара'
и<b>б</b>го'ит
- Sen
(bayan)
alıyorsun<br />
<b>у</b>ара'
и<b>у</b>го'ит
- Sen
(erkek)
alıyorsun<br />
<b>и</b>ара'
(и)<b>и</b>го'ит
- O
erkek
alıyor<br />
<b>л</b>ара'
и<b>л</b>го'ит
- O
bayan
alıyor
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Genellikle
birinci
ve
üçüncü
tekil
şahıs
ön
ekleri
kullanılmaz
ve
kelimede
düşer.
Bununla
birlikte
biz
sizlerin
grameri
iyice
anlayabilmeniz
için
gerçekte
kullanılmasa
da
bu
ön
ekleri
parantez
içersinde
göstereceğiz.<br />
<i class="fas fa-check grammar-rule"></i>
Sesli
harflerden
önceki
birinci
tekil
şahıs
ön
eki
с(а)
yerine
з(а)
‘ya
dönüşür,
örneğin
и<b>з</b>гоит
(и<b>с</b>гоит
"Ben
alıyorum").
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Aşağıdaki
sözcükleri
ezberleyin!
</p>

<p>
<b>ацара'</b>
- gitmek,
ayrılmak.
Сара'
сцо'ит
–
Ben
gidiyorum.<br />

<b>аара'</b>
- gelmek.
Бара'
баауе'ит
-
sen
(bayan)
geliyorsun.<br />

<b>абара'</b>
- görmek.
Лара'
илбо'ит
–
O
bayan
görür.<br />

<b>агара'</b>
- almak.
Иара'
(и)иго'ит
–
O
erkek
alır.<br />

<b>ара'</b> (абра')
- buraya, burada.<br />

<b>ана'</b>
- orada, oraya.<br />

<b>бзи'а
абара'</b>
- sevmek.
Сара'
бзи'а
бызбо'ит
–
Seni
seviyorum
(bayana).
Сара'
бзи'а
узбо'ит
–
Seni
seviyorum
(erkeğe).
Сара'
сан
бзи'а
дызбо'ит
–
Annemi
seviyorum<br />

<b>анхара'</b>
- yaşamak.
Лара'
ара'
дынхо'ит
–
O
bayan
burada
yaşar.
Иара'
ана'
дынхо'ит
–
O
erkek
orada
yaşar.<br />

<b>ау'сура</b>
- iş<br />

<b>амшы'н</b>
- deniz.
Сара'
амшы'н
ахь
сцо'ит
–
Denize
gidiyorum.
</p>

<p>
<b>Alıştırma 1</b><br />
Sol
sütundaki
her
bir
zamir
için
saü
taraftaki
sütunlardan
fiilin
uygun
şeklini
bulun
ve
eşleştirin.
Çalışın
ve
yapın!
</p>

<p>
Örnek:<br />
<img src="/assets/img/2-1.gif" width="140" height="54" alt="" />
</p>

<table cellspacing="0">
<tr>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>сара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>сцоит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>уара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>саауеит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>бара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>унхоит</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
</tr>
<tr>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>уара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>бцоит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>лара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>уаауеит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>лара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>сынхоит</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
</tr>
<tr>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>бара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>уцоит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>иара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>баауеит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>иара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>дынхоит</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
</tr>
<tr>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>лара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>дцоит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>сара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>даауеит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>уара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>бынхоит</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
</tr>
<tr>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>иара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>дцоит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>бара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>даауеит</td>
<td width="50" style="background-image:url(/assets/img/1x1.gif)"></td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>сара</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
<td>дынхоит</td>
<td width="1" style="background-image:url(/assets/img/1x1.gif)"></td>
</tr>
</table>
<small><a href="answers1#e2-1">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 2</b><br />
Parantez
içindeki
sözcüğü
çekimleyin
ve
doğru
şeklini
yazın.
</p>

<p>
Örnek:
сара (анхара)
>
сара сынхоит.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td width="120">сара (аара')</td>
<td width="120">сара (абара')</td>
<td width="120">сара (агара')</td>
</tr>
<tr>
<td width="120">уара (ацара')</td>
<td width="120">уара (анхара')</td>
<td width="120">уара (абара')</td>
</tr>
<tr>
<td width="120">бара (анхара')</td>
<td width="120">бара (ацара')</td>
<td width="120">бара (абара')</td>
</tr>
<tr>
<td width="120">лара (агара')</td>
<td width="120">лара (абара')</td>
<td width="120">лара (ацара')</td>
</tr>
<tr>
<td width="120">иара (абара')</td>
<td width="120">иара (агара')</td>
<td width="120">иара (анхара')</td>
</tr>
</table>
<small><a href="answers1#e2-2">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 3</b><br />
Boşluklara
doğru
zamiri
koyun.
</p>

<p>
Örnek:
бара бцоит
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>. . . . . .
бцоит</td>
<td>. . . . . .
илгоит</td>
</tr>
<tr>
<td>. . . . . .
уаауеит</td>
<td>. . . . . .
избоит</td>
</tr>
<tr>
<td>. . . . . .
иубоит</td>
<td>. . . . . .
дынхоит</td>
</tr>
<tr>
<td>. . . . . .
ибгоит</td>
<td>. . . . . .
дцоит</td>
</tr>
<tr>
<td>. . . . . .
иббоит</td>
<td>. . . . . .
сынхоит</td>
</tr>
<tr>
<td>. . . . . .
баауеит</td>
<td>. . . . . .
дааит</td>
</tr>
<tr>
<td>. . . . . .
сцоит</td>
<td>. . . . . .
бааит</td>
</tr>
</table>
<small><a href="answers1#e2-3">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 4</b><br />
Aşağıdaki
ifadelerde
yanlış
olanları
bulup
düzeltin.
</p>

<p>
Örnek:
лара ибгоит
>
лара илгоит
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>сара иугоит</td>
<td>сара избоит</td>
</tr>
<tr>
<td>бара ибгоит</td>
<td>бара иубоит</td>
</tr>
<tr>
<td>уара изгоит</td>
<td>уара илбоит</td>
</tr>
<tr>
<td>иара иигоит</td>
<td>иара иибоит</td>
</tr>
<tr>
<td>лара илгоит</td>
<td>лара иббоит</td>
</tr>
</table>
<small><a href="answers1#e2-4">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 5</b><br />
Aşağıdaki
cümleleri
okuyun
ve
Türkçe’ye
çevirin.
</p>

<p>
1. Лара
иахьа
даауеит.
2. Сара
ара
сынхоит.
3. Иара
ана
дынхоит.
4. Бара
акәац
(и)бгоит.
5. Иахьа
амш
бзиоуп.
6. Иара
аусурахь
дцоит.
7. Сара
ача
аасхәоит.
8. Саб
аусурахь
дцоит.
9. Сара
сан
бзиа
дызбоит.<br />
<small><a href="answers1#e2-5">(Yanıtlar)</a></small>
</p>
