---
title: Ders 3
order: 203
---

<h3>Ders 3</h3>

<dl>
<dt>İçindekiler:</dt>
<dd>Fiillerin çekimleri</dd>
<dd>Sözcüklerle çalışma</dd>
</dl>

<p>
<i class="fas fa-bolt important-material"></i>
<b>ацара'</b>
"gitmek"
fiilinin
çekimine
bir
bakın.<br />
Сара' сцо'ит
- Ben giderim<br />
Бара' бцо'ит
- Sen (bayan) gidersin<br />
Уара' уцо'ит
- Sen (erkek) gidersin<br />
Иара' дцо'ит
- O erkek gider<br />
Лара' дцо'ит
- O bayan gider
</p>

<p>
<b>Alıştırma 1</b><br />
<b>анхара'</b>
"yaşamak",
<b>аара'</b>
"gelmek, varmak"
fiillerinin
çekimleriyle
aşağıdaki
boşlukları
doldurun.<br />
Сара' ... ихои'т
- Ben yaşarım<br />
Уара' ... ихои'т
- Sen (erkek) yaşar<br />
Бара' ... ихои'т
- Sen (bayan) yaşar<br />
Иара' ... ихои'т
- O erkek yaşar<br />
Лара' ... ихои'т
- O bayan yaşar<br />
Сара' ... аауе'ит
- Ben gelirim<br />
Уара' ... аауе'ит
- Sen (erkek) gelirsin<br />
Бара' ... аауе'ит
- Sen (bayan) gelirsin<br />
Иара' ... аауе'ит
- O erkek gelir<br />
Лара' ... аауе'ит
- O bayan gelir<br />
<small><a href="answers2#e3-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 2</b><br />
Sol
sütundaki
her
bir
sözcük
için
sağ
sütundan
doğru
çevirisini
seçin.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>
абара'<br />
<b>с</b>ара и<b>з</b>боит<br />
<b>б</b>ара и<b>б</b>бо'ит<br />
<b>у</b>ара и<b>у</b>бо'ит<br />
<b>и</b>ара (и)<b>и</b>бо'ит<br />
<b>л</b>ара и<b>л</b>бо'ит<br />
</td>
<td>
görmek<br />
O erkek görür<br />
Sen (bayan) görürsün<br />
O bayan görür<br />
Ben görürüm<br />
Sen (erkek) görürsün
</td>
</tr>
<tr>
<td>
агара'<br />
<b>и</b>ара' (и)<b>и</b>го'ит<br />
<b>б</b>ара' и<b>б</b>го'ит<br />
<b>с</b>ара' и<b>з</b>го'ит<br />
<b>у</b>ара' и<b>у</b>го'ит<br />
<b>л</b>ара' и<b>л</b>го'ит
</td>
<td>
almak<br />
Ben alırım<br />
O erkek alır<br />
O bayan alır<br />
Sen (bayan) alırsın<br />
Sen (erkek) alırsın
</td>
</tr>
</table>
<small><a href="answers2#e3-2">(Yanıtlar)</a></small>

<p>
Şimdi
yeni
sözcükler
ve
cümleler
öğreneceksiniz!
</p>

<p>
{% include audio.html file="3-1" %}
ала' - köpek.
А'хра ила'
- Akhra’nın
köpeği.<br />
а'аи (аие'и) - evet.
А'аи,
сара'
сцо'ит - evet, ben gidiyorum.<br />
мап (мамо'у) - hayır.
Мап, сара' сцом
- hayır, Ben gitmiyorum.<br />
ады'рра - bilmek, tanımak.
Сара'
Ка'ма
дызды'руеит
- Kama’yı biliyorum, tanıyorum.<br />
ау'с - iş.
Сара'
сус
ибзи'аны
изды'руеит
- İşimi çok iyi biliyorum.
Ари'
сара'
ису'сым!
- O benim işim değil!<br />
ау'сура (ау'с аура')
- iş.
Ка'ма ау'с лу'еит.<br />
а'мазаара*
- sahip olmak.
Сара' ала' сы'моуп
- Benim
köpeğim
var.
Сара' сла бзи'а избо'ит
- Köpeğimi
seviyorum.
</p>

<p>
*
Not:
а'мазаара
fiili
-ма
kökü
ve
-заара
son
ekinden
oluşmuştur.
</p>

<p>
Aşağıdaki
ifadeleri
hatırlayın!
</p>

<p>
{% include audio.html file="3-2" %}
Амш бзи'оуп
- gün
güzel.<br />
Ара'
анхара'
бзи'оуп
- Burada
yaşamak
güzel.<br />
Лара'
бзи'а
илбо'ит
ара'
анхара'
- O
bayan
burada
yaşamaktan
hoşlanır.<br />
Сара'
бзи'а
бызбо'ит
- Seni seviyorum (bayana).<br />
Сара'
бзи'а
узбо'ит
- Seni seviyorum (erkeğe).<br />
Лара'
дыбзи'оуп
- O bayan iyidir (güzeldir).<br />
Иара'
бзи'а
ибо'ит
амшы'н
- O erkek denizi sever.<br />
Сара'
сус
ибзи'аны
изды'руеит
- İşimi
iyi
biliyorum.<br />
Ари'
сара'
ису'сым!
- O benim işim değil!<br />
Ка'ма
ау'с
лу'еит
- Кама çalışıyor.<br />
Сара'
ала'
сы'моуп
- Benim
bir
köpeğim
var.<br />
Сара'
сла
бзи'а
избо'ит
- Köpeğimi
seviyorum.
</p>

<p>
{% include audio.html file="3-3" %}
Бара'
амшы'н
бзи'а
иббо'ма?
- Denizi sever misin (bayana)?<br />
А'аи,
сара'
амшы'н
бзи'а
избо'ит
- evet, denizi severim.<br />
Иахьа'
амшы'н
бзи'оуп
- bugün
deniz
iyi
(güzel).
</p>

<p>
{% include audio.html file="3-4" %}
Сара'
изды'руеит
- Ben
bilirim
(tanırım).<br />
Уара'
иуды'руама?
- Biliyor
musun
(erkeğe)?
</p>

<p>
{% include audio.html file="3-5" %}
Сара'
амшы'н
ахь
сцо'ит
- Denize gidiyorum.<br />
Бара'
А'хра
иа'хь
бца
- Sen
(bayan)
Akhra’ya
gidiyorsun.<br />
Уара'
Даме'и
иахь
уца'
- Sen
(erkek)
Damai’e
gidiyorsun.
</p>

<p>
{% include audio.html file="3-6" %}
Иара'
ау'с
иу'еит
- O
erkek
çalışır.<br />
Бара'
ау'с
бу'ама?
- Çalışıyor
musun
(bayana)?<br />
Сар'а
су'с
ибзи'аны
изды'руеит
- İşimi
iyi
bilirim.<br />
Бара'
бу'с
бзи'а
иббо'ма?
- İşini
seviyor
musun
(bayana)?
</p>

<p>
<b>Alıştırma 3</b><br />
Parantez
içindeki
sözcükleri
doğru
şekilde
kullanın.<br />
Örnek:
Иара (агара)
- Иара (и)игоит.
</p>

<p>
Сара (ацара).
Уара (аара).
Иара ара (анхара).
Лара (аус
бзиа абара).
Иара (адырра).
Ашкол (ахь, ацара).
Аусура (ахь, ацара).<br />
<small><a href="answers2#e3-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Aşağıdaki
cümleleri
Abazacaya
çevirin.
</p>

<p>
O
bayan
ayrılır.
Ben
gelirim.
O
erkek
alır.
Ben
denizi
görüyorum.
Deniz
güzel.
Sen
(erkek)
görürsün.
Sen
(bayan)
ayrılırsın.
Denizi
seviyor
musun
(bayana)?
Evet,
Denizi
seviyorum.
Ben
burada
yaşarım.
O
erkek
burada
yaşar.
Burada
mı
yaşıyorsun(bayana)?
Evet,
Burada
yaşarım.<br />
<small><a href="answers2#e3-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Aşağıdaki
cümleleri
Türkçe’ye
çevirin.
Şimdi
artık
daha
kolay,
öyle
değil
mi?
</p>

<p>
Бара
баауеит.
Иара
дцоит.
Бара
аус
буама?
Сара
саауеит.
Сара
сцоит.
Иара
аус
иуеит.
Амшын
бзиоуп.
Иара
(и)игоит.
Уара
иугоит.
Бара
амшын
бзиа
иббомо?
Ааи,
сара
амшын
бзиа
избоит.
Уара
аус
ууама?
Ааи,
сара
аус
зуеит.
Уара
ибзианы
аус
ууама?
Сара
сус
ибзианы
издыруеит.
Бара
бус
бзиа
иббома?
Сара
лара
лусурахь
сцоит.<br />
<small><a href="answers2#e3-5">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 6</b><br />
Aşağıdaki
resimlere
bir
bakın.
Her
bir
resme
karşılık
gelen
cümleleri
seçin.
</p>

<p>
Амш бзи'оуп.
(Resim № ...)<br />
Иара дцоит.
(Resim № ...)<br />
Сара' амшы'н ахь сцо'ит.
(Resim № ...)<br />
Иара' ау'с иуе'ит.
(Resim № ...)
</p>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td><img src="/assets/img/3-1.gif" width="418" height="245" border="1" alt="Resim 1" /><br />Resim 1</td>
<td><img src="/assets/img/3-3.gif" width="215" height="298" border="1" alt="Resim 3" /><br />Resim 3</td>
</tr>
<tr>
<td><img src="/assets/img/3-2.gif" width="411" height="282" border="1" alt="Resim 2" /><br />Resim 2</td>
<td align="right"><img src="/assets/img/3-4.gif" width="164" height="330" border="1" alt="Resim 4" /><br />Resim 4</td>
</tr>
</table>
<br />
<small><a href="answers2#e3-6">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 7</b><br />
Aşağıdaki
sözcük
ve
cümlelerle
uğraşarak
kısa
bir
metin
hazırlayabilirsiniz.
Çalışın
ve
yapın!
Çalışın
ve
birileriyle
konuşun!
</p>

<p>
Мшыбзи'а!<br />
Бзи'ара
уба'ат
(бба'ат)!<br />
Абзи'араз!<br />
Уара'
(бара')
уаба'цои
(баба'цои)?<br />
Уара'
(бара')
уаба'нхои
(баба'нхои)?<br />
Сара'
ара'
(ана')
сы'нхоит.<br />
Сара'
ашко'л
(ау'сура)
ахь
сцо'ит.<br />
Сара'
ау'с
зуе'ит.<br />
Сара'
сус
бзи'а
избо'ит.<br />
Сара'
су'сура
бзи'аны
изды'руеит.<br />
Уара'
(бара')
ау'с
ууа'ма
(буа'ма)?<br />
Уара'
(бара')
уу'с
(бу'с)
бзи'а
иубо'ма
(иббо'ма)?<br />
<small><a href="answers2#e3-7">(Yanıtlar)</a></small>
</p>

<p>
Gelecek
derse
kadar!
İyi
günler!<br />
Абзиараз!
</p>
