---
title: Ders 4
order: 204
---

<dl>
<dt>İçindekiler:</dt>
<dd>Fiillerin
şimdiki
ve
geçmiş
zaman
halleri</dd>
<dd>Alfabeye
devam:
yeni
harfler
ve
sesler (ҧ, ҭ)</dd>
<dd>Yardımcı
fiiller</dd>
</dl>

<p>
Abhaz
dilinde
Rusça’dan
tanıdığınız
<b>п</b> ve <b>т</b>
harfleri
bulunmaktadır.
Bir
de
bu
harflerin
değişik
bir
varyantı
olan
<b>ҧ</b> ve <b>ҭ</b>
harfleri
bulunmaktadır.
Konuşmaları
dinleyerek
telaffuzu
öğrenin.
</p>

<p>
{% include audio.html file="4-1" %}
пҧ; пҧ<br />
ҧа, ҧы, ҧи, ҧе,
ҧу<br />
тҭ; тҭ<br />
ҭа, ҭе, ҭи, ҭо, ҭу, ҭы
</p>

<p>
Yeni
sözcük
ve
ifadeler.
</p>

<p>
{% include audio.html file="4-2" %}
а'иҧшра (е'иҧшра)
- benzer olmak.
Сара'
дсе'иҧшуп.
- bana benzer.
Наа'ла
дле'иҧшуп
- Naala’ya benzer.
Иара
диеиҧшуп
- Ona benzer.<br />
аҧша' а'сра
- esmek (rüzgar).
Ара'
аҧша'
а'суеит
- burada rüzgar esiyor.<br />
а'ҧсуа
- Abhaz.
Сара'
саҧсу'оуп*
- Ben Abhaz’ım.<br />
Аҧсны'
- Abhazya.
Сара'
саҧсу'оуп,
Аҧсны
сынхо'ит
- Ben Abhaz’ım, Abhazya’da yaşıyorum.<br />
аҧшра'
- bakmak.
Сара'
сыҧшуе'ит
- Ben bakıyorum.
Иара'
дыҧшуе'ит
- O erkek bakıyor.
Лара'
дыҧшуе'ит
- O bayan bakıyor.
Лара'
иара'
иахь
дыҧшуе'ит
- O bayan erkeğe bakıyor.<br />
аҧха'
- ılık.
Иахьа
амш
ҧхо'уп
- bugün ılık bir gün.<br />
а'ҧхьара
- okumak.
Сара'
са'ҧхьоит.
Иара'
да'ҧхьоит.
Иара'
агазе'ҭ
да'ҧхьоит.<br />
уи
- O, O bayanın, Bu, Şunlar (işaret zamiri).
Уи
амшы'н
ахь
дыҧшу'еит
- O erkek (O bayan)  denize bakıyor.<br />
а'ҭара
- vermek.
Иу'сҭоит
- Sana veriyorum (erkeğe).
Ибы'сҭоит
- Sana veriyorum (bayana).
Исы'лҭоит
- O erkek bana verir.
Иу'иҭоит
- O erkek sana verir.
Иҭ!
- Ona ver.<br />
аҧа'ра
- para.
Ка'ма,
А'хра
аҧа'ра
иҭ!
- Kama, parayı Akhra’ya ver.<br />
аҭахра'
- istemek.
Сара'
исҭаху'п
- Ben isterim.
Бара'
ибҭаху'ма?
- İster misin (bayana)?
Иара
(и)иҭаху'ма
- O erkek ister mi?<br />
иҭабу'п
- teşekkür ederim.<br />
а'ццакра
- acele etmek.
Наа'ла
дыццакуе'ит
- Naala’nın acelesi var.
Уара'
уццакуа'ма
 - Acelen var mı (erkeğe)?<br />
 абри' (ари')
 - Bu, Şu.<br />
аҭы'ҧ
- yer.
Ари'
аҭы'ҧ
бзи'оуп
- bu yer güzel.<br />
а'ҧхьа
- ön, ileri, önce, ilk, başlangıçta.
Сара'
са'ҧхьа
- benim önümde.
</p>

<p>
* Not: саҧсу'оуп
sözcüğünün
aslı
саҧсы'уоуп
şeklindedir, ancak kurala göre
<b><i>у</i></b>
‘
dan
önce
gelen
<b><i>ы</i></b>
harfi
yazılmaz.
</p>

<p>
<b>Alıştırma 1</b><br />
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Aşağıdaki
metni
ezbere
bilmek
elbetteki
çok
güzeldir!<br />
Fakat
şimdilik
bu
metni
okuyun
ve
Türkçe’ye
çevirin.
</p>

<p>
{% include audio.html file="4-3" %}
Мшыбзи'а
Ка'ма!<br />
Бзи'а
бба'аит
Наа'ла!<br />
Ка'ма
А'хра
ау'сура
дца'ма?<br />
Мап!
Дыбба'р
бҭаху'ма?
Баа'и!
А'хра
ана'
ау'с
иу'еит.
Уи'
бзи'а
ибо'ит
ара'
ау'сура.<br />
Иҭабу'п
Ка'ма,
А'хра
ана'
дызбо'ит.
А'хра
иа'н
дле'иҧшуп.<br />
Баа'и
Наа'ла!<br />
Мап,
Ка'ма,
сара'
сыццакуе'ит,
абри'
аҧа'ра
А'хра
иҭ.<br />
Ибзи'оуп
Наа'ла!<br />
Иҭабу'п
Ка'ма!
Абзи'араз!<br />
Абзи'араз
Наа'ла!<br />
<small><a href="answers2#e4-1">(Yanıtlar)</a></small>
</p>

<p>
Şimdi
de
biraz
gramer.
</p>

<p>
Şimdi
Abhaz
dilinin
en
yaygın
kullanılan
zaman
şekillerine
bir
bakalım.
</p>

<p>
Hareketli
ve
durgun
fiillerle
yapılan
şimdiki
zaman
değişik
şekiller
alır:
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Şimdiki zaman</b>
(durgun
fiil)
<b><i>-уп</i></b>
son
eki
ile
oluşur.
</p>

<p>
Сгы'ло<b>уп</b>
- Ben ayakta duruyorum,
бгы'ло<b>уп</b>
- Sen (bayan) ayakta duruyorsun,
угы'ло<b>уп</b>
- sen (erkek) ayakta duruyorsun.<br />
Исы'мо<b>уп</b>
- Ben sahibim,
ибы'мо<b>уп</b>
- Sen (bayan) sahipsin,
иу'мо<b>уп</b>
- sen (erkek) sahipsin.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Eğer bir kelime
<b><i>а</i></b>,
sesli harfi ile bitiyorsa, o zaman
<b><i>а+уп</i></b>
yerine
<b><i>оуп</i></b>
şekline
gelir,
eğer
bir
kelime
sessiz
bir
harf
ya
da
<b><i>ы</i></b>
sesli harfi ile bitiyorsa, o zaman
<b><i>о</i></b>
harfi düşer<br />
ара
сгылоуп
(сгыла+ауп)
- Ben buradayım;
сара
исҭаху'п
(исҭах+уп)
- Ben isterim.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Şimdiki zaman</b>
(hareketli fiil)
<b><i>-оит</i></b> veya <b><i>-уеит</i></b>
son eki ile oluşur.
</p>

<p>
Изг<b>о'ит</b>
- Ben alırım,
ибг<b>о'ит</b>
- sen (bayan) alırsın,
иуг<b>о'ит</b>
- sen (erkek) alırsın;
Сара
аус
зу<b>еит</b>
- Ben çalışıyorum.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Bu
zaman
gelecek
zamana
taşınan
bir
manayı
da
ifade
eder
(Rusça’da
olduğu
gibi).<br />
Иахьа'
изг<b>о'ит</b>
- Bugün
alacağım(bir
şey).
Нас
изг<b>о'ит</b>
- Sonra
alacağım
(bir
şey).
</p>

<p>
Şimdiki
zamanda
fiilin
hangi
şeklinin
kullanılacağını
nasıl
bileceğiz?
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Eğer fiil bir hareket ya da eylem ifade etmiyorsa o zaman bu durgun bir fiildir ve
<b>-уп</b> son eki kullanılır.<br />
сгы'лоуп
- Ayakta duruyorum;
исҭаху'п
- İstiyorum;
 ибы'моуп
- sen (bayan) sahipsin.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Eğer fiil bir hareket ya da eylem ifade ediyorsa o zaman hareketli fiildir ve
<b>-оит</b> ya da <b>-уеит</b>
son eki kullanılır.<br />
иугоит
- sen
(erkek)
alıyorsun;
Иара аус иуеит
- O
erkek
çalışıyor.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>miş- li geçmiş zaman</b>
<b><i>-ит</i></b>
son eki ile oluşturulur.
Изге<b>ит</b>
- Ben aldım.
Исфе'<b>ит</b>
- Ben yedim.
</p>

<p>
Eğer bir fiil
<b><i>а</i></b>
sesli harfi  ile bitiyorsa, o zaman
<b><i>а</i></b>
ile miş li geçmiş zaman son eki
<b><i>-ит</i></b>
birlikte
<b><i>-еит</i></b>
şeklini alır.<br />
<i class="fas fa-bolt important-material"></i>
Şimdiki zaman son eki
<b>-уеит//-оит</b>
ile karıştırmayın!
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Abhazca’da
çoğu
zaman
<b><i>аи</i></b> ve <b><i>иа</i></b>
ikilileri
<b><i>еи</i></b>, <b><i>ие</i></b>
ikilileri şekline ya da sadece
<b><i>е</i></b>
sesine dönüşür.
Örneğin,
<b>аи</b>ҧшра
- benzemek,
дл<b>еи</b>ҧшуп
- O bayana benzer.
Ахр<b>еи</b>
Наал<b>еи</b>
(Ахр<b>аи</b>
Наал<b>аи</b>)
- Akhra ve Naala.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Yine
Abhazca’da
çoğu
zaman
<b><i>ау</i></b>, <b><i>уа</i></b> ve <b><i>ауа</i></b>
ikilileri
<b><i>уо</i></b>, <b><i>оу</i></b>
ikilileri ya da sadece
<b><i>о</i></b>
sesine dönüşür.
Изг<b>о</b>ит <
изг<b>ауа</b>ит
- Ben alırım.
</p>

<table width="400">
<tr><th>Zaman şekilleri fiil son ekleri</th></tr>
</table>
<table width="400" border="1" cellspacing="0" cellpadding="4">
<tr>
<td>Şimdiki zaman durgun fiil</td>
<td><b>-уп</b></td>
</tr>
<tr>
<td>Şimdiki
zaman
hareketli
fiil</td>
<td><b>-оит, -уеит</b></td>
</tr>
<tr>
<td>Miş-li
geçmiş
zaman</td>
<td><b>-ит</b></td>
</tr>
</table>

<p>
Şimdi
artık
Abhazca’da
fiillerin
3
ayrı
zamanda
aldığı
şekillerle
ilgili
bilgiye
sahipsiniz.
Öğrendiklerinizi
alıştırmalarda
uygulayın.
</p>

<p>
<b>Alıştırma 2</b><br />
Aşağıdakileri
Türkçe’ye
çevirin.
</p>

<p>
Сара
сыҧшуе'т
амшы'н
ахь.
Сара
амшы'н
ахь
сыҧши'т.
Иахьа'
(и)хьҭо'уп,
аҧша'
а'суеит.
Наа'ла
иахьа
даауеит.
Сара
иара
аҧара
исҭеит.
Ахра
иара
иахь
дыҧшуеит.
Сара
агазеҭ
саҧхьоит.
Сара
агазеҭ
саҧхьеит.
Наала
ахьҭа
дакит.
Ала
аҭыҧ
ахь
ицеит.<br />
<small><a href="answers2#e4-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Aşağıdaki
sözcüklerden
şimdiki
ve
geçmiş
zamanda
cümleler
oluşturun.
</p>

<p>
1. Сара;
ахь;
ацара;
амшын.
2. Абри;
аҭара;
Ахра;
аҧара.
3. Ала;
аҧшра;
ахь;
сара.
4. Ара;
аҧша
асра.
5. Сара;
аус;
бзиа
абара.
6. Лара;
аццакра.
7. Уи
ана
анхара.
8. Дамеи;
аҧара;
аагара.<br />
<small><a href="answers2#e4-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Aşağıdakileri
Abhazcaya
çevirin.
</p>

<p>
Rüzgar
esiyor.
O
erkek
gazete
okuyor.
Naala
Akhra’ya
para
veriyor.
Bugün
hava
soğuk.
Ben
çalışıyorum.
Tali
Akhra’ya
benziyor.<br />
<small><a href="answers2#e4-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Doğru
birleştirmeleri
yapın.
Buna
benzer
ödevleri
daha
önce
de
yaptınız.
</p>

<table width="200" border="1" cellspacing="0" cellpadding="4">
<tr><td>
сара<br />
уара<br />
иара<br />
лара<br />
бара
</td><td>
быҧшуеит<br />
дыҧшуеит<br />
дыҧшуеит<br />
уҧшуеит<br />
сыҧшуеит
</td></tr>
</table>
<small><a href="answers2#e4-5">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 6</b><br />
Cümleleri
duydukça
aşağıdan
işaretleyiniz.
</p>

<table width="300" border="1" cellspacing="0" cellpadding="4">
<tr><td>
{% include audio.html file="4-4" %}
лара
длеиҧшуп<br />
лара
дыҧшуеит<br /><br />
иусҭоит
аҧара<br />
илысҭоит
аҧара<br /><br />
лара
даҧхьоит<br />
иара
даҧхьоит
</td><td>
сара
сцоит<br />
сара
сцеит<br /><br />
аҧша
асуеит<br />
аҧша
асит<br /><br />
агазеҭ
саҧхьоит<br />
агазеҭ
саҧхьеит
</td></tr>
</table>

<p>
<b>Alıştırma 7</b><br />
Boşlukları
uygun
harflerle
doldurun.<br />
<i class="fas fa-bolt important-material"></i>
Doğru
şahıs
zamirlerini
kullanabilme
sizin
buraya
kadar
olan
öğretilenleri
iyi
öğrendiğinizi
ortaya
koyacaktır!
</p>

<p>
Örnek:
Сара
и..згоит
-
Сара
изгоит.<br />
Сара
и..ҭахуп
\ ..аҧхьоит<br />
Уара
и..ҭахуп
\ ..аҧхьоит<br />
Бара
и..ҭахуп
\ ..аҧхьоит<br />
Иара
и..ҭахуп
\ ..аҧхьоит<br />
Лара
и..ҭахуп
\ ..аҧхьоит
<br />
<small><a href="answers2#e4-7">(Yanıtlar)</a></small>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Bazı
önemli
ve
yararlı
cümleler.
Bunları
ezberleyin!<br />
- Иахьа
амш
бзиоуп.<br />
- Ааи,
иахьа
амш
бзиоуп,
иҧхарроуп.<br />
- Bugün
hava
güzel.<br />
- Evet
bugün
hava
güzel,
ılık.<br />
- Иахьа
(и)хьҭоуп,
аҧша
асуеит.<br />
- Ааи,
ихьҭоуп,
сара
ахьҭа
сакит.<br />
- Bugün
hava
soğuk,
rüzgar
esiyor.<br />
- Evet
soğuk,
Ben
üşüdüm.
</p>

<p>
Абзиараз!<br />
İyi günler!
</p>
