---
order: 205
title: Ders 5
subtitle:
- "Alfabeye devam: Yeni harfler ve sesler (жь, шь)"
- "Gramer: Fiillerin emir ve soru kipleri"
---

<p>
<b>шь</b> ve <b>шь</b>
harflerinin
Rusça’da
aynısı
yoktur.
Bu
harfler
Rusça’da
olan
benzerleri
ши,
шё
ve
жи,
жё
harflerine
göre
daha
yumuşaktır.<br />
Sesleri dinleyerek
<b>шь, шь</b>
harflerinin
okunuşlarını
öğrenelim.
</p>

<p>
Okunuşları
tekrar
edin<br />
{% include audio.html file="5-1" %}
ж жь<!--; ж жь--><br />
жь,
жьа,
жьы,
жьу,
жьи,
жьо,<br />
ш шь<!--; ш шь--><br />
шь,
шьа,
шьы,
шьу,
шьи,
шьо
</p>

<p>
Sözcükler
ve
cümleler
</p>

<p>
{% include audio.html file="5-2" %}
(а)аны'жьра
- ayrılmak,
yalnız
bırakmak,
terketmek.
Ины'жь
- onu
bırak.
Ара' ины'жь
- onu
buraya
bırak.<br />
а'шьыжь
- sabah, sabahleyin.
Даме'и
а'шьыжь
даауе'ит
- Damay sabah gelecek.<br />
шьыжьла
- sabahlar, sabahları.
Шьыжьла
амшын
ахь
сцоит
- Sabahları
deniz
kenarında
yürürüm.<br />
акры'фара,
а'фара
- yemek.<br />
амашьы'на
- araba.<br />
машьы'нала
- araba ile.<br />
шьыбжьо'н
- öğle
yemeği
için.
Гәди'са
машьы'нала
шьыбжьо'н
даа'ит
- Gudisa
öğle
yemeğine
araba
ile
geldi.<br />
шьыбжьы'шьҭахь
- öğleden
sonra.
Шьыбжьы'шьҭахь
ара'
аҧша'
а'суеит
- öğleden
sonra
burada
rüzgar
eser.<br />
а'шьҭахь
- sonra,
daha
sonra,
arkasında.<br />
шьыжьхьа'
- kahvaltı.
Шьыжьхьа'
а'шьҭахь
Наа'ла
Гәди'са
ашко'л
ахь
дылге'ит
- kahvaltıdan
sonra
Naala
Gudisa’yı
okula
götürdü.<br />
аиашьа /
а'(иа)шьа /
а(и)ешьба
- kardeş.<br />
а'мазаара
- sahip olmak.<br />
ихьҭоуп
- soğuk.<br />
а'хьҭакра
(а'хьҭа
акра')
- donmak,
üşümek.
А'хьҭа
саки'т
- Ben
üşüyorum.
</p>

<p>
{% include audio.html file="5-3" %}
Сашьа'
амашьы'на
а'ҧхьа
дгы'лоуп
- kardeşim
arabanın
önünde
ayakta
duruyor.<br />
Сашьа'
амашьы'на
и'моуп
- erkek
kardeşimin
arabası
var.
</p>

<p>
{% include audio.html file="5-4" %}
Уи
имашьы'на
ара'
ини'жьуеит
- O
erkek
arabasını
buraya
bırakır.<br />
Уара'
умашьы'на
ана'
ины'жь
- Sen
(erkek)
arabanı
orada
bırak.<br />
Сашьа'
а'шьыжь
ау'сура
дцоит
- erkek
kardeşim
işe
sabahleyin
gider.<br />
Ахра
шьыбжьо'н
даа'ит
- Akhra
öğle
yemeğine
geldi.<br />
Шьыбжьы'шьҭахь
Наа'ла
даа'ит
- Naala
öğleden
sonra
geldi.<br />
Даме'ии
Гәди'сеи
а'шьыжь
амшы'н
ахь
ице'ит
- Damai
ve
Gudisa
sabahleyin
denize
gittiler.<br />
Наа'ла
лашьа'
шьыбжьо'н
ара'
крифе'ит
- Naala'nın
erkek
kardeşi
öğle
yemeğini
burada
yedi.<br />
Сашьа'
а'шьыжь
акрифо'ит,
уи'
а'шьҭахь
ау'сурахь
дцо'ит
- erkek
kardeşim
sabahleyin
yemek
yer
ve
ondan
sonra
işe
gider.
</p>

<p>
<b>Alıştırma 1</b><br />
Aşağıdakileri
Türkçe’ye
çevirin.
</p>

<p>
1. Сара'
исы'моуп
амашьы'на.
2. А'шьыжь,
шьыжьхьа'
а'шьҭахь,машьы'нала
ау'сура
сцо'ит.
3. Шьыбжьон
Наа'ла
лахь
сцо'ит.
4. Ка'ма
лашьа'
а'шьыжь
даауе'ит.
5. Ула'
сара'
сла'
е'иҧшуп.
6. Сашьа'
а'шьыжь
амшы'н
ахь
сиго'ит.
7. Гәди'сеи
Наа'леи
абра'
инхо'ит.<br />
<small><a href="answers2#e5-1">(Yanıtlar)</a></small>
</p>

<p>
Ve
şimdi
de
birazcık
gramer.
Fiillerin
soru
ve
emir
şekillerini
gördünüz.
Şimdi
bu
gördüklerinizi
bir
sisteme
oturtacağız.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Emir kipi</b> fiilin
kökünden
oluşur
(son
ek
yoktur).
</p>

<p>
Бца!
Git! (sen, bayan)
а-ца-ра
gitmek fiilinden.<br />
Ира!
(sen) al (onu)
а-га-ра
almak fiilinden.<br />
Ины'жь!
Bırak onu!
Ара'
ины'жь!
Onu
burada
bırak!<br />
Ана бгыл!
Orada ayakta dur!
Ара бааи!
Buraya gel!
Уцакы!
Acele et!
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Soru kipi</b> fiile -ма, -и
son
eklerinin
eklenmesiyle
oluşur.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>-ма</b> son eki ile<br />
Ари
бара
ибга<b>ма</b>?
Onu
aldın
mı?
(ага-ра
+ soru son eki -ма).<br />
Сара
саҧхьа
даа<b>ма</b>?
O
erkek
(bayan)
benden
önce
mi
geldi?<br />
Уара
уца<b>ма</b>?
Geldin mi?<br />
Наала
даа<b>ма</b>?
Naala geldi mi?<br />
Бара
ара
баанхо<b>ма</b>?
Sen
(bayan)
burada
mı
kalıyorsun?<br />
Лара
бара
былба<b>ма</b>?
O
bayan
seni
gördü
mü?
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>-да</b>
son eki ile, Kim? Kimin? Kime? sorularını
sormak
gerektiğinde
(canlı
sınıfı
ile
bağlantılı
olarak).<br />
Ари
агазеҭ
иаҧхьада?
Gazeteyi kim okudu?<br />
Ана'
иббода?
Sen(bayan)
orada
kimi
gördün?<br />
Аҧара
зыбҭада?
Sen
(bayan)
parayı
kime
verdin?
</p>

<p>
<b>Alıştırma 2</b><br />
Aşağıdaki
cümleleri
normal
şeklinden
soru
şekline
çevirin.
Bunun
zor
olmadığını
göreceksiniz.
Eğer
zor
gelirse
örneği
kullanınız.
</p>

<p>
Örnek:<br />
Уара
иахьа
уцоит.
Уара
иахьа
уцома?<br />
Камеи
Ахреи
ашкол
ахь
ицеит.
Ашкол
ахь
ицада?
</p>

<p>
Иара
ашкол
ахь
дцоит.<br />
Ахреи
Дамеии
ааит.<br />
Лара
аус
луеит.<br />
Уи
агазеҭ
даҧхьоит.<br />
Аҧша
асуеит.<br />
Бара
ара
бынхоит.<br />
Иара
ашкол
ахь
дцеит.<br />
<small><a href="answers2#e5-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Aşağıdaki
fiillerin
emir
kiplerini
yapar
mısınız?
Bunları
daha
önceden
gördünüz.<br />
Örnek.
ацара
(бара) >
бца!
</p>
<ol>
<li>а'фара
(бара;
уара);</li>
<li>абара'
(уара);</li>
<li>а'ҧхьара
(бара);</li>
<li>аҧшра'
(уара);</li>
<li>ацара'
(уара);</li>
<li>а'ццакра
(уара);</li>
<li>аагара'
(бара);</li>
<li>агы'лара
(бара;
уара);</li>
<li>агара'
(бара;
уара);</li>
<li>ааны'жьра
(бара;
уара);</li>
</ol>
<small><a href="answers2#e5-3">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 4</b><br />
Boş
yerler
uygun
zamir
ya
da
kişi
adlarını
koyunuz.
</p>

<table>
<tr>
<td width="200">... аусура бцоит</td>
<td>... аусура уцоит</td>
</tr>
<tr>
<td>... аусура дцоит</td>
<td>... аусура бцома?</td>
</tr>
<tr>
<td>... аусура уцома?</td>
<td>... аусура уца!</td>
</tr>
<tr>
<td>... аусура бца!</td>
</tr>
</table>
<small><a href="answers2#e5-4">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 5</b><br />
Aşağıdakileri
İngilizce’ye
çevirin.
</p>

<p>
1. Иара
ашьыжь
даауеит.
2. Иара
ашьыжь
даауама?
3. Ашьыжь
уааи!
4. Иара
сашьа
амашьына
ииҭеит.
5. Иара
сашьа
амашьына
ииҭама?
6. Сашьа
амашьына
иҭ.
7. Иара
шьыбжьон
машьынала
дааит.
8. Иара
шьыбжьон
машьынала
даама?
9. Шьыбжьон
машьынала
уаа!<br />
<small><a href="answers2#e5-5">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 6</b><br />
Zamirleri
uygun
fiillerle
birleştirin.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td width="100" align="center">
уара<br />
иара<br />
бара<br />
лара<br />
сара
</td>
<td width="150" align="center">
(а)крысфоит<br />
(а)крифоит<br />
(а)крылфоит<br />
(а)крыбфоит<br />
(а)круфоит
</td>
</tr>
<tr>
<td width="100" align="center">
уара<br />
иара<br />
бара<br />
лара<br />
сара
</td>
<td width="150" align="center">
ибымоуп<br />
иумоуп<br />
илымоуп<br />
исымоуп<br />
(и)имоуп
</td>
</tr>
</table>
<small><a href="answers2#e5-6">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 7</b><br />
Aşağıdaki
cümleleri
uygun
resimlerle
eşleştirin.<br />
Алхас
крифоит.
(Resim № ...)<br />
Дамеи
крифеит.
(Resim № ...)<br />
Сара
машьынала
аусурахь
сцоит.
(Resim № ...)
</p>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
<img src="/assets/img/5-1.gif" width="260" height="300" border="1" alt="Resim 1" /><br />Resim 1<br />
<img src="/assets/img/5-2.gif" width="250" height="313" border="1" alt="Resim 2" /><br />Resim 2<br />
<br />
<br />
<br />
<small><a href="answers2#e5-7">(Yanıtlar)</a></small>
</td>
<td>
<img src="/assets/img/5-3.gif" width="500" height="313" border="1" alt="Resim 3" /><br />Resim 3<br />
<img src="/assets/img/5-4.gif" width="500" height="475" border="1" alt="Resim 4" /><br />Resim 4
</td>
</tr>
</table>
