---
order: 308
title: Ders 8
subtitle:
- Soru zamirleri
- Pekiştirme
---

<dl class="subtitle">
<dt>ианба? Ne zaman? (soru zamiri)</dt>
<dd>Сара
аусурахь
сцоит.
İşe
giderim.</dd>
<dd>Ианба?
Ne zaman?
Иахьа.
Bugün</dd>
</dl>

<p>
<i class="fas fa-check grammar-rule"></i>
Soru zamiri
<b>ианба</b>? <b>Ne zaman</b>?,
bir
fiil
ile
birleştiğinde
yeni
bir
kelime
yaratılır.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Örneğin:
ианба? Ne zaman?
+
ацара gitmek
=
санбацеи?
Ben ne zaman gittim?
(сара+ианба+ацара+
<b><i>и</i></b> soru son eki.
</p>

<p>
Уанбацеи?
Sen (erkek) ne zaman gittin?
(<b>Уа</b>ра
+
и<b>анба</b>
+
а<b>ца</b>ра
+
<b><i>и</i></b>);<br />
Банбацеи?
Sen (bayan) ne zaman gittin?
(<b>Ба</b>ра
+
и<b>анба</b>
+
а<b>ца</b>ра
+
<b><i>и</i></b>);<br />
Данбацеи?
O erkek/bayan ne zaman gitti?
</p>

<p>
Eğer
mantığı
kavradıysanız
haydi
şimdi
biraz
çalışalım
ve
bazı
bildiğimiz
fiillerle
kullanalım.
</p>

<p>
<u>у</u>анба<u>и</u>геи?
O
erkek
seni
ne
zaman
aldı?
<i><b>уа</b>ра</i> sen (erkek)
+
<i><b>анба</b></i>
+
<i><b>и</b>ара</i> O erkek
+
<i>а<b>га</b>ра</i>
almak
+
<i><b>и</b></i>
soru son eki.<br />
<u>у</u>анбааи?
Sen (erkek) ne zaman geldin?
<u>б</u>анбааи?
Sen  (bayan) ne zaman geldin?<br />
абара "görmek"
<u>И</u>анбазбеи?
Ben
(erkek)
ne
zaman
gördüm?<br />
Bu
modelleri
kullanarak
sözcükler
üretebilirsiniz,
ayrıca
diğer
soru
zamirlerini
kullanarak
da
aynı
sözcükleri
üretebilirsiniz.
Örneğin: <b>иаба</b>? Nerede? Nereye?
</p>

<p>
Ахра,
сла
убама?
Akhra, köpeğimi
gördün
mü?<br />
Ааи,
избеит.
Evet
Onu
gördüm.<br />
<b>Иаба</b>?
Nerede?
/
(Иабаубеи?)
Nerede
+
sen
(erkek)
+
gördün
+
Onu?<br />
Ула
сашьа
имоуп.
Senin
köpeğin
erkek
kardeşimin
yanında.
</p>

<p>
Саба'убеи?
Sen
(erkek)
nerede
beni
gördün?
(beni (с)
+
nerede (и)аба
+
sen (у)
+
görmek (ба >бе)
+
и soru son eki).<br />
Даба'убеи?
O
erkeği
/
kadını
nerede
gördün?
(kelime
kelime
çevirisi:
O
erkeği/O
kadını
nerede
sen
gördün?)
</p>

<p>
ацара gitmek
даба'цеи? O erkek / bayan nereye gitti?<br />
агара almak, götürmek
<u>у</u>аба'<u>и</u>геи? O
erkek
seni
(erkek)
nereye
götürdü?;
<u>и</u>аба'<u>у</u>геи O
erkek
o
cansızı
nereye
götürdü?<br />
аара gelmek
<u>у</u>аба'аи? Sen (erkek) nereye geldin?
<u>С</u>аба'аи? Ben (erkek) nereye geldim?<br />
абара görmek
<u>И</u>аба'<u>з</u>беи?
Ben
o
cansızı
nerede
gördüm?
(kelime
kelime
çeviri:
onu
nerede
ben
görmek).
</p>


<p>
<b>Alıştırma 1</b><br />
Soru
zamirlerini
kullanarak
cümleler
kurun.
Örneğin:
</p>
<p>
Ахра,
иахьа
Кама
дубама?
Ааи,дызбеит.
Дабаубеи?
Кама
ана
аус
луеит...
</p>

<p>
<b>Alıştırma 2</b><br />
Okuyun
ve
uygun
çeviriyi
seçin.
</p>
<table>
<tr>
<td style="background-image:url(/assets/img/150x1.gif)" width="151">
Бара
ианба'ббеи?
</td>
<td>
Onu
ne
zaman
almalıyım?<br />
Nereye
gidiyorsun
(erkek)?<br />
O
bayan
ne
zaman
geliyor?<br />
Sen
(bayan)
ne
zaman
onu
gördün?<br />
Sen
(erkek)
ne
zaman
gidiyorsun?
</td>
</tr>
<tr><td> </td></tr>
<tr>
<td style="background-image:url(/assets/img/150x1.gif)" width="101">
Сара
ианба'згои?
</td>
<td>
Onu
ne
zaman
almalıyım?<br />
Nereye
gidiyorsun
(erkek)?<br />
O
bayan
onu
ne
zaman
alacak?<br />
O
erkek
onu
ne
zaman
görecek?<br />
Sen
(erkek)
ne
zaman
geleceksin?
</td>
</tr>
<tr><td> </td></tr>
<tr>
<td style="background-image:url(/assets/img/150x1.gif)" width="101">
Уара
иаба'убеи?
</td>
<td>
O
erkek
onu
ne
zaman
gördü?<br />
Nereye
gidiyorsun
(erkek)?<br />
Nereye
bakıyorsun?<br />
Sen
(erkek)
onu
ne
zaman
gördün?<br />
O
bayan
onu
nereye
götürdü?
</td>
</tr>
</table>
<small><a href="answers3#e8-2">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 3</b><br />
Aşağıdaki
sözcükleri
çevirin.
</p>
<ol>
<li>санба'цеи?</li>
<li>банба'аи?</li>
<li>ианба'лгои?</li>
<li>ианбазгои?</li>
<li>санба'убеи?</li>
<li>уаба'цеи?</li>
<li>саба'аи?</li>
<li>иаба'згои?</li>
<li>даба'ауеи?</li>
<li>даба'ҧшуеи?</li>
<li>даба'ццакуеи?</li>
<li>даба'убеи?</li>
</ol>
<small><a href="answers3#e8-3">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 4</b><br />
Parantezleri
kaldırın
ve
Abhazca
cümleler
kurun.
</p>
<p>
Örnek:
Уара
(иаба+агара)
-
Уара
иабаугеи?<br />
Сара
(иаба+ацара)?
Лара
(ианба+ацара)?
Уара
(ианба+агара)?
Иара
(иаба+агара)?
Лара
(ианба+аара)?
Иара
(иаба+аара)?
Бара
(ианба+абара)?
Сара
(ианба+абара)?<br />
<small><a href="answers3#e8-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Aşağıdakileri
Abhazca’ya
çevirin.
</p>
<p>
1.
Sen
(erkek)
ne
zaman
ayrılıyorsun?
2.
O
bayan
ne
zaman
geliyor?
3.
Sen
(bayan)
onu
ne
zaman
gördün?
4.
Sen
(bayan)
onu
nerede
gördün?
5.
O
erkek/bayan
/
cansız
nereye
gitti?<br />
<small><a href="answers3#e8-5">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 6</b><br />
Aşağıdakileri
Türkçe’ye
çevirin.
</p>
<p>
1. Уабацои?
2. Лара
данбаауеи?
3. Бара
иабаббеи?
4. Бара
ианббаббеи?
5. Уара
уанбацои?
6. Ала
(и)анбацеи?
7. Лара
дабаццакуеи?<br />
<small><a href="answers3#e8-6">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 7</b><br />
Bir
önceki
dersteki
sözcükleri
kullanarak
diyalogları
tamamlayın.</p>
<ul>
<li>Мшыбзиа,
Кама!</li>
<li>...</li>
<li>Бабацои?</li>
<li>...</li>
<li>Кама,
Ахра
дыббама?</li>
<li>...</li>
<li>Данбаббеи?</li>
<li>...</li>
<li>Бара
быццакуама?</li>
<li>...</li>
<li>Бааи,
машьынала
бызгоит.</li>
<li>...</li>
</ul>
<small><a href="answers3#e8-7">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 8</b><br />
Sol
kolondaki
sözcüklerle
sağ
taraftakileri
birleştirerek
daha
önceden
bildiğiniz
cümleleri
oluşturun.
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>Кама<br />
сара<br />
иара<br />
сашьа<br />
лара<br />
сара</td>
<td>сабаубеи<br />
дабаубеи<br />
данбааи<br />
дабаццакуеи<br />
иабазгои<br />
ианбабгеи</td>
</tr>
</table>
<small><a href="answers3#e8-8">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 9</b><br />
Dinlediklerinize
(<i class="fas fa-check grammar-rule"></i>)
işareti
koyun.
</p>
<table cellspacing="0" cellpadding="0">
<tr>
<td width="100">{% include audio.html file="8-1" %}
Дабацеи?</td>
<td>Иабеигеи?</td>
</tr>
<tr>
<td>Данбацеи?</td>
<td>Ианбеигеи?</td>
</tr>
<tr>
<td>Уанбазгои?</td>
<td>Ианбаббеи?</td>
</tr>
<tr>
<td>Ианбазгои?</td>
<td>Иабаббеи?</td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Санбаубеи?</td>
<td>Дабаццакуеи?</td>
</tr>
<tr>
<td>Сабаубеи?</td>
<td>Иабаццакуеи?</td>
</tr>
<tr>
<td>Данбаауеи?</td>
<td>Иабазго?</td>
</tr>
<tr>
<td>Дабаауеи?</td>
<td>Ианбазгои?</td>
</tr>
</table>

<p>
<i class="fas fa-check grammar-rule"></i>
аи
/
иа
harflerinin
ие
/
еи
/
е
harflerine
dönüştüğünü
unutmayın.
Bu
yüzden
<b>ба</b>
(абара)
<b>+ и = беи</b>
ve
<b>га</b> (агара)
<b>+ и = геи</b>
olmuştur.
Иабеигеи?
Ианбе'игеи?
</p>

<p>
Yeni
sözcükler
</p>

<p>
{% include audio.html file="8-2" %}
иаба'? nerede? nereye?<br />
ианба'? ne zaman?
</p>
