---
order: 309
title: Ders 9
subtitle:
- Alfabeyi tanımaya devam: yeni harfler ve sesler Ҕ ҔЬ ҔӘ
- Sözcüklerle çalışma
- Pekiştirme
---

<p>
Ҕ
sesi
Güney
Rusya’da
kullanılan
Г
sesini
andırır.
Bunun
yumuşak
şekli
ҔЬ,
ve
yuvarlak
şekli
ise
ҔӘ’
dir.
</p>

<p>{% include audio.html file="9-1" %}
ҕ ҕь ҕә
</p>

<p>Bu
sözcükleri
ve
ifadeleri
hatırlayın!</p>

<p>{% include audio.html file="9-2" %}
аҕба
gemi.
А'ҕба
(и)аа'ит.
Gemi
geldi.<br />
а'иҕьра
(е'иҕьра)
daha
iyi.
Ари'
е'иҕьуп.
O daha iyi.<br />
а'иҕьхара
(е'иҕьхара)
iyileşmek.
Ари'
е'иҕьхеит.
O daha iyi (oldu).<br />
абҕьы'
yaprak<br />
абҕьы'ц
абҕьы’nın
küçüğü.<br />
а'ҕәҕәа
güçlü.
Иара'
дыҕәҕәо'уп.
O
erkek
güçlüdür.<br />
иҕәҕәаны
güçlüce
(güçlü olarak).
Аҧша'
(и)ҕәҕәаны'
(и)а'суеит.
Rüzgar
güçlü
esiyor.<br />
аҭы'нч
sessiz,
huzurlu,
sakin.
Амшы'н
иахьа'
иҭы'нчуп.
Deniz
bugün
sakin.<br />
аба'р
burada,
orada.
Аба'р
амшы'н
Deniz
burada
/
Deniz
orada.<br />
агәабзи'ара
sağlık<br />
иацы'
/
ецы'
dün
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Cansız
sınıf
göstergesi
olan
и(а)’ın
bazı
yerlerde
kaybolduğunu
unutmayın.
Bu
durumlarda
biz
onu
parantez
içersinde
göstereceğiz.
Örneğin:
(и)ааит;
(и)ҕәҕәаны;
(и)асуеит.
</p>

<blockquote>
Metni okuyun.
</blockquote>

<p>
Metni
ezberlemenizi
tavsiye
ederiz.
Bu
size
aktif
bir
sözcük
dağarcığı
için
hızlı
bir
öğrenme
sağlayacaktır.
</p>

<p>{% include audio.html file="9-3" %}
- Сара'
иахьа'
Ҕәа'да
сцо'ит.
Уара'
уаба'цои?<br />
- Сара'
Ҧсо'у
сца'роуп.
Асҭа'нда
Абҕархы'қә
дцо'ит.<br />
- Уара'
уанба'цои?<br />
- Иахьа'
сца'роуп.
Иацы'
аҧша
ҕәҕәа
а'суан.
Иахьа'
амшы'н
ҭы'нчуп,
ҕбала'
сцо'ит.<br />
- Аба'р,
у'ҕба
аа'ит,
уццакы'!</p>

<p>
-
Bugün
Gwada’ya
gidiyorum.
Ya
sen
nereye
gidiyorsun
(erkek)?<br />
-
Psoy’a
gitmeliyim.
Astanda
Abgarkhika’ya
gidiyor.<br />
-
Ne
zaman
gidiyorsun?<br />
-
Bugün
gitmeliyim.
Dün
güçlü
bir
rüzgar
vardı.
Bugün
deniz
saki,
Gemiyle
gidiyorum.<br />
-
Bak,
gemin
geldi,
koş!
</p>

<p>
<b>Alıştırma 1</b><br />
Aşağıdakileri
Türkçe’ye
çevirin.
</p>
<p>
1. Сара
иахьа
ақалақь
ахь
сцоит.<br />
2. Кама
ақыҭахь
дцароуп.<br />
3. Бабаццакуеи?<br />
4. Амашьына
аауеит,
сашьа
ашкол
ахь
сигоит.<br />
5. Иара
дыҕәҕәоуп.<br />
6. Иахьа
амш
бзиоуп.<br />
7. Амшын
ҭынчуп.<br />
8. Ахра
данбацеи?<br />
9. Иахьа,
ҕбала
дцеит.<br />
10. Аҧша
ҕәҕәаны
иасуеит,
ахьҭа
сакит.<br />
11. Наала,
исыҭ
абҕьыц
цқьақәа.<br />
<small><a href="answers3#e9-1">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 2</b><br />
Aşağıdakileri
Abazacaya
çevirin.
</p>
<p>
1.
Gemi
bugün
geldi.<br />
2.
Kasabaya
ne
zaman
gidiyorsun?<br />
3.
Bugün
gitmeliyim.<br />
4.
Dün
güçlü
bir
rüzgar
vardı.<br />
5.
Bugün
deniz
sakin.<br />
6.
Naala
nereye
acele
ediyor?<br />
7.
O
işe
acele
ediyor.<br />
8.
Ne
zaman
geldin?<br />
9.
Dün.
Gemi
ile
geldim.<br />
<small><a href="answers3#e9-2">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 3</b><br />
Aşağıdaki
sözcüklerle
cümleler
kurun.
Zorlandığınızda
alıştırmaların
cevaplarına
bakabilirsiniz!
</p>
<p>
1. уара,
ацара,
ианба.<br />
2. лара,
аусура,
ахь,
аццакра.<br />
3. Кама,
сла,
агара,
иацы.<br />
4. иаба,
абара,
сашьа,
уара.<br />
5. ацара,
ианба,
уара,
амшын ахь.<br />
6. амашьына,
аара,
иахьа.<br />
7. машьынала,
сашьа,
иацы,
аара.<br />
8. асра,
аҧша,
иахьа,
аҕәҕәа.<br />
<small><a href="answers3#e9-3">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 4</b><br />
Bu
derste
bir
çok
faydalı
sözcük
ve
ifadeler
öğrendiniz.
Bunları
kullanarak
bir
diyalog
oluşturabilir
misiniz?<br />
Belki
aşağıdaki
bir
iki
örnek
size
fikir
verebilir:
</p>
<p>
1. Bugün
güzel
bir
gün.
Dün
rüzgarlıydı.<br />
2. Acelen
var.
Senin
erkek
kardeşin
geliyor,
o
seni
okula
ya
da
işe
götürü.<br />
<small><a href="answers3#e9-4">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 5</b><br />
Verilen
temel
kelimeye
bir
ya
da
iki
kelime
ekleyerek
cümleler
oluşturun.
</p>
<p>
Örnek: аҕба...
->
аҕба
ааит;
абар...
->
абар
аҕба;
ацара...
->
ҕбала
сцоит.
</p>
<table cellpadding="0" cellspacing="0">
<tr>
<td width="150">аҕәҕәа-></td>
<td>аҭынч-></td>
</tr>
<tr>
<td>иацы-></td>
<td>ацара-></td>
</tr>
<tr>
<td>абар-></td>
<td>аҧша-></td>
</tr>
<tr>
<td>ақыҭа-></td>
<td>аццакра-></td>
</tr>
<tr>
<td>амш-></td>
<td>агара-></td>
</tr>
</table>
<small><a href="answers3#e9-5">(Yanıtlar)</a></small>
