---
title: Tekrar 7
order: 799
---

<p>19-22. derslerin tekrarı</p>

<p>{% include audio.html file="r7-1" %}
а́ӡҕаб kız. (Eş anlamlısı аҭыҧҳа́ kız, genç kadın).<br />
а́ӡра kaybolmak. иӡит kayboldu<br />
а́рӡра kaybetmek. Исы́рӡит. Kaybettim.<br />
аӡра́ kızartmak. Изӡи́т. Kızarttım.<br />
а́ӡсара yüzmek, дыӡсо́ит yüzüyor, дыӡсеит yüzdü<br />
а́ӡын kış. Иаа́ит а́ӡын. Kış geldi.<br />
аӡы́ su. Аӡы́ хьшәа́шәоуп. Su soğuk.<br />
ахьӡ isim, ad<br />
а́хьӡзаара adı olmak, denmek. Сара́ исы́хьӡуп
Ахра. Benim adım Ahra. Уара́ иухьӡуи? Senin adın ne?<br />
ахьӡара́ yetişmek, yakalamak. Сара́ Наала слыхьӡе́ит. Naala'ya
yetiştim.<br />
аӡәы́ bir (insan sınıfı); biri, birisi.<br />
а́ӡәӡәара yıkamak; çamaşır yıkamak (сыӡӡәо́ит yıkıyorum,
сыӡәӡәо́н yıkıyordum).<br />
аа́хәара satın almak (иаа́схәеит satın aldım, иаа́схәон satın
alıyordum). Аҩны аасхәеит. Ev satın aldım.<br />
а́хьшәашәа soğuk (ихьшәа́шәоуп soğuktur, ихьшәа́шәан soğuktu).
Аҳауа хьшәа́шәоуп. Hava soğuk.<br />
ахьшәа́шәахара soğumak.
Ихьшәа́шәарахеит. Hava soğudu.<br />
асы́ kar. Асы́ аура́ yağmak (kar için).
А́ӡын асы́ ауе́ит. Kışın kar yağar.<br />
а́ҧшӡа güzel (иҧшӡо́уп güzeldir, иҧшӡа́н güzeldi).
</p>

<p>
<b>Alıştırma 1</b><br />
Resimlere bakın. Onlarda gösterilen insanlar ne yapıyor?
Resimleri tanımlamak için verilen fiilleri kullanın.
</p>
<p>
<table border="0" cellpadding="6" cellspacing="0">
<tr>
<td align="center">ацәажәара<br /><img src="/assets/img/r7-1.png" width="300" alt="Resim 1" /></td>
<td align="center">ахәмарра<br /><img src="/assets/img/r7-2.png" width="300" alt="Resim 2" /></td>
</tr>
<tr>
<td align="center">а́цәара<br /><img src="/assets/img/r7-3.png" width="300" alt="Resim 3" /></td>
<td align="center">агара́<br /><img src="/assets/img/r7-4.png" width="300" alt="Resim 4" /></td>
</tr>
<tr>
<td align="center" colspan="2">адәылҵра<br /><img src="/assets/img/r7-5.png" width="300" alt="Resim 5" /></td>
</tr>
</table>
</p>

<p>
<b>Alıştırma 2</b><br />
Fiili uygun zamir formuyla uyumlu hale getirin. Onları çevirmeyi
de deneyin. Fiilin zaman formuna dikkat edin.
</p>
<p>
Örnek: ҳцәажәоит, ҳара, konuşuyoruz, sohbet ediyoruz.
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr><td>быцәап,</td><td>иҭаиҭәоит,</td></tr>
<tr><td>уцома?</td><td>стәам</td></tr>
<tr><td>ҿылҭит,</td><td>(и)азгәаҳҭоит</td></tr>
<tr><td>ихәмаруеит,</td><td>иутәума?</td></tr>
<tr><td>ҳагхом,</td><td>акрысфап,</td></tr>
<tr><td>шәдәықәлоит,</td><td>илҵьит</td></tr>
</table>
<small><a href="answers7#r7-2">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 3</b><br />
Tematik tabloyu bildiğiniz kelimelerle doldurun.
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr><th>Yiyecek</th><th>İnsanlar</th><th>Doğa</th></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>

<p>
<b>Alıştırma 4</b><br />
Cümle çiftlerini dinleyin ve spikerin söylediğini işaretleyin (√).
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
{% include audio.html file="r7-2" %}
1. а) Амш цәгьахоит.<br />
&nbsp;&nbsp;&nbsp;б) Амш цәгьахеит.<br /><br />
2. а) Ҳара акаҳуа аажәуеит.<br />
&nbsp;&nbsp;&nbsp;б) Ҳара акаҳуа аажәит.<br /><br />
3. а) Ана сгылан.<br />
&nbsp;&nbsp;&nbsp;б) Ана сгылап.<br /><br />
4. а) Саб ашәҟәы игәаҧхеит.<br />
&nbsp;&nbsp;&nbsp;б) Саб ашәҟәы игәамҧхеит.<br /><br />
5. а) Амаҭәа ҿыц аазгап.<br />
&nbsp;&nbsp;&nbsp;б) Амаҭәа ҿыц згап.
</td>
<td valign="top">
6. а) Аҧсшәа аҵара шәаҿуп.<br />
&nbsp;&nbsp;&nbsp;б) Аҧсшәа аҵара шәаҿума?<br /><br />
7. а) Ахәыҷы ҕиҭуеит.<br />
&nbsp;&nbsp;&nbsp;б) Ахәыҷы ҕиҭуан.<br /><br />
8. а) Шьыжьымҭан сгылап.<br />
&nbsp;&nbsp;&nbsp;б) Шьыжьымҭан сгылоит.<br /><br />
9. а) Саб аҧара сиҭоит.<br />
&nbsp;&nbsp;&nbsp;б) Саб аҧара сиҭом.<br /><br />
10. а) Бан блыцхраа.<br />
&nbsp;&nbsp;&nbsp;&nbsp;б) Бан блыцхраап.
</td>
</tr>
</table>

<p>
<b>Alıştırma 5</b><br />
Verilen köklere anlamca zıt olan kelimeleri bulun.<br />
Örnek: ацара, аара.
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
аҩна́лара<br />
атәара́,<br />
агара́,<br />
ара́,<br />
ашәцара́,
</td>
<td valign="top">
абаазара́,<br />
апҳа́,<br />
анеира,<br />
а́пхын,<br />
апҳәыс,
</td>
</tr>
</table>
<small><a href="answers7#r7-5">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 6</b><br />
Fiilleri örneğe göre çekimleyin:
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара сыцәеит<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара сагхеит<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара иаасхәуеит<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара исыхьӡуп<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<small><a href="answers7#r7-6">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 7</b><br />
Örneğe göre gelecek zamanı oluşturun
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
агылара, сгылап<br />
атәара, стәап<br />
ацара,<br />
адәықәлара,<br />
аҭаҭәара,<br />
ажәра,<br />
аҩра,<br />
афара,<br />
аҵьра,<br />
адәылҵра,
</td>
<td valign="top">
аҽазыҟаҵара,<br />
аҕыхра,<br />
ацәахра,<br />
ацәара,<br />
апшра,<br />
ацәажәара,<br />
апхьара,<br />
аҭалара,<br />
алагара,<br />
аныҟәара
</td>
</tr>
</table>
<small><a href="answers7#r7-7">(Yanıtlar)</a></small>

<p>
<b>Alıştırma 8</b><br />
Abhaz diline çevirin. Önceki derslerin kelime bilgisini tekrar
etmeyi unutmayın!
</p>
<p>
1. Üniversiteye girdin mi? 2. Benim çok arkadaşım var.
3. Abhazca öğreniyoruz. 4. Yarın eve gideceğim. 5. Okumayı
seviyor musun? Evet, ama üniversitede okumak zor. Çok çalışmak
gerekiyor. 6. Vedalaştık ve Kama eve gitti. 7. Bugün güzel bir
gündü, ama sonra yağmur yağdı. 8. Sonbaharda ağaçların yaprakları
sararır. 9. Kardeşim kitabı bir yere sakladı. 10. Mizan, hadi
gidelim, yeni kitabı okuyalım. 11. Annem üniversitede çalışıyor.
İşini seviyor. Sakin, akıllı olduğunu söylüyorlar, iyi bir
karakteri var. 12. Sabah kalktım, giyindim, yemek yedim ve
evden çıktım. Acele ediyordum, okula geç kalıyordum. 13. Kardeşim
bana her zaman para verir. 14. Onların çocuğu avluda, oynuyor.
15. Bugün Zafer Bayramı'nı kutluyoruz. 16. Acele et, Kama,
misafirler geldi. 17. Anneme her zaman yardım ederim. 18. Büyük
kardeşimin adı Ahra. 19. Sabah pazara gittik.<br />
<small><a href="answers7#r7-8">(Yanıtlar)</a></small>
</p>

<p>
<b>Alıştırma 9</b><br />
Türkçeye çevirin.
</p>
<p>
1. Шәара ауниверситет аҿы ацара шәцома?
2. Шьыжьымҭан ҳгәылацәа аауеит, акаҳуа аажәуеит.
3. Кама, бгыл, ашкол багхоит. 4. Дамеи, арҵаҩы
ишәылҭаз адҵа ҟауҵама? — Мап, нас иҟасцап! 5. Ақәа
аура иалаган, аҩныҟа ҳаҩналеит. 6. «Абзиараз» еибаҳҳәан,
Наала амашьына дҭалеит. 7. Саҳәшьа хәыҷы
иацы маҷк ашкол дагхеит. 8. Аҵаҩцәа ашкол аҿы
ашәҟәқәа ирыҧхьоит, аҽаршьцыларақәа рыҩуеит.
9. Рыҩны аҧхьа адәқьан гылоуп. 10. Асабша
аџьармыкьахь шәцома? 11. Сан афатә лырхиоит, сара
слыцхраауеит. 12. Башьа еиҳабы, Дамеи ихьӡума?
13. Сара сынхоит Аҟәа. 14. Ари аҩны шәара ишәтәума?
15. Акрыфарҭа ҳдәылҵны аҩныҟа ҳцеит.<br />
<small><a href="answers7#r7-9">(Yanıtlar)</a></small>
</p>
