.hide-audio .audio {
  display: none;
}

a:has(.whatsapp-mobile) {
  display: block;
}

a:has(.whatsapp-web) {
  display: none;
}

@media all and (min-width: 850px) {
  a:has(.whatsapp-mobile) {
    display: none;
  }

  a:has(.whatsapp-web) {
    display: block;
  }
}