---
order: 617
title: Lesson 17
subtitle:
  - Verb tense forms
---

<p>
We already know three tense forms of the Abkhazian language:<br />
present I (static verbs) -уп<br />
present II (dynamic verbs) -оит\\-уеит<br />
past perfect -ит.
</p>

<p>
Let's get acquainted with other tense forms.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Past <i>imperfect</i></b> tense is formed using
the suffix <b><i>–он:</i></b> иҟаиҵ<b>он</b>
he was doing, исф<b>он</b> I was eating.<br />
<i class="fas fa-check grammar-rule"></i>
In the past perfect (with suffix -ит)
we have a completed action, a final result.
In the past imperfect there is no final result.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Remember the proverb!<br />
<span>{% include audio.html file="17-1" %}</span>
«Ан лыҧҳа' дла'бжь<b>он</b>, аҧҳа' а'мҵқәа
лыҧхьаӡ<b>о'н</b>.
The mother was teaching her daughter, and the daughter was counting flies.
</p>

<p>
<b>Past <i>indefinite</i></b> tense is formed using the suffix <b><i>-н</i></b><br />
This tense form is almost never used independently in a sentence.
It is used in connection with another tense form.
Its non-independence arises from the incompleteness of the meaning
it gives to the verb.<br />
Cf.: изга'н I took and...; ибфа'н you (f) ate and...
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Future</b> tense is formed using
the suffix <b><i>-п:</i></b> иҟасҵа'<b>п</b> I will do;
исфа'<b>п</b> I
will eat; изҩы'<b>п</b> I will write, сца'<b>п</b> I will go.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Reminder! If the verb stem ends in <b><i>-а</i></b>
then according to the phonetic rules of the Abkhazian language the combination <b><i>-aya</i></b> (a+suffix -уа(ит))
gives <b><i>-уо</i></b> or <b><i>–o. (a+ya//ay+a = oy//o).</i></b><br />
The combinations <b><i>иa, aи, аиа</i></b> give variants <b><i>иe, eи, e.</i></b>
</p>

<table width="400">
<tr><th>Table of tense forms</th></tr>
</table>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<th>Tense forms</th>
<th>suffixes</th>
<th>examples</th>
</tr>
<tr>
<td>present static</td>
<td>-уп</td>
<td>сгылоуп</td>
</tr>
<tr>
<td>present dynamic</td>
<td>-оит, -уеит</td>
<td>бгылоит, быҧшуеит</td>
</tr>
<tr>
<td>past perfect</td>
<td>-ит</td>
<td>уаҧхьеит, уҧшит</td>
</tr>
<tr>
<td>past imperfect</td>
<td>-он</td>
<td>ибон, ифон</td>
</tr>
<tr>
<td>past indefinite</td>
<td>-н</td>
<td>илбан, илфан</td>
</tr>
<tr>
<td>future</td>
<td>-п</td>
<td>иҟасҵап, исфап</td>
</tr>
</table>

<p>
<b>Exercise 1</b><br />
Fill in the missing words
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>present static</td>
<td>сгы'лоуп I stand, сио'уп I lie</td>
</tr>
<tr>
<td>present dynamic</td>
<td>...</td>
</tr>
<tr>
<td>past perfect</td>
<td>...</td>
</tr>
<tr>
<td>past imperfect</td>
<td>...</td>
</tr>
<tr>
<td>past indefinite</td>
<td>...</td>
</tr>
<tr>
<td>future</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-1">(Answers)</a></small>

<p>
<b>Exercise 2</b><br />
Fill in the missing words
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>present dyn.</td>
<td>са'пхьоит I read, сны'ҟәоит I walk, сыҩна'лоит I enter</td>
</tr>
<tr>
<td>past perfect</td>
<td>...</td>
</tr>
<tr>
<td>past imperfect</td>
<td>...</td>
</tr>
<tr>
<td>past indefinite</td>
<td>...</td>
</tr>
<tr>
<td>future</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-2">(Answers)</a></small>

<p>
<b>Exercise 3</b><br />
Fill in the missing words
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>present dyn.</td>
<td>исшәы'сҵоит I put on (clothes), исҵоит I study, (и)иго'ит takes
</td>
</tr>
<tr>
<td>past perfect</td>
<td>...</td>
</tr>
<tr>
<td>past imperfect</td>
<td>...</td>
</tr>
<tr>
<td>past indefinite</td>
<td>...</td>
</tr>
<tr>
<td>future</td>
<td>...</td>
</tr>
</table>
<small><a href="answers6#e17-3">(Answers)</a></small>

<blockquote>New words and expressions.</blockquote>

<p>{% include audio.html file="17-2" %}
аиара' to lie, сио'уп I lie, биоуп you (f) lie.<br />
ашәҟәы'ҩҩы writer.
Ашәҟәы'ҩҩы ашәҟәы' иҩи'т.
The writer wrote a book.<br />
ауасҭа' master, craftsman. Ауасҭа' иу'с иды'руеит.
The master knows his work.
</p>

<p>
<b>Exercise 4</b><br />
Translate the sentences and determine their
tense form.
</p>
<p>
1. Абиблиоте'каҟны ашәҟәы' зге'ит.<br />
2. Ари' ашәҟәы' са'ҧхьоит, нас абиблиотекахь изгоит.<br />
3. Ари сҩыза бзиа лоуп.<br />
4. Иахьа ауасҭа дызбон.<br />
5. Уи ашәҟәы бзиан.<br />
6. Ари аҩы аҩныҟа изгап.<br />
<small><a href="answers6#e17-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Determine the tense form of the following verbs:<br />
(It will be useful for you to review once more
the grammar comments on this lesson).
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>изгал</td>
<td>future</td>
<td>дыҧшит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>саҧхьон</td>
<td>...</td>
<td>даауеит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>бгылан</td>
<td>&nbsp;</td>
<td>иҟасҵап</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>иуфал</td>
<td>&nbsp;</td>
<td>илбон</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>ицеит</td>
<td>&nbsp;</td>
<td>ҳцоит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>избап</td>
<td>&nbsp;</td>
<td>ирфеит</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>сааит</td>
<td>&nbsp;</td>
<td>сгылоуп</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>дзысон</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
<small><a href="answers6#e17-5">(Answers)</a></small>

<p>
<b>Exercise 6</b><br />
Determine the subject (person) of the verb action:
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>бгылоит → бара</td>
<td>ирдыруан → ...</td>
</tr>
<tr>
<td>ифон → ...</td>
<td>иҟалҵап → ...</td>
</tr>
<tr>
<td>сиоуп → ...</td>
<td>ишәымоуп → ...</td>
</tr>
<tr>
<td>иргеит → ...</td>
<td>иааргеит → ...</td>
</tr>
<tr>
<td>иаҳҵап → ...</td>
<td>ирҩуан → ...</td>
</tr>
</table>
<small><a href="answers6#e17-6">(Answers)</a></small>

<p>
<b>Exercise 7</b><br />
Translate into Abkhazian.<br />
1. The writer is writing a book.<br />
2. I will lie down, you (f) take Akhra to school.<br />
3. I will do my assignment later.<br />
4. Someone came into the house and took the money.<br />
5. Yesterday she was here.<br />
6. She learned this assignment well.<br />
7. I will eat this meat.<br />
<small><a href="answers6#e17-7">(Answers)</a></small>
</p>

<p>
Goodbye!
</p>
