---
order: 618
title: Lesson 18
subtitle:
  - Continuing to learn the sounds of the Abkhazian language цә
  - Working with vocabulary.
  - Grammar. Negative forms.
---

<p>{% include audio.html file="18-1" %} Цә, Цә</p>
<p>
-цаа suffix of plural number of human class.<br />
аҩы'за friend, аҩы'зцәа friends.<br />
ацәа' skin; bark; cover.<br />
ацәа'жәара to speak, to talk.
Ҳара' ҳцәа'жәоит. We are talking, conversing.
Алха'с А́'мра дла'цәажәоит.
Alkhаs is talking with Amra.<br />
а'ицәажәара to talk (with each other); to negotiate.
Ҳаицәажәеит. We talked.<br />
а'цәара to sleep; to go out (of light). Ауаҩы' дыцәоуп.
The person is sleeping. Алашара (и)ы'цәеит. The light went out.<br />
а'цәгьа difficult. Абызшәа' аҵара' цәгьо'уп.
It is difficult to learn a language.<br />
а'цагьахара to become bad, to deteriorate.
Амш цәгьахе'ит. The weather has deteriorated.<br />
ацәқәырҧа' wave. Ацәқәырҧақәа' ду'хеит.
The waves became big.<br />
ацәқәырҧара' to become rough (about the sea).
Амшы'н цәқәырҧо'ит. The sea is rough.<br />
а'рацәа multitude, рацәаҩны' many (in relation to human class).
Рацәаҩны аҩызцәа имоуп. He has many friends.<br />
абааӡара' to get wet.<br />
акахуа' coffee<br />
аба' dried (about wet things)<br />
абара' to dry (about wet things)
</p>

<blockquote>
Read and remember the text!
</blockquote>
<p>
{% include audio.html file="18-2" %}
Ице'ит аа'ҧын. Иаа'ит а'ҧхын. Сара' ауниверсите'т
сҭа'леит. Apa' сара' аҩы'зцәа рацәаны' исы'моуп. Жәацы'
Ка'ма лашьа' Даме'и дызбо'н. Даме'и ҳара' ҳауниверсите'т
аҟны' ацара' ицо'ит. Иаре'и саре'и авто'бус ҳайцҭа'леит.
А'ҧсшәа еиба'ҳҳәеит. Сара' сиа'зцааит: - Ицәгьо'ума
ауниверсите'т аҟны' аҵа'ра аҵара'? «Аа'и, ицәго'уп -
иҳәе'ит уи. Ирацәаны' ау'с уу'роуп».
<br />
Иацы' иаре'и саре'и амшы'н аҟәараҟны' ҳлеиҩе'иуан,
акахуа' ҳжәуа'н, ҳаицәа'жәон.
<br />
Амш бзи'ан, аха' аҧша' а'суан, амшы'н цәқәырҧо'н.
«Амш цәгьахо'ит» - иҳәе'ит Даме'и. Ацәқәырҧақәа'
ду'хеит, ақәа' аура' (и)а'лагеит. Ҳара' ҳаццаки'т аҩныҟа.
Даме'и ии'кыз ашәҟәы' ацәа' бааӡе'ит. Сара' са'хь аҩны'ҟа
ҳнеит. Ибааӡа'з ҳшәа'ҳхит, иба'з ҳшәа'ҳцеит.
Нас ибааӡа'з ҳарбеит.
Даме'и ара' уаангы'л ҳәа иа'сҳәеит. -
«Иҭабу'п, аҩны'ҟа сцалароуп» иҳәе'ит Дамеи.
Абзи'араз еиба'ҳҳәеит, нас уи аҩны'ка дцеит.
</p>

<p>
Spring has passed. Summer has come. I entered the university.
Here I have many friends. The day before yesterday I saw Damei,
Kama's brother. Damei studies at our university.
We got on the bus together. We greeted each other.
I asked him: "Is it difficult to study at the university?"
"Yes, it's difficult" - he said. "One must work a lot".
Yesterday evening we walked together along the seashore,
drank coffee, and talked. It was a good day,
however the wind was blowing and the sea was rough. "The weather is deteriorating", -
said Damei.
<br />
The waves became big, it started to rain. We hurried home.
The cover of the book that
Damei was holding got wet. We came to my home. We took off the wet things
and put on dry ones. Then we dried the wet things. I
said to Damei - "Stay here". Damei said: -
"Thank you, I must go home". We said goodbye (lit.
Said to each other goodbye) and he left for home.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
<b>Negative forms of the verb</b> in Abkhazian
are formed using the affix <b>-м</b>. To it
can be added the intensifying particle <b>-ӡа*</b>. The position
of the negative affix depends on the
tense form being used.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
In negative forms, the past imperfect
and past indefinite forms change their endings.
</p>

<blockquote>
<b>Table of formation of negative forms
of the verb in Abkhazian</b>
</blockquote>

<p>present static <b>(-уп)</b> сыҟоуп; сыҟа<u><b>м</b></u>,
сыҟа<u><b>ӡам</b></u><br />
present dynamic <b>(-оит, уеит)</b> бгылоит быҧшуеит;
бгыло<u><b>м</b></u>, бгыла<u><b>ӡом</b></u> быпшуа<u><b>м</b></u>,
быпш<u><b>ӡом</b></u>
</p>

<p>
past perfect <b>(-ит)</b>, уаҧхьеит, уҧшит; уа<u><b>м</b></u>ыҧхьеит,
уа<u><b>м</b></u>ыҧхьа<u><b>ӡе</b></u>ит, у<u><b>м</b></u>ҧшит,
у<u><b>м</b></u>ҧш<u><b>ӡе</b></u>ит<br />
past imperfect <b>(-он)</b> ибон, ибо<u><b>м</b></u>ызт,
иба<u><b>ӡом</b></u>ызт<br />
past indefinite <b>(-н)</b> иҟан; иҟа<u><b>м</b></u>ызт,
иҟа<u><b>ӡам</b></u>ызт<br />
future <b>(-п)</b> сгылап; сы<u><b>м</b></u>гылап
</p>

<p>
<i class="fas fa-bolt important-material"></i>
If you don't immediately manage to remember the position of the negative affix
in a particular tense form, don't
be discouraged, this comes with practice. By memorizing
words in negative form, you automatically memorize
the system as well. This is exactly how children learn to speak,
who have no concept of grammatical
rules.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
If earlier the particle -ӡа could be conveyed in
English as "at all" (дымцеит he didn't go, дымцаӡеит
he didn't go at all), in modern Abkhazian
the intensifying meaning of this particle is greatly
weakened, and therefore the word "at all" in translation
is omitted.
</p>

<p>
<b>Exercise 1</b><br />
Out of three variants one
is correct. Try to
choose.
</p>

<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>&nbsp;</td><td>а) дбааӡеит</td></tr>
<tr><td>ашәҟәы</td><td>б) (и)бааӡеит</td></tr>
<tr><td>&nbsp;</td><td>в) ҳбааӡеит</td></tr>

<tr><td>&nbsp;</td><td>а) ҳцәажәоит</td></tr>
<tr><td>ҳара</td><td>б) шәцәажәоит</td></tr>
<tr><td>&nbsp;</td><td>в) ицәажәоит</td></tr>

<tr><td>&nbsp;</td><td>а) сҵоит</td></tr>
<tr><td>абызшәа</td><td>б) сцоит</td></tr>
<tr><td>&nbsp;</td><td>в) згоит</td></tr>

<tr><td>&nbsp;</td><td>а) иццакит</td></tr>
<tr><td>дара</td><td>б) быццакит</td></tr>
<tr><td>&nbsp;</td><td>в) сыццакит</td></tr>

<tr><td>&nbsp;</td><td>а) ҳацǝоуп</td></tr>
<tr><td>capa</td><td>б) быцǝоуп</td></tr>
<tr><td>&nbsp;</td><td>в) сыцǝоуп</td></tr>

<tr><td>&nbsp;</td><td>а) афара</td></tr>
<tr><td>акахуа</td><td>б) ажәра'</td></tr>
<tr><td>&nbsp;</td><td>в) а'жәра</td></tr>
</table>
<small><a href="answers6#e18-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Make these affirmative sentences interrogative.
You can do it!
</p>
<p>
Example: Сара сбааӡеит. Сара сбааӡама?<br />
1. Иара дааит.<br />
2. Ауаҩы дыцәоуп.<br />
3. Иара ауниверситет дҭалеит.<br />
4. Амш цәгьахоит.<br />
5. Аҧша асуеит.<br />
6. Ҳара аҵара ҳҵоит.<br />
7. Дара акахуа ржәуеит.<br />
8. Лара аҩызцәа рацәаҩны илымоуп.<br />
9. Дамеи аҩныҟа дцеит.<br />
<small><a href="answers6#e18-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
And now make the affirmative sentences negative.
You can use the table of tense forms as a hint.
</p>
<p>
Example: Сара стәоуп. Сара стәам.<br />
Сара сыцǝоуп.<br />
Иара дгылоуп.<br />
Сҩызцǝа акаҳуа ржәуеит.<br />
Ашәҟәы ҳаҧхьеит.<br />
Ахра дыццакуеит.<br />
Абызшәа аҵара цәгьоуп.<br />
Дара (и)цәажәон.<br />
Иахьа аҩныҟа сцап.<br />
Шьыжьымҭан сгылап.<br />
<small><a href="answers6#e18-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
The words below are divided by certain
thematic groups. One word in each row
is extra. Find it and cross it out.
</p>
<p>
а) амшын, ацәқәырҧа, аҟәара, ашәҵара, аҕба;<br />
б) ан, аб, ауаҩы, ала, аиашьа, аҭыҧҳа<br />
в) аҵла, абаҳча, абҕьыц, ашәҭра, аҵәа, аныҟәара<br />
г) акаҳуа, ача, аӡын, акрыфара, ашәыр.<br />
<small><a href="answers6#e18-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Connect the beginning (A) and ending (B) of the sentences.
</p>

<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>A</td><td>B</td></tr>
<tr><td>Абзиараз еибаҳҳәан</td><td>еибаҳҳәеит.</td></tr>
<tr><td>Сара аҩызцәа</td><td>бааӡеит.</td></tr>
<tr><td>Аҧсшәа</td><td>ҳаицҭалеит.</td></tr>
<tr><td>Дамеи иикыз ашәҟәы</td><td>(и)рацәаны исымоуп.</td></tr>
<tr><td>Иареи сареи ауниверситет</td><td>нас Дамеи аҩныҟа дцеит.</td></tr>
</table>
<small><a href="answers6#e18-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Translate into Abkhazian.
</p>
<p>
1. I have many friends.
2. We study at the university.
3. We are learning languages.
4. Learning languages is difficult.
5. Yesterday Kama and I walked along the seashore.
6. The day was good, however the wind was blowing.
7. The sea was rough.
8. We drank coffee and talked.
9. Then I accompanied Kama.<br />
<small><a href="answers6#e18-6">(Answers)</a></small>
</p>

<p>
<b>Exercise 7</b><br />
You already have quite an extensive vocabulary.
We offer you two tasks:
</p>
<p>
1. Today is a good day. Describe it.<br />
2. Winter. It's cold. Describe a winter day.<br />
<small><a href="answers6#e18-7">(Answers)</a></small>
</p>
