---
order: 719
title: Lesson 19
subtitle:
  - Continuing to learn the sounds of the Abkhazian language (ҽ, ҿ)
  - Working with vocabulary
  - Numbers
---

<p>{% include audio.html file="19-1" %} ҽ, ҿ; ҽ, ҿ</p>

<blockquote>New words and expressions.</blockquote>

<p>
аҽы-\ аҽа- reflexive particle (а́ҵәахра to hide (something), аҽы́ҵәахра to hide oneself)<br />
азы́ҟаҵара to prepare (something, for something), аҽазы́ҟаҵара to prepare oneself, to get ready (for something)<br />
аҽа́ршьцылара exercise. Ари́ аҽа́ршьцылара цәгьо́уп. This exercise is difficult.<br />
аҽа́ршьцылара to practice, to exercise. Сара́ сҽасы́ршьцылоит. I am practicing.<br />
амҽы́ша Sunday. Иахьа́ мҽы́шоуп. Today is Sunday.<br />
ҽаҩраҭага́лан autumn. Ҽаҩраҭага́лан а́ҵлақәа рыбҕьы́ каҧсо́ит.
In autumn the leaves fall from the trees.<br />
аҽы́ҧсахра to change (oneself).<br />
аҿа́р youth, young people.<br />
аҿаҳәара́ to tie, to bind.<br />
аҿыҭра́ to call.<br />
аҿы́хра to tear off, to pick (about fruit, berries).<br />
аҿы́ц new. Иахьа́ ашәҟәы́ ҿыц сзаа́рхәеит. Today they bought me a new book.<br />
ҿыц again, anew. Сара́ ҿыц аҽазы́ҟаҵара са́лагеит. I have started preparing again.<br />
агәы́ла neighbor. Ҳара́ ҳгәы́ла илы́хьӡуп На́зи. Our neighbor is named Nazi.<br />
аба́ҳча garden. Наа́ла ҳба́ҳчаҟны ашәы́р ҿы́лхуеит. Naala is picking fruit in our garden.<br />
аҿы́ in, at.<br />
аҿы́зара to be occupied (with something).
</p>

<blockquote>Read and remember the text!</blockquote>

<p>
{% include audio.html file="19-2" %}
Ице́ит а́ҧхын. Иаа́ит ҽаҩраҭага́лан. Аҿа́р зегьы́ аҵа́ра цара́ иаҿу́п.
Аӡәы́ ашко́л ахь дце́ит, аӡәы́ ауниверсите́т ахь. Наа́лагьы ауниверсите́т
ахь аҭалара́ лҽазы́ҟалҵон, ашәҟәқәа́ дры́ҧхьон, аҽа́ршьцыларақәа лыҩуа́н.
Наа́ла лашьа́ Миза́н а́ҧсшәа (и)бзи́аны изды́рӡом, азы́ ргәы́ла На́зи
дазы́ҟалҵон. Миза́н аҽазы́ҟаҵара иҭахӡа́м. «Миза́н, урҵаҩы́ даа́ит!» -
ҳәа На́зи изҿы́лҭуеит, иара́ ишәҟәқәа́ иҵәахуе́ит, иаргьы́ аба́ҳчаҿы
(&lt; аба́ҳча аҿы́) иеи́ҵәахуеит. Наа́ла «Миза́н, уааи́!» - ҳәа изҿы́лҭуеит,
иара́ ашәы́р ҿи́хуеит, дааӡо́м. Наа́ла Миза́н иа́лҳәеит: «Миза́н,
уҽу́ҧсахроуп, ау́сура уҽау́ршьцылароуп»!
<br />
На́зи Миза́н изы́ ашәҟәы́ ҿыц аалге́ит. Миза́н уи ашәҟәы́ игәаҧхе́ит,
уи́ ҿыц а́ҧсшәа аҵара́ да́лагеит.
</p>

<p>
Summer has passed. Autumn has come. All the young people are busy
with study (lit. are occupied with studying). Some went to school,
some to university. And Naala was getting ready to enter university:
she read books, wrote exercises. Naala's brother Mizan doesn't know
Abkhazian well, so the neighbor Nazi tutors him. Mizan doesn't want
to prepare. "Mizan, your teacher has come!" - Naala calls him, but
he hides his books and hides himself in the garden. Naala calls
"Mizan, come here!" but he picks fruit and doesn't come. Naala said
to Mizan: "Mizan, you must change, you must get used to work!"
Nazi brought a new book for Mizan. Mizan liked this book, and he
started studying Abkhazian again.
</p>

<blockquote><b>Numbers</b></blockquote>

<p>
Numbers in the Abkhazian language (like verbs) distinguish the human
(animate) class from the inanimate class. Only here there is no
subclass of men and subclass of women. In this lesson we will get
acquainted with the numbers of the inanimate class. The counting
system of the Abkhazian language differs from the decimal system
familiar to you. Abkhazian has a vigesimal (base-20) system.
</p>

<p>
You need to memorize the system of the first twenty; after that the
system repeats.
</p>

<table border="1" cellpadding="4" cellspacing="0">
<tr><td>акы́</td><td>1</td><td>ҩажәи акы́</td><td>21</td><td>ҩынҩажәи акы</td><td>41</td></tr>
<tr><td>ҩба́</td><td>2</td><td>ҩажәи ҩба́</td><td>22</td><td>ҩынҩажәи ҩба</td><td>42</td></tr>
<tr><td>хҧа</td><td>3</td><td>ҩажәи хҧа́</td><td>23</td><td>ҩынҩажәи хҧа</td><td>43</td></tr>
<tr><td>ҧшьба́</td><td>4</td><td>ҩажәи ҧшьба́</td><td>24</td><td>ҩынҩажәи ҧшьба</td><td>44</td></tr>
<tr><td>хәба́</td><td>5</td><td>ҩажәи хәба́</td><td>25</td><td>ҩынҩажәи хәба</td><td>45</td></tr>
<tr><td>фба́</td><td>6</td><td>ҩажәи фба́</td><td>26</td><td>ҩынҩажәи фба</td><td>46</td></tr>
<tr><td>быжьба́</td><td>7</td><td>ҩажәи быжьба́</td><td>27</td><td>ҩынҩажәи быжьба</td><td>47</td></tr>
<tr><td>ааба́</td><td>8</td><td>ҩажәи ааба́</td><td>28</td><td>ҩынҩажәи ааба</td><td>48</td></tr>
<tr><td>жәба</td><td>9</td><td>ҩажәи жәба</td><td>29</td><td>ҩынҩажәи жәба</td><td>49</td></tr>
<tr><td>жәаба́</td><td>10</td><td>ҩажәижәаба</td><td>30</td><td>ҩынҩажәижәаба</td><td>50</td></tr>
<tr><td>жәе́иза</td><td>11</td><td>ҩажәи жәе́иза</td><td>31</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаҩа</td><td>12</td><td>ҩажәи жәа́ҩа</td><td>32</td><td>etc.</td><td>&nbsp;</td></tr>
<tr><td>жәаха</td><td>13</td><td>ҩажәи жәаха</td><td>33</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәиҧшь</td><td>14</td><td>ҩажәи жәи́ҧшь</td><td>34</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәохә</td><td>15</td><td>ҩажәи жәо́хә</td><td>35</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаф</td><td>16</td><td>ҩажәи жәа́ф</td><td>36</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәибыжь</td><td>17</td><td>ҩажәи жәибжь</td><td>37</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>жәаа</td><td>18</td><td>ҩажәи жәаа</td><td>38</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>зеи́жә</td><td>19</td><td>ҩажәи зеижә</td><td>39</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>ҩажәа́</td><td>20</td><td>ҩынҩажәа</td><td>40</td><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>

<p>
<b>Exercise 1</b><br />
Open the brackets, using the verb in the tense form indicated.
</p>
<p>
1. Аҿар аҵара (аҿызаара). (present static)<br />
2. Кама Наала (аҳәара): «Наала, ашәҟәы (и)аага!» (past perfect)<br />
3. Мизан аҧсшәа бзианы (адырра). (present dynamic)<br />
4. Наала ашкол ахь ацара (аҽазыҟаҵара). (past imperfect)<br />
5. Кама уаҵәы абаҳчахь дцап, аҵәа (аҿыхра). (future)<br />
6. Мизан аҧсшәа аҵара (алагара). (past perfect)<br />
7. Ҽаҩраҭагалан абыҕьқәа (акаҧсара). (present dynamic)<br />
<small><a href="answers7#e19-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Before you are affirmative sentences. Make the appropriate changes
so that they become negative.
</p>
<p>
Example: Ахәыҷы ҿиҭуеит. Ахәыҷы ҿиҭуам \ ҿиҭӡом.<br />
Ари аҽаршьцылара аҟаҵара (и)цәгьоуп.<br />
Сара саб ашәҟәы игәаҧхеит.<br />
Мизан аҧсшәа бзианы идыруеит.<br />
Дамеи ашкол ахь дцоит.<br />
Сара ауниверситет аҿы аус зуан.<br />
<small><a href="answers7#e19-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Find the mistake and correct it!
</p>
<p>
Наала ауниверситет ахь ацара беазыҟабҵон.<br />
Мизан иан ашәҟәы ҿыц иааигеит.<br />
Сашьа сышәҟәы исҵәахит.<br />
Дара аҧсшәа аҵара ҳаҿуп.<br />
Ахра абаҳчаҿы аҵәақәа (и)ҿырхуеит.<br />
Саҳәшьа аҽаршьцыларақәа рыҩуан.<br />
<small><a href="answers7#e19-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
Cross out the word in each row that, in your opinion, does not
match the other words in meaning.
</p>
<p>
а) адҵа, аҽаршьцылара, ашәҟәы, аҟәара;<br />
б) аҩыза, асы, агәыла, аҵаҩы;<br />
в) абаҳча, аҿар, аҵәа, абҕьы;<br />
г) аҩны, ааҧын, аҧхын, ҽаҩраҭагалан;<br />
гь) аҿыц, ацәгьа, аба, ара.<br />
<small><a href="answers7#e19-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
What are the people in the pictures doing? Use the hints under
the pictures.
</p>
<p>
1. Аиашьа, аус аура. (Picture № ...)<br />
2. Ашәҟәы, аагара, Марҭа. (Picture № ...)<br />
3. Ашәҟәы, аҧхьара, аҵаҩы. (Picture № ...)<br />
4. Аҩызцәа, аҽазыҟаҵара. (Picture № ...)<br />
5. Аҿыҭра, агәыла. (Picture № ...)<br />
</p>

<table>
<tr>
<td><img src="/assets/img/19-1.png" width="327" height="400" border="1" alt="Picture 1" /><br />Picture 1</td>
<td><img src="/assets/img/19-2.png" width="248" height="400" border="1" alt="Picture 2" /><br />Picture 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/19-3.png" width="936" height="400" border="1" alt="Picture 3" /><br />Picture 3</td>
</tr>
<tr>
<td><img src="/assets/img/19-4.png" width="451" height="400" border="1" alt="Picture 4" /><br />Picture 4</td>
<td><img src="/assets/img/19-5.png" width="444" height="400" border="1" alt="Picture 5" /><br />Picture 5</td>
</tr>
</table>

<p>
<b>Exercise 6</b><br />
Translate into Abkhazian.
</p>
<p>
All the young people are studying.<br />
In the summer Naala read books, wrote exercises.<br />
Mizan doesn't know Abkhazian. The boy doesn't want to prepare.
Naala calls: "Mizan, come here, your teacher has come!" Akhra
wants to learn Abkhazian.<br />
"What are you busy with?" "I'm preparing to enter university:
I'm reading books, I'm writing exercises."<br />
<small><a href="answers7#e19-6">(Answers)</a></small>
</p>

<p>
<b>Exercise 7</b><br />
Make up a dialogue: You met a friend, he is studying at
university, learning Abkhazian; talk with him about his studies.
Don't forget to say hello and goodbye!
</p>
