---
order: 412
title: Lesson 12
subtitle:
- Continuation of the alphabet: new letters and sounds ҟ, ҟь, ҟә
- Work with vocabulary
- Consolidation
---

<p>{% include audio.html file="12-1" %}
ҟ, ҟь, ҟә;
</p>

<blockquote>
New words and expressions.
</blockquote>

<p>
<p>{% include audio.html file="12-2" %}
аҟны' in, at<!-- to the question "where" -->.
Ашко'л
аҟны'. At school.
Амҩаҟны. In the town.<br />
аҟазшьа' character, disposition.
Наа'ла
лҟазшьа'
бзи'оуп.
Naala has got a good disposition/character.<br />
а'ҟаҧшь red,
абҕьы
(и)ҟаҧшьу'п
the leaf is red.<br />
аҟалара
happen.
И'ҟалазеи?
И'ҟалеи?
What happened?<br />
ҟа'и no.
Ҟаи,
уи
сара'
исызды'рам.
No, I don't know. (Synonym for <b>мап</b> no).<br />
А'ҟәа Sukhum.
Сара'
А'ҟәа
сынхо'ит.
I live in Sukhum.<br />
аҟәара' coast.
Амшы'н
аҟәара'
Sea coast.<br />
аҟәы'ш clever.
Ма'рҭа
дҟәы'шуп.
Marta is clever.<br />
аҟәа'нда warm.
Иахьа'
амшы'н
ҟәа'ндоуп.
Today the sea is warm.<br />
аны'ҟәара walk, move.
Сны'ҟәоит.
I walk.<br />
а'ҟазаара is, to be.
Ара'
и'ҟоуп.
Here is.
<i class="fas fa-bolt important-material"></i>
The dictionary form of the static verb has a suffix
-заара.
The root here is
ҟа-.
Ара
сыҟоуп
I am here.
Аҩны
дыҟоуп
He is at home.
</p>

<p>
<p>{% include audio.html file="12-3" %}
-ҟа
as a postfix indicates the meaning "to (in the direction of)",
аҩны' home,
аҩны'ҟа to go home.<br />
(аи)ц- prefix meaning compatibility<br />
нас then; next<br />
алеиҩе'ира to go for a walk.
Шьыжьла'
слеиҩе'иуеит.
In the mornings I go for a walk.<br />
аҭа'лара
to exit, to go out to somewhere.
А'шҭа
сҭа'лоит.
I go out into the courtyard.
Авто'бус
дҭа'леит.
He/she got off the bus.
Амшы'н
дҭа'леит.
He/she went swimming in the sea
(literally went out into the sea).<br />
а'наскьагара
to accompany.
Сара
сҩыза
днаскьа'згоит.
I accompany my friend.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
If the postfix аҟны' is at the end of a word
that ends in a vowel,
then it is written together as one word.
In this case one vowel is dropped.
Compare:
ашкол
аҟны
to school, but
аусу'раҟны
(ау'сура
+ аҟны')
to work.
</p>

<blockquote>
Remember these expressions!
</blockquote>

<p>{% include audio.html file="12-4" %}
А'хра,
и'ҟалеи?
Ара'
узгы'лои?
Сара'
сыҧшу'п.
Сҩы'за
машьы'нала
даа'ироуп.
Амашьына
аномер
иамоу
(и)удыруама?
Ҟаи,
аномер
(и)сыздырам.
Аҧшра'ла
(аҧшра
ала)
издыруеит,
уи
имашьына
ҟаҧшьуп.
Уабацои?
Сҩы'за
Наа'ла
Тҟәарча'лҟа
дызга'роуп.
Наа'ла
Тҟәарча'л
а'қалақь
аҟны'
дынхо'ит.
Иацы'
уи'
А'ҟәа
дызбе'ит.
Амшы'н
аҟәараҟны'
длеиҩе'иуан.
Саргьы'
Наа'ла
дызды'руеит.
Уи
дҟәы'шуп,
дҭынчуп.
Ааи,
уи
лҟазшьа'
бзи'оуп.
Сара'
уи
бзи'а
дызбо'ит.
Аҟәараҟны'
аҧша'
ҟәа'нда
а'суан.
Амшы'н
ҭы'нчын.
Амшы'н
ҳаицҭа'леит.
А'шьҭахь
лара'
лҩы'за
лахь
дцон,
сара'
днаскьа'згеит.
Иахьа'
аҩны'ҟа
дца'роуп.
Сара'
дызго'ит.
Лара'
уа
Тҟәарча'л
ашко'л
аҟны'
ау'с
луе'ит.
А'мҩа
бзи'а!
Иҭабу'п!
Абзи'араз!
Абзи'араз!
</p>

<p>
Akhra, what happened?
Why are you standing here?
I'm waiting.
My friend should come by car.
What is the number of the car, do you know?
No, I don't know the number, I know it by the look, his car is red.
Where are you going?
My friend Naala I should take to Tkvarchal.
Naala lives in the city Tkvarchal.
Yesterday I saw her in Sukhum.
She was walking along the sea coast.
I also know Naala.
She's clever, quiet.
Yes, this got a good character.
I love her.
On the coast a warm wind was blowing.
The sea was calm.
Together with her we bathed in the sea.
Then she went to her friend, I accompanied her.
Today she should go home.
I'll take her.
There in Tkvarchal she works in a school.
Have a good journe!
Thank you.
Goodbye!
Goodbye!
</p>


<p>
<b>Exercise 1</b><br />
Translate into Abkhazian.
</p>
<p>
1. You (a woman) show me it (inanimate class).
2. I see him.
3. She should go to the sea.
4. Are you (a woman) staying here?
5. No, I don't know it.
6. When is Kama coming?
7. Today is a warm day.
8. Naala wne for a walk along the sea coast.
9. I love her.
10. I must go, my friend has come by car.
11. Will he give you the car?
12. What happened?
13. I don't know.
14. Naala is going to Sukhum today.
15. She is getting on the bus.
16. She's in a hurry.<br/>
<small><a href="answers4#e12-1">(Answers)</a></small>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
In Abkhazian, personal pronouns are sometimes dropped.
In this case the meaning of the phrases doesn't change,
since the missing pronoun is reflected in the verb.<br />
Compare:
<u>Сара</u>
<u>бара</u>
бзиа
<u>б</u>ы<u>з</u>боит.
I love you.<br />
Бзиа
<u>б</u>ы<u>з</u>боит.
I love you (literally: love you).<br />
Compare with Russian
люблю тебя,
here there is no pronoun я,
however the form of the verb
(люблю,
не
любит,
любишь)
shows that it is first person singular.
</p>

<p>
<b>Exercise 2</b><br />
Translate these sentences into English.
</p>
<p>
1.
Иацы
амш
бзиан.
2.
Аҧша
ҟәанда
асуан.
3.
Амшын
ҭынчын.
4.
Ҳара
амшын
ҳҭалеит.
5.
Наала
сҩыза
лоуп.
6.
Уи
лҟазшьа
бзиоуп.
7.
Лара
дҟәышуп.
8.
Сара
уи
бзиа
дызбоит.
9.
Сара
Аҟәа
ақалақь
аҟны
сынхоит.
10.
Сара
ашкол
аҟны
аус
зуеит.
11.
Иахьа
ашкол
ахь
сцароуп.
12.
Сҩыза
машьынала
даауеит,
ашкол
ахь
сигоит.
13.
Ана
сҩыза
дызбоит,
ашҭа
дҭалоит.
14.
Сара
сцароуп,
абзиараз!<br/>
<small><a href="answers4#e12-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Expand the parentheses.
You can choose the time form as you like.
</p>
<p>
1.
Иара
Аҟәа
(анхара).
2.
Сара
аусурахь
(аццакра).
3.
Шьыжьла
аҟәараҟны
(алеиҩеира).
4.
Марҭа
(аҭынч).
5.
Ахра
иахьа
аҩны
(аҟазаара).
6.
Кама
есқьынгьы
амшын
аҟәараҟны
сара
(абара).
7.
Бааи,
Наала,
сыҩны
(абрара).
8.
Иацы
аҧша
ҟәанда
(асра).
9.
Наала
лҟазшьа
(абзиара).
10.
Ахра
имшьына
(аҟаҧшь).<br/>
<small><a href="answers4#e12-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
Connect the picture with the appropriate sentence.
</p>
<ol>
<li>
Ана
аҵла
гылоуп.
(Picture № ...)
</li>
<li>
Сара
ашкол
ахь
сцоит.
(Picture № ...)
</li>
<li>
Адгәыр
шьыжьла
длеиҩеиуеит.
(Picture № ...)
</li>
</ol>
<small><a href="answers4#e12-4">(Answers)</a></small>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td><img src="/assets/img/12-1.gif" width="328" height="450" border="1" alt="Picture 1" /><br />Picture 1</td>
<td><img src="/assets/img/12-2.gif" width="292" height="450" border="1" alt="Picture 2" /><br />Picture 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/12-3.gif" width="500" height="463" border="1" alt="Picture 3" /><br />Picture 3</td>
</tr>
</table>

<p>
<b>Exercise 5</b><br />
Fill in the missing letter.
</p>
<p>
сара ...ҭалоит<br />
уара ...ҭалоит<br />
бара ...ҭалоит<br />
иара ...ҭалоит<br />
лара ...ҭалоит<br />
иара (inanimate class)
...(и)ҭалоит<br/>
<small><a href="answers4#e12-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Fill in the missing replies in the dialog.
</p>
<p>
- Ахра
ара
узгылои?<br />
- ...<br />
- Наала
саргьы
дыздыруеит.
Уи
лҟазшьа
бзиоуп.<br />
- ...<br />
- Наала
аус
луама?<br />
- ...<br />
- Саргьы
иахьа
Тҟәарчал
сцоит,
сыццакуеит.<br />
- ...<br />
- Иҭабуп,
абзиараз!<br />
- ...
</p>

<p>
<b>Exercise 7</b><br />
Talk about your friend Naala.
(What she's like, where she lives, what she does).
</p>
<p>Mini-dialog.</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>
<p>{% include audio.html file="12-5" %}
Наала,
бааи
сыҩны
бсырбоит.
Иҭабуп,
сыццакуеит,
нас
исбырбап.
</td>
</tr>
</table>
