---
title: Lesson 14
order: 514
---

<h3>Урок 14</h3>

<dl>
<dt>Contents:</dt>
<dd>Continuing to learn the letters of the Abkhazian alphabet
(ҵ, ҵә)</dd>
<dd>Work with vocabulary</dd>
<dd>Consolidation</dd>
</dl>

<p>{% include audio.html file="14-1" %}
ҵ ҵә; ҵ ҵә</p>

<blockquote>
New words and expressions.
</blockquote>

<p>{% include audio.html file="14-2" %}
адҵа' assignment, task, job; order, command.
Адҵа'
сы'рҭеит. I was given an assignment.<br />
аҵаҩы' pupil, schoolchild.
Сара
сҵаҩу'п. I am a pupil.<br />
арҵаҩы' teacher.
Сырҵаҩы'
адца'
сы'лҭеит.
My teacher gave me an assignment.<br />
аҵа'ра
studies.
Аҵа'ра
лаша'роуп,
аҵарадара
лашьца'роуп.
learning is light, not learning is darkness.<br />
аҵара'
to learn.
Сара'
аҵа'ра
сҵо'ит.
I am studying.<br />
а'ҵла
tree.
Ари'
а'ҵла
ду'уп.
This tree is bigger.<br />
аҵа'ара
to freeze.
A'мҩақәа
ҵа'аит.
The roads are frozen.<br />
а'ҟаҵара
to do.
Сырҵаҩы'
исы'лҭаз
адҵа'
ҟасҵо'ит.
I am doing the assignment my teacher gave me.<br />
аҵкы
dress.
Аҵкы
ҟаҧшьуп.
Pretty dress.<br />
азҵаа'ра
question.
Аҵаҩы
арҵаҩы
азҵаара
лиҭеит.
The pupil asked the teacher a question<br />
а'зҵаара
to ask.
Аҵаҩы
арҵаҩы
дла'зҵааит.
The pupil asked the teacher.<br />
аҵеа'
apples.
Аҵеа'
ҟаҧшьу'п.
The apple is red.<br />
а'ҵеахра
to hide.
Сара'
сҵеа
ҟаҧшь
сҵеахи'т.
I hide your red apple.<br />
аҵәыҵәы'
sour.
Ари
аҵеа'
ҵәыҵәу'п.
This apple is sour.<br />
аҵәу'ара
to cry.
Ҭа'ли
дҵәу'еит.
Tali is crying.<br />
а'еҵәа
general term for the spectrum of blue and green light; star.<br />
уаҵәы'
tomorrow</p>

<p>{% include audio.html file="14-3" %}
Сара'
сҵаҩу'п,
уаҵәы'
ашко'л
ахь
сца'роуп.
Сара'
азҵаа'ра
сы'моуп.
А'мҩақәа
(и)ҵа'аит.
Арҵаҩы'
аҵаҩы'
диазҵааит.
Алмасха'н
аҵәа
ҵәыҵәқәа'
бзи'а
ибо'ит.
Сыҩны'
а'ҧхьа
а'ҵла
гы'лоуп.
Уи'
а'ҵла
абҕьы'
каҧсе'ит.
Аҵаҩцәа'
рырҵаҩы'
днаскьа'ргон.
Гәы'нда
ҳакла'сс
аҟны'
аҵара'
лҵо'ит.
Асҭа'нда
дса'зҵааит:
«Уара'
уанба'аи?».
Аҵәа'
иаҵәа'
ҵәыҵәу'п.
Са'ндра
иаҳәшьа'
Шьазина'
лы'мпыл
иҵәахи'т.
Шьазина'
дҵәы'уеит.
Иҵа'ауеит.
Асҭанда
Ахра
иҵәа
(и)лфеит.
Наала
лыҵкы
ҟаҧшьуп.</p>

<p>
I'm a pupil, tomorrow I have to go to school.
I have a question.
The roads are frozen.
The teacher asked the pupil.
Almashan loves sour apples.
In front of my house is a tree.
The leaves have fallen from that tree.
The pupils showed their teacher the way.
Gunda studies in our class.
Astanda asked me: "when did you come?"
Green apples are sour.
Sandra, Shyazin's brother, hid her ball.
Shyazin is crying.
Freeze.
Astanda ate Akhra's apple.
Naala's dress is red.</p>

<p>
<i class="fas fa-bolt important-material"></i>
Remember this saying.<br />
<p>{% include audio.html file="14-4" %}
<b>Ҵәа
баа'к
шә-ҵәак
арбаауе'ит.</b>
(lit: One rotten apple spoils a hundred apples).
cf. Russian saying
A spoon of tar in a barrel of honey.</p>

<p>
<b>Exercise 1</b><br />
Fill in the missing letters.<br />
Example: сара
и...ҵәахит
-
сара
исҵәахит<br />
уара
и...ҵәахит<br /> 
бара
и...ҵәахит<br /> 
иара
и...ҵәахит<br /> 
лара
и...ҵәахит<br /> 
иара (inanimate class) и...ҵәахит<br /> 
<small><a href="answers5#e14-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br /> 
Translate to Abkhazian.</p>
<p>
1. My sister Kama is a teacher.
2. Gunda is my friend's wife.
3. I study well.
4. This apple is sour.
5. I'll hide the apples.
6. I hid the apples.
7. The teacher gave me an assignment.
8. Sandra loves school, he studies well.
9. This apple is red, this is green.
10. I love sour apples.
11. I'm frozen, let's go inside.
12. I have a question.
13. I asked the teacher a question.
14. Sandra said he's leaving.
15. Sukhum is the capital of Abkhazia.<br />
<small><a href="answers5#e14-2">(Answers)</a></small>
</p> 

<p>
<b>Exercise З</b><br />
Open the brackets.</p>
<p> 
1.
Сара
(аҵаҩы).
2.
Сыҩны
aҧхьa
аҵла
(агылара).
3.
Сандра
Кама
лымпыл
(аҵәахра).
4.
Сара
иаҵы
арҵаҩы
(азҵаара).
5.
Ҳара
иҳарҭаз
адҵа
(аҟаҵара).
6.
Аҵәа
(аҟаҧшь).
7.
Ҭали
лаҳәшьа
(аҵәуара).
8.
Амҩақәа
(аҵаара).
9.
Ари
аҳаблаҟны
сҩыза
(анхара).
10.
(Аҵаҩы)
рырҵаҩы
днаскьаргеит.
11.
Саҳәшьа
(ауаҩы
ҳалал).<br /> 
<small><a href="answers5#e14-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
Join the beginning and end of the sentences.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr> 
<td>Сыҩны аҧхьа</td>
<td>адҵа ҳалҭеит.</td>
</tr>
<tr> 
<td>Сара иахьа</td>
<td>иҧҳәыс лоуп.</td>
</tr>
<tr> 
<td>Кама сашьа</td>
<td>(и)ҵааит.</td>
</tr>
<tr> 
<td>Амҩақәа</td>
<td>ашкол ахь сҵароуп.</td>
</tr>
<tr> 
<td>Аҵәа иаҵәа</td>
<td>амашьына гылоуп.</td>
</tr>
<tr> 
<td>Ҳарҵаҩы</td>
<td>ҵәыҵәуп.</td>
</tr>
</table>
<small><a href="answers5#e14-4">(Answers)</a></small>

<p>
<b>Exercise 5</b><br /> 
Match the picture with the appropriate sentence.<br />
1. Наала
азҵаара
лымоуп. (Picture № ).<br />
2. Сыҩны
аҧхьа
аҵла
гылоуп. (Picture № ).<br />
3. Уи
аҵла
абҕьы
каҧсеит. (Picture. № ).<br />
4. Саҳәшьа
дҳақьымуп. (Picture № ).<br /> 
5. Сырҵаҩы
исылҭаз
адҵа
ҟасҵеит. (Picture № ).<br /> 
<small><a href="answers5#e14-5">(Answers)</a></small>
<table>
<tr>
<td><img src="/assets/img/14-1.gif" width="295" height="351" border="1" alt="Picture 1" /><br />Picture 1</td>
<td><img src="/assets/img/14-2.gif" width="252" height="349" border="1" alt="Picture 2" /><br />Picture 2</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/14-3.gif" width="585" height="534" border="1" alt="Picture 3" /><br />Picture 3</td>
</tr>
<tr>
<td><img src="/assets/img/14-4.gif" width="330" height="361" border="1" alt="Picture 4" /><br />Picture 4</td>
<td><img src="/assets/img/14-5.gif" width="288" height="387" border="1" alt="Picture 5" /><br />Picture 5</td>
</tr>
</table>
