---
order: 515
title: Lesson 15
subtitle:
  - Continuing to learn the letters of the Abkhazian alphabet (шә, жә)
  - Work with vocabulary
  - Consolidation
---

<blockquote>New words and expressions.</blockquote>

<p>{% include audio.html file="15-1" %}
шәара'
you (second person plural pronoun),
you - form of polite address.
(short form шә(а)-).
Шәара шәабацои? Where are you going?<br />
ашǝахьа' Monday. Уаҵǝы' шәахьо'уп.
Tomorrow is Monday.<br />
ашәҟәы' book. Ари' ашәҟәы' сҩы'за иси'ҭеит.
My friend gave me this book.<br />
а'шәтра blossom (ишәҭуе'ит, ишәҭи'т). А'ҵлақәа
шәҭит. The trees have blossomed.<br />
ашәҭ flower. Ашәҭ шәҭит. The flower has bloomed.<br />
ашәҵара' dress, put on. Наа'ла аҵкы'
ҟаҧшь лшәы'лҵеит.
Naala wore a red dress.<br />
ашәы'хра take off (clothes). Наа'ла
лыҵкы' ҟаҧшь лшәы'лхит.
Naala took off her red dress.<br />
а'ҧсшәа абхазский язык (synonym а'ҧсуа бызшәа')<br />
а'ҧсшәа аҳәара' greet. А'ҧсшәа сҳәе'ит.
I greeted. А'ҧсшәа иа'ҳҳәеит.
We greeted him. А'ҧсшәа еибы'рҳәеит.
(They) greeted (each other).
А'ҧсшәа еиба'ҳҳәеит. We greeted.<br />
ашәы'р fruit. Ашәы'р ҟале'ит. The fruit is ripe.<br />
а'жәа word<br />
жәацы' the day before yesterday<br />
а'жера drink. Аҩы' зжәуе'ит. I drink wine.<br />
ажәра' cook. Акәа'ц (и)зжәйт. I cooked meat.<br />
а'аҧын spring. Иаа'ит аа'ҧын. Spring has come.<br />
аха' but, however
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Remember the proverb!<br />
<p class="hide-audio">{% include audio.html file="15-2" %}
<b>Ажәаҭҟьеи – ахыҭҟьеи.</b>
A stray word (an involuntarily escaped, thoughtless word) is a stray bullet.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Before voiced consonants,
the second person indicator of the number шә(а) turns into a voiced жә(а),
for example, и<b>жә</b>гоит &lt;ишәгоит "take"</p>

<blockquote>Read and remember!</blockquote>

<p>{% include audio.html file="15-3" %}
Иаа'ит а'аҧын. Аҳа'уа ҧхе'ит. Ишәҭи'т
а'шәҭқәа. Исшәы'з апа'лта ҧха сшәы'схит, аха'
исшәы'сҵара сызды'рам.<br />
Иахьа' шәахьо'уп, ау'сура сца'роуп.<br />
Жәацы' сырҵаҩы' дызбе'ит. А'ҧсшәа
еиба'ҳҳәеит. Уи' ашко'л аҟны' а'ҧсуа бызшәа'
(а'ҧсшәа) ҳирҵо'н. Сара' сиа'зҵааит: -
Шәаба'цои? - ҳәа. - Абиблиоте'кахь сцо'ит -
иҳәе'ит. Дырми'т Гәли'а ишәҟәы' сҭаху'п ҳәа
се'иҳәеит. – Уи ашәҟәы' сара' исы'моуп, сара'
ишәы'сҭоит - ҳәа иасҳәеит. Уаҵәы' уи ашәҟәы'
и'сҭоит.</p>

<p>
Spring came. The air became warm.
The flowers have bloomed.
I took off the warm coat I was wearing, but I don't know what to wear.<br />
Today is Monday, I have to go to work.<br />
The day before yesterday I saw my teacher.
We said hello.
He taught us the Abkhaz language at school.
I asked him "Where are you going"?
I'm going to the library, he said.
He said "I need Dmitria Gulia's book".
I told him: "I have this book, I'll give it to you".
Tomorrow I will give him this book.
</p>

<p>
<b>Exercise 1</b><br />
Translate into Abkhazian.
</p>
<p>
1. I am learning Abkhazian language.<br />
2. I love Abkhazian language.<br />
3. My teacher gave me this book.<br />
4. Today is Monday.<br />
5. Where are you going?<br />
6. We're going to work.<br />
7. Astanda studies in our class.<br />
8. What happened the day before yesterday?<br />
9. Yesterday I saw Akhra.<br />
10. The woman cooked meat.<br />
<small><a href="answers5#e15-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Insert the missing letters.
</p>
<p>
сара и...жәуеит<br />
уара и...жәуеит<br />
бара и...жәуеит<br />
иара и...жәуеит<br />
лара и...жәуеит<br />
иара (inanimate class) и...жәуеит<br />
<small><a href="answers5#e15-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Match the words in the left column with the words in the right column.
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>yapa</td><td>сабацои?</td></tr>
<tr><td>бара</td><td>бабацои?</td></tr>
<tr><td>иара</td><td>дабацои?</td></tr>
<tr><td>шәара</td><td>уабацои?</td></tr>
<tr><td>ҳара</td><td>ҳабацои?</td></tr>
<tr><td>capa</td><td>шәабацои?</td></tr>
</table>
<small><a href="answers5#e15-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
From the three proposed options, choose the correct one.
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>ашәахьа</td><td>шәабацои?<br />дҳақьымуп<br />дыццакуеит</td></tr>
<tr><td>аҵәа</td><td>ҵәыҵәуп<br />жәацы<br />дҵәуеит</td></tr>
<tr><td>ашәҟәы</td><td>ҭынчуп<br />бзиоуп<br />ҧхоуп</td></tr>
<tr><td>ашәҭ</td><td>днаскьалгон<br />дылбеит<br />(и)шәҭит</td></tr>
<tr><td>аҵкы</td><td>ицароуп<br />бшәыбҵеит<br />ҵааит</td></tr>
<tr><td>аҧсшәа</td><td>(иа)ҳҵоит<br />сынхоит<br />ҳҵоит</td></tr>
</table>
<small><a href="answers5#e15-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Do you love spring? Describe this time of year. Use the lesson vocabulary.
</p>

<p>
<b>Exercise 6</b><br />
Expand the parentheses.
</p>
<p>
1. Уи ашәҟәы сара (амазаара).<br />
2. Уаҵәы шәахьоуп, аусурахь (ацара) (duty).<br />
3. Кама Ахра аҧсшәа (аҳәара).<br />
4. Наала аҵкы ҟаҧшь (ашәҵара).<br />
5. Ашәҭқәа (ашәҭра).<br />
6. Жәацы сырҵаҩы (абара).<br />
7. Лара ашкол аҟны аҧсшәа (аҵара).<br />
8. Сара аҧсуа бызшәа (бзиа абара).<br />
<small><a href="answers5#e15-6">(Answers)</a></small>
</p>
