---
order: 616
title: Lesson 16
subtitle:
  - Continuing to learn the sounds of the Abkhazian language (ӡ, ӡә)
  - Plural pronouns
  - Consolidation
---

<p>{% include audio.html file="16-1" %}
ӡ ӡә; ӡ ӡә</p>

<blockquote>New words and expressions.</blockquote>

<p>а'ӡҕаб girl (synonym аҭыҧҳа' girl, young woman).<br />
а'ӡра lose, be lost, и'ӡит was lost<br />
а'рӡра lose. Исы'рӡит. I lost.<br />
аӡра' fry, roast. Изӡи'т. I roasted.<br />
а'ӡсара swim. Иара дыӡсо'ит. He swims.<br />
а'ӡын winter. Иаа'ит а'ӡын. Winter has come.<br />
аӡы' water. Аӡы' хьшәа'шәоуп. The water is cold.<br />
ахьӡ name. Ари аӡҕаб лыхьӡ бдыруама? Do you know this girl's name?<br />
а'хьӡзаара be called, be named. Сара' исы'хьӡуп Ахра.
My name is Akhra. Уара' иу'хьӡуи? What is your name?<br />
ахьӡара' catch up with. Сара' Наа'ла слыхьӡе'ит. I caught up with Naala.<br />
аӡәы' someone (human class); somebody. Аӡәы дааит. Someone came.<br />
а'ӡәӡәара wash; do laundry (сыӡӡәо'ит, сыӡәӡәо'н).<br />
аа'хәара buy (иаа'схәеит, иаа'схәон). Аҩны аа'схәеит. I bought a house.<br />
а'хьшәашеа cold (ихьшәа'шәоуп, ихьшәа'шәан).
Аҳа'уа хышәа'шәоуп. The air is cold.<br />
ахьшәа'шәахара become cold. Ихьшәа'шәарахеит. It became cold.<br />
асы' snow. Асы' аура' to fall, to come down (about snow).<br />
Иацы \ иецы асы ауит. Yesterday it snowed.<br />
А'ӡын асы' ауе'ит. In winter it snows.<br />
а'ҧшӡа beautiful (иҧшӡо'уп, иҧшӡа'н)</p>

<p>{% include audio.html file="16-2" %}
Сара' сы'ӡҕаб иаа'лхәаз акаҳуа' (и)азоу'п. Сара'
изӡи'т уи акаҳуа'.<br />
Ари' аҭылҳа' ҧыӡа ибзи'аны дӡысо'ит.<br />
Ецы' иаа'схәаз ашәҟәы' (и)ы'ӡит.<br />
Ка'ма сышәҟәы' (и)лырӡит.<br />
А'ӡын аҳа'уа хьшәашәахоит.<br />
Сара' аӡы' хьшәа'шәа зжәит.<br />
Наа'ла дыӡәӡәо'ит.<br />
Ахра, уҧши' аӡәы даа'ит.<br />
А'ӡын асы' ауе'ит, аҳа'уа хьшәа'шәоуп.</p>

<p>The coffee my daughter bought is raw, I roasted this coffee.<br />
This beautiful girl swims well.<br />
The book I bought yesterday was lost.<br />
Kama lost my book.<br />
In winter the air becomes cold.<br />
I drank cold water.<br />
Naala is doing laundry.<br />
Akhra, look, someone came.<br />
In winter it snows, the air is cold.</p>

<p><b>Plural pronouns</b></p>
<p>{% include audio.html file="16-3" %}
Ҳapa we (short form ҳ(a)
Ҳара ҳаӡәӡәоит. We are washing.<br />
шәара you (plural), You (polite) (short form шә(а). Шәара
шәӡысоит. You swim.<br />
дара they (short form д(а); /p(a);/и(а). Дара
(и)аҧхьоит. They are reading.</p>

<p>
<i class="fas fa-bolt important-material"></i>
We remind you that in transitive verbs the indicator
of the 1st person plural <b>ҳ</b> changes to <b>а</b>.<br />
Днаскьа<b>ҳ</b>гоит > днаскьа<u>а</u>гоит.</p>

<p>Сара сцоит I am going<br />
уара уцоит you (m) are going<br />
бара бцоит you (f) are going<br />
иара дцоит he is going<br />
лара дцоит she is going<br />
иара (и)цоит it (inanimate class) is going<br />
ҳара ҳцоит we are going<br />
шәара шәцоит you (pl) are going<br />
дара (и)цоит they are going</p>

<p>сара исшәы'схуеит<br />
уара иушәы'ухуеит<br />
бара ибшәы'бхуеит<br />
иара ишәи'хуеит<br />
лара илшәы'лхуеит<br />
ҳара и<u>аҳ</u>шәа'ҳхуеит<br />
шәара ишәшәы'шәхуеит<br />
дара (и)ршәы'рхуеит</p>

<p>
<i class="fas fa-bolt important-material"></i>
The position between consonants and near the vowel <b>ы</b>
for the sound <b><i>ҳ</i></b> is undesirable, therefore the
vowel sound <b><i>а</i></b> often appears near it.
Cf. акр<u>ыс</u>фоит, but
акр<u>ах</u>фоит.</p>

<p>
<i class="fas fa-check grammar-rule"></i>
If the word is compound (consists of two or more
roots), then the person indicators stand both before the first
root and before the second (И-С-шәы-С-хуеит, И-Л-шәы-Л-хуеит, И-аҲ-шәа-Ҳ-хуеит)</p>

<p>
<b>Exercise 1</b><br />
Try to give the appropriate forms of the verb,
filling in the missing letters.</p>
<p>
<table>
<tr><td>сара и..боит</td><td>capa ..aaуеит</td></tr>
<tr><td>уара и..боит</td><td>yapa ..aaуеит</td></tr>
<tr><td>бара и..боит</td><td>бара ..аауеит</td></tr>
<tr><td>иара и..боит</td><td>иара ..aaуеит</td></tr>
<tr><td>иара (кл.неод) и..боит</td><td>иара (кл.неод.) аауеит</td></tr>
<tr><td>лара и..боит</td><td>лара ..аауеит</td></tr>
<tr><td>ҳара и..боит</td><td>ҳара ..аауеит</td></tr>
<tr><td>шәара и..боит</td><td>шәара ..аауеит</td></tr>
<tr><td>дара и..боит</td><td>дара ..аауеит</td></tr>
</table>
<small><a href="answers6#e16-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Match the appropriate verb to the pronouns.</p>
<p>
<table>
<tr><td>шәара</td><td>изгоит</td><td>capa</td><td>ишәымоуп</td></tr>
<tr><td>capa</td><td>иргоит</td><td>yapa</td><td>илымоуп</td></tr>
<tr><td>лара</td><td>иугоит</td><td>шәара</td><td>исымоуп</td></tr>
<tr><td>дара</td><td>иаагоит</td><td>дара</td><td>иҳамоуп</td></tr>
<tr><td>yapa</td><td>ибгоит</td><td>лара</td><td>иумоуп</td></tr>
<tr><td>ҳара</td><td>илгоит</td><td>бара</td><td>ибымоуп</td></tr>
<tr><td>бара</td><td>ижәгоит</td><td>ҳара</td><td>ирымоуп</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>иара</td><td>имоуп</td></tr>
</table>
<small><a href="answers6#e16-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Expand the parentheses.
</p>
<p>
1. Ҳара ара (анхара).<br />
2. Шәара (ацара)?<br />
3. Дара аҩны (аахәара).<br />
4. Сара сыӡҕаб акаҳуа (аӡpa).<br />
5. Шәара сышәҟәы (арӡра).<br />
6. Дара иахьа (аара).<br />
7. Ҳара ала (амазаара).<br />
8. Ҳара (акрыфара), шәара (аӡәӡәара).<br />
9. Ҳара уацәы ақыҭахь (ацара).<br />
10. Дара ашкол (алгара).<br />
<small><a href="answers6#e16-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
Out of three options only one is correct.<br />
Find it!<br />
<table>
<tr>
<td>ҳара</td>
<td>а) иалгоит<br />
б) ҳалгоит<br />
в)шәалгоит</td>
</tr>
<tr>
<td>шәара</td>
<td>а) унхоит<br />
б) инхоит<br />
в) шәынхоит
</td>
</tr>
<tr>
<td>дара</td>
<td>a) (a)крышәфоит<br />
б) (а)краҳфоит<br />
в) (а)крырфоит
</td>
</tr>
<tr>
<td>yapa</td>
<td>а) иуҭахуп<br />
б) ирҭахуп<br />
в) ишәҭахуп
</td>
</tr>
</table>
<small><a href="answers6#e16-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Translate into English.
</p>
<p>
1. Аӡын (и)хьшәашәарахоит.
2. Асы ауеит, аҳаya (и)хьшәашәоуп, аха ицқьоуп.
3. Сара бзиа избоит аӡын. Шәара бзиа ижәбома аӡын?
4. Иецы Баграт Шьынқәба ишәҟәы аасхәеит, уи аҧхьара салагеит.
5. Сара уи ашәҟәы сыман, аха Адгәыр ирӡит.
6. Дара ара аҩны аархәеит.
7. Ари автобус (и)абацои?
8. Ари автобус Очамчыраҟа ицоит.
9. Шәара шǝабацои?
10. Аҧхын Наалеи Камеи амшын ахь ицалоит.
11. Аҭыҧҳацәа бзиа ирбоит аӡсара.
12. Аҟәа ӡынгыы ҧхынгьы (есқьынгьы) иҧшӡоуп.
13. Ари аҭыҧҳа илыхьӡуп Нази.
14. Бара ибыхьӡуи?
15. Наала аусурахь дцон, уи дыццакун, аха сара слыхьӡеит.<br />
<small><a href="answers6#e16-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Listen to the speaker.
Which of the two suggested phrases does he pronounce and mark it (√).
</p>
<p>{% include audio.html file="16-4" %}</p>
<p>
<table>
<tr><td>1.</td>
<td>а) Аӡгаб дыӡсо'ит<br />
б) Аӡгаб ды'ӡит</td></tr>
<tr><td>2.</td>
<td>а) Ашәҟәы (и')ыӡит<br />
б) Ашәҟәы лы'рӡит</td></tr>
<tr><td>3.</td>
<td>а) Аӡәы дырбеит<br />
б) Аӡәы даабеит</td></tr>
<tr><td>4.</td>
<td>а) Кама илӡи'т<br />
б) Кама илырӡит</td></tr>
<tr><td>5.</td>
<td>а) Аҩны аасхәеит<br />
б) Аҩны аархәеит</td></tr>
<tr><td>6.</td>
<td>а) Шәара шәызбоит<br />
б) Шәара шәызгоит</td></tr>
<tr><td>7.</td>
<td>а) Аӡы аауеит<br />
б) Аӡәы даауеит</td></tr>
<tr><td>8.</td>
<td>а) Ҳара иаабоит<br />
б) Ҳара иаагоит</td></tr>
</table>
</p>

<p>
<b>Exercise 7</b><br />
Please return to exercise 6.
Before you are pairs of sentences.
You need to determine the subject (person) of the action.<br />
For example: Аӡәы дызбеит (I saw someone).<br />
The action comes from me: "I saw".<br />
Therefore, we write:<br />
Аӡәы дызбеит → сара.<br />
Аӡеы дырбеит → дара.<br />
<small><a href="answers6#e16-7">(Answers)</a></small>
</p>

<p>
<b>Exercise 8</b><br />
Each of the given sentences has an error.
You are asked to find it and correct it.</p>
<p>
1. Хара ашҭа дҭалоит.
2. Шәара нас ҳцома?
3. Наала иеҵы ацкы ирыӡәӡәеит.
4. Дара ана дыҟоуп.
5. Ҳара аҧара иааргеит.
6. Дамеи, уҩнал. - Мамоу, дыццакуеит.
7. Шәара арашазы уаауама?
8. Ҳара аҳақьым дааргеит.<br />
<small><a href="answers6#e16-8">(Answers)</a></small>
</p>

<p>
<b>Exercise 9</b><br />
And now, using your active vocabulary,
try to tell about your day today.<br />
To begin: Сара иахьа шьыжьымҭан сгылеит.
Нас крысфеит... etc.<br />
You should be able to do it!
</p>

<p>
<b>Exercise 10</b><br />
Make sentences from the given words.</p>
<p>Хара, ача, шәара, аахәара, ацара, дара, ақалақь, ахь, aapa.</p>
<p>Purposeful efforts always bear fruit!</p>
<p>Ahead of you is Lesson 17. Абзиараз!</p>
