---
order: 101
title: Lesson 1
subtitle:
- Introduction to the alphabet
- Work with vocabulary
---

<p>
<i>First of all, let's learn to greet!</i>
</p>

<p>
{% include audio.html file="1-001" %}
Мшыбзи'а!
Good day! Hello! Literally: the day is good!<br />
{% include audio.html file="1-002" %}
Бзи'а(ра) уба'аит!
Answer greeting (to a man). Literally: yes to see you (a man) is good!<br />
{% include audio.html file="1-003" %}
Бзи'а(ра) бба'аит!
Answer greeting (to a woman). Literally: yes to see you (a woman) is good!
</p>

<p>
(The brackets show an optional part,
i.e. in any situation we can read
<b>бзиара убааит</b>
the same as
<b>бзиа убааит</b>).
</p>

<p>
And now we will introduce the Abkhazian alphabet.
</p>

<p>
Abkhazian has <b>6</b> vowels and <b>56</b> consonants.
In total <b>62</b>.
Of these <b>26</b> are from the Russian alphabet,
i.e. all letters except
ё, й, щ, ю, я, э, ъ
are included in the Abkhazian alphabet.
</p>

<table width="700" class="hide-audio">
<tr align="center"><td colspan="10">
<b>
АҦСУА
 
АЛФАВИТ<br />
ABKHAZIAN
 
ALPHABET
</b>
</td></tr>
<tr>
<td>{% include audio.html file="1-1" %}
А</td>
<td>{% include audio.html file="1-7" %}
Ҕ</td>
<td>{% include audio.html file="1-13" %}
Ж</td>
<td>{% include audio.html file="1-19" %}
И</td>
<td>{% include audio.html file="1-25" %}
ҚӘ</td>
<td>{% include audio.html file="1-31" %}
Н</td>
<td>{% include audio.html file="1-37" %}
Т</td>
<td>{% include audio.html file="1-43" %}
Х</td>
<td>{% include audio.html file="1-49" %}
ЦӘ</td>
<td>{% include audio.html file="1-55" %}
Ҿ</td>
<td>{% include audio.html file="1-61" %}
Џ</td>
</tr>
<tr>
<td>{% include audio.html file="1-2" %}
Б</td>
<td>{% include audio.html file="1-8" %}
ҔЬ</td>
<td>{% include audio.html file="1-14" %}
ЖЬ</td>
<td>{% include audio.html file="1-20" %}
К</td>
<td>{% include audio.html file="1-26" %}
Ҟ</td>
<td>{% include audio.html file="1-32" %}
О</td>
<td>{% include audio.html file="1-38" %}
ТӘ</td>
<td>{% include audio.html file="1-44" %}
ХЬ</td>
<td>{% include audio.html file="1-50" %}
Ҵ</td>
<td>{% include audio.html file="1-56" %}
Ш</td>
<td>{% include audio.html file="1-62" %}
ЏЬ</td>
</tr>
<tr>
<td>{% include audio.html file="1-3" %}
В</td>
<td>{% include audio.html file="1-9" %}
ҔӘ</td>
<td>{% include audio.html file="1-15" %}
ЖӘ</td>
<td>{% include audio.html file="1-21" %}
КЬ</td>
<td>{% include audio.html file="1-27" %}
ҞЬ</td>
<td>{% include audio.html file="1-33" %}
П</td>
<td>{% include audio.html file="1-39" %}
Ҭ</td>
<td>{% include audio.html file="1-45" %}
ХӘ</td>
<td>{% include audio.html file="1-51" %}
ҴӘ</td>
<td>{% include audio.html file="1-57" %}
ШЬ</td>
<td>Ь</td>
</tr>
<tr>
<td>{% include audio.html file="1-4" %}
Г</td>
<td>{% include audio.html file="1-10" %}
Д</td>
<td>{% include audio.html file="1-16" %}
З</td>
<td>{% include audio.html file="1-22" %}
КӘ</td>
<td>{% include audio.html file="1-28" %}
ҞӘ</td>
<td>{% include audio.html file="1-34" %}
Ҧ</td>
<td>{% include audio.html file="1-40" %}
ҬӘ</td>
<td>{% include audio.html file="1-46" %}
Ҳ</td>
<td>{% include audio.html file="1-52" %}
Ч</td>
<td>{% include audio.html file="1-58" %}
ШӘ</td>
<td>Ә</td>
</tr>
<tr>
<td>{% include audio.html file="1-5" %}
ГЬ</td>
<td>{% include audio.html file="1-11" %}
ДӘ</td>
<td>{% include audio.html file="1-17" %}
Ӡ</td>
<td>{% include audio.html file="1-22" %}
Қ</td>
<td>{% include audio.html file="1-29" %}
Л</td>
<td>{% include audio.html file="1-35" %}
Р</td>
<td>{% include audio.html file="1-41" %}
У</td>
<td>{% include audio.html file="1-47" %}
ҲӘ</td>
<td>{% include audio.html file="1-53" %}
Ҷ</td>
<td>{% include audio.html file="1-59" %}
Ы</td>
</tr>
<tr>
<td>{% include audio.html file="1-6" %}
ГӘ</td>
<td>{% include audio.html file="1-12" %}
Е</td>
<td>{% include audio.html file="1-18" %}
ӠӘ</td>
<td>{% include audio.html file="1-23" %}
ҚЬ</td>
<td>{% include audio.html file="1-30" %}
М</td>
<td>{% include audio.html file="1-36" %}
С</td>
<td>{% include audio.html file="1-42" %}
Ф</td>
<td>{% include audio.html file="1-48" %}
Ц</td>
<td>{% include audio.html file="1-54" %}
Ҽ</td>
<td>{% include audio.html file="1-60" %}
Ҩ</td>
</tr>
</table>

<p>
And so you're already familiar with 26 letters of the Abkhazian alphabet,
including all the vowels -
<b>а, е, и, у, о, ы</b>.
Using your current knowledge you can learn a few words and expressions,
for example:
</p>

<p>
{% include audio.html file="1-102" %}
абзи'а - good<br />
{% include audio.html file="1-103" %}
агы'лара - to stand up<br />
{% include audio.html file="1-104" %}
ацара' - to go; to leave<br />
{% include audio.html file="1-105" %}
сара' - I<br />
{% include audio.html file="1-106" %}
абара' - to see<br />
{% include audio.html file="1-107" %}
бзи'а
абара' - to love<br />
{% include audio.html file="1-108" %}
ача' - bread<br />
{% include audio.html file="1-109" %}
аб - father<br />
{% include audio.html file="1-110" %}
ан - mother<br />
{% include audio.html file="1-111" %}
а'мра - sun<br />
{% include audio.html file="1-112" %}
аа'хәара - to buy<br />
{% include audio.html file="1-113" %}
амш - day, weather<br />
{% include audio.html file="1-114" %}
амшы'н - sea<br />
{% include audio.html file="1-115" %}
ашко'л - school
</p>

<p>
Let's learn a few common phrases.
</p>

<p>
{% include audio.html file="1-201" %}
Сара'
сцо'ит
- I'm going, I'm leaving<br />
{% include audio.html file="1-202" %}
Сара'
сгы'лоуп
- I'm standing up<br />
{% include audio.html file="1-203" %}
Сара'
избо'ит
- I see<br />
{% include audio.html file="1-204" %}
Сара'
бзи'а
избо'ит
са'ни
са'би
- I love my mother and father<br />
{% include audio.html file="1-205" %}
Сар'а
иаа'схәоит
ача'
- I am buying bread
</p>

<p>
At the end of the alphabet are two letters -
<b>Ь</b> (soft sign) and
<b>Ә</b> (rounding sign).
These symbols don't have their own sound,
but in combination with other letters form new sounds.<br />
Compare:
</p>

<p>
{% include audio.html file="1-301" %}
к - кь - кә<br />
{% include audio.html file="1-302" %}
г - гь - гә<br />
{% include audio.html file="1-303" %}
х - хь - хә
</p>

<p>
Soft consonants in Abkhazian (except ч, ҷ)
are accompanied by a soft sign.
</p>

<p>
The sounds
кь, гь, хь
are pronounced <i>approximately</i>  the same as the Russian consonants
к, г, х
+ vowel sound
и.
For example:
Abkhazian гь
- Russian combination ги
(гиря);
Abkhazian кь
- Russian ки
(кино<!--, кисть-->);
Abkhazian хь
- Russian хи
(хитрый<!--, хилый-->).
</p>

<p>
Adding the soft sign <b>ь</b>
to the letter <b>к</b>
gives the letter
{% include audio.html file="1-401" %}
<b>кь</b>.<br />
For example:<br />
{% include audio.html file="1-402" %}
а'н<b>кь</b>а
- before (earlier) (a long time ago)<br />
{% include audio.html file="1-403" %}
ма<b>кь</b>а'на
- still (for the time being)
</p>

<p>
Adding the rounding sign <b>ә</b>
to the letter <b>к</b>
gives the letter
{% include audio.html file="1-501" %}
<b>кә</b>.<br />
Unlike the Russian combination <b>ку</b>,
this sound is pronounced together <b>кә</b>.<br />
{% include audio.html file="1-502" %}
а<b>кә</b>а'ц
- meat<br />
{% include audio.html file="1-503" %}
а'<b>кә</b>ашара
- to dance
</p>

<p>
And so:
{% include audio.html file="1-301" %}
к
-
кь
-
кә
</p>

<p>
And similarly for the other letters. For example:
</p>

<p>
{% include audio.html file="1-302" %}
г
-
гь
-
гә<br />
{% include audio.html file="1-602" %}
а<b>г</b>ара'
- to take, to take away<br />
{% include audio.html file="1-603" %}
а<b>гь</b>а'ма
- taste<br />
{% include audio.html file="1-604" %}
а<b>гә</b>ы'
- heart
</p>

<p>
{% include audio.html file="1-303" %}
х
-
хь
-
хә<br />
{% include audio.html file="1-702" %}
а<b>х</b>ы'
- head<br />
{% include audio.html file="1-703" %}
иа<b>хь</b>а'
- today<br />
{% include audio.html file="1-704" %}
а<b>хь</b>
- to (suffix)<br />
{% include audio.html file="1-705" %}
а<b>хә</b>
- price
</p>

<p>
(If the suffix ахь follows a word that ends in a vowel (а,ы),
then it is written together with the word it follows.
Compare:
ашкол
ахь,
but
аусурахь
"(to go) to work"
(аусура + ахь)).
</p>

<p>
Read these sentences following the soundtrack:
</p>

<p>
{% include audio.html file="1-801" %}
Сара'
кьы'лак
акәа'ц
аа'схәоит
- I buy a kilogram of meat<br />
Сара'
иахьа'
ашко'л
ахь
сцо'ит
- today I go to school<br />
Акәа'ц
агьа'ма
бзи'оуп
- meat tastes good<br />
Иахьа'
амш
бзи'оуп
- today is good weather<br />
Сара'
сцо'ит
- I am going / leaving<br />
Сара'
сгы'лоуп
- I stand up (to stand up)<br />
Сара'
избо'ит
- I see<br />
Сара'
бзи'а
избо'ит
са'ни
са'би
- I love my mother and father<br />
Сара'
иаа'схәоит
ача'
- I buy bread<br />
Лара'
амшы'н
ахь
дцо'ит
- she's going to the sea
</p>

<p>
And so we have familiarised with new sounds of the Abkhazian alphabet.
Remember how they sound.<br />
{% include audio.html file="1-802" %}
<b>кь</b><br />
а'нкьа
- before (earlier)<br />
макьа'на
- still (for the time being)<br />
акьы'ла
- kilogram<br />
<b>кә</b><br />
акәа'ц
- meat<br />
<b>гь</b><br />
агьа'ма
- taste<br />
<b>гә</b><br />
агәы'
- heart<br />
<b>хь</b><br />
иахьа'
- today<br />
<b>хә</b><br />
ахә
- price
</p>

<p>
<b>Exercise 1</b><br />
Translate these phrases and sentences.
</p>

<ol>
<li>Иахьа'
амш
бзи'оуп.</li>
<li>Макьа'на
амш
бзи'оуп.</li>
<li>Ача'
агьа'ма
бзи'оуп.</li>
<li>Сара'
акәа'ц
аа'схәоит.</li>
<li>Сара'
сцо'ит.</li>
<li>Сара'
са'ни
са'би
бзи'а
избо'ит.</li>
<li>Сара'
сгы'лоуп.</li>
<li>Сара'
избо'ит.</li>
<li>Сара'
амшы'н
бзи'а
избо'ит.</li>
</ol>
<small><a href="answer1#e1-1">(Answers)</a></small>

<p>
Абзи'араз!
All the best! Goodbye!
</p>
