---
order: 722
title: Lesson 22
subtitle:
  - Continuing to learn the sounds of the Abkhazian language (џ, џь)
  - Working with vocabulary
---

<p>{% include audio.html file="22-1" %} џ џь; џ џь</p>

<p>
<b>New words and expressions</b><br />
џьара́ somewhere; to somewhere. Џьара́ и́ҟоуп. It is somewhere.
Џьара́ и́цеит. They went somewhere.<br />
аџьы́ка salt. Сан аџьы́ка аа́лхәеит. My mother bought salt.<br />
аџьымшьы́ onion<br />
ҩы́џьа two (only in relation to the human/animate class). Ҩы́џьа
а́ишьцәа. Two brothers.<br />
аха́рџь expenses. Аха́рџь ду ҟасҵе́ит. I have big expenses.<br />
апе́нџьыр window. Апенџьыр аартуп. The window is open. Иаарты
апенџьыр! Open the window!<br />
аџьармы́кьа market; fair<br />
аџьра́ to fry. Акәа́ц лџьит. She fried the meat.<br />
аџьы́ба pocket. Сџьы́ба аҧара ҭоуп. There is money in my pocket.<br />
а́џьашьара to be surprised. Сара́ иџьа́сшьеит. I was surprised.<br />
The sound џ is rarely used in the Abkhazian language. Џыр Jyr
(a proper name)<br />
аџы́ш garlic<br />
акры́фарҭа canteen, dining hall. Акры́фарҭаҿы акрысфе́ит. I ate
in the canteen.<br />
акака́лкра to have a snack. Кака́лк скит. I had a snack.
</p>

<p>
{% include audio.html file="22-2" %}
Ҩы́џьа а́ишьцәа Џы́ри Џьгәаҭа́ни а́шьыжь аџьармы́кьахь ице́ит. Ара́ Џыр аџьы́ка аа́ихәеит. Џьгәаҭа́н иаа́ихәуеит кьы́лак аџы́ши ҩ-кьы́лак аџьымшьи́. «Ҳус ҟаҳҵе́ит», — иҳәе́ит Џьгәаҭа́н, — «џьара́ кака́лк ҳкып». «Ара́ апе́нџьыр аҟы́нтәи избо́ит, ана́ акры́фарҭаҿы акәа́ц рзуе́ит, уаала́?» — иҳәеит Џыр. «Уаала́!», — иҳәе́ит Џьгәаҭа́н.<br />
Џыр иџьы́ба иҭа́н ҩажәа́ маа́ҭ, Џьгәаҭа́н и́ман ҩажәи́ хәба маа́ҭ. Ине́ит акры́фарҭаҿы. А́хәқәа иры́хәаҧшын, иџьа́ршьеит. «–Уа́хәаҧши, уара́, уа́хәаҧши арҭ ры́хәқәа шаҟа́ иду́у!» — иҳәе́ит Џьгәаҭа́н. «Уаала́, сашьа́, уаала!» — иҳәе́ит Џыр, — «аҩны́ краҳфа́п, ара́ҟа ҳха́рџьқәа ду́хоит». А́ишьцәа акры́фарҭа идәы́лҵны аҩны́ҟа ице́ит.
</p>

<p>
Two brothers, Jyr and Jguatan, went to the market in the
morning. There Jyr bought salt. Jguatan bought a kilogram of
garlic and two kilograms of onions. "We've done our business,"
said Jguatan, "shall we have a snack somewhere?" "From here I
can see through the window that over there, in the canteen,
they're frying meat, shall we go?" said Jyr. "Let's go!" said
Jguatan.<br />
In Jyr's pocket there were twenty rubles, Jguatan had
twenty-five rubles. They came to the canteen. They looked at
the prices and were surprised. "Just look how high their
prices are!" said Jguatan. "Let's go, brother, let's go!" said
Jyr, "we'll eat at home, here our expenses will be big." The
brothers, leaving the canteen, went home.
</p>

<blockquote>Forms of farewell</blockquote>

<p>
Бзиала!<br />
Абзиаразы! Goodbye!
</p>

<p>
Абзиара шәзыҟалааит (узыҟалааит, бзыҟалааит)!<br />
All the best to you!
</p>

<p>
Аҵх алыҧха шәоуааит (уоуааит, боуааит)!<br />
Цәамҭхаа шәоуааит (уоуааит, боуааит)!<br />
Good night! Pleasant dreams!
</p>

<p>
Амҩа бзиа!<br />
Мҩамш (шәықәлааит)! Have a good journey!
</p>

<p>
<b>Exercise 1</b><br />
Listen to the sentences. Mark (√) which of the two given
sentences the speaker says.
</p>
<p>{% include audio.html file="22-3" %}</p>
<p>
<table>
<tr><td>1.</td>
<td>а) Џьара избеит.<br />
б) Џьара изгеит.</td></tr>
<tr><td>2.</td>
<td>а) Ахарџь ду ҟасҵеит.<br />
б) Ахарџь ду ҟаҳҵеит.</td></tr>
<tr><td>3.</td>
<td>а) Ҩажәи хәба мааҭ сыман.<br />
б) Ҩажәи хҧа мааҭ сыман.</td></tr>
<tr><td>4.</td>
<td>а) Сџьыба аҧара ҭан.<br />
б) Сџьыба аҧара (и)ҭам.</td></tr>
<tr><td>5.</td>
<td>а) Абзиара шәзыҟалааит!<br />
б) Абзиара бзыҟалааит!</td></tr>
<tr><td>6.</td>
<td>а) Аҩны краҳфап.<br />
б) Аҩны крысфап</td></tr>
<tr><td>7.</td>
<td>а) Сан аџьыш аалхәоит.<br />
б) Сан аџьыш аалхәеит.</td></tr>
<tr><td>8.</td>
<td>а) Ҩыџьа аишьцәа сымоуп.<br />
б) Ҩыџьа аиҳәшьцәа сымоуп.</td></tr>
</table>
</p>

<p>
<b>Exercise 2</b><br />
Determine the order of actions; assign the appropriate number
to each sentence.
</p>
<p>
Ҩыџьа аишьцәа аџьармыкьахь ицеит. (#…)<br />
Џьгәаҭан иааихәеит аџыши аџьымшьи. (#…)<br />
«Џьара какалк ҳкып», — иҳәеит Џьгәаҭан. (#…)<br />
Ахәқәа ирыхәаҧшын, иџьаршьеит. (#…)<br />
Аишьцәа акрыфарҭа идәылҵны, аҩныҟа ицеит. (#…)<br />
Џыр аџьыка ааихәеит. (#…)<br />
Инеит акрыфарҭаҿы. (#…)
<small><a href="answers7#e22-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Open the brackets, using the verb in the past perfect form.
</p>
<p>
For example: Сара ача (аахәара) &gt; Сара ача аасхәеит.
</p>
<p>
Аишьцәа аџьармыкьахь (ацара).<br />
Џыр аџьыка (аахәара).<br />
Ҳус (аҟаҵара).<br />
Аишьцәа акрыфарҭаҿы (анеира).<br />
Ахәқәа ирыхәаҧшын, (аџьашьара).<br />
Акрыфарҭа идәылҵны аҩныҟа (ацара).
<small><a href="answers7#e22-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
You have learned the text of the lesson. Can you answer the
questions?
</p>
<p>
Иабацеи ҩыџьа аишьцәа?<br />
Иаархәеи аишьцәа аџьармыкьаҿы?<br />
Акрыфарҭаҿы аишьцәа крырфама?<br />
Крызырымфеи?<br />
Акрыфарҭа идәылҵны аишьцәа (и)абацеи?
</p>

<p>
<b>Exercise 5</b><br />
Fill in the missing words, or choose suitable ones:
</p>
<p>
Сара исыхьӡуп ...<br />
Сара ... шықәса схыҵуеит.<br />
Сара сынхоит ...<br />
Сара аҵара сҵоит \ аус зуеит ...<br />
Сара дсымоуп аиешьа \ аиеҳәшьа.<br />
Сашьа \ саҳәшьа ихьӡуп \ илыхьӡуп ...<br />
Сашьа \ саҳәшьа ... шықәса ихыҵуеит \ (и)лхыҵуеит.
</p>
