---
order: 102
title: Lesson 2
subtitle:
- Personal pronouns; singular
- Work with vocabulary
---

<p>
{% include audio.html file="2-1" %}
Мшыбзи́а!
Hello!<br />
We are about to start lesson 2.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
Abkhazian language doesn't have gender, but it does have class:
<b>animate class (personal)</b>; and
<b>inanimate class</b>.
Animate class only relates to people!
Everything else, including and living and lifeless natural objects,
belongs to the inanimate class.
The animate class is subdivided into subclasses <b>feminine</b> and <b>masculine</b>.<br />
Personal pronouns in Abkhazian have a full form and a short form.
</p>

<p>
<b>Singular, animate, personal pronouns</b>
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>First person</td>
<td>
<b>сара́</b>
- short form
<b>с(а)</b>
- I
</td>
</tr>
<tr>
<td>Second person</td>
<td>
<b>уара́</b>
- short form
<b>у(а)</b>
- you (masculine)<br />
<b>бара́</b>
- short form
<b>б(а)</b>
- you (feminine)
</td>
</tr>
<tr>
<td>Third person</td>
<td>
<b>иара́</b>
- short form
<b>и(а), д(а)</b>
- he<br />
<b>лара́</b>
- short form
<b>л(а), д(а)</b>
- she
</td>
</tr>
</table>

<p>
<i class="fas fa-bolt important-material"></i>
Remember that the brackets show an optional part.
</p>

<blockquote>New words and expressions (and their conjugation elements).</blockquote>

<p>
Try and remember them!
</p>

<p>
ацара́
(infinite form of verb) to go; to leave.
</p>

<p>
To make it easier to remember the conjugation rules,
we will look at the structure of Abkhazian verbs.
</p>

<p>
<b>а-ца-ра</b>
-
<b>а-</b>
prefix of the general (dictionary) form,
<b>ца-</b>
root,
<b>-ра</b>
- suffix.
When conjugating, the prefix
<b>а-</b>
and suffx
<b>-ра</b>
are separated.
</p>

<p>
<b>Сара
сцоит</b>
- I am going.
Here the verb
<b>сцо́ит</b>
is made up of
<b>с(а)</b>
- I,
<b>ц(а)</b>
- root "to go",
<b>-оит</b>
- suffix in the present tense.
</p>

<p>
{% include audio.html file="2-2" %}
сара́
сцо́ит
- I am going<br />
бара́
бцо́ит
- you (a woman) are going<br />
уара́
уцо́ит
- you (a man) are going<br />
иара́
дцо́ит
- he is going<br />
лара́
дцо́ит
- she is going
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Notice how the verbs reflect the subject:<br />
<b><u>с</u></b>ара́
<b><u>с</u></b>цо́ит,

<b><u>у</u></b>ара́
<b><u>у</u></b>цо́ит,

<b><u>б</u></b>ара́
<b><u>б</u></b>цо́ит.
</p>

<p>
The conjugated verb takes into itself an indicator of the subject.
</p>

<p>
{% include audio.html file="2-3" %}
<b>абара́</b>
- to see<br />
<b>с</b>ара́
и<b>з</b>бо́ит
- I see<br />
<b>б</b>ара́
и<b>б</b>бо́ит
- you (a woman) see<br />
<b>у</b>ара́
и<b>у</b>бо́ит
- you (a man) see<br />
<b>и</b>ара́
(и)<b>и</b>бо́ит
- he sees<br />
<b>л</b>ара́
и<b>л</b>бо́ит
- she sees
</p>

<p>
{% include audio.html file="2-4" %}
<b>агара́</b>
- to take<br />
<b>с</b>ара́
и<b>з</b>го́ит
- I take<br />
<b>б</b>ара́
и<b>б</b>го́ит
- you (a woman) takes<br />
<b>у</b>ара́
и<b>у</b>го́ит
- you (a man) takes<br />
<b>и</b>ара́
(и)<b>и</b>го́ит
- he takes<br />
<b>л</b>ара́
и<b>л</b>го́ит
- she takes
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
The first and third person singular prefix is often dropped.
However, even when it's not used,
we'll add it in brackets,
so that it's easier to understand.<br />
<i class="fas fa-check grammar-rule"></i>
Before voiced consonants, the first person indicator
с(а)
changes to
з(а),
for example,
и<b>з</b>гоит
(и<b>с</b>гоит
"I take").
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Remember these words!
</p>

<p>
<b>ацара́</b>
- to go, to leave.
Сара́
сцо́ит
- I am going.<br />

<b>аара́</b>
- to come.
Бара́
баауе́ит
- you (a woman) are coming.<br />

<b>абара́</b>
- to see.
Лара́
илбо́ит
- she sees.<br />

<b>агара́</b>
- to take.
Иара́
(и)иго́ит
- he takes.<br />

<b>ара́</b> (абра́)
- here.<br />

<b>ана́</b>
- there.<br />

<b>бзи́а
абара́</b>
- to love.
Сара́
бзи́а
бызбо́ит
- I love you (to a woman).
Сара́
бзи́а
узбо́ит
- I love you (to a man).
Сара́
сан
бзи́а
дызбо́ит
- I love my mother<br />
<b>анхара́</b>
- to live.
Лара́
ара́
дынхо́ит
- she lives here.
Иара́
ана́
дынхо́ит
- he lives there.<br />
<b>ау́сура</b>
- work<br />
<b>амшы́н</b>
- the sea.
Сара́
амшы́н
ахь
сцо́ит
- I am going to the sea.
</p>

<p>
<b>Exercise 1</b><br />
For every pronoun on the left column,
match with the corresponding form of the verb on the right.
Try and do it!
</p>

<p>
Example:<br />
<img src="/assets/img/2-1.gif" width="140" height="54" alt="Example" />
</p>

<table cellspacing="0">
<tr>
<td width="1" class="background-divider"></td>
<td>сара</td>
<td width="1" class="background-divider"></td>
<td>сцоит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>уара</td>
<td width="1" class="background-divider"></td>
<td>саауеит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>бара</td>
<td width="1" class="background-divider"></td>
<td>унхоит</td>
<td width="1" class="background-divider"></td>
</tr>
<tr>
<td width="1" class="background-divider"></td>
<td>уара</td>
<td width="1" class="background-divider"></td>
<td>бцоит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>лара</td>
<td width="1" class="background-divider"></td>
<td>уаауеит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>лара</td>
<td width="1" class="background-divider"></td>
<td>сынхоит</td>
<td width="1" class="background-divider"></td>
</tr>
<tr>
<td width="1" class="background-divider"></td>
<td>бара</td>
<td width="1" class="background-divider"></td>
<td>уцоит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>иара</td>
<td width="1" class="background-divider"></td>
<td>баауеит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>иара</td>
<td width="1" class="background-divider"></td>
<td>дынхоит</td>
<td width="1" class="background-divider"></td>
</tr>
<tr>
<td width="1" class="background-divider"></td>
<td>лара</td>
<td width="1" class="background-divider"></td>
<td>дцоит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>сара</td>
<td width="1" class="background-divider"></td>
<td>даауеит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>уара</td>
<td width="1" class="background-divider"></td>
<td>бынхоит</td>
<td width="1" class="background-divider"></td>
</tr>
<tr>
<td width="1" class="background-divider"></td>
<td>иара</td>
<td width="1" class="background-divider"></td>
<td>дцоит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>бара</td>
<td width="1" class="background-divider"></td>
<td>даауеит</td>
<td width="50" class="background-divider"></td>
<td width="1" class="background-divider"></td>
<td>сара</td>
<td width="1" class="background-divider"></td>
<td>дынхоит</td>
<td width="1" class="background-divider"></td>
</tr>
</table>
<small><a href="answers1#e2-1">(Answers)</a></small>

<p>
<b>Exercise 2</b><br />
Conjugate the word in brackets to make a correct phrase.
</p>

<p>
Example:
сара (анхара)
>
сара сынхоит.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td width="120">сара (аара́)</td>
<td width="120">сара (абара́)</td>
<td width="120">сара (агара́)</td>
</tr>
<tr>
<td width="120">уара (ацара́)</td>
<td width="120">уара (анхара́)</td>
<td width="120">уара (абара́)</td>
</tr>
<tr>
<td width="120">бара (анхара́)</td>
<td width="120">бара (ацара́)</td>
<td width="120">бара (абара́)</td>
</tr>
<tr>
<td width="120">лара (агара́)</td>
<td width="120">лара (абара́)</td>
<td width="120">лара (ацара́)</td>
</tr>
<tr>
<td width="120">иара (абара́)</td>
<td width="120">иара (агара́)</td>
<td width="120">иара (анхара́)</td>
</tr>
</table>
<small><a href="answers1#e2-2">(Answers)</a></small>

<p>
<b>Exercise 3</b><br />
Fill in the correct pronoun.
</p>

<p>
Example:
бара бцоит
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>. . . . . .
бцоит</td>
<td>. . . . . .
илгоит</td>
</tr>
<tr>
<td>. . . . . .
уаауеит</td>
<td>. . . . . .
избоит</td>
</tr>
<tr>
<td>. . . . . .
иубоит</td>
<td>. . . . . .
дынхоит</td>
</tr>
<tr>
<td>. . . . . .
ибгоит</td>
<td>. . . . . .
дцоит</td>
</tr>
<tr>
<td>. . . . . .
иббоит</td>
<td>. . . . . .
сынхоит</td>
</tr>
<tr>
<td>. . . . . .
баауеит</td>
<td>. . . . . .
дааит</td>
</tr>
<tr>
<td>. . . . . .
сцоит</td>
<td>. . . . . .
бааит</td>
</tr>
</table>
<small><a href="answers1#e2-3">(Answers)</a></small>

<p>
<b>Exercise 4</b><br />
In some of the following phrases are mistakes.
Find and correct the mistakes.
</p>

<p>
Example:
лара ибгоит
>
лара илгоит
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>сара иугоит</td>
<td>сара избоит</td>
</tr>
<tr>
<td>бара ибгоит</td>
<td>бара иубоит</td>
</tr>
<tr>
<td>уара изгоит</td>
<td>уара илбоит</td>
</tr>
<tr>
<td>иара иигоит</td>
<td>иара иибоит</td>
</tr>
<tr>
<td>лара илгоит</td>
<td>лара иббоит</td>
</tr>
</table>
<small><a href="answers1#e2-4">(Answers)</a></small>

<p>
<b>Exercise 5</b><br />
Read the following sentences and translate them into English.
</p>

<p>
1. Лара
иахьа
даауеит.
2. Сара
ара
сынхоит.
3. Иара
ана
дынхоит.
4. Бара
акәац
(и)бгоит.
5. Иахьа
амш
бзиоуп.
6. Иара
аусурахь
дцоит.
7. Сара
ача
аасхәоит.
8. Саб
аусурахь
дцоит.
9. Сара
сан
бзиа
дызбоит.<br />
<small><a href="answers1#e2-5">(Answers)</a></small>
</p>
