---
order: 720
title: Lesson 20
subtitle:
  - Continuing to learn the sounds of the Abkhazian language (ҷ, дә)
  - Working with vocabulary
  - Days of the week
---

<p>{% include audio.html file="20-1" %} ҷ, дә; ҷ дә</p>

<p>
<b>New words and expressions</b><br />
а́ҷкәын boy. Ари́ а́ҷкәын и́хьӡуп Даме́и. This boy is named Damei.<br />
ахәыҷы́ child; small, plural ахәыҷқәа́.
Ахәыҷқәа́ аба́ҳчаҿы ихәма́руеит. The children are playing in the garden.
Ари́ аҩны́ хәыҷу́п. This house is small.<br />
хәыҷы́к a little (synonym — маҷк a little).<br />
маҷк a little. Иахьа́ маҷк сыццаку́еит, нас ҳаицәа́жәап. Today I'm in a bit of a hurry, we'll talk later.<br />
адәы́ field. Ари́ адәы́ ду́уп, ииаҵәоуп. This field is big, green.<br />
адәахьы́ into the yard, in the yard, outside.<br />
адәқьа́н shop. Ҳаҩны́ а́ҧхьа адәқьа́н гы́лоуп. There is a shop in front of our house.<br />
адәы́ҕба train. Адәы́ҕба аа́ит. The train has arrived.<br />
адәы́қәлара to depart. Адәы́ҕба дәы́қәлоит. The train is departing.<br />
адәы́лҵра to go out, to leave (a building).<br />
а́гхара to be late; to be delayed. Сара са́гхеит. I was late.<br />
а́хәмарра to play. Ахәыҷқәа́ адәаҿы́ ихәма́руеит. The children are playing in the yard.<br />
ҳа́мҭак a short while, a little time. Ҳа́мҭак а́шьҭахь. A little later.
</p>

<blockquote>Read and remember!</blockquote>

<p>
{% include audio.html file="20-2" %}
Аҷкәын хәыҷы Мизан иан илеиҳәеит «Адәахьы сдәылҵуеит, хәыҷык сыхәмаруеит» ҳәа. «Уца, — лҳәеит иан, — ахәыҷқәа зегьы ана абаҳчаҿы ихәмаруеит, аха ирлас уааи, шьыбжьхьа архиара саҿуп, уагымхан!» Ҳамҭак ашьҭахь ахәыҷы иан изҿылҭит, аха аҷкәын абаҳчаҿы дыҟамызт. Ахәыҷқәа адәаҿы ихәмаруан. Лара лхәыҷгьы уа дыҟан. Иан изҿылҭит «уааи» ҳәа. Ахәыҷы дааит. Иан аҧара илҭан адәқьан ахь длышьҭит, ача аахә ҳәа.
</p>

<p>
Little boy Mizan said to his mother: "I'll go out, I'll play a
little." "Go," said his mother, "all the children are playing
there, in the garden, but come back quickly, I'm making lunch,
don't be late!" A little while later the mother called the
child, but the boy was not in the garden. The children were
playing in the yard. And her child was there too. The mother
called him "come here." The child came. (His) mother gave him
money and sent him to the shop to buy bread.
</p>

<blockquote>Days of the week</blockquote>

<p>{% include audio.html file="20-3" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Monday</td><td>ашәахьа́</td></tr>
<tr><td>Tuesday</td><td>аҩа́ша</td></tr>
<tr><td>Wednesday</td><td>аха́ша</td></tr>
<tr><td>Thursday</td><td>аҧшьа́ша</td></tr>
<tr><td>Friday</td><td>ахәа́ша</td></tr>
<tr><td>Saturday</td><td>аса́бша</td></tr>
<tr><td>Sunday</td><td>амҽы́ша</td></tr>
</table>

<blockquote>Forms of greeting</blockquote>

<p>{% include audio.html file="20-4" %}</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Шьыжьыбзи́а(қәа)!</td><td>Good morning!</td></tr>
<tr><td>Мшыбзи́а(қәа)!</td><td>Good day!</td></tr>
<tr><td>Хәлыбзи́а(қәа)!</td><td>Good evening!</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>Бзи́ара жәба́аит (уба́аит, бба́аит)!</td><td>(answer greeting)</td></tr>
<tr><td>Бзи́ала шәаабе́ит (уаабе́ит, баабе́ит)!</td><td>Welcome!</td></tr>
</table>

<p>
<b>Exercise 1</b><br />
Determine the order of actions by numbering them.
</p>
<p>
Шьыбжьышьҭахь сыдҵақәа ҟасҵеит. (#…)<br />
Автобусла ашкол ахь сцеит. (#…)<br />
Акрысфеит, нас аҩны сдәылҵит. (#…)<br />
Сҽысыӡәӡәан, сҽеиласҳәеит. (#…)<br />
Аҩныҟа сааин, акрысфеит. (#…)<br />
Ашьыжьымҭан сгылеит. (#…)<br />
Маҷк ашкол сагхеит. (#…)<br />
Ашкол аҟны ашәҟәқәа ҳрыҧхьон, аҽаршьцыларақәа ҳаҩуан. (#…)
<small><a href="answers7#e20-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Make sentences out of the given words.
</p>
<p>
а) аҷкәын, адәылҵра, шьыжьымҭан, аҩны;<br />
б) аццакра, агхара, аусура, маҷк;<br />
в) адәықәлара, ҳамҭак ашьҭахь, адәыҕба;<br />
г) аӡҕаб, ахәмарра, адәахьы;<br />
гь) абаҳчаҿы, зегьы, ахәмарра, ахәыҷқәа;<br />
гә) ан, аҷкәын, аҭара, аҧара;<br />
ҕ) аҵара, аҧсшәа, сара, аҿызаара.
<small><a href="answers7#e20-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Match the beginning of the sentence in the left column with the
suitable ending from the right column.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Ари аҷкәын</td><td>хәыҷуп.</td></tr>
<tr><td>Ҳаҩны аҧхьа</td><td>адәыҕба дәықәлоит.</td></tr>
<tr><td>Ҳамҭак ашьҭахь</td><td>адәаҿы ихәмаруан.</td></tr>
<tr><td>Ҳара иахьа</td><td>ихьӡуп Дамеи.</td></tr>
<tr><td>Уца,</td><td>адәқьан гылоуп.</td></tr>
<tr><td>Ари аҩны</td><td>ашкол ҳагхеит.</td></tr>
<tr><td>Ача аахә ҳәа</td><td>хәыҷык сыхәмаруеит.</td></tr>
<tr><td>Сара адәахьы сдәылҵуеит</td><td>аҧара илҭеит.</td></tr>
<tr><td>Ахәыҷқәа</td><td>аха ирлас уааи.</td></tr>
</table>
<p><small><a href="answers7#e20-3">(Answers)</a></small></p>

<p>
<b>Exercise 4</b><br />
Open the brackets.
</p>
<p>
Мизан дхәыҷуп абаҳчаҿы (ахәмарра). (present dynamic)<br />
Жәаха уҩыза адәқьан аҿы (абара). (past perfect)<br />
Адәыҕба маҷк (агхара). (past imperfect)<br />
Ҳамҭак ашьҭахь ахәыҷы иан (азҿыҭра). (past perfect)<br />
Сҩыза иаб ана (атәара). (present static)
<small><a href="answers7#e20-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Agree the subject with the appropriate verb in the present tense.
</p>
<p>
Ахәыҷқәа (ахәмарра).<br />
Ҳара асабша дәыҕбала (аара).<br />
Ҳаҩны аҧхьа адәқьан (агылара).<br />
Ҳамҭак ашьҭахь адәыҕба (адәықәлара).<br />
Арҵаҩы акласс (адәылҵра).<br />
Ахәыҷы адәаҿы (аҟазаара).<br />
Аҷкәын иан «Уааи!» ҳәа (аҿыҭра).
<small><a href="answers7#e20-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Translate into Abkhazian.
</p>
<p>
1. Today is Monday, I am going to work.<br />
2. The children are going to school.<br />
3. I'm in a bit of a hurry, I'm late for work.<br />
4. The children are playing in the yard.<br />
5. My child is also playing there.<br />
6. A little later, he came home.<br />
7. In the morning we leave the house, we go to town by bus.<br />
8. I don't like getting up in the morning, I like to sleep in.<br />
9. My mother says to me: "Get up, you'll be late for school!"<br />
10. Tomorrow is Saturday, my father isn't going to work, and we
aren't going to school.
<small><a href="answers7#e20-6">(Answers)</a></small>
</p>

<p>
<b>Exercise 7</b><br />
Remember Lesson 18 and determine the tense form of the following
verbs:
</p>
<p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>сыцәам ( &nbsp; &nbsp; )</td><td>саҧхьом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сыцәамызт ( &nbsp; &nbsp; )</td><td>саҧхьазом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сымцап ( &nbsp; &nbsp; )</td><td>исфом ( &nbsp; &nbsp; )</td></tr>
<tr><td>сцом ( &nbsp; &nbsp; )</td><td>исфазом ( &nbsp; &nbsp; )</td></tr>
<tr><td>иаасымхәеит ( &nbsp; &nbsp; )</td><td>исымфап ( &nbsp; &nbsp; )</td></tr>
<tr><td>иаасхәап ( &nbsp; &nbsp; )</td><td>дгылом ( &nbsp; &nbsp; )</td></tr>
<tr><td>ҿысҭӡом ( &nbsp; &nbsp; )</td><td>иҟам ( &nbsp; &nbsp; )</td></tr>
<tr><td>ҿысҭуамызт ( &nbsp; &nbsp; )</td><td>иҟоуп ( &nbsp; &nbsp; )</td></tr>
</table>
<small><a href="answers7#e20-7">(Answers)</a></small>
</p>
