---
order: 721
title: Lesson 21
subtitle:
  - Continuing to learn the sounds of the Abkhazian language (тә, ҭә)
  - Working with vocabulary
  - Names of the months
---

<p>{% include audio.html file="21-1" %} ҭә ҭә; тә ҭә</p>

<p>
<b>New words and expressions</b><br />
аҭаҭәара́ to pour; to pour out.<br />
а́маҭәа clothes, clothing.<br />
атәара́ to sit. Стәоуп I am sitting, стәоит I sit down.<br />
атәра́ \\ атәы́заара to belong. Ари́ ашәҟәы́ бара́ ибтәу́п. This book belongs to you.<br />
атәы́ла country. Ҳара́ ҳтәы́ла иа́хьӡуп Аҧсны́. Our country is called Abkhazia.<br />
-тәы- suffix which, together with nominal affixes, forms
possessive pronouns: стәы mine; утәы yours (masc.).<br />
арҭ this, these.<br />
урҭ that, those.<br />
аны́ҳәа holiday, celebration. Иахьа́ ны́ҳәоуп. Today is a holiday.<br />
аны́ҳәамш holiday, festive day. Иахьа́ ны́ҳәамшуп. Today is a holiday.<br />
аиаа́ира victory; аиаа́ира агара́ to win a victory, to be victorious.<br />
а́ишәа table; а́ишәа архиара́ to set the table; аи́шәа ахатәара́ to sit down at the table.<br />
азгәа́ҭара to mark, to celebrate. Ҳара́ ари аны́ҳәа азгәа́ҳҭоит. We celebrate this holiday.<br />
аиҳабы́ elder, older. Сашьа́ еиҳабы́ и́хьӡуп Даме́и. My elder brother is named Damei.<br />
ахы́ head.<br />
ахаҟны́ at the head (of the table).<br />
-нтәи suffix giving nouns the meaning <b>from</b> (something); аҩны house, аҩны́нт<b>әи</b> from the house.
</p>

<blockquote>Read and remember</blockquote>

<p>
{% include audio.html file="21-2" %}
Иахьа́ ны́ҳәоуп. Ҳтәы́ла аиаа́ира агара́ аны́ҳәа амш ауп. Ҳара́ ари́ аны́ҳәа есқьынгьы́ иазгәа́ҳҭоит. Иахьа́ ҳаҩны́ҟа а́сасцәа аауе́ит. Урҭ са́ни са́би рҩы́зцәа ро́уп.<br />
Арҭ а́маҭәа ҿы́цқәа сара́ истәу́п, урҭ сан исзаа́лхәеит. Ари́ аны́ҳәазы сан есқьынгьы́ а́маҭәа ҿы́цқәа сзаа́лхәоит.<br />
Сара́ сан слы́цхраауеит, а́ишәа ҳархи́оит. Сашьа́ еиҳабы́ аҩқәа́ ҭа́иҭәоит.<br />
Аба́р иаа́ит а́сасцәагьы. Зегьы́ а́ишәа иахатәе́ит. Ахаҟны́ дтәо́уп саб. Сара́ бзи́а избо́ит ҳаҩны́ а́сасцәа анаауа́.
</p>

<p>
Today is a holiday. It's the holiday of our country's victory
(Victory Day). We always celebrate this holiday. Today guests
are coming to our house. They are friends of my parents (my
mother and my father).<br />
These new things are mine, my mother bought them for me. For
this holiday she always buys me new things. I help my mother
set the table. My elder brother pours the wine.<br />
And here the guests have come too. Everyone sat down at the
table. My father sits at the head. I love it when guests come
to our house.
</p>

<blockquote>Names of the months</blockquote>

<p>
In the Abkhazian language there are two sets of names for the
months — native and international. The international names are
borrowed from Russian, and so, for the most part, coincide with
it.
</p>

<p style="text-align: center;"><b>Амза́р<br />Calendar</b></p>

<table border="1" cellpadding="4" cellspacing="0">
<tr><td>English</td><td>Abkhazian<br />Native</td><td>Abkhazian<br />International</td></tr>
<tr><td>January</td><td>ажьырны́ҳәа(мза)</td><td>ианвар</td></tr>
<tr><td>February</td><td>жәабра́н(мза)</td><td>февраль</td></tr>
<tr><td>March</td><td>хәажәкы́ра(мза)</td><td>март</td></tr>
<tr><td>April</td><td>мшаҧы́(мза)</td><td>апрель</td></tr>
<tr><td>May</td><td>лаҵара́(мза)</td><td>маи</td></tr>
<tr><td>June</td><td>рашәара́(мза)</td><td>иун</td></tr>
<tr><td>July</td><td>ҧхынгәы́(мза)</td><td>иуль</td></tr>
<tr><td>August</td><td>на́нҳәа(мза)</td><td>август</td></tr>
<tr><td>September</td><td>цәыббра́(мза)</td><td>сентиабр</td></tr>
<tr><td>October</td><td>жьҭаара́(мза)</td><td>оқтиабр</td></tr>
<tr><td>November</td><td>абҵара́(мза)</td><td>ноиабр</td></tr>
<tr><td>December</td><td>ҧхынчкәы́н(мза)</td><td>декабр</td></tr>
</table>

<p>
<i class="fas fa-check grammar-rule"></i>
The native names can also be used without the second part of
the stem <b>-мза</b> "month".
</p>

<p>
<b>Exercise 1</b><br />
If you change the form of the verb, you can turn the sentence
into a question. Do this!
</p>
<p>
Example: Уара ара утәоуп. Уара ара утәоума?
</p>
<p>
Иахьа ҳаҩныҟа асасцәа аауеит.<br />
Дара ран илыцхраауеит.<br />
Аишәа ахаҟны саб дтәоуп.<br />
Бан есқьынгьы амаҭәа ҿыцқәа бзаалхәоит.<br />
Сан афатә лырхиоит.<br />
Кама лан длыцхраауеит.<br />
Иашьа еиҳабы ихьӡуп Дамеи.<br />
Ари ашәҟәы бара ибтәуп.
<small><a href="answers7#e21-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Put the given verbs into negative forms.
</p>
<p>
Example: сгылоуп, сгылам, сгылазам.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Стәоуп</td><td>Саҧхьеит</td></tr>
<tr><td>Сыцәоуп</td><td>Иҿысхит</td></tr>
<tr><td>Исҭахуп</td><td>Сдәылҵит</td></tr>
<tr><td>Сбаазоуп</td><td>Сагхеит</td></tr>
<tr><td>Саҿуп</td><td>Изҩит</td></tr>
<tr><td>Бзиа избоит</td><td>Избон</td></tr>
<tr><td>Сныҟәоит</td><td>Изгон</td></tr>
<tr><td>Изгоит</td><td>Исҳәон</td></tr>
<tr><td>Исфоит</td><td>Илҵон</td></tr>
<tr><td>Дыҩналоит</td><td>Изҩуан</td></tr>
</table>
<p><small><a href="answers7#e21-2">(Answers)</a></small></p>

<p>
<b>Exercise 3</b><br />
Match the beginning of the sentence in the left column with the
ending in the right column.
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>Иахьа ҳтәыла аиааира агара</td><td>есқьынгьы иазгәаҳҭоит.</td></tr>
<tr><td>Арҭ ашәҟәқәа</td><td>аишәа иахатәеит.</td></tr>
<tr><td>Ҳара ари аныҳәа</td><td>аныҳәа амш ауп.</td></tr>
<tr><td>Асасцәа зегьы</td><td>сара истәуп.</td></tr>
<tr><td>Ҳара ҳтәыла</td><td>амаҭәа ҿыцқәа сзаалхәоит.</td></tr>
<tr><td>Сееиласҳәан,</td><td>иахьӡуп Аҧсны.</td></tr>
<tr><td>Сан есқьынгьы</td><td>аҩны сдәылҵит.</td></tr>
<tr><td>Ақәа ауан,</td><td>ҳара ҳбаазеит.</td></tr>
</table>
<p><small><a href="answers7#e21-3">(Answers)</a></small></p>

<p>
<b>Exercise 4</b><br />
Open the brackets, using the verb in the present tense.
</p>
<p>
Ари аҩны дара (атәызаара).<br />
Ҳара аиааира (агара).<br />
Зегьы аныҳәа (азгәаҭара).<br />
Саҳәшьа хәыҷы Кама (ахьӡзаара).<br />
Сан аишәа (архиара).<br />
Саҳәшьеи сареи ҳан (ацхраара).<br />
Сара (бзиа абара) ҳаҩны асасцәа анаауа.
<small><a href="answers7#e21-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Make sentences using the following words:
</p>
<p>
асас, аара, ҳара, ахь;<br />
азгәаҭара, ҳара, аныҳәа, есқьынгьы, ари;<br />
аныҳәазы, амаҭәа, ан, аҿыц, аахәара, ари, есқьынгьы;<br />
агхара, ҳара, маҷк, аусура, ахь.
<small><a href="answers7#e21-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Comment! What are the people in the pictures doing? Use the
following words:
</p>
<p>
Марҭа лан, ацхраара. (Picture № ...)<br />
Аҧҳәыс, амаҭәа, аахәара. (Picture № ...)<br />
Аишәа архиара. (Picture № ...)<br />
Асасцәа ааит. (Picture № ...)<br />
Асасцәа (и)цоит. (Picture № ...)
<small><a href="answers7#e21-6">(Answers)</a></small>
</p>

<table>
<tr>
<td><img src="/assets/img/21-1.png" width="527" height="400" border="1" alt="Picture 1" /><br />Picture 1</td>
<td><img src="/assets/img/21-2.png" width="341" height="400" border="1" alt="Picture 2" /><br />Picture 2</td>
</tr>
<tr>
<td><img src="/assets/img/21-3.png" width="320" height="400" border="1" alt="Picture 3" /><br />Picture 3</td>
<td><img src="/assets/img/21-4.png" width="348" height="400" border="1" alt="Picture 4" /><br />Picture 4</td>
</tr>
<tr>
<td colspan="2"><img src="/assets/img/21-5.png" width="536" height="500" border="1" alt="Picture 5" /><br />Picture 5</td>
</tr>
</table>

<p>
<b>Exercise 7</b><br />
What happened after what? Number the actions.
</p>
<p>
Аишәа ахаҟны саб дтәоуп (#…)<br />
Ҳара аишәа ҳархиоит. (#…)<br />
Урҭ сани саби рҩызцәа роуп. (#…)<br />
Иахьа ныҳәоуп. (#…)<br />
Асасцәа ааит. (#…)<br />
Иахьа ҳаҩныҟа асасцәа аауеит. (#…)<br />
Ҳтәыла аиааира агара аныҳәамш ауп. (#…)<br />
Бзиа избоит ҳаҩны асасцәа анаауа. (#…)
<small><a href="answers7#e21-7">(Answers)</a></small>
</p>

<p>
<b>Exercise 8</b><br />
Put the given verbs into the interrogative form.
</p>
<p>
For example: сцоит, сцома? исфоит, исфома?
</p>
<table border="1" cellpadding="4" cellspacing="0">
<tr><td>дтәоуп,</td><td>шәагхоит,</td></tr>
<tr><td>илымоуп,</td><td>иргоит,</td></tr>
<tr><td>иҟаҳҵоит,</td><td>баҧхьеит,</td></tr>
<tr><td>иаасхәоит,</td><td>дыҟоуп,</td></tr>
<tr><td>сыҧшуеит,</td><td>дыҩуеит,</td></tr>
<tr><td>иаҳгоит,</td><td>уагхоит,</td></tr>
<tr><td>ирымоуп,</td><td>иахҵоит,</td></tr>
</table>
<p><small><a href="answers7#e21-8">(Answers)</a></small></p>
