---
order: 203
title: Lesson 3
subtitle:
- Conjugation of verbs
- Work with vocabulary
---

<p>
<i class="fas fa-bolt important-material"></i>
Pay attention to the way the verb
<b>ацара'</b> "to go"
conjugates.<br />
Сара' сцо'ит
- I go<br />
Бара' бцо'ит
- you (a woman) go<br />
Уара' уцо'ит
- you (a man) go<br />
Иара' дцо'ит
- he goes<br />
Лара' дцо'ит
- she goes
</p>

<p>
<b>Exercise 1</b><br />
Conjugate the verbs
<b>анхара'</b>
"to live",
<b>аара'</b>
"to come, to arrive"
by filling in the first letter.<br />
Сара' ... ихои'т
- I live<br />
Уара' ... ихои'т
- you (a man) live<br />
Бара' ... ихои'т
- you (a woman) live<br />
Иара' ... ихои'т
- he lives<br />
Лара' ... ихои'т
- she lives<br />

Сара' ... аауе'ит
- I come<br />
Уара' ... аауе'ит
- you (a man) come<br />
Бара' ... аауе'ит
- you (a woman) come<br />
Иара' ... аауе'ит
- he comes<br />
Лара' ... аауе'ит
- she comes<br />
<small><a href="answers2#e3-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Make the correct connection:
for every example in the left column is the corresponding translation in the right.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>
абара'<br />
<b>с</b>ара и<b>з</b>боит<br />
<b>б</b>ара и<b>б</b>бо'ит<br />
<b>у</b>ара и<b>у</b>бо'ит<br />
<b>и</b>ара (и)<b>и</b>бо'ит<br />
<b>л</b>ара и<b>л</b>бо'ит<br />
</td>
<td>
to see<br />
he sees<br />
you (a woman) see<br />
she sees<br />
I see<br />
you (a man) see
</td>
</tr>
<tr>
<td>
агара'<br />
<b>и</b>ара' (и)<b>и</b>го'ит<br />
<b>б</b>ара' и<b>б</b>го'ит<br />
<b>с</b>ара' и<b>з</b>го'ит<br />
<b>у</b>ара' и<b>у</b>го'ит<br />
<b>л</b>ара' и<b>л</b>го'ит
</td>
<td>
to take<br />
I take<br />
he takes<br />
she takes<br />
you (a woman) take<br />
you (a man) take
</td>
</tr>
</table>
<small><a href="answers2#e3-2">(Answers)</a></small>

<p>
Now you will learn some new words and phrases!
</p>

<p>
{% include audio.html file="3-1" %}
ала' - dog.
А'хра ила'
- the dog of Akhra.<br />
а'аи (аие'и) - yes.
А'аи,
сара'
сцо'ит - yes, I am going.<br />
мап (мамо'у) - no.
Мап, сара' сцом
- no, I'm not going.<br />
ады'рра - to know.
Сара'
Ка'ма
дызды'руеит
- I know Ка'ма.<br />
ау'с - business.
Сара'
сус
ибзи'аны
изды'руеит
- I know my work well.
Ари'
сара'
ису'сым!
- it's none of my business!<br />
ау'сура (ау'с аура')
- work.
Ка'ма ау'с лу'еит.<br />
а'мазаара*
- to have.
Сара' ала' сы'моуп
- I have a dog.
Сара' сла бзи'а избо'ит
- I love my dog.
</p>

<p>
* Note: the word а'мазаара
is made of up of the root -ма
and suffix -заара.
</p>

<p>
Remember these expressions!
</p>

<p>
{% include audio.html file="3-2" %}
Амш бзи'оуп
- the day is good.<br />
Ара'
анхара'
бзи'оуп
- it is good to live here.<br />
Лара'
бзи'а
илбо'ит
ара'
анхара'
- she loves (likes) to live here.<br />
Сара'
бзи'а
бызбо'ит
- I love you (a woman).<br />
Сара'
бзи'а
узбо'ит
- I love you (a man).<br />
Лара'
дыбзи'оуп
- she is good.<br />
Иара'
бзи'а
ибо'ит
амшы'н
- he loves the sea.<br />
Сара'
сус
ибзи'аны
изды'руеит
- I know my work (business) well.<br />
Ари'
сара'
ису'сым!
- it's none of my business!<br />
Ка'ма
ау'с
лу'еит
- Кама is working.<br />
Сара'
ала'
сы'моуп
- I have a dog.<br />
Сара'
сла
бзи'а
избо'ит
- I love my dog.
</p>

<p>
{% include audio.html file="3-3" %}
Бара'
амшы'н
бзи'а
иббо'ма?
- do you (a woman) love the sea?<br />
А'аи,
сара'
амшы'н
бзи'а
избо'ит
- yes, I love the sea.<br />
Иахьа'
амшы'н
бзи'оуп
- today the sea is good.
</p>

<p>
{% include audio.html file="3-4" %}
Сара'
изды'руеит
- I know.<br />
Уара'
иуды'руама?
- do you (a man) know?
</p>

<p>
{% include audio.html file="3-5" %}
Сара'
амшы'н
ахь
сцо'ит
- I am going to the sea.<br />
Бара'
А'хра
иа'хь
бца
- you (a woman) go to Akhra.<br />
Уара'
Даме'и
иахь
уца'
- you (a man) go to Damai.
</p>

<p>
{% include audio.html file="3-6" %}
Иара'
ау'с
иу'еит
- he works.<br />
Бара'
ау'с
бу'ама?
- do you (a woman) work?<br />
Сар'а
су'с
ибзи'аны
изды'руеит
- I know my business (work) well.<br />
Бара'
бу'с
бзи'а
иббо'ма?
- do you (a woman) love your work?
</p>

<p>
<b>Exercise 3</b><br />
Put the words in brackets in the correct form.<br />
Example:
Иара (агара)
- Иара (и)игоит.
</p>

<p>
Сара (ацара).
Уара (аара).
Иара ара (анхара).
Лара (аус
бзиа абара).
Иара (адырра).
Ашкол (ахь, ацара).
Аусура (ахь, ацара).<br />
<small><a href="answers2#e3-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
Translate into Abkhazian.
</p>

<p>
She leaves.
I arrive.
He takes.
I see the sea.
The sea is good.
You (a man) see.
You (a woman) leave.
Do you (a woman) love the sea?
Yes, I love the sea.
I live here.
He lives here.
Do you (a woman) live here?
Yes, I live here.<br />
<small><a href="answers2#e3-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
And now translate into English. It's a lot easier, isn't it?
</p>

<p>
Бара
баауеит.
Иара
дцоит.
Бара
аус
буама?
Сара
саауеит.
Сара
сцоит.
Иара
аус
иуеит.
Амшын
бзиоуп.
Иара
(и)игоит.
Уара
иугоит.
Бара
амшын
бзиа
иббомо?
Ааи,
сара
амшын
бзиа
избоит.
Уара
аус
ууама?
Ааи,
сара
аус
зуеит.
Уара
ибзианы
аус
ууама?
Сара
сус
ибзианы
издыруеит.
Бара
бус
бзиа
иббома?
Сара
лара
лусурахь
сцоит.<br />
<small><a href="answers2#e3-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Here are a few pictures.
Try and match each picture to one of the following phrases.
</p>

<p>
Амш бзи'оуп.
(Picture № ...)<br />
Иара дцоит.
(Picture № ...)<br />
Сара' амшы'н ахь сцо'ит.
(Picture № ...)<br />
Иара' ау'с иуе'ит.
(Picture № ...)
</p>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td><img src="/assets/img/3-1.gif" width="418" height="245" border="1" alt="Picture 1" /><br />Picture 1</td>
<td><img src="/assets/img/3-3.gif" width="215" height="298" border="1" alt="Picture 3" /><br />Picture 3</td>
</tr>
<tr>
<td><img src="/assets/img/3-2.gif" width="411" height="282" border="1" alt="Picture 2" /><br />Picture 2</td>
<td align="right"><img src="/assets/img/3-4.gif" width="164" height="330" border="1" alt="Picture 4" /><br />Picture 4</td>
</tr>
</table>
<br />
<small><a href="answers2#e3-6">(Answers)</a></small>

<p>
<b>Exercise 7</b><br />
With these words and phrases, if you try, you can make a short dialog.<br />
You can do it! Try and talk with someone!
</p>

<p>
Мшыбзи'а!<br />
Бзи'ара
уба'ат
(бба'ат)!<br />
Абзи'араз!<br />
Уара'
(бара')
уаба'цои
(баба'цои)?<br />
Уара'
(бара')
уаба'нхои
(баба'нхои)?<br />
Сара'
ара'
(ана')
сы'нхоит.<br />
Сара'
ашко'л
(ау'сура)
ахь
сцо'ит.<br />
Сара'
ау'с
зуе'ит.<br />
Сара'
сус
бзи'а
избо'ит.<br />
Сара'
су'сура
бзи'аны
изды'руеит.<br />
Уара'
(бара')
ау'с
ууа'ма
(буа'ма)?<br />
Уара'
(бара')
уу'с
(бу'с)
бзи'а
иубо'ма
(иббо'ма)?<br />
<small><a href="answers2#e3-7">(Answers)</a></small>
</p>

<p>
Until the next meeting!<br />
Абзиараз!
</p>

