---
order: 204
title: Lesson 4
subtitle:
- Present and past tense of verbs
- Continuation of the alphabet: new letters and sounds (ҧ, ҭ)
- Auxiliary form of verbs
---

<p>
Abkhazian language has letters and sounds that are known to you from the Russian alphabet:
<b>п</b> and <b>т</b>.
But alongside them are the aspirate variants:
<b>ҧ</b> and <b>ҭ</b>.
Pronounce them by following the soundtrack.
</p>

<p>
{% include audio.html file="4-1" %}
пҧ; пҧ<br />
ҧа, ҧы, ҧи, ҧе,
ҧу<br />
тҭ; тҭ<br />
ҭа, ҭе, ҭи, ҭо, ҭу, ҭы
</p>

<p>
New words and expressions.
</p>

<p>
{% include audio.html file="4-2" %}
а'иҧшра (е'иҧшра)
- to be similar.
Сара'
дсе'иҧшуп.
- similar to me.
Наа'ла
дле'иҧшуп
- similar to Naala.
Иара
диеиҧшуп
- similar to him.<br />
аҧша' а'сра
- to blow (wind).
Ара'
аҧша'
а'суеит
- here wind blows.<br />
а'ҧсуа
- Abkhaz.
Сара'
саҧсу'оуп*
- I am Abkhaz.<br />
Аҧсны'
- Abkhazia.
Сара'
саҧсу'оуп,
Аҧсны
сынхо'ит
- I am Abkhaz, I live in Abkhazia.<br />
аҧшра'
- to look.
Сара'
сыҧшуе'ит
- I look.
Иара'
дыҧшуе'ит
- he looks.
Лара'
дыҧшуе'ит
- she looks.
Лара'
иара'
иахь
дыҧшуе'ит
- she looks at him (in his direction).<br />
аҧха'
- warm.
Иахьа
амш
ҧхо'уп
- today is a warm day.<br />
а'ҧхьара
- to read.
Сара'
са'ҧхьоит.
Иара'
да'ҧхьоит.
Иара'
агазе'ҭ
да'ҧхьоит.<br />
уи
- he, her, that, those (demonstrative pronoun).
Уи
амшы'н
ахь
дыҧшу'еит
- he (she) looks at the sea.<br />
а'ҭара
- to give.
Иу'сҭоит
- I give you (to a man).
Ибы'сҭоит
- I give you (to a woman).
Исы'лҭоит
- he gives me.
Иу'иҭоит
- he gives you.
Иҭ!
- give him.<br />
аҧа'ра
- money.
Ка'ма,
А'хра
аҧа'ра
иҭ!
- Kama, give money to Akhra.<br />
аҭахра'
- to want.
Сара'
исҭаху'п
- I want.
Бара'
ибҭаху'ма?
- do you (a woman) want?
Иара
(и)иҭаху'ма
- does he want?<br />
иҭабу'п
- thank you.<br />
а'ццакра
- to be in a hurry.
Наа'ла
дыццакуе'ит
- Naala is in a hurry.
Уара'
уццакуа'ма
 - are you (a man) in a hurry?<br />
 абри' (ари')
 - this, that.<br />
аҭы'ҧ
- place.
Ари'
аҭы'ҧ
бзи'оуп
- this place is good.<br />
а'ҧхьа
- in front, ahead, before, at first, from the beginning.
Сара'
са'ҧхьа
- in front of me.
</p>

<p>
* Note: in the word
саҧсу'оуп
we actually have the form
саҧсы'уоуп,
however, there is a rule that when
<b><i>ы</i></b> is next to <b><i>у</i></b>,
<b><i>ы</i></b> is not written.
</p>

<p>
<b>Exercise 1</b><br />
</p>

<p>
<i class="fas fa-bolt important-material"></i>
It would be good to learn all the text by heart!<br />
But for now read and translate the following text into English.
</p>

<p>
{% include audio.html file="4-3" %}
Мшыбзи'а
Ка'ма!<br />
Бзи'а
бба'аит
Наа'ла!<br />
Ка'ма
А'хра
ау'сура
дца'ма?<br />
Мап!
Дыбба'р
бҭаху'ма?
Баа'и!
А'хра
ана'
ау'с
иу'еит.
Уи'
бзи'а
ибо'ит
ара'
ау'сура.<br />
Иҭабу'п
Ка'ма,
А'хра
ана'
дызбо'ит.
А'хра
иа'н
дле'иҧшуп.<br />
Баа'и
Наа'ла!<br />
Мап,
Ка'ма,
сара'
сыццакуе'ит,
абри'
аҧа'ра
А'хра
иҭ.<br />
Ибзи'оуп
Наа'ла!<br />
Иҭабу'п
Ка'ма!
Абзи'араз!<br />
Абзи'араз
Наа'ла!<br />
<small><a href="answers2#e4-1">(Answers)</a></small>
</p>

<p>
And now a little grammar.
</p>

<p>
Let's get acquainted with the most common time forms of the Abkhazian language.
</p>

<p>
Present tense in dynamic and static verbs is formed in various ways:
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Present tense <i>(static verb)</i></b> is formed with the suffix
<b><i>-уп</i></b>.
</p>

<p>
Сгы'ло<b>уп</b>
- I am standing,
бгы'ло<b>уп</b>
- you (a woman) are standing,
угы'ло<b>уп</b>
- you (a man) are standing.<br />
Исы'мо<b>уп</b>
- I have,
ибы'мо<b>уп</b>
- you (a woman) have,
иу'мо<b>уп</b>
- you (a man) have.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
If the root of the word ends with the vowel sound <b><i>а</i></b>,
then <b><i>а+уп=оуп</i></b>,
if a consonant or vowel <b><i>ы</i></b>
then <b><i>о</i></b> is omitted.<br />
ара
сгылоуп
(сгыла+ауп)
- I am here;
сара
исҭаху'п
(исҭах+уп)
- I want.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Present tense <i>(dynamic verb)</i></b> is formed with the suffix
<b><i>-оит</i></b> or <b><i>-уеит</i></b>.
</p>

<p>
Изг<b>о'ит</b>
- I take,
ибг<b>о'ит</b>
- you (a woman) take,
иуг<b>о'ит</b>
- you (a man) take;
Сара
аус
зу<b>еит</b>
- I work.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
This tense can be used to convey a meaning in the future tense
(the same as in Russian language).<br />
Иахьа'
изг<b>о'ит</b>
- I will take (something) today.
Нас
изг<b>о'ит</b>
- I will take (something) later.
</p>

<p>
How can you tell which form of the verb to use in the present tense?
</p>

<p>
<i class="fas fa-bolt important-material"></i>
If the meaning of the verb is <i>not</i> a meaning of a process or movement,
then the verb is static and we use the suffix <b>-уп</b>.<br />
сгы'лоуп
- I am standing;
исҭаху'п
- I want;
 ибы'моуп
- you (a woman) have.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
If the meaning of the verb <i>does</i> mean a process or movement,
then we have a dynamic verb, and we use the suffix
<b>-оит</b> or <b>-уеит</b>.<br />
иугоит
- you (a man) take;
Иара аус иуеит
- he works.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
<b>Past <i>perfect</i> tense</b> is formed with the suffix
<b><i>-ит</i></b>.
Изге<b>ит</b>
- I took.
Исфе'<b>ит</b>
- I ate.
</p>

<p>
If the root of the verb ends with the vowel <b><i>а</i></b>,
then <b><i>а</i> +</b> suffix of the past perfect tense
<b><i>-ит</i></b>
becomes
<b><i>-еит</i></b>.<br />
<i class="fas fa-bolt important-material"></i>
Don't get confused with the suffix of the present tense
<b>-уеит//-оит!</b>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
The combinations
<b><i>аи</i></b> and <b><i>иа</i></b>
in Abkhazian often change to the combination
<b><i>еи</i></b>, <b><i>ие</i></b>
or the sound <b><i>е</i></b>.
For example,
<b>аи</b>ҧшра
- to be similar, but
дл<b>еи</b>ҧшуп
- similar to her.
Ахр<b>еи</b>
Наал<b>еи</b>
(Ахр<b>аи</b>
Наал<b>аи</b>)
- Akhra and Naala.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
The combinations
<b><i>ау</i></b>, <b><i>уа</i></b> and <b><i>ауа</i></b>
often change to the combination
<b><i>уо</i></b>, <b><i>оу</i></b>
or the vowel <b><i>о</i></b>.
Изг<b>о</b>ит <
изг<b>ауа</b>ит
- I take.
</p>

<table width="400">
<tr><th>Table of time forms</th></tr>
</table>
<table width="400" border="1" cellspacing="0" cellpadding="4">
<tr>
<td>Present tense static verb</td>
<td><b>-уп</b></td>
</tr>
<tr>
<td>Present tense dynamic verb</td>
<td><b>-оит, -уеит</b></td>
</tr>
<tr>
<td>Past perfect tense</td>
<td><b>-ит</b></td>
</tr>
</table>

<p>
Now you are familiar with three time forms of the Abkhazian verb.
Try to apply your knowledge in the next exercise.
</p>

<p>
<b>Exercise 2</b><br />
Translate into English.
</p>

<p>
Сара
сыҧшуе'т
амшы'н
ахь.
Сара
амшы'н
ахь
сыҧши'т.
Иахьа'
(и)хьҭо'уп,
аҧша'
а'суеит.
Наа'ла
иахьа
даауеит.
Сара
иара
аҧара
исҭеит.
Ахра
иара
иахь
дыҧшуеит.
Сара
агазеҭ
саҧхьоит.
Сара
агазеҭ
саҧхьеит.
Наала
ахьҭа
дакит.
Ала
аҭыҧ
ахь
ицеит.<br />
<small><a href="answers2#e4-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Create sentences from these words in present and past tense.
</p>

<p>
1. Сара;
ахь;
ацара;
амшын.
2. Абри;
аҭара;
Ахра;
аҧара.
3. Ала;
аҧшра;
ахь;
сара.
4. Ара;
аҧша
асра.
5. Сара;
аус;
бзиа
абара.
6. Лара;
аццакра.
7. Уи
ана
анхара.
8. Дамеи;
аҧара;
аагара.<br />
<small><a href="answers2#e4-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
Translate into Abkhazian.
</p>

<p>
The wind blows.
He reads the newspaper.
Naala gives money to Akhra.
<!-- something missing -->
Today is cold.
I work.
Tali is similar to Akhra.<br />
<small><a href="answers2#e4-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Make the correct connection. You already did similar tasks.
</p>

<table width="200" border="1" cellspacing="0" cellpadding="4">
<tr><td>
сара<br />
уара<br />
иара<br />
лара<br />
бара
</td><td>
быҧшуеит<br />
дыҧшуеит<br />
дыҧшуеит<br />
уҧшуеит<br />
сыҧшуеит
</td></tr>
</table>
<small><a href="answers2#e4-5">(Answers)</a></small>

<p>
<b>Exercise 6</b><br />
Mark the sentences as they are spoken on the soundtrack.
</p>

<table width="300" border="1" cellspacing="0" cellpadding="4">
<tr><td>
{% include audio.html file="4-4" %}
лара
длеиҧшуп<br />
лара
дыҧшуеит<br /><br />
иусҭоит
аҧара<br />
илысҭоит
аҧара<br /><br />
лара
даҧхьоит<br />
иара
даҧхьоит
</td><td>
сара
сцоит<br />
сара
сцеит<br /><br />
аҧша
асуеит<br />
аҧша
асит<br /><br />
агазеҭ
саҧхьоит<br />
агазеҭ
саҧхьеит
</td></tr>
</table>

<p>
<b>Exercise 7</b><br />
Fill in the missing letters.<br />
<i class="fas fa-bolt important-material"></i>
The ability to use the correct personal pronoun in a verb
will testify that you have understood the previous material!
</p>

<p>
Example:
Сара
и..згоит
-
Сара
изгоит.<br />
Сара
и..ҭахуп
\ ..аҧхьоит<br />
Уара
и..ҭахуп
\ ..аҧхьоит<br />
Бара
и..ҭахуп
\ ..аҧхьоит<br />
Иара
и..ҭахуп
\ ..аҧхьоит<br />
Лара
и..ҭахуп
\ ..аҧхьоит
<br />
<small><a href="answers2#e4-7">(Answers)</a></small>
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Useful expressions, remember them!<br />
- Иахьа
амш
бзиоуп.<br />
- Ааи,
иахьа
амш
бзиоуп,
иҧхарроуп.<br />
- Today is good weather.<br />
- Yes, today is good weather, warm.<br />
- Иахьа
(и)хьҭоуп,
аҧша
асуеит.<br />
- Ааи,
ихьҭоуп,
сара
ахьҭа
сакит.<br />
- Today is cold, the wind is blowing.<br />
- Yes, cold, I'm cold.
</p>

<p>
Абзиараз!
</p>

