---
order: 205
title: Lesson 5
subtitle:
- "Continuation of the alphabet: new letters and sounds (жь, шь)"
- "Grammar: imperative form of verbs, question form of verbs"
---

<p>
The letters
<b>шь</b> and <b>шь</b>
don't have analogs in Russian language.
They are much softer than Russian combinations
ши, шё and жи, жё.<br />
Listen to the soundtrack to the pronounciation of the sounds
<b>шь, шь</b>.
</p>

<p>
Repeat with the soundtrack<br />
{% include audio.html file="5-1" %}
ж жь<!--; ж жь--><br />
жь,
жьа,
жьы,
жьу,
жьи,
жьо,<br />
ш шь<!--; ш шь--><br />
шь,
шьа,
шьы,
шьу,
шьи,
шьо
</p>

<p>
Words and expressions
</p>

<p>
{% include audio.html file="5-2" %}
(а)аны'жьра
- to leave, leave alone, abandon.
Ины'жь
- leave it.
Ара' ины'жь
- leave it here.<br />
а'шьыжь
- morning, in the morning.
Даме'и
а'шьыжь
даауе'ит
- Damai will come in the morning.<br />
шьыжьла
- mornings, in the mornings.
Шьыжьла
амшын
ахь
сцоит
- in the mornings I walk by the sea.<br />
акры'фара,
а'фара
- to eat.<br />
амашьы'на
- car.<br />
машьы'нала
- by car.<br />
шьыбжьо'н
- for lunch.
Гәди'са
машьы'нала
шьыбжьо'н
даа'ит
- Gudisa came for lunch by car.<br />
шьыбжьы'шьҭахь
- afternoon.
Шьыбжьы'шьҭахь
ара'
аҧша'
а'суеит
- in the afternoon here the wind blows.<br />
а'шьҭахь
- after, later, behind.<br />
шьыжьхьа'
- breakfast.
Шьыжьхьа'
а'шьҭахь
Наа'ла
Гәди'са
ашко'л
ахь
дылге'ит
- after breakfast Naala took Gudisa to school.<br />
аиашьа /
а'(иа)шьа /
а(и)ешьба
- brother.<br />
а'мазаара
- to have.<br />
ихьҭоуп
- cold.<br />
а'хьҭакра
(а'хьҭа
акра')
- to freeze, to feel cold.
А'хьҭа
саки'т
- I feel cold.
</p>

<p>
{% include audio.html file="5-3" %}
Сашьа'
амашьы'на
а'ҧхьа
дгы'лоуп
- my brother is standing in front of the car.<br />
Сашьа'
амашьы'на
и'моуп
- my brother has a car.
</p>

<p>
{% include audio.html file="5-4" %}
Уи
имашьы'на
ара'
ини'жьуеит
- he leaves his car here.<br />
Уара'
умашьы'на
ана'
ины'жь
- you (a man) leave your car there.<br />
Сашьа'
а'шьыжь
ау'сура
дцоит
- my brother goes to work in the morning.<br />
Ахра
шьыбжьо'н
даа'ит
- Akhra came for lunch.<br />
Шьыбжьы'шьҭахь
Наа'ла
даа'т
- Naala came in the afternoon.<br />
Даме'ии
Гәди'сеи
а'шьыжь
амшы'н
ахь
ице'ит
- Damai and Gudisa went to the sea in the morning.<br />
Наа'ла
лашьа'
шьыбжьо'н
ара'
крифе'ит
- Naala's brother ate lunch here.<br />
Сашьа'
а'шьыжь
акрифо'ит,
уи'
а'шьҭахь
ау'сурахь
дцо'ит
- my brother eats in the morning, and after that goes to work.
</p>

<p>
<b>Exercise 1</b><br />
Translate into English.
</p>

<p>
1. Сара'
исы'моуп
амашьы'на.
2. А'шьыжь,
шьыжьхьа'
а'шьҭахь,машьы'нала
ау'сура
сцо'ит.
3. Шьыбжьон
Наа'ла
лахь
сцо'ит.
4. Ка'ма
лашьа'
а'шьыжь
даауе'ит.
5. Ула'
сара'
сла'
е'иҧшуп.
6. Сашьа'
а'шьыжь
амшы'н
ахь
сиго'ит.
7. Гәди'сеи
Наа'леи
абра'
инхо'ит.<br />
<small><a href="answers2#e5-1">(Answers)</a></small>
</p>

<p>
And now a little grammar.
You have already met the imperative and question form.
We will bring what you know of these into a system.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
The <b>imperative form</b> is formed from the base of the verb (without the suffix).
</p>

<p>
Бца!
Go! (you, a woman)
from the verb
а-ца-ра
to go.<br />
Ира!
(You) take (it)
from the verb
а-га-ра
to take.<br />
Ины'жь!
Leave it!
Ара'
ины'жь!
Leave it here!<br />
Ана бгыл!
Stand there!
Ара бааи!
Come here!
Уцакы!
Hurry up!
</p>

<p>
<i class="fas fa-bolt important-material"></i>
The <b>question form</b> of the verb is formed with the suffixes -ма, -и.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
With suffix <b>-ма</b><br />
Ари
бара
ибга<b>ма</b>?
Did you take it?
(ага-ра
+ question suffix -ма).<br />
Сара
саҧхьа
даа<b>ма</b>?
Did he (she) come earlier than me?<br />
Уара
уца<b>ма</b>?
Did you come?<br />
Наала
даа<b>ма</b>?
Did Naala come?<br />
Бара
ара
баанхо<b>ма</b>?
Are you (a woman) staying here?<br />
Лара
бара
былба<b>ма</b>?
Did she see you?
</p>

<p>
<i class="fas fa-bolt important-material"></i>
With suffix <b>-да</b>,
when it is necessary to put the question who? for whom? to whom?
(in relation to the animate class).<br />
Ари
агазеҭ
иаҧхьада?
Who has read the newspaper?<br />
Ана'
иббода?
Who did you (a woman) see there?<br />
Аҧара
зыбҭада?
To whom did you (a woman) give money?
</p>

<p>
<b>Exercise 2</b><br />
Translate the following sentences from the expression form to question form.
You won't find it difficult.
If there are any difficulties, then you can use the key for pointers.
</p>

<p>
Example:<br />
Уара
иахьа
уцоит.
Уара
иахьа
уцома?<br />
Камеи
Ахреи
ашкол
ахь
ицеит.
Ашкол
ахь
ицада?
</p>

<p>
Иара
ашкол
ахь
дцоит.<br />
Ахреи
Дамеии
ааит.<br />
Лара
аус
луеит.<br />
Уи
агазеҭ
даҧхьоит.<br />
Аҧша
асуеит.<br />
Бара
ара
бынхоит.<br />
Иара
ашкол
ахь
дцеит.<br />
<small><a href="answers2#e5-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Can you make the imperative form from the given verbs?
You have already met them.<br />
Example.
ацара
(бара) >
бца!
</p>
<ol>
<li>а'фара
(бара;
уара);</li>
<li>абара'
(уара);</li>
<li>а'ҧхьара
(бара);</li>
<li>аҧшра'
(уара);</li>
<li>ацара'
(уара);</li>
<li>а'ццакра
(уара);</li>
<li>аагара'
(бара);</li>
<li>агы'лара
(бара;
уара);</li>
<li>агара'
(бара;
уара);</li>
<li>ааны'жьра
(бара;
уара);</li>
</ol>
<small><a href="answers2#e5-3">(Answers)</a></small>

<p>
<b>Exercise 4</b><br />
Place the corresponding pronoun or personal name.
</p>

<table>
<tr>
<td width="200">... аусура бцоит</td>
<td>... аусура уцоит</td>
</tr>
<tr>
<td>... аусура дцоит</td>
<td>... аусура бцома?</td>
</tr>
<tr>
<td>... аусура уцома?</td>
<td>... аусура уца!</td>
</tr>
<tr>
<td>... аусура бца!</td>
</tr>
</table>
<small><a href="answers2#e5-4">(Answers)</a></small>

<p>
<b>Exercise 5</b><br />
Translate into English.
</p>

<p>
1. Иара
ашьыжь
даауеит.
2. Иара
ашьыжь
даауама?
3. Ашьыжь
уааи!
4. Иара
сашьа
амашьына
ииҭеит.
5. Иара
сашьа
амашьына
ииҭама?
6. Сашьа
амашьына
иҭ.
7. Иара
шьыбжьон
машьынала
дааит.
8. Иара
шьыбжьон
машьынала
даама?
9. Шьыбжьон
машьынала
уаа!<br />
<small><a href="answers2#e5-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Join the pronoun with the corresponding verb.
</p>

<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td width="100" align="center">
уара<br />
иара<br />
бара<br />
лара<br />
сара
</td>
<td width="150" align="center">
(а)крысфоит<br />
(а)крифоит<br />
(а)крылфоит<br />
(а)крыбфоит<br />
(а)круфоит
</td>
</tr>
<tr>
<td width="100" align="center">
уара<br />
иара<br />
бара<br />
лара<br />
сара
</td>
<td width="150" align="center">
ибымоуп<br />
иумоуп<br />
илымоуп<br />
исымоуп<br />
(и)имоуп
</td>
</tr>
</table>
<small><a href="answers2#e5-6">(Answers)</a></small>

<p>
<b>Exercise 7</b><br />
Match these sentences with the corresponding picture.<br />
Алхас
крифоит.
(Picture № ...)<br />
Дамеи
крифеит.
(Picture № ...)<br />
Сара
машьынала
аусурахь
сцоит.
(Picture № ...)
</p>

<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
<img src="/assets/img/5-1.gif" width="260" height="300" border="1" alt="Picture 1" /><br />Picture 1<br />
<img src="/assets/img/5-2.gif" width="250" height="313" border="1" alt="Picture 2" /><br />Picture 2<br />
<br />
<br />
<br />
<small><a href="answers2#e5-7">(Answers)</a></small>
</td>
<td>
<img src="/assets/img/5-3.gif" width="500" height="313" border="1" alt="Picture 3" /><br />Picture 3<br />
<img src="/assets/img/5-4.gif" width="500" height="475" border="1" alt="Picture 4" /><br />Picture 4
</td>
</tr>
</table>

