---
order: 206
title: Lesson 6
subtitle:
- "Continuation of the alphabet: new letters and sounds (қ, қь, қә)"
- "Grammar: verbs, conjugation"
- Consolidation
---

<p>
As well as the letters you already know,
<b>к, кь, кә</b>,
Abkhazian also has it's aspirate variants,
<b>қ, қь, қә</b>.
</p>

<p>
{% include audio.html file="6-1" %}
қ қь қә<br />
к қ, кь қь, кә қә
</p>

<p>
{% include audio.html file="6-2" %}
ақы'ҭа
village.
Сара
сқыҭа
дууп
My village is big.<br />
а'қалақь
town, city<br />
ақьаа'д
paper.
Ақьаа'д
иану'п
Written on paper.<br />
есқьынгьы'
always, constantly.<br />
а'цқьа
clean.
Ақьаад
цқьоуп
The paper is clean.<br />
ары'цқьара
to clean.
Исрыцқьоит
I clean.
Ибрыцқьоит
You (a woman) clean.<br />
а'шықәс
year.<br />
а'лгара
to finish.
Алха'с
агазе'ҭ
а'ҧхьара
да'лгеит
Alhas has finished reading the newspaper.<br />
азы'
for.
Сара
сзы
ари
ашықәс
бзиан
For me this was a good year.<br />
аагара'
to bring,
иаага'
bring (imperative)<br />
қәа
plural suffix;
а'қалақьқәа
towns,
ақыҭақәа
villages.
</p>

<p>
* Note: if the adjective is after the verb,
then the plural suffix -қәа goes to the adjective.<br />
Ақьаа'д
цқьа<b>қәа</b>.
Clean paper.
Ақь'та
бзи'ақәа.
Nice villages.
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Try and learn the text and expressions offered in the lessons by heart.
It will enrich your vocabulary.
</p>

<p>
{% include audio.html file="6-3" %}
Наа'ла
иахьа'
ақы'ҭахь
дцо'ит.
А'хра
агазеҭ
даҧхьеит.
Даме'и
даа'ит,
уи
Е'сма
ақы'ҭахь
диго'ит.
Ари'
ақьаа'д
цқьо'уп.
Даме'ии
А'хреи
есқьынгьы'
шьыжьла'
а'қалақь
ахь
ицо'ит.
А'мшқәа
цоит.
Лара'
ақьаа'дқәа
лы'моуп.
Даме'и
агазе'ҭ
азы'
ақьаад
ааиге'ит.
Ка'ма,
ига'
сара'
сзы
ақьаад
бҕьыц
цқьақәа'.
</p>

<p>
Today Naala is going to the village.
Akhra has read the newspaper.
Damei arrived, he takes Esma to the village.
This paper is clean.
Damei and Akhra always go to the town in the morning.
Days pass.
She has paper.
Damei brought paper for the newspaper.
Kama, bring me a clean sheet of paper.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
You already know how the verb reflects the subject.
Сара <u>с</u>цоит,
<u>у</u>ара <u>у</u>цоит,
<u>б</u>ара <u>б</u>аауеит,
уца!
etc.
These were single-subject verbs,
ie verbs which reflect only one subject.
Abkhazian verbs can reflect up to four subjects.<br />
We will take the verb you know
<b>абара</b>
«to see»
and reflect into it two subjects.<br />
узбоит
"I see you (a man)"
[уара+сара+абара];<br />
субоит
"you (a man) see me"
[сара+уара+абара];<br />
бызбоит
"I see you (a woman)"
[бара+сара+абара]
(here the <i>ы</i> after the <i>б</i> appears in order to avoid a conflict of three consonants);<br />
сыббоит
"you (a woman) see me",
literally: me you see
[сара+бара+абара].
</p>

<p>
<b>Exercise 1</b><br />
Translate into English.
</p>

<p>
1. Ари
ашықәс
сара
сзы
ибзиан.
2. Сара
ашкол
салгеит.
3. Аҧхын
есқьынгьы
ақыҭахь
сцоит.
4. Иахьа
сара
ақалақь.
5. Сара
ақыҭа
бзиа
избоит.
6. Ашьыжь
сашьа
машьынала
даауеит,
ақыҭахь
сигоит.<br />
<small><a href="answers2#e6-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Translate into Abkhazian.
</p>

<p>
1. Do you (a woman) love the sea?
2. Yes, I love the sea.
3. I live here.
4. She's looking at me (in my direction).
5. In the mornings, after breakfast, I go to work by car.
6. Today is cold, I'm freezing.
7. After lunch she goes to the village.
8. Here the sea is clean.
9. Who took my newspaper?<br />
<small><a href="answers2#e6-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Translate into Abkhazian.
</p>

<p>
1. I see.
2. I see you (a man).
3. Naala goes (by car) to the village.
4. Akhra has finished school.
5. He has clean paper.
6. It's a village school.
7. She loves the sea.
8. Today I will see her.<br />
<small><a href="answers2#e6-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
Make sentences using the given words.
</p>

<ol>
<li>Есқьынгьы,
дызбоит,
иара,
ара.</li>
<li>Ақалақь,
шьыжьла,
ахь,
Ахра,
дцоит.</li>
<li>Есма,
иахьа,
дигоит,
ақыҭахь,
сашьа.</li>
<li>Иахьа,
избоит,
амш,
сара,
ибзиоуп.</li>
</ol>
<small><a href="answers2#e6-4">(Answers)</a></small>

<p>
<b>Exercise 5</b><br />
Make a dialog, taking the sentences from exercises 3 and 4 as a basis.
</p>

<p>
Can you do it? Congratulations! You can already make sentences!
</p>

<p>
<b>Exercise 6</b><br />
Place the corresponding pronoun.<br />
You probably noticed that we often give exercises about the agreement of pronouns and verbs.
It is important to make your knowledge become automatic.<br />
This exercise shouldn't be difficult.
</p>

<table>
<tr>
<td width="200">... саҧхьоит</td>
<td>... баҧхьоит</td>
</tr>
<tr>
<td>... уаҧхьоит</td>
<td>... даҧхьоит</td>
</tr>
<tr>
<td>... даҧхьоит</td>
</tr>
</table>
<small><a href="answers2#e6-6">(Answers)</a></small>

<p>
<b>Exercise 7</b><br />
In each sentence is a mistake.
Find and correct it.
You already did a similar exercise!
</p>

<p>
Дамеи
ақыҭахь
ицоит.<br />
Сара
бара
дызбоит.<br />
Ахра
Есма
ақыҭахь
уигоит.<br />
Амшқәа
уцоит.<br />
Лара
ақьаадқәа
бымоуп.<br />
Дамеи
аҧара
аалгеит.<br />
Сара
ахьҭа
уакит.<br />
Лара
уара
уахь
уҧшуеит.<br />
<small><a href="answers2#e6-7">(Answers)</a></small>
</p>

<p>
Абзиараз!
</p>

