---
order: 308
title: Lesson 8
subtitle:
- Interrogative pronouns
- Consolidation
---

<dl class="subtitle">
<dt>ианба? when? (interrogative pronoun)</dt>
<dd>Сара
аусурахь
сцоит.
I go to work.</dd>
<dd>Ианба?
When?
Иахьа.
Today</dd>
</dl>

<p>
<i class="fas fa-check grammar-rule"></i>
The interrogative pronoun
<b>ианба</b>? <b>when</b>?,
when it joins with a verb, creates a new word.
</p>

<p>
<i class="fas fa-check grammar-rule"></i>
For example:
ианба? when?
+
ацара to go
=
санбацеи?
when did I go?
(сара+ианба+ацара+
<b><i>и</i></b> interrogative particle.
</p>

<p>
Уанбацеи?
When did you (a man) go?
(<b>Уа</b>ра
+
и<b>анба</b>
+
а<b>ца</b>ра
+
<b><i>и</i></b>);<br />
Банбацеи?
When did you (a woman) go?
(<b>Ба</b>ра
+
и<b>анба</b>
+
а<b>ца</b>ра
+
<b><i>и</i></b>);<br />
Данбацеи?
When did he/she go?
</p>

<p>
If the construction logic is clear to you,
let's try and use it with some well known verbs.
</p>

<p>
<u>у</u>анба<u>и</u>геи?
When did he collect you?
<i><b>уа</b>ра</i> you (a man)
+
<i><b>анба</b></i>
+
<i><b>и</b>ара</i> he
+
<i>а<b>га</b>ра</i>
take (collect)
+
<i><b>и</b></i>
interrogative particle.<br />
<u>у</u>анбааи?
When did you (a man) come?
<u>б</u>анбааи?
When did you (a woman) come?<br />
абара "to see"
<u>И</u>анбазбеи?
When did I (a man) see?<br />
By these models you can form words, and from others interrogative pronouns.
for example: <b>иаба</b>? where?
</p>

<p>
Ахра,
сла
убама?
Akhra, have you seen my dog?<br />
Ааи,
избеит.
Yes, I've seen her.<br />
<b>Иаба</b>?
Where?
/
(Иабаубеи?)
Where + have you (a man) + seen + her?<br />
Ула
сашьа
имоуп.
Your dog is with my brother.
</p>

<p>
Саба'убеи?
Where did you (a man) see me?
(Here are two people - you and me,
it translates literally as
me (с)
+
where (и)аба
+
you  (у)
+
to see (ба >бе)
+
и interrogative particle).<br />
Даба'убеи?
Where did you see him/her?
(literally: him/her where you see?)
</p>

<p>
ацара to go
даба'цеи? where did he/she go?<br />
агара to take
<u>у</u>аба'<u>и</u>геи? where did he take you (a man)?;
<u>и</u>аба'<u>у</u>геи where did he take it?<br />
аара to come
<u>у</u>аба'аи? where did you (a man) come to?
<u>С</u>аба'аи? Where did I (a man) come to?<br />
абара to see
<u>И</u>аба'<u>з</u>беи?
Where did I see (it)? (literally: it where I see).
</p>


<p>
<b>Exercise 1</b><br />
Try and make a dialog using interrogative pronouns. For example:
</p>
<p>
Ахра,
иахьа
Кама
дубама?
Ааи, дызбеит.
Дабаубеи?
Кама
ана
аус
луеит...
</p>

<p>
<b>Exercise 2</b><br />
Read and mark the correct translation.
</p>
<table>
<tr>
<td style="background-image:url(images/150x1.gif)" width="151">
Бара
ианба'ббеи?
</td>
<td>
When shall I take it?<br />
Where are you (a man) going?<br />
When is she coming?<br />
When did you (a woman) see it?<br />
Where are you (a man) going?
</td>
</tr>
<tr><td> </td></tr>
<tr>
<td style="background-image:url(images/150x1.gif)" width="101">
Сара
ианба'згои?
</td>
<td>
When shall I take it?<br />
Where are you (a man) going?<br />
When will she take it?<br />
When will he see it?<br />
When will you (a man) come?
</td>
</tr>
<tr><td> </td></tr>
<tr>
<td style="background-image:url(images/150x1.gif)" width="101">
Уара
иаба'убеи?
</td>
<td>
When did he see it?<br />
Where are you (a man) going?<br />
Where are you looking?<br />
Where did you (a man) see it?<br />
Where did she take it?
</td>
</tr>
</table>
<small><a href="answers3#e8-2">(Answers)</a></small>

<p>
<b>Exercise 3</b><br />
Translate these words.
</p>
<ol>
<li>санба'цеи?</li>
<li>банба'аи?</li>
<li>ианба'лгои?</li>
<li>ианбазгои?</li>
<li>санба'убеи?</li>
<li>уаба'цеи?</li>
<li>саба'аи?</li>
<li>иаба'згои?</li>
<li>даба'ауеи?</li>
<li>даба'ҧшуеи?</li>
<li>даба'ццакуеи?</li>
<li>даба'убеи?</li>
</ol>
<small><a href="answers3#e8-3">(Answers)</a></small>

<p>
<b>Exercise 4</b><br />
Remove the brackets and make these expressions in Abkhazian.
</p>
<p>
Example:
Уара
(иаба+агара)
-
Уара
иабаугеи?<br />
Сара
(иаба+ацара)?
Лара
(ианба+ацара)?
Уара
(ианба+агара)?
Иара
(иаба+агара)?
Лара
(ианба+аара)?
Иара
(иаба+аара)?
Бара
(ианба+абара)?
Сара
(ианба+абара)?<br />
<small><a href="answers3#e8-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Translate into Abkhazian.
</p>
<p>
1. When are you (a man) leaving?
2. When is she coming?
3. When did you (a woman) see it?
4. Where did you (a woman) see it?
5. Where did he/she/it go?<br />
<small><a href="answers3#e8-5">(Answers)</a></small>
</p>

<p>
<b>Exercise 6</b><br />
Translate into English.
</p>
<p>
1. Уабацои?
2. Лара
данбаауеи?
3. Бара
иабаббеи?
4. Бара
ианббаббеи?
5. Уара
уанбацои?
6. Ала
(и)анбацеи?
7. Лара
дабаццакуеи?<br />
<small><a href="answers3#e8-6">(Answers)</a></small>
</p>

<p>
<b>Exercise 7</b><br />
Complete the dialog, using the vocabulary of the previous lesson.</p>
<ul>
<li>Мшыбзиа,
Кама!</li>
<li>...</li>
<li>Бабацои?</li>
<li>...</li>
<li>Кама,
Ахра
дыббама?</li>
<li>...</li>
<li>Данбаббеи?</li>
<li>...</li>
<li>Бара
быццакуама?</li>
<li>...</li>
<li>Бааи,
машьынала
бызгоит.</li>
<li>...</li>
</ul>
<small><a href="answers3#e8-7">(Answers)</a></small>

<p>
<b>Exercise 8</b><br />
Join the words in the left column with the right to make a phrase you already know.
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr>
<td>Кама<br />
сара<br />
иара<br />
сашьа<br />
лара<br />
сара</td>
<td>сабаубеи<br />
дабаубеи<br />
данбааи<br />
дабаццакуеи<br />
иабазгои<br />
ианбабгеи</td>
</tr>
</table>
<small><a href="answers3#e8-8">(Answers)</a></small>

<p>
<b>Exercise 9</b><br />
Tick
(<i class="fas fa-check grammar-rule"></i>)
what you hear.
</p>
<table cellspacing="0" cellpadding="0">
<tr>
<td width="100">{% include audio.html file="8-1" %}
Дабацеи?</td>
<td>Иабеигеи?</td>
</tr>
<tr>
<td>Данбацеи?</td>
<td>Ианбеигеи?</td>
</tr>
<tr>
<td>Уанбазгои?</td>
<td>Ианбаббеи?</td>
</tr>
<tr>
<td>Ианбазгои?</td>
<td>Иабаббеи?</td>
</tr>
<tr>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Санбаубеи?</td>
<td>Дабаццакуеи?</td>
</tr>
<tr>
<td>Сабаубеи?</td>
<td>Иабаццакуеи?</td>
</tr>
<tr>
<td>Данбаауеи?</td>
<td>Иабазго?</td>
</tr>
<tr>
<td>Дабаауеи?</td>
<td>Ианбазгои?</td>
</tr>
</table>

<p>
<i class="fas fa-check grammar-rule"></i>
Remember that the letters
аи / иа
change to
ие / еи / е.
That's why the root
<b>ба</b> (абара)
<b>+ и = беи</b>,
the root
<b>га</b> (агара)
<b>+
и
=
геи</b>.
Иабеигеи?
Ианбе'игеи?
</p>

<p>
New words
</p>

<p>
{% include audio.html file="8-2" %}
иаба'? where?<br />
ианба'? when?
</p>
