---
order: 309
title: Lesson 9
subtitle:
- "Continuation of the alphabet: new letters and sounds Ҕ ҔЬ ҔӘ"
- Work with vocabulary
- Consolidation
---

<p>
The sound Ҕ is a little reminiscent of the southern Russian Г.
The soft variation is ҔЬ,
and the rounded variation is ҔӘ.
</p>

<p>{% include audio.html file="9-1" %}
ҕ ҕь ҕә
</p>

<p>Remember these words and expressions!</p>

<p>{% include audio.html file="9-2" %}
аҕба boat.
А́ҕба
(и)аа́ит.
The boat has arrived.<br />
а́иҕьра
(е́иҕьра) better.
Ари́
е́иҕьуп.
It's better.<br />
а́иҕьхара
(е́иҕьхара)
to get better.
Ари́
е́иҕьхеит.
It's (gotten) better.<br />
абҕьы́ leaf<br />
абҕьы́ц
diminutive of абҕьы.<br />
а́ҕәҕәа strong.
Иара́
дыҕәҕәо́уп.
He's strong.<br />
иҕәҕәаны strongly.
Аҧша́
(и)ҕәҕәаны́
(и)а́суеит.
The wind blows strongly.<br />
аҭы́нч quiet, peaceful, calm.
Амшы́н
иахьа́
иҭы́нчуп.
The sea is calm today.<br />
аба́р here, there.
Аба́р
амшы́н
Here's the sea / There's the sea.<br />
агәабзи́ара health<br />
иацы́ / ецы́ yesterday
</p>

<p>
<i class="fas fa-bolt important-material"></i>
Remember that the inanimate class indicator и(а)
disappears in a few places.
In such situations we will show it as an optional element in brackets.
For example:
(и)ааит;
(и)ҕәҕәаны;
(и)асуеит.
</p>

<blockquote>
Read the text.
</blockquote>

<p>
We recommend that you learn all the text and expressions by heart.
It will help you to quickly learn enough ready expressions for an active vocabulary.
</p>

<p>{% include audio.html file="9-3" %}
- Сара́
иахьа́
Ҕәа́да
сцо́ит.
Уара́
уаба́цои?<br />
- Сара́
Ҧсо́у
сца́роуп.
Асҭа́нда
Абҕархы́қә
дцо́ит.<br />
- Уара́
уанба́цои?<br />
- Иахьа́
сца́роуп.
Иацы́
аҧша
ҕәҕәа
а́суан.
Иахьа́
амшы́н
ҭы́нчуп,
ҕбала́
сцо́ит.<br />
- Аба́р,
у́ҕба
аа́ит,
уццакы́!</p>

<p>
- I'm going to Gwada today. And where are you (a man) going?<br />
- I have to go to Psoy. Astanda is going to Abgarkhika.<br />
- When are you going?<br />
- I have to go today. Yesterday was strong wind.
Today the sea is calm, I am going by boat.<br />
- Look, your boat has arrived, run!</p>

<p>
<b>Exercise 1</b><br />
Translate into English.
</p>
<p>
1. Сара
иахьа
ақалақь
ахь
сцоит.<br />
2. Кама
ақыҭахь
дцароуп.<br />
3. Бабаццакуеи?<br />
4. Амашьына
аауеит,
сашьа
ашкол
ахь
сигоит.<br />
5. Иара
дыҕәҕәоуп.<br />
6. Иахьа
амш
бзиоуп.<br />
7. Амшын
ҭынчуп.<br />
8. Ахра
данбацеи?<br />
9. Иахьа,
ҕбала
дцеит.<br />
10. Аҧша
ҕәҕәаны
иасуеит,
ахьҭа
сакит.<br />
11. Наала,
исыҭ
абҕьыц
цқьақәа.<br />
<small><a href="answers3#e9-1">(Answers)</a></small>
</p>

<p>
<b>Exercise 2</b><br />
Translate into Abkhazian.
</p>
<p>
1. The boat arrived today.<br />
2. When are you going into town?<br />
3. I must go today.<br />
4. Yesterday was strong wind.<br />
5. Today the sea is calm.<br />
6. Where is Naala hurrying to?<br />
7. She is hurrying to work.<br />
8. When did you arrive?<br />
9. Yesterday. I came by boat.<br />
<small><a href="answers3#e9-2">(Answers)</a></small>
</p>

<p>
<b>Exercise 3</b><br />
Make sentences from the following words.
In case of difficulties, you can always look at the answers!
</p>
<p>
1. уара,
ацара,
ианба.<br />
2. лара,
аусура,
ахь,
аццакра.<br />
3. Кама,
сла,
агара,
иацы.<br />
4. иаба,
абара,
сашьа,
уара.<br />
5. ацара,
ианба,
уара,
амшын ахь.<br />
6. амашьына,
аара,
иахьа.<br />
7. машьынала,
сашьа,
иацы,
аара.<br />
8. асра,
аҧша,
иахьа,
аҕәҕәа.<br />
<small><a href="answers3#e9-3">(Answers)</a></small>
</p>

<p>
<b>Exercise 4</b><br />
In this lesson are a lot of useful words and expressions.
Can you make dialog(s) using them?<br />
Maybe these ideas can help:
</p>
<p>
1. Today is a nice day. Yesterday it was windy.<br />
2. You're in a hurry.
You brother comes, he takes you to school or work.<br />
<small><a href="answers3#e9-4">(Answers)</a></small>
</p>

<p>
<b>Exercise 5</b><br />
Make a phrase by adding one or more words to the base.
</p>
<p>
Example: аҕба...
->
аҕба
ааит;
абар...
->
абар
аҕба;
ацара...
->
ҕбала
сцоит.
</p>
<table cellpadding="0" cellspacing="0">
<tr>
<td width="150">аҕәҕәа-></td>
<td>аҭынч-></td>
</tr>
<tr>
<td>иацы-></td>
<td>ацара-></td>
</tr>
<tr>
<td>абар-></td>
<td>аҧша-></td>
</tr>
<tr>
<td>ақыҭа-></td>
<td>аццакра-></td>
</tr>
<tr>
<td>амш-></td>
<td>агара-></td>
</tr>
</table>
<small><a href="answers3#e9-5">(Answers)</a></small>
