---
title: Review 7
order: 799
---

<p>Review of lessons 19-22</p>

<p>{% include audio.html file="r7-1" %}
а́ӡҕаб girl. (Synonym аҭыҧҳа́ girl, young woman).<br />
а́ӡра to be lost, to get lost. иӡит it got lost<br />
а́рӡра to lose. Исы́рӡит. I lost (it).<br />
аӡра́ to fry. Изӡи́т. I fried (it).<br />
а́ӡсара to swim, дыӡсо́ит he/she swims, дыӡсеит he/she swam<br />
а́ӡын winter. Иаа́ит а́ӡын. Winter has come.<br />
аӡы́ water. Аӡы́ хьшәа́шәоуп. The water is cold.<br />
ахьӡ name<br />
а́хьӡзаара to be called, to be named. Сара́ исы́хьӡуп
Ахра. My name is Akhra. Уара́ иухьӡуи? What's your (masc.)
name?<br />
ахьӡара́ to catch up with. Сара́ Наала слыхьӡе́ит. I caught up
with Naala.<br />
аӡәы́ one (human class); someone.<br />
а́ӡәӡәара to wash; to launder (сыӡӡәо́ит I wash, сыӡәӡәо́н I was
washing).<br />
аа́хәара to buy (иаа́схәеит I bought, иаа́схәон I was buying). Аҩны
аасхәеит. I bought a house.<br />
а́хьшәашәа cold (ихьшәа́шәоуп it is cold, ихьшәа́шәан it was cold).
Аҳауа хьшәа́шәоуп. The air is cold.<br />
ахьшәа́шәахара to become cold.
Ихьшәа́шәарахеит. It became cold.<br />
асы́ snow. Асы́ аура́ to fall, to come down (of snow).
А́ӡын асы́ ауе́ит. In winter it snows.<br />
а́ҧшӡа beautiful (иҧшӡо́уп it is beautiful, иҧшӡа́н it was beautiful).
</p>

<p>
<b>Exercise 1</b><br />
Look at the pictures. What are the people in them doing? Use
the given verbs to describe the pictures.
</p>
<p>
<table border="0" cellpadding="6" cellspacing="0">
<tr>
<td align="center">ацәажәара<br /><img src="/assets/img/r7-1.png" width="300" alt="Fig. 1" /></td>
<td align="center">ахәмарра<br /><img src="/assets/img/r7-2.png" width="300" alt="Fig. 2" /></td>
</tr>
<tr>
<td align="center">а́цәара<br /><img src="/assets/img/r7-3.png" width="300" alt="Fig. 3" /></td>
<td align="center">агара́<br /><img src="/assets/img/r7-4.png" width="300" alt="Fig. 4" /></td>
</tr>
<tr>
<td align="center" colspan="2">адәылҵра<br /><img src="/assets/img/r7-5.png" width="300" alt="Fig. 5" /></td>
</tr>
</table>
</p>

<p>
<b>Exercise 2</b><br />
Match the verb with the corresponding pronoun form. Try to
translate them as well. Pay attention to the tense form of the
verb.
</p>
<p>
Example: ҳцәажәоит, ҳара, we talk, we converse.
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr><td>быцәап,</td><td>иҭаиҭәоит,</td></tr>
<tr><td>уцома?</td><td>стәам</td></tr>
<tr><td>ҿылҭит,</td><td>(и)азгәаҳҭоит</td></tr>
<tr><td>ихәмаруеит,</td><td>иутәума?</td></tr>
<tr><td>ҳагхом,</td><td>акрысфап,</td></tr>
<tr><td>шәдәықәлоит,</td><td>илҵьит</td></tr>
</table>
<small><a href="answers7#r7-2">(Answers)</a></small>

<p>
<b>Exercise 3</b><br />
Fill in the thematic table with words you know.
</p>
<table border="1" cellspacing="0" cellpadding="4">
<tr><th>Food</th><th>People</th><th>Nature</th></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>

<p>
<b>Exercise 4</b><br />
Listen to the pairs of sentences and mark (√) the one that the
speaker says.
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
{% include audio.html file="r7-2" %}
1. а) Амш цәгьахоит.<br />
&nbsp;&nbsp;&nbsp;б) Амш цәгьахеит.<br /><br />
2. а) Ҳара акаҳуа аажәуеит.<br />
&nbsp;&nbsp;&nbsp;б) Ҳара акаҳуа аажәит.<br /><br />
3. а) Ана сгылан.<br />
&nbsp;&nbsp;&nbsp;б) Ана сгылап.<br /><br />
4. а) Саб ашәҟәы игәаҧхеит.<br />
&nbsp;&nbsp;&nbsp;б) Саб ашәҟәы игәамҧхеит.<br /><br />
5. а) Амаҭәа ҿыц аазгап.<br />
&nbsp;&nbsp;&nbsp;б) Амаҭәа ҿыц згап.
</td>
<td valign="top">
6. а) Аҧсшәа аҵара шәаҿуп.<br />
&nbsp;&nbsp;&nbsp;б) Аҧсшәа аҵара шәаҿума?<br /><br />
7. а) Ахәыҷы ҕиҭуеит.<br />
&nbsp;&nbsp;&nbsp;б) Ахәыҷы ҕиҭуан.<br /><br />
8. а) Шьыжьымҭан сгылап.<br />
&nbsp;&nbsp;&nbsp;б) Шьыжьымҭан сгылоит.<br /><br />
9. а) Саб аҧара сиҭоит.<br />
&nbsp;&nbsp;&nbsp;б) Саб аҧара сиҭом.<br /><br />
10. а) Бан блыцхраа.<br />
&nbsp;&nbsp;&nbsp;&nbsp;б) Бан блыцхраап.
</td>
</tr>
</table>

<p>
<b>Exercise 5</b><br />
Find the word opposite in meaning to each of the given stems.<br />
Example: ацара, аара.
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
аҩна́лара<br />
атәара́,<br />
агара́,<br />
ара́,<br />
ашәцара́,
</td>
<td valign="top">
абаазара́,<br />
апҳа́,<br />
анеира,<br />
а́пхын,<br />
апҳәыс,
</td>
</tr>
</table>
<small><a href="answers7#r7-5">(Answers)</a></small>

<p>
<b>Exercise 6</b><br />
Conjugate the verbs according to the example:
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара сыцәеит<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара сагхеит<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара иаасхәуеит<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
сара исыхьӡуп<br />
уара …<br />
бара<br />
иара<br />
лара
</td>
<td valign="top">
&nbsp;<br />
иара<br />
ҳара<br />
шәара<br />
дара
</td>
</tr>
</table>
<small><a href="answers7#r7-6">(Answers)</a></small>

<p>
<b>Exercise 7</b><br />
Form the future tense according to the example
</p>
<table border="0" cellspacing="0" cellpadding="4">
<tr>
<td valign="top">
агылара, сгылап<br />
атәара, стәап<br />
ацара,<br />
адәықәлара,<br />
аҭаҭәара,<br />
ажәра,<br />
аҩра,<br />
афара,<br />
аҵьра,<br />
адәылҵра,
</td>
<td valign="top">
аҽазыҟаҵара,<br />
аҕыхра,<br />
ацәахра,<br />
ацәара,<br />
апшра,<br />
ацәажәара,<br />
апхьара,<br />
аҭалара,<br />
алагара,<br />
аныҟәара
</td>
</tr>
</table>
<small><a href="answers7#r7-7">(Answers)</a></small>

<p>
<b>Exercise 8</b><br />
Translate into Abkhazian. Don't forget to review the vocabulary
of the previous lessons!
</p>
<p>
1. Did you (fem.) enter university? 2. I have many friends.
3. We are learning Abkhazian. 4. Tomorrow I will go home. 5.
Do you like studying? Yes, but it's difficult to study at the
university. You have to work a lot. 6. We said goodbye, and
Kama went home. 7. Today was a good day, but then it started
raining. 8. In autumn the leaves of the trees turn yellow.
9. My brother hid the book somewhere. 10. Mizan, let's go read
the new book. 11. My mother works at the university. She loves
her job. They say she is calm and intelligent, and has a good
character. 12. In the morning I got up, got dressed, ate, and
left the house. I was hurrying, I was late for school.
13. My brother always gives me money. 14. Their child is in
the yard, playing. 15. Today we are celebrating Victory Day.
16. Hurry up, Kama, the guests have arrived. 17. I always help
my mother. 18. My elder brother is named Akhra. 19. In the
morning we went to the market.<br />
<small><a href="answers7#r7-8">(Answers)</a></small>
</p>

<p>
<b>Exercise 9</b><br />
Translate into English.
</p>
<p>
1. Шәара ауниверситет аҿы ацара шәцома?
2. Шьыжьымҭан ҳгәылацәа аауеит, акаҳуа аажәуеит.
3. Кама, бгыл, ашкол багхоит. 4. Дамеи, арҵаҩы
ишәылҭаз адҵа ҟауҵама? — Мап, нас иҟасцап! 5. Ақәа
аура иалаган, аҩныҟа ҳаҩналеит. 6. «Абзиараз» еибаҳҳәан,
Наала амашьына дҭалеит. 7. Саҳәшьа хәыҷы
иацы маҷк ашкол дагхеит. 8. Аҵаҩцәа ашкол аҿы
ашәҟәқәа ирыҧхьоит, аҽаршьцыларақәа рыҩуеит.
9. Рыҩны аҧхьа адәқьан гылоуп. 10. Асабша
аџьармыкьахь шәцома? 11. Сан афатә лырхиоит, сара
слыцхраауеит. 12. Башьа еиҳабы, Дамеи ихьӡума?
13. Сара сынхоит Аҟәа. 14. Ари аҩны шәара ишәтәума?
15. Акрыфарҭа ҳдәылҵны аҩныҟа ҳцеит.<br />
<small><a href="answers7#r7-9">(Answers)</a></small>
</p>
