---
layout: default
tail_includes:
  - post-nav
script_includes:
  - comment
---

{% include lang.html %}

<article class="px-1">

  <h3>{{ page.title }}</h3>

  {% if page.subtitle %}
  <dl class="subtitle">
    <dt>{{ site.data.locales[lang].layout.subtitle }}:</dt>
    {% for subtitle in page.subtitle %}
      <dd>{{ subtitle }}</dd>
    {% endfor %}
  </dl>
  {% endif %}

  <div class="content">
    {{ content }}
  </div>

  {% if page.wip %}
  <p>
    <i class="fas fa-person-digging"></i>
    {{ site.data.locales[lang].layout.work_in_progress }}
  </p>
  {% endif %}

  <div class="post-tail-wrapper text-muted">
    <div class="post-tail-bottom d-flex justify-content-between align-items-center mt-5 pb-2">
      {% include post-sharing.html lang=lang %}
    </div>
  </div>

</article>

<script src="{{ '/assets/js/img-loading.js' | relative_url }}"></script>

<script src="{{ '/assets/js/audio.js' | relative_url }}" data-tooltip="{{ site.data.locales[lang].layout.audio_tip }}"></script>

<style>
  dl.subtitle > dd {
    margin-left: 1rem;
    margin-bottom: 0;
  }
</style>
